<div class="chat-message-avatar">
  {{#if @message.chatWebhookEvent.emoji}}
    <ChatEmojiAvatar @emoji={{@message.chatWebhookEvent.emoji}} />
  {{else}}
    <ChatUserAvatar @user={{@message.user}} @avatarSize="medium" />
  {{/if}}
</div>