<StyleguideExample @title="<DTooltip>">
  <DButton>
    {{i18n "styleguide.sections.rich_tooltip.hover_to_see"}}
    <DTooltip>
      <h3>{{i18n "styleguide.sections.rich_tooltip.header"}}</h3>
      {{i18n "styleguide.sections.rich_tooltip.description"}}
    </DTooltip>
  </DButton>
</StyleguideExample>