{{#if this.collection.content}}
  <ul class="select-kit-errors-collection">
    {{#each this.collection.content as |item|}}
      <li class="select-kit-error">{{item}}</li>
    {{/each}}
  </ul>
{{/if}}