<ul class="grid">
  {{#each field.choices as |choice|}}
    <li>
      {{font-preview wizard=wizard
                     fontId=choice.id
                     selectedId=field.value
                     onChange=(action "changed")}}
      {{radio-button radioValue=choice.id
                     label=choice.label
                     value=field.value
                     onChange=(action "changed")}}
    </li>
  {{/each}}
</ul>
