<div class="preview-area">
  {{!-- Ensure font is loaded --}}
  <span class="sample" style={{fontStyle}}>&nbsp;</span>

  <canvas
    width={{elementWidth}}
    height={{elementHeight}}
    style={{canvasStyle}}
  >
  </canvas>
</div>
