<div class='radio-area'>
  <input type="radio" name={{label}}>
  <span class='radio-label'>
    {{#if icon}}
      {{fa-icon icon}}
    {{/if}}
    {{label}}
  </span>
</div>
<div class='radio-description'>
  {{description}}
</div>
