<ul class="grid">
  {{#each field.choices as |choice|}}
    <li>
      {{theme-preview colorsId=choice.id
                      wizard=wizard
                      selectedId=field.value
                      onChange=(action "changed")}}
      {{radio-button radioValue=choice.id
                     label=choice.id
                     value=field.value
                     onChange=(action "changed")}}
    </li>
  {{/each}}
</ul>
