{{#if showPostLocalDate}}
  {{#tap-tile icon="globe-americas" tileId=tileId activeTile=activeTile onChange=(action "setReminder")}}
    <div class="tap-tile-title">{{i18n "bookmarks.reminders.post_local_date"}}</div>
    <div class="tap-tile-date">{{postLocalDateFormatted}}</div>
  {{/tap-tile}}
{{/if}}
