<div class="column categories">
  <CategoriesOnly @categories={{categories}} />
</div>

<div class="column">
  <CategoriesTopicList @topics={{topics}} @filter="top" @class="top-topic-list" />
</div>

<PluginOutlet @name="extra-categories-column" @connectorTagName="div" />
