<div class="column categories">
  {{categories-only categories=categories}}
</div>

<div class="column">
  {{categories-topic-list topics=topics filter="latest" class="latest-topic-list"}}
</div>

{{plugin-outlet name="extra-categories-column" connectorTagName="div"}}
