<div class="composer-controls">
  {{plugin-outlet name="before-composer-toggles" tagName="span" connectorTagName="div"}}

  {{#if site.mobileView}}
    {{d-button
      class="btn-flat toggle-toolbar btn-mini-toggle"
      icon="bars"
      action=toggleToolbar
      title=toggleToolbarTitle
      preventFocus=true
      tabindex=-1
    }}
  {{/if}}

  {{d-button
    class="btn-flat toggler toggle-minimize btn-mini-toggle"
    icon=toggleIcon
    action=toggleComposer
    title=toggleTitle
    tabindex=-1
  }}

  {{#if showFullScreenButton}}
    {{d-button
      class="btn-flat toggle-fullscreen btn-mini-toggle"
      icon=fullscreenIcon
      action=toggleFullscreen
      title=fullscreenTitle
      tabindex=-1
    }}
  {{/if}}
</div>
