{{input
  type=inputType
  class="date-picker"
  placeholder=placeholder
  value=(readonly value)
  input=(action "onChangeDate")
}}

{{#unless useGlobalPickerContainer}}
  <div class="picker-container"></div>
{{/unless}}
