{{#unless expanded}}
  {{d-button
    action=(action "expand")
    class="btn-link"
    label=label
    aria-label=label}}
{{/unless}}
{{#if expanded}}
  <span class="description">{{details}}</span>
{{/if}}
