{{#unless showDetails}}
  {{d-button action=(action "showDetails")
             class="btn-link"
             label=label
             aria-label=label}}
{{/unless}}
{{#if showDetails}}
  <span class="details">{{details}}</span>
{{/if}}
