<div class="directory-table-top-scroll">
  <div class="directory-table-top-scroll-fake-content"></div>
</div>

<div class="directory-table-container">
  <table class="directory-table">
    <thead>
      {{table-header-toggle field="username" order=order asc=asc}}
      {{#each columns as |column|}}
        {{table-header-toggle
          field=column.name
          icon=column.icon
          order=order
          asc=asc
          automatic=(directory-column-is-automatic column=column)
          translated=column.user_field_id
          onActiveRender=setActiveHeader
        }}
      {{/each}}

      {{#if showTimeRead}}
        <th>{{i18n "directory.time_read"}}</th>
      {{/if}}
    </thead>
    <tbody>
      {{#each items as |item|}}
        {{directory-item item=item columns=columns showTimeRead=showTimeRead}}
      {{/each}}
    </tbody>
  </table>
</div>
