<td>{{user-info user=item.user}}</td>
{{#each columns as |column|}}
  <td>{{directory-item-value item column}}</td>
{{/each}}

{{#if showTimeRead}}
  <td><span class="time-read">{{format-duration item.time_read}}</span></td>
{{/if}}
