<div class="control-group buttons">
  {{d-button action=(action "save")
    disabled=saving
    class="btn btn-primary group-manage-save"
    translatedLabel=savingText
  }}
  {{#if saved}}
    <span>{{i18n "saved"}}</span>
  {{/if}}
</div>
