{{#if showPWAInstallBanner}}
  <div class="row">
    <div class="pwa-install-banner alert alert-info">
      <span>
        {{discourse-linked-text
          action=(action "turnOn")
          translatedText=(i18n "pwa.install_banner" title=siteSettings.title)
        }}
      </span>
      {{d-button
        icon="times"
        action="dismiss"
        class="btn btn-flat close"
        title="banner.close"
      }}
    </div>
  </div>
{{/if}}
