<div class="relative-time">
  {{input class="relative-time-duration" min="0.1" step="0.01" type="number" value=_duration onChange=(action "onChangeDuration")}}
  {{combo-box
    content=intervals
    value=selectedInterval
    class="relative-time-intervals"
    onChange=(action "onChangeInterval")
  }}
</div>
