<div class="created-by">
  {{#if user}}
    <UserLink @user={{user}}>{{avatar user imageSize="large"}}</UserLink>
  {{else}}
    {{d-icon "far-trash-alt" class="deleted-user-avatar"}}
  {{/if}}
</div>
