{{#if this.hasEdits}}
  <a
    href
    {{on "click" this.showEditHistory}}
    class="has-edits {{this.historyClass}}"
    title={{i18n "post.last_edited_on" dateTime=this.editedDate}}
  >
    {{d-icon "pencil-alt"}}
  </a>
{{/if}}