<div id="security-key">
  <DButton
    @action={{this.action}}
    @icon="key"
    @id="security-key-authenticate-button"
    @label="login.security_key_authenticate"
    @type="button"
    @class="btn btn-large btn-primary"
  />
  <p>
    {{#if this.otherMethodAllowed}}
      <a
        href
        class="toggle-second-factor-method"
        {{on "click" this.useAnotherMethod}}
      >{{i18n "login.security_key_alternative"}}</a>
    {{/if}}
  </p>
</div>