<DSection @pageClass="has-sidebar" @class="sidebar-container" @scrollTop={{false}}>
  <div class="sidebar-scroll-wrap">
    <Sidebar::TopicsSection />
    <Sidebar::CategoriesSection />

    {{#if this.siteSettings.tagging_enabled}}
      <Sidebar::TagsSection />
    {{/if}}

    {{#if this.siteSettings.enable_personal_messages}}
      <Sidebar::MessagesSection />
    {{/if}}

    {{!-- DO NOT USE, this outlet is temporary and will be removed. --}}
    {{!-- Outlet will be replaced with sidebar API. --}}
    <PluginOutlet @name="after-sidebar" />
  </div>
</DSection>
