{{#if @shouldDisplay}}
  <div class="sidebar-wrapper">
    <div class="sidebar-container">
      <Sidebar::TopicsSection />
      <Sidebar::CategoriesSection />

      {{#if this.siteSettings.tagging_enabled}}
        <Sidebar::TagsSection />
      {{/if}}
    </div>
  </div>
{{/if}}
