{{#unless isMuted}}
  <span class="subcategory">
    {{category-title-before category=category}}
    {{category-link category hideParent="true"}}
    {{#unless hideUnread}}
      {{category-unread category=category}}
    {{/unless}}
  </span>
{{/unless}}
