{{#unless isMuted}}
  <span class="subcategory">
    <CategoryTitleBefore @category={{category}} />
    {{category-link category hideParent="true"}}
    {{#unless hideUnread}}
      <CategoryUnread @category={{category}} />
    {{/unless}}
  </span>
{{/unless}}
