<h2 class="tag-show-heading">
  {{#link-to "tags"}}
    {{i18n "tagging.tags"}}
  {{/link-to}}
  {{d-icon "angle-right"}}
  {{discourse-tag-bound tagRecord=tag style="simple"}}
  {{#each additionalTags as |tag|}}
    <span>&amp;</span>
    {{discourse-tag tag style="simple"}}
  {{/each}}
</h2>