<div class="container">
  <div class="title-wrapper">
    {{yield}}
  </div>
  <span>
    <PluginOutlet
      @name="topic-title"
      @connectorTagName="div"
      @args={{hash model=this.model}}
    />
  </span>
</div>