<div class="user-profile-avatar">
  {{bound-avatar @user "huge"}}
  <UserAvatarFlair @user={{@user}} />
  <PluginOutlet
    @name="user-profile-avatar-flair"
    @connectorTagName="div"
    @args={{hash model=@user}}
    @tagName="div"
  />
</div>