<a class="user-card-badge-link" href={{this.badgeUrl}}>
  <BadgeButton @badge={{@badge}}>
    {{#if this.showGrantCount}}
      <span class="count">(&times;&nbsp;{{@count}})</span>
    {{/if}}
  </BadgeButton>
</a>