<div class="user-profile-avatar">
  {{bound-avatar @user "huge"}}
  {{user-avatar-flair user=@user}}
  {{plugin-outlet name="user-profile-avatar-flair" connectorTagName="div" args=(hash model=@user) tagName="div"}}
</div>
