<div class="welcome-cta">
  <div class="welcome-cta__content">
    <h1 class="welcome-cta__title">{{i18n "welcome_topic_banner.title"}}</h1>
    <p class="welcome-cta__description">{{i18n
        "welcome_topic_banner.description"
      }}</p>
  </div>
  <DButton
    @class="btn-primary welcome-cta__button"
    @action={{action "editWelcomeTopic"}}
    @label="welcome_topic_banner.button_title"
    @icon="pencil-alt"
  />
</div>