<div class="welcome-topic-banner">
  <div class="col-text">
    <h1 class="title">{{i18n "welcome_topic_banner.title"}}</h1>
    <p class="description">{{i18n "welcome_topic_banner.description"}}</p>
  </div>
  <div class="col-button">
    <DButton @class="btn-primary welcome-topic-cta" @action={{action "editWelcomeTopic"}} @label="welcome_topic_banner.button_title" />
  </div>
</div>
