<div id="consent-panel" style="display:none;">

    <!-- Quiz Container -->
    <div id="quiz">
        <div class="alert alert-info quizlib-intro">
            Before you can start contributing, we need your attention this one time so we know you understand how to
            use this space.<br/>
            Just answer these two questions until you get them right: you will never see this message again. If you have difficulties,
            <a href="mailto:noemi@edgeryders.eu?subject=Need help for the opencare consent form&body=Sorry you are having trouble. Enter your message or question, if any, then hit Send. We'll get in touch right away.">
                click here
            </a>
            to email us.
        </div>

        <!-- Quiz Results -->
        <div id="quiz-result-progress" class="card">
            <span id="quiz-score"></span> of <span id="quiz-max-score"></span> questions done. Please check the
            hints
            and answer again!
        </div>

        <div id="quiz-result-finished" class="card">
            Well done, you understand it all! Now we are curious to hear your story. Proceed with the button below.
        </div>

        <!-- Question 1 -->

        <div class="card quizlib-question">
            <div class="quizlib-question-title">1. This platform is only loosely moderated – to avoid harassment and
                exploitative behaviours, while allowing unconstrained conversation. Knowing this, what would you do
                here?
            </div>
            <div class="quizlib-question-answers">
                <ul>
                    <li>
                        <label><input type="checkbox" name="q0" value="a">I would share my credit card data if
                            asked.</label>

                        <div id="quizlib-hint-q0-a" class="quizlib-hint"><strong>Please correct this answer and try
                            again!</strong> This is seriously the kind of
                            sensitive information that you should only share with secure services, when it is fully
                            clear to you what the purpose of the transaction
                            is, namely: purchase of a good / service.
                        </div>
                    </li>
                    <li>
                        <label><input type="checkbox" name="q0" value="b">I would engage in a conversation about my
                            last
                            experience with the National Health Service (or the equivalent in my country).</label>

                        <div id="quizlib-hint-q0-b" class="quizlib-hint"><strong>Please correct this answer and try
                            again!</strong> This platform is explicitly
                            meant to host and facilitate conversations on topics akin to this. While you are of
                            course
                            free to avoid engaging in this kind of
                            discourse, we encourage you to reflect on the purpose of your joining this community.
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Question 2 -->
        <div class="card quizlib-question">
            <div class="quizlib-question-title">2. We are running a research project called <a href="http://opencare.cc">OpenCare</a>. Do you think OpenCare is offering health care or social care
                advice
                to you?
            </div>
            <div class="quizlib-question-answers">
                <ul>
                    <li><label><input type="radio" name="q1" value="a">Yes. I expect advice on how to best treat my
                        condition and those of my friends.</label></li>
                    <li><label><input type="radio" name="q1" value="b">No. I expect a conversation on how to improve
                        care systems in general, not medical
                        advice.</label></li>
                </ul>
                <div id="quizlib-hint-q1" class="quizlib-hint"><strong>Please correct this answer and try
                    again!</strong> OpenCare is a platform for users to
                    freely share their experience with health care and social care, or their ideas to solve related
                    problems. It is by no means a substitution
                    for your doctor, nurse or social assistant … although we would love if they could join us too ;)
                </div>
            </div>
        </div>

        <!-- Dialog Buttons -->
        <button class="btn btn-primary" id="check-button" type="button" onclick="submitQuiz();">Submit Answers
        </button>
    </div>
</div>


<script type="text/javascript">
    quiz = new Quiz('quiz', [ // Use DOM element with id="quiz" as quiz form.
        ['b'],                // Question 1 answer b is correct (multiple choice, using checkboxes).
        'b',                  // Question 2 answer b is correct (single-choice, using radiobuttons).
    ]);

    $.ajax({
        url: '/users/' + Discourse.User.currentProp('username'),
        dataType: 'json',
        success: function (data) {
            //alert(JSON.stringify(data['user']['consent_given']));
            if (!data['user']['consent_given']) {
                showQuiz();
            }
        }
    });
</script>
