<div id="consent-panel" style="display:none;">

  <!-- Quiz Container -->
  <div id="quiz">
    <div class="alert alert-info quizlib-intro">
      On this platform, we share "cutting edge" knowledge around various topics. Before you can write your first post,
      we want to make sure you understand how to use this space.<br/>

      Just answer these two questions until you get them right: you will never see this message again. If you
      have difficulties, <a href="mailto:noemi@edgeryders.eu?subject=I need help with the new authors' quiz">click 
      here</a> to email us.
    </div>

    <!-- Quiz Results -->
    <div id="quiz-result-progress" class="card">
      <span id="quiz-score"></span> of <span id="quiz-max-score"></span> questions done. Please check the
      hints and answer again!
    </div>

    <div id="quiz-result-finished" class="card">
      Well done, you understand it all! Now we are curious to hear your story. Proceed with the button below.
    </div>

    <!-- Question 1 -->
    <div class="card quizlib-question">
      <div class="quizlib-question-title">1. This website is a public forum and only loosely moderated. What does that
        mean for you?
      </div>
      <div class="quizlib-question-answers">
        <ul>
          <li>
            <label><input type="checkbox" name="q0" value="a">I will be careful. Everyone I meet here only online is
              still a stranger. I will <strong>not</strong> lend them money, or tell them sensitive information.</label>

            <div id="quizlib-hint-q0-a" class="quizlib-hint"><strong>Please correct this answer and try
              again!</strong> This platform allows everyone to create an account, without having to reveal who they
              are in real life. It is easy to create a false identity online … so you really should be careful with
              strangers you meet only online!
            </div>
          </li>
          <li>
            <label><input type="checkbox" name="q0" value="b">To receive advice, I would share information that I want
              to keep within a small group of people. For example: my medical conditions, credit card details, political 
              affiliations that I normally do not reveal.</label>

            <div id="quizlib-hint-q0-b" class="quizlib-hint"><strong>Please correct this answer and try
              again!</strong> This platform is public, and its content can be found with search engines like Google.
              Share only what you are ok with to be seen by the whole world.
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Question 2 -->
    <div class="card quizlib-question">
      <div class="quizlib-question-title">2. This platform is full of tinkerers, DIY enthusiasts and hackers of all
        kinds. When you ask a question here, how do you treat the advice you receive?
      </div>
      <div class="quizlib-question-answers">
        <ul>
          <li><label><input type="radio" name="q1" value="a">I will try out what people tell me here.</label></li>
          <li><label><input type="radio" name="q1" value="b">I will be careful. Even if someone else advised me, I am still responsible for my own actions. If I don't know enough about the possible consequences, I will not do what they propose.
            </label></li>
        </ul>
        <div id="quizlib-hint-q1" class="quizlib-hint"><strong>Please correct this answer and try again!</strong>
          You should consider all advice on this platform "experimental" and "unproven", meant for people who know
          enough about a topic to recognize potentially dangerous or harmful advice.
        </div>
      </div>
    </div>

    <!-- Dialog Buttons -->
    <button class="btn btn-primary" id="check-button" type="button" onclick="submitQuiz();">Submit Answers</button>

  </div>
</div>


<script type="text/javascript">
  quiz = new Quiz('quiz', [ // Use DOM element with id="quiz" as quiz form.
    ['a'],                // Question 1 answer b is correct (multiple choice, using checkboxes).
    'b',                  // Question 2 answer b is correct (single-choice, using radiobuttons).
  ]);

  $.ajax({
    url: '/users/' + Discourse.User.currentProp('username'),
    dataType: 'json',
    success: function (data) {
      // alert(JSON.stringify(data['user']['consent_given']));
      if (!data['user']['consent_given']) {
        showQuiz();
      }
    }
  });
</script>
