<div id="consent-panel" style="display:none;">

  <!-- Quiz Container -->
  <div id="quiz">
    <div class="alert alert-info quizlib-intro">
      On this platform, we share "cutting edge" knowledge around various topics. Before you can write your first post,
      we want to make sure you understand how to use this space.<br/>

      Just answer these two questions until you get them right: you will never see this message again. If you
      have difficulties or questions or ideas to make these questions better, 
      <a href="mailto:noemi@edgeryders.eu?subject=I need help with the new authors' quiz">click here</a> to email us.
    </div>

    <!-- Quiz Results -->
    <div id="quiz-result-progress" class="card">
      <span id="quiz-score"></span> of <span id="quiz-max-score"></span> questions done. Please check the
      hints and answer again!
    </div>

    <div id="quiz-result-finished" class="card">
      Well done, you understand it all! Now we are curious to hear your story. Proceed with the button below.
    </div>

    <!-- Question #0 -->
    <div class="card quizlib-question">
      <div class="quizlib-question-title">1. This platform is used for research (<a href="/t/topic/37">learn more</a>). 
        Researchers are encouraged to treat what we post into it as a window into societal, economic, technological, 
        and political trends and transformations that affect all of us. As you participate in these discussion, you 
        might reveal where you stand with respect to important societal, economic and political issues. Knowing this, 
        which of the following best describes your position?
      </div>
      <div class="quizlib-question-answers">
        <ul>
          <li>
            <label><input type="radio" name="q0" value="a">I do not fear bad consequences when sharing with others my 
            views and  alignment on societal, economic, technological and political issues.</label>
          </li>
          <li>
            <label><input type="radio" name="q0" value="b">I worry about the the risks involved in sharing my views and 
            alignment online, where others (such as the government or my employer) could access them. But I will 
            participate in the conversation on this platform under my real name.</label>
          </li>
          <li>
            <label><input type="radio" name="q0" value="c">I worry about the the risks involved in sharing my views and 
            alignment online, where others (such as the government or my employer) could access them. Therefore, I protect 
            my identity to a degree I think is adequate, for example posting under a pseudonym, using a fake e-mail 
            address, using a VPN etc..</label>
          </li>
          <li>
            <label><input type="radio" name="q0" value="d">I worry about the the risks involved in sharing my views and 
            alignment online, where others (such as the government or my employer) could access them, and I don't know how 
            to deal with that risk when posting on this platform. Outcome: do not allow posting.</label>
          </li>
        </ul>
        <div id="quizlib-hint-q0" class="quizlib-hint"><strong>Please correct this answer and try again!</strong>
          We want you to stay safe. If sharing information about your views and  alignment is risky for you, you should 
          consider not participating in public discussion. We would still like to hear from you. You could (1) participate 
          under a pseudonym, or (2) register under a one-time email address to reduce the risks that the content you post 
          will be linked to you. Or (3) you can <a href="/t/topic/9537">contact our community managers securely and 
          anonymously</a> to share your content.
        </div>
      </div>
    </div>

    <!-- Question #1 --> 
    <div class="card quizlib-question">
      <div class="quizlib-question-title">2. This platform is only loosely moderated, to avoid harassment and exploitative 
        behaviour, but to allow unconstrained conversation. Knowing this, would you:
      </div>
      <div class="quizlib-question-answers">
        <ul>
          <li>
            <label><input type="checkbox" name="q2" value="a">Share my credit card’s details at another participant’s 
            request.</label>

            <div id="quizlib-hint-q2-a" class="quizlib-hint"><strong>Please correct this answer and try
              again!</strong> This is a public forum meant for conversation on general issues, and it is not secure to share 
              personal information on. You should not share personal information that you do not want out in the open on it, 
              such as your credit card detail, with anyone (including researchers and community managers and under any 
              circumstance).
            </div>
          </li>
          <li>
            <label><input type="checkbox" name="q2" value="b">Engage in a conversation about important issues in my country, 
            and how it should be reflected by the government’s policies.</label>

            <div id="quizlib-hint-q2-b" class="quizlib-hint"><strong>Please correct this answer and try
              again!</strong> This is a public platform made for exactly the purpose stated in this answer :)
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Dialog Buttons -->
    <button class="btn btn-primary" id="check-button" type="button" onclick="submitQuiz();">Submit Answers</button>

  </div>
</div>


<script type="text/javascript">
  quiz = new Quiz('quiz', [ // Use DOM element with id="quiz" as quiz form.
    ['a', 'c'],             // Question #0 answers a and c are correct (single-choice, using radiobuttons).
    ['b'],                  // Question #1 answer b is correct (multiple-choice, using checkboxes).
  ]);

  $.ajax({
    url: '/users/' + Discourse.User.currentProp('username'),
    dataType: 'json',
    success: function (data) {
      // alert(JSON.stringify(data['user']['consent_given']));
      if (!data['user']['consent_given']) {
        showQuiz();
      }
    }
  });
</script>
