.admin-customize {
  .show-current-style {
    padding: 0;
    width: 100%;
  }

  .themes-list {
    width: 100%;
    margin-bottom: 1em;
  }
  .form-horizontal.theme.settings .setting-label,
  .admin-container .select-kit {
    width: 100%;
  }

  .admin-container {
    display: flex;
    flex-wrap: wrap;
  }
}
