body .admin-customize {
  .show-current-style {
    padding: 0;
    width: 100%;
  }

  .themes-list,
  .color-schemes {
    width: 100%;
    margin-bottom: 1em;
  }

  .admin-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .content-list.color-schemes ul {
    max-height: 250px;
    overflow-x: auto;
  }

  .color-scheme {
    h1,
    h1 input {
      width: 100%;
    }

    .copy-to-clipboard {
      display: none;
    }

    .controls,
    .admin-controls {
      width: 100%;
    }

    .sp-replacer {
      flex-shrink: 0;
    }

    td {
      vertical-align: top;
    }

    td.actions {
      width: 40px;
    }
  }
}
