.admin-customize {
  .show-current-style {
    padding: 0;
    width: 100%;
  }

  .themes-list {
    width: 100%;
  }

  .customize-themes-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
