.alert {
  margin: 15px 0 5px 0;
}

// there are (n) new or updated topics, click to show
.alert.alert-info {
    margin: 0;
    margin-bottom: -3px;
    margin-top: -5px;
    padding: 15px;
    font-size: 1.1em;
}
