#reply-control {
  
    .reply-area {
      padding: 0 5px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  
    .reply-to {
      margin: 5px;
      max-width: calc(100% - 60px);
    }
  
    .toggle-toolbar,
    .toggler {
      top: 2px;
    }

    &.draft {
      .toggle-toolbar,
      .toggler {
        top: 8px;
      }
    }
  
    .title-input {
      margin-bottom: 5px;
    }
  
    #reply-title {
      width: calc(100% - 20px);
    }
  
    .category-input {
      margin-bottom: 5px;
      .category-chooser {
        width: 100% !important;
      }
    }
  
    .submit-panel {
      margin-bottom: 5px;
      display: flex;
      align-items: baseline;
      .save-or-cancel {
        flex-basis: 70%;
      }
      .composer-bottom-right {
        flex-basis: 30%;
      }
    }
  
    .d-editor-textarea-wrapper {
      width: 100%;
    }
  
    .d-editor-button-bar {
      display: none;
    }
  
    .toolbar-visible .d-editor-button-bar {
      display: flex;
    }
  
    .d-editor-button-bar .btn {
      @media all and ( max-width: 350px) {
        padding: 2px 4px;
      }
      &.preview {
        margin: 0;
      }
    }
  
    #mobile-uploader {
      display: none;
    }
  
    .title-and-category,
    .user-selector {
      flex-direction: column;
      margin: 0;
    }
  
    .title-input,
    .category-input,
    .users-input,
    .add-warning {
      width: 100%;
    }
  
    .add-warning {
      margin: 5px 0 5px 5px;
    }
  
    #draft-status {
      color: $primary-medium;
    }
  
  }
  