.directory .user {
  border-top: 1px solid $primary-low;
  padding: 1em;

  .user-stat {
    margin-left: 55px;
    .value {
      font-weight: bold;
    }
    .label {
      margin-left: 0.2em;
      color: $primary-medium;
    }
    .d-icon-heart {
      color: $love;
    }
  }
}
