// global styles that apply to the Discourse application specifically
// BEWARE: changing these styles implies they take effect anywhere they are seen
// throughout the Discourse application

body {
  background-color: $secondary;
}

.container {
  @extend .clearfix;
  margin-right: auto;
  margin-left: auto;
}

.full-width {
  margin-left: 12px;
}

body {

  .boxed {
    height: 100%;
    @include border-radius-all(5px);
    .contents {
      padding: 10px 10px 10px 10px;
    }
    &.white {
      background-color: $secondary;
    }
  }
  #main {
    .fa-star.starred {
      color: $highlight;
    }
    a.star {
      display: inline-block;
      font-size: 15px;
      line-height: 1;
      color: $primary;
      margin-right: 5px;
      &:before {
        font-family: "FontAwesome";
        content: "\f005";
      }
      &.starred {
        color: #fe1;
        text-shadow: 0 0 3px rgba($primary, 0.5);
        @include hover {
          opacity: 1;
          &:before {
            content: "\f005";
          }
        }
      }
      @include hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 1;
      }
    }
    img.avatar {
      &.header {
        width: 45px;
        height: 45px;
      }
      &.medium {
        width: 32px;
        height: 32px;
      }
      &.small {
        width: 25px;
        height: 25px;
      }
      &.tiny {
        width: 20px;
        height: 20px;
      }
    }
    .user-list {
      .user {
        padding-bottom: 5px;
      }
    }
  }


}


blockquote {
  /* 13px left is intentional here to properly align with post quotes */
  padding: 10px 8px 10px 13px;
  background-color: scale-color($secondary, $lightness: 95%);
  border-left: 5px solid scale-color($secondary, $lightness: 75%);
  p {
    margin: 0 0 10px 0;
  }
}

.topic-statuses {
  display: inline-block;
  margin: 0;
  padding: 0;
  .topic-status {
    padding: 5px 2px 0 0;
    margin: 0;
    display: inline-block;
    i {
      font-size: 15px;
      color: darken($secondary, 60%);
    }
  }
}
