// --------------------------------------------------
// Discourse header
// --------------------------------------------------

.d-header {
  padding-left: 10px !important;
  padding-right: 10px !important;

  #site-logo {
    max-width: 122px;
  }

  .panel {
    margin-right: 20px;
  }

  .icons {
    .badge-notification {
      color: $secondary;
    }

    .active .icon {
      &:after { margin-top: -1px; }
    }
  }

  button.sign-up-button {
    display:none;
  }
}
#main-outlet {
  padding-top: 60px;
}

// Dropdowns
// --------------------------------------------------

.d-dropdown {
  width: 290px;
  margin-top: -1px;

  // Common

  .heading {
    color: $primary;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }

  // Search

  input[type='text'] {
    width: 265px;
    font-size: 16px;
  }

  &#user-dropdown {
    width: 155px;
  }

  .btn {
    padding: 2px 8px;
    .fa {
      margin-right: 5px;
    }
  }
}

.search-link .badge-category {
  display: none;
}

.search-link .topic-statuses .topic-status i {
  font-size: 14px;
}

.d-dropdown .no-results .show-help {
  display: none;
}

