.modal.history-modal {
  button {
    float: none;
  }
  #display-modes {
    display: none;
  }
  #revision-numbers {
    line-height: 2em;
  }
  #revision-details {
    background-color: dark-light-diff($primary, $secondary, 90%, -60%);
    padding: 5px;
    margin-top: 10px;
  }
  img {
    max-width: 95%;
    height: auto;
  }
}
