.invites-show {
  box-sizing: border-box;
  padding: 1em;

  .signup-progress-bar {
    margin: 0;
  }

  .invitation-cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
  }
}
