.lightbox .meta,
.lightbox:hover .meta {
  opacity: 0.7;
  transition: none;
}

.meta {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $secondary;
  color: $primary-high;
  height: 25px;
  width: 25px;
  bottom: 0;
  right: 0;

  .filename,
  .informations {
    display: none;
  }

  .expand {
    position: initial;
    float: none;
    height: 16px;
    &:before {
      // ideally, the SVG used here should be in HTML and reference the SVG sprite
      // the SVG used here is the "expand" icon from FontAwesome 4.7.0
      content: svg-uri(
        '<svg xmlns="http://www.w3.org/2000/svg" width="14px" height="16px" viewBox="0 0 1792 1792" fill="#{$primary-high}"><path d="M883 1056q0 13-10 23l-332 332 144 144q19 19 19 45t-19 45-45 19h-448q-26 0-45-19t-19-45v-448q0-26 19-45t45-19 45 19l144 144 332-332q10-10 23-10t23 10l114 114q10 10 10 23zm781-864v448q0 26-19 45t-45 19-45-19l-144-144-332 332q-10 10-23 10t-23-10l-114-114q-10-10-10-23t10-23l332-332-144-144q-19-19-19-45t19-45 45-19h448q26 0 45 19t19 45z"/></svg>'
      );
      opacity: inherit;
    }
  }
}
