.lightbox .meta,
.lightbox:hover .meta {
  opacity: 0.7;
  transition: none;
}

.meta {
  align-items: center;
  background: $secondary;
  color: $primary-high;
  height: 25px;
  width: 25px;
  bottom: 0;
  right: 0;

  .filename,
  .informations,
  .d-icon-far-image {
    display: none;
  }

  .d-icon-discourse-expand {
    color: $primary-high;
  }
}
