.hamburger-panel .menu-panel.slide-in {
  left: 0;
  .panel-body {
    display: block;
  }
  .panel-body-contents {
    max-height: unset;
  }
}
.header-cloak {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  display: none;
  touch-action: pan-y pinch-zoom;

  &.animate {
    transition: opacity 0.2s ease-out;
  }
}

.user-menu .quick-access-panel.quick-access-profile li:not(.show-all) {
  border-bottom: 1px solid var(--primary-low);

  a,
  button {
    // accounts for menu "ears" 4px + border 1px
    padding: 0.75em calc(0.5em + 4px + 1px);
    @media screen and (max-height: 380px) {
      // reduce padding to avoid scroll
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}

.panel-body-contents {
  // 2em padding very useful for iOS Safari's overlayed bottom nav
  padding-bottom: calc(env(safe-area-inset-bottom) + 2em);
}
