// base styles for every modal popup used in Discourse

.modal-open #main {
  overflow: hidden;
}

.modal-middle-container {
  max-width: 100%;
  margin-bottom: 30px; // For iOS Safari issues
}

// Hardcode to be the same as before for now. I would recommend not using bootbox, or finding a way so the html structure can be the same
.bootbox.modal {
  top: 10%;
  width: 100%;
}

.modal.fade {
  transition: opacity 0.3s linear, top 0.3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 50%;
}
.modal-body {
  padding: 10px;
}

// we need a little extra room on mobile for the
// stuff inside the footer to fit
.modal-footer {
  padding: 10px;
}

.modal-header {
  padding: 10px;
  h3 {
    font-size: $font-up-2;
  }
}

.close {
  font-size: $font-up-4;
}

#choosing-topic {
  p {
    margin-top: 0;
  }

  input[type="radio"] {
    margin-right: 10px;
  }

  .category-chooser {
    margin-bottom: 9px;
  }

  button {
    margin-top: 10px;
    display: block;
    width: 300px;
  }

  form {
    margin-top: 20px;
    input:not(.filter-input)[type="text"] {
      box-sizing: border-box;
      width: 100%;
    }
  }
}

@media only screen and (max-device-width: 568px) {
  .modal .flag-modal .flag-message {
    height: 3em;
  }
}

.edit-category-modal {
  .modal-body {
    position: relative;
    height: 350px;
  }
  &.small .modal-body {
    height: 310px;
  }

  .disable_info_wrap .cannot_delete_reason {
    top: -114px;
    right: 8px;
    min-width: 200px;
  }
}

/* fixes for the new account confirm dialog on mobile */

.modal-inner-container {
  margin-bottom: 20px;
}

/* fix for tall modals */

.fixed-modal {
  .modal-middle-container {
    margin-bottom: 0;
  }
  .modal-inner-container {
    max-height: 90vh;
    overflow: auto;
  }
}
