.archetype-private_message {
  .topic-body {
    flex: 1 1 auto;

    .cooked {
      padding: 0;
      margin: 0;
    }

    .contents.regular {
      margin-top: 0.5em;
      margin-left: 0;
      padding: 1.5em 1em 0;
      border-radius: var(--pm-border-radius);
    }
  }

  .post-menu-area {
    padding-right: 0;
  }

  .topic-avatar {
    margin-bottom: -1em; // creates bubble overlap
  }

  .topic-post {
    margin: 0;

    article {
      border-top: none;
    }
  }

  .topic-map {
    padding: 1em 0.5em;
    margin-left: 0;
  }

  .post-notice {
    padding: 1em;
    margin: 0 0 1em;
    width: 100%;
  }

  .topic-meta-data .names .first.staff {
    flex-basis: 100%;

    & + .second,
    & + .second + .user-title {
      flex-basis: unset;
    }
  }
}
