.search button.btn-primary, .search button.btn {
  float: none;
}

.search-advanced {
  .search-advanced-options {
    .control-group {
      margin-bottom: 10px;
      .controls {
        input:not([type="checkbox"]),select {
          width: 75%;
        }
      }
    }
  }
}

.search-title {
  .sort-by {
    display: flex;
    width: 100%;
    align-items: center;
    .select-kit {
      flex: 1 1 auto;
    }
  }
}

.search.row {
  margin-top: 10px;
}

.search.row input.search {
  height: 25px;
}

.fps-search-context {
  margin-bottom: 15px;
}

.fps-topic {
  max-width: 75%;
}
