.search-menu {
  .mobile-search-button + input#search-term {
    padding-left: 0;
  }

  .search-menu-panel {
    &.slide-in {
      animation: slidein 0.3s ease-out forwards;
    }

    &.is-closing {
      animation: slideout 0.3s ease-in forwards;
    }

    .search-menu-container .search-context {
      margin: 0.25em 0 0 0;
      padding: 0.25em 0.5em;
    }
  }

  @keyframes slidein {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  @keyframes slideout {
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
}
