$progress-bar-circle-size: 0.5rem;

.signup-progress-bar {
  width: auto;
  margin: 1.5rem 1.2rem;
  gap: 1rem;

  .account-created &,
  .activate-account & {
    margin-inline: 0;
  }

  &__segment {
    width: auto;
  }

  &__circle {
    height: $progress-bar-circle-size;
    width: $progress-bar-circle-size;
    transform: none !important;

    .--active & {
      background: var(--success);
      box-shadow: 0 0 1px 5px var(--success-low);
    }
  }

  &__step-text,
  &__line {
    display: none;
  }
}
