#topic-footer-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .presence-users {
    margin-right: auto;
  }
}
#topic-footer-buttons {
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0.5rem;

  // docked progress bar on large screens using mobile view
  grid-area: posts;
  grid-row: 3; // after topic map

  .topic-footer-main-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    .create,
    .share-and-invite,
    .flag-topic,
    .defer-topic {
      .d-button-label {
        display: none;
      }

      .d-icon {
        margin-right: 0;
      }
    }

    .create {
      margin-left: auto;
    }

    .pinned-button,
    .topic-notifications-button {
      margin: 0;
      .select-kit-selected-name .name {
        display: none;
      }
    }

    &__actions,
    &__states {
      display: flex;
      gap: 0.5rem;
    }
  }
}

#topic-progress-wrapper {
  position: fixed;
  bottom: 0px;
  right: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  z-index: z("timeline");

  &.docked {
    position: initial;
  }

  html:not(.footer-nav-visible) & {
    bottom: env(safe-area-inset-bottom);
  }

  &:not(.docked) {
    @media screen and (min-width: $reply-area-max-width) {
      // position to right side of composer
      right: calc(50% + 10px);
      margin-right: calc(#{$reply-area-max-width} / 2 * -1);
    }
  }

  &.with-transitions {
    transition: bottom 0.2s, margin-bottom 0.2s;

    #topic-progress .bg {
      transition: width 0.5s;
    }
  }
}

#topic-progress {
  position: relative;
  background-color: var(--secondary);
  color: var(--tertiary);
  border: 1px solid var(--tertiary-low);
  padding: 0.25em 1em;

  /* as a big ol' click target, don't let text inside be selected */
  @include unselectable;

  .nums {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: z("base");
    font-weight: bold;
  }
  .d-icon {
    position: absolute;
    right: 8px;
    bottom: 9px;
    z-index: z("base");
  }
  .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--progress-bg-width, 0);
    background-color: var(--tertiary-low);
  }
}

#topic-progress-expanded {
  border: 1px solid var(--primary-low);
  padding: 5px;
  background: var(--secondary);

  position: absolute;
  bottom: 34px;
  width: 135px;

  button.full {
    width: 100%;
    margin-bottom: 5px;
    .d-icon {
      display: block;
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: var(--font-up-2);
    }
  }
  .jump-form {
    input[type="text"] {
      float: left;
      width: 45px;
      height: 20px;
      text-align: center;
      font-size: var(--font-up-1);
    }
    button.btn {
      float: right !important;
      width: 55px;
    }
  }
  button.btn.jump-prompt {
    margin: 0;
  }
  button.btn.jump-bottom {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

// #topic-footer-buttons {
//   .d-icon-bookmark.bookmarked,
//   .d-icon-discourse-bookmark-clock.bookmarked {
//     color: var(--tertiary);
//   }

//   .topic-footer-main-buttons {
//     display: flex;
//     align-items: stretch;
//   }

//   .topic-footer-mobile-dropdown {
//     margin-right: 0.5em;
//     display: flex;
//   }

//   .select-kit-header {
//     height: 100%;
//   }

//   .topic-notifications-button,
//   .pinned-button {
//     display: flex;
//     align-items: center;

//     .reason {
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;

//       .text {
//         margin-left: 0;
//         margin-top: 0.25rem;
//       }
//     }
//     @include breakpoint(mobile-medium) {
//       display: inline-block;
//       .reason {
//         display: block;
//         margin: 0.5em 0 0 0;
//       }
//     }
//   }
// }
