.gap {
  background-color: scale-color-diff();
  padding: 5px 15px;
  color: $primary;
  text-align: center;
  margin: 0 10px;
}

.topic-post {
  border-top: 1px solid scale-color-diff();
  padding: 6px 0 3px 0;
}

span.badge-posts {
  margin-right: 5px;
}

.show-replies {
  display: none;
  i {
    margin-left: 5px;
  }
}

nav.post-controls {
  clear: both;
}

button {
  border: none;
  font-size: 17px;
  padding: 8px 10px;
  vertical-align: top;
  background: transparent;
  color: scale-color($primary, $lightness: 50%);
  float: left;
  &.hidden {
    display: none;
  }
  &.admin {
    position: relative;
  }
  &.expand-post {
    margin:10px 0 10px 0;
  }
  &.has-like {color: $love;}
  .read-icon {
    &:before {
      font-family: "FontAwesome";
      content: "\f02e";
    }
    &.unseen {
      &:before {
        content: "\f097";
      }
    }
    &.bookmarked {
      &:before {
        color: $tertiary;
      }
    }
  }
}


/* shift post reply button to the right and make it black */
.post-controls button.create {
  float: right;
  color: $primary;
}


.post-admin-menu {
  background-color: $secondary;
  width: 205px;
  padding: 10px;
  border: 1px solid scale-color-diff();
  position: absolute;
  text-align: left;
  bottom: 0;
  left: 135px;
  z-index: 1000;
  display: none;

  h3 {
    margin-top: 0;
    color: $primary;
    font-size: 1em;
  }

  ul {
    list-style: none;
    margin: 10px 0 0 0;
  }

  li {
    width: 176px;
    margin-bottom: 5px;

    i.fa {
      width: 14px;
      margin-right: 14px;
    }
  }
}


.embedded-posts {
  .topic-meta-data h5 a {
    margin-left: 10px;
  }
}

.reply-new {
  display: none;
}

.post-actions {
  display: inline-block;
  width: 100%;
}

.post-action {
  float: right;
  margin-right: 10px;
  clear: right;
}

.post-action .relative-date {
  margin-left: 5px;
}

a.reply-to-tab {
  position: absolute;
  z-index: 400;
  right: 80px;
  color: scale-color($primary, $lightness: 50%);
  span { display: none; }
}

a.star {
  display: inline-block;
  float: left;
  font-size: 1.3em;
}

.topic-post .boxed .contents {
  float: none;
  padding-top: 5px;
  padding-bottom: 0px;
  clear: both;
  position: relative;
}

.topic-map {

  margin: 10px;
  background: scale-color(scale-color-diff(), $lightness: 40%);

  h3 {
    margin-bottom: 4px;
    color: $primary;
    line-height: 23px;
  }

  h4 {
    margin: 0 0 3px 0;
    color: $primary;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }

  p,
  .participants {
    margin: 0 0 7px;
  }

  .user {
    float: left;
    margin-right: 10px;
  }

  ul {
    margin: 0;
    list-style: none;
  }

  .avatars {
    > div {
      float: left;
      position: relative;
      margin: 3px 0;
    }
    .post-count {
      position: absolute;
      top: 2px;
      right: 6px;
      padding: 0 4px;
      font-weight: normal;
      font-size: 11px;
      line-height: 14px;
    }

  }

  /* in expanded avatar view, limit to one line for now */
  .avatars.clearfix {
    height:40px;
    overflow:hidden;
    margin-left: 10px;
  }


  .avatar {
    float: left;
    margin-right: 4px;
  }

  .map-collapsed {
    .secondary {
      display: none;
    }
  }

  .map {
    li {
      float: left;
      padding: 7px 8px;
      &:last-of-type {
        border-right: 0;
      }
    }
    a, .number {
      font-weight: bold;
      line-height: 20px;
    }

    .avatar + a {
      float: left;
    }
  }
  li.avatars {
    display: none;
  }

  .links,
  .information {
    padding: 7px 10px;
    color: $primary;
    overflow: auto;
  }

  .information {
    border-top: 2px solid scale-color-diff();
  }

  .domain {
    color: scale-color($primary, $lightness: 75%);
  }

  .topic-links {
    .badge-notification {
      margin: 1px 5px 2px 0;
    }
  }

  td {
    vertical-align: top;
    padding:1px;
  }

  .buttons {
    float: right;
    .btn {
      border: 0;
      border-bottom: 1px solid scale-color-diff();
      border-left: 1px solid scale-color-diff();
      padding: 0 15px;
      color: $primary;
      background: scale-color-diff();
      &:hover {
        background: scale-color($primary, $lightness: 75%);
        color: $primary;
        border-bottom: 1px solid scale-color-diff();

      }
      .fa {
        margin: 0;
        font-size: 18px;
        line-height: 52px;
      }
    }
  }
}

#topic-footer-buttons {
  border-top: 1px solid scale-color-diff();
  padding: 20px 10px 0 10px;
}

/* this is to force the drop-down notification state description para below the button */
#topic-footer-buttons p {
  clear: both;
  margin: 0;
}

#suggested-topics {
  clear: left;
  padding: 20px 10px 15px 10px;
    th.views, td.views, td.activity, th.activity, th.likes, td.likes {
    display: none;
    }

   a.badge-category, a.badge-category-parent {
    font-size: 10px;
    vertical-align: top;
    }

   .title {
    font-size: 14px; line-height: 8px;
  }

}



span.post-count {
  background: $primary;
  color: $secondary;
  opacity: .8;
}


#topic-footer-buttons {
  .btn {
    margin-bottom: 5px;
    margin-right: 10px;
    .fa-star {margin-right: 5px;}
  }
}

#topic-title {
  z-index: 1000;
  margin: 0 0 0 0 !important;
  padding: 15px 10px 15px 10px;
}

.topic-post {
  &.moderator {
    background-color: scale-color($highlight, $lightness: 75%);
  }
}

.quote-button.visible {
  display: block;
}

iframe {
  max-width: 100%;
}

.extra-info {
  display: none;
}

.topic-meta-data {
  margin-bottom: 10px;
}

.open>.dropdown-menu {
  display: block;
}

.dropdown-menu li  {
  margin: 5px 0;
  .fa {
    float: left;
    margin-right: 5px;
    padding-top: 1px;
  }
}

.btn-group {
  margin-top: 25px;
  position: relative;
}

.dropdown-toggle {
  float: left;
  position: relative;
}

.modal-body {
  input[type=text] {
    font-size: 16px;
    display: block;
    margin-top: 10px;
  }
}

#share-link {
  width: 290px;
}

#selected-posts {
  padding-left: 20px;
  .btn {
    margin-bottom: 10px;
  }
}

.post-select {
  float: right;
  margin-right: 20px;
  margin-top: -20px;
}



.deleted {
background-color: scale-color($danger, $lightness: 75%);
}

#show-topic-admin {
  color: scale-color($primary, $lightness: 50%);
  right: 0;
  border-right: 0;
  padding-right: 4px;
  padding-left: 5px;
}

.deleted-user-avatar {
  font-size: 36px;
}

span.btn-text {display: none;}

blockquote {
  clear:both;
  /* leave browser defaults for top and bottom here */
  margin-left: 0;
  margin-right: 0;
}

// we assume blockquotes have their own margins, so all blockquotes
// will remove margins from first (top) and last (bottom) child elements
blockquote > *:first-child {
  margin-top: 0 !important;
}
blockquote > *:last-child {
  margin-bottom: 0 !important;
}

.gutter { display: none; }

.posts-wrapper {  position: relative; }

.topic-body.highlighted {
  background-color: scale-color($tertiary, $lightness: 75%);
}

span.highlighted {
  background-color: scale-color($highlight, $lightness: 70%);
}

.topic-avatar {
  float: left;
  position: relative;
}

.topic-meta-data {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  left: 0px;
  .names {
    margin: 5px 0 0 65px;
    line-height: 17px;
    span {
      display: block;
    }
  }
  .post-info {
    float: right;
    font-size: 12px;
    margin: 4px 10px 0 0;
    .edits { margin-right: 5px; }
  }
}

.username.new-user a {
  color: scale-color($primary, $lightness: 70%);
}

.user-title {
  color: #aaa;
  padding-top: 2px;
  overflow: hidden;
  margin-right: 50px;
}

.read-state {
  display: none;
}
