.post-info a {
  color: #aaa;
}

.topic-meta-data-inside {
  float: right;
  margin-top: -38px;
  margin-right: 5px;
}

.post-info {
  display: inline-block;
}

#topic-title {
  //margin-bottom: 20px;
  margin: 0 60px 10px 0;
  h1 {
    font-size: $font-up-3;
    line-height: $line-height-medium;
    a {
      color: $primary;
      vertical-align: middle;
      word-wrap: break-word;
    }
  }
  .title-category-wrapper {
    margin-top: 5px;
  }
  .private-message-glyph {
    display: none;
  }
}

.private_message #topic-title .private-message-glyph {
  display: inline;
}

/* both blocks that appear under the standard post control buttons */
.notification-options,
.pinned-options {
  float: left;
  margin-top: 0;
  padding-top: 1px;
  clear: both;
}

.topic-status-info {
  padding-left: 10px;
  border-top: 1px solid $primary-low;
  padding-top: 10px;
  h3 {
    margin: 0;
  }
}

#topic-progress-wrapper {
  position: fixed;
  width: 0;
  right: 0;
  bottom: 0;
  z-index: z("timeline");
  margin-right: 148px;
}

#topic-progress-expanded {
  border: 1px solid $primary-low;
  padding: 5px;
  background: $secondary;

  position: absolute;
  bottom: 34px;
  width: 135px;

  button.full {
    width: 100%;
    margin-bottom: 5px;
    i {
      display: block;
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: $font-up-2;
    }
  }
  .jump-form {
    input[type="text"] {
      float: left;
      width: 45px;
      height: 20px;
      text-align: center;
      font-size: $font-up-1;
    }
    button.btn {
      float: right !important;
      width: 55px;
    }
  }
  button.btn.jump-prompt {
    margin: 0;
  }
  button.btn.jump-bottom {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

#topic-progress {
  position: relative;
  &.hidden {
    display: none;
  }
  background-color: $secondary;
  color: $tertiary;
  border: 1px solid $tertiary-low;
  border-bottom: none;
  width: 145px;
  height: 34px;

  /* as a big ol' click target, don't let text inside be selected */
  @include unselectable;

  .nums {
    position: relative;
    top: 9px;
    width: 100%;
    text-align: center;
    z-index: z("base");
  }
  h4 {
    display: inline;
    font-size: $font-up-2;
    line-height: $line-height-small;
  }
  .d-icon {
    position: absolute;
    right: 8px;
    bottom: 9px;
    z-index: z("base");
  }
  .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    border-right: 1px solid $tertiary-low;
    background-color: $tertiary-low;
    transition: width 0.75s;
  }
}

.topic-error {
  padding: 18px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: $font-up-4;
  line-height: $line-height-medium;

  .topic-retry {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

#topic-progress-wrapper.docked {
  position: absolute;
}

.topic-post:last-of-type {
  padding-bottom: 40px;
}

sup sup,
sub sup,
sup sub,
sub sub {
  top: 0;
}

// inline editing of title on mobile
#topic-title .title-wrapper {
  position: relative;
  float: none;
  width: 100%;

  input#edit-title {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
  }
  .btn-small {
    padding: 6px 12px;
    margin: 6px 6px 0 0;
  }

  .select-kit.combo-box.category-chooser {
    width: 100%;
    margin-top: 0;
  }
}

// make mobile timeline top and bottom dates easier to select
.topic-timeline {
  .start-date,
  .now-date {
    font-size: $font-up-1;
    padding: 5px;
  }
  .topic-category {
    margin-bottom: 0.5rem;
  }
}

.edit-topic-timer-modal {
  .future-date-input {
    .alert-info {
      margin: 0 -10px -10px -10px;
      padding: 10px;
    }
  }
  .btn.pull-right {
    margin-right: 0;
  }
}
