.gap {
  background-color: scale-color-diff();
  @include padding(5px 15px);
  color: $primary;
  @include text-align(center);
  @include margin(10px 0);
}

.topic-post {
  border-top: 1px solid scale-color-diff();
  @include padding(6px 0 3px 0);
}

span.badge-posts {
  @include margin-right(5px);
}

.show-replies {
  display: none;
  i {
    @include margin-left(5px);
  }
}

nav.post-controls {
  clear: both;
}

button {
  border: none;
  font-size: 1.214em;
  @include padding(8px 10px);
  vertical-align: top;
  background: transparent;
  color: scale-color($primary, $lightness: 50%);
  @include float(left);
  &.hidden {
    display: none;
  }
  &.admin {
    position: relative;
  }
  &.expand-post {
    @include margin(10px 0 10px 0);
  }
  &.has-like {color: $love;}
  .read-icon {
    &:before {
      font-family: "FontAwesome";
      content: "\f02e";
    }
    &.unseen {
      &:before {
        content: "\f097";
      }
    }
    &.bookmarked {
      &:before {
        color: $tertiary;
      }
    }
  }
}


/* shift post reply button to the right and make it black */
.post-controls button.create {
  @include float(right);
  color: $primary;
}


.post-admin-menu {
  background-color: $secondary;
  width: 205px;
  @include padding(10px);
  border: 1px solid scale-color-diff();
  position: absolute;
  @include text-align(left);
  bottom: 0;
  @include left(135px);
  z-index: 1000;
  display: none;

  h3 {
    margin-top: 0;
    color: $primary;
    font-size: 1em;
  }

  ul {
    list-style: none;
    @include margin(10px 0 0 0);
  }

  li {
    width: 176px;
    margin-bottom: 5px;

    i.fa {
      width: 14px;
      @include margin-right(14px);
    }
  }
}


.embedded-posts {
  .topic-meta-data h5 a {
    @include margin-left(10px);
  }
}

.reply-new {
  display: none;
}

.post-actions {
  display: inline-block;
  width: 100%;
}

.post-action {
  @include float(right);
  @include margin-right(10px);
  clear: right;
}

.post-action .relative-date {
  @include margin-left(5px);
}

a.reply-to-tab {
  position: absolute;
  z-index: 400;
  @include right(80px);
  color: scale-color($primary, $lightness: 50%);
  span { display: none; }
}

a.star {
  display: inline-block;
  @include float(left);
  font-size: 1.3em;
}

.topic-post .boxed .contents {
  @include float(none);
  padding-top: 5px;
  clear: both;
  position: relative;
}

.topic-map {

  @include margin(10px);
  background: scale-color(scale-color-diff(), $lightness: 40%);

  h3 {
    margin-bottom: 4px;
    color: $primary;
    line-height: 23px;
  }

  h4 {
    @include margin(0 0 3px 0);
    color: $primary;
    font-weight: normal;
    font-size: 0.857em;
    line-height: 15px;
  }

  .user {
    @include float(left);
    @include margin-right(10px);
  }

  ul {
    @include margin(0);
    list-style: none;
  }

  .avatars {
    > div {
      @include float(left);
      position: relative;
      @include margin(3px 0);
    }
    .post-count {
      position: absolute;
      @include right(3px);
      border-radius: 100px;
      @include padding(4px 5px 2px 5px);
      @include text-align(center);
      font-weight: normal;
      font-size: 11px;
      line-height: 1;
    }
  }

  /* in expanded avatar view, limit to one line for now */
  .avatars.clearfix {
    height:40px;
    overflow:hidden;
    @include margin-left(10px);
  }


  .avatar {
    @include float(left);
    @include margin-right(4px);
  }

  .map-collapsed {
    .secondary {
      display: none;
    }
  }

  .map {
    li {
      @include float(left);
      @include padding(7px 8px);
      &:last-of-type {
        @include border-right(0);
      }
    }
    a, .number {
      font-weight: bold;
      line-height: 20px;
    }

    .avatar + a {
      @include float(left);
    }
  }
  li.avatars {
    display: none;
  }

  .links,
  .information {
    @include padding(7px 10px);
    color: $primary;
    overflow: auto;
  }

  .information {
    border-top: 2px solid scale-color-diff();
  }

  .domain {
    color: scale-color($primary, $lightness: 75%);
  }

  .topic-links {
    .badge-notification {
      @include margin(1px 5px 2px 0);
    }
  }

  td {
    vertical-align: top;
    @include padding(1px);
  }

  .buttons {
    @include float(right);
    .btn {
      border: 0;
      border-bottom: 1px solid scale-color-diff();
      @include border-left(1px solid scale-color-diff());
      @include padding(0 15px);
      color: $primary;
      background: scale-color-diff();
      &:hover {
        background: scale-color($primary, $lightness: 75%);
        color: $primary;
        border-bottom: 1px solid scale-color-diff();

      }
      .fa {
        @include margin(0);
        font-size: 1.286em;
        line-height: 52px;
      }
    }
  }
}

#topic-footer-buttons {
  border-top: 1px solid scale-color-diff();
  @include padding(20px 10px 0 10px);
  .fa-bookmark.bookmarked { color: $tertiary; }
}

/* this is to force the drop-down notification state description para below the button */
#topic-footer-buttons p {
  clear: both;
  @include margin(0);
}

#suggested-topics {
  clear: left;
  @include padding(20px 10px 15px 10px);
    th.views, td.views, td.activity, th.activity, th.likes, td.likes {
    display: none;
    }

   a.badge-category, a.badge-category-parent {
    font-size: 0.714em;
    vertical-align: top;
    }
}



span.post-count {
  background: $primary;
  color: $secondary;
  opacity: .8;
}


#topic-footer-buttons {
  .btn {
    margin-bottom: 5px;
    @include margin-right(10px);
    .fa-star {@include margin-right(5px);}
  }
}

#topic-title {
  z-index: 1000;
  @include margin(0 0 0 0 !important);
  @include padding(15px 10px 15px 10px);
}

.topic-post {
  &.moderator {
    background-color: dark-light-diff($highlight, $secondary, 70%, -80%);
  }
}

.quote-button.visible {
  display: block;
}

iframe {
  max-width: 100%;
}

.extra-info {
  display: none;
}

.open>.dropdown-menu {
  display: block;
}

.dropdown-menu li  {
  @include margin(5px 0);
  .fa {
    @include float(left);
    @include margin-right(5px);
    padding-top: 1px;
  }
}

.btn-group {
  margin-top: 25px;
  position: relative;
}

.dropdown-toggle {
  @include float(left);
  position: relative;
}

#share-link {
  width: 290px;
  @include left(auto);
  @include right(4px);
}

#selected-posts {
  @include float(left);
  width: 97%;
  @include padding-left(3%);
  background-color: dark-light-diff($tertiary, $secondary, 90%, -40%);
  .btn {
    margin-bottom: 10px;
    color: $secondary;
    background: scale-color($tertiary, $lightness: 50%);
    clear: both;
  }
  p {
    clear: both;
  }
}

// hide the full set of selection buttons on mobile
.select-posts button { display: none; }

// unhide the simple "select just this post" button
button.select-post {
  display: inline-block;
  position: absolute;
  z-index: 401; // 400 is the reply-to tab
  @include left(200px);
  background-color: scale-color($tertiary, $lightness: 50%);
  color: $secondary;
  @include padding(5px);
}


.post-select {
  @include float(right);
  @include margin-right(20px);
  margin-top: -20px;
}



.deleted {
  background-color: dark-light-diff(rgba($danger,.7), $secondary, 50%, -60%);
}

#show-topic-admin {
  color: scale-color($primary, $lightness: 50%);
  @include right(0);
  @include border-right(0);
  @include padding-right(4px);
  @include padding-left(5px);
}

.deleted-user-avatar {
  font-size: 2.571em;
}

span.btn-text {display: none;}

blockquote {
  clear:both;
  /* leave browser defaults for top and bottom here */
  @include margin-left(0);
  @include margin-right(0);
}

.gutter { display: none; }

.posts-wrapper {  position: relative; }

.topic-body.highlighted {
  background-color: scale-color($tertiary, $lightness: 75%);
}

span.highlighted {
  background-color: scale-color($highlight, $lightness: 70%);
}

.topic-avatar {
  @include float(left);
  position: relative;
  z-index:999; /* must render on top of topic-body + topic-meta-data, otherwise not tappable */
}

.topic-meta-data {
  white-space: nowrap;
  position: absolute;
  width: 100%;
  @include left(0px);
  .names {
    @include margin(5px 0 0 5px);
    line-height: 17px;
    @include padding-left(60px);
    span {
      display: block;
    }
  }
  .post-info {
    @include float(right);
    font-size: 0.929em;
    @include margin(4px 10px 0 0);
    .edits { @include margin-right(5px); }
  }
}

.username.new-user a {
  color: scale-color($primary, $lightness: 70%);
}

.user-title {
  color: #aaa;
  padding-top: 2px;
  overflow: hidden;
  @include margin-right(50px);
}

.read-state {
  display: none;
}
