.upload-selector {
  input[type="text"]{
    width: 520px;
  }
  input[type="file"] {
    font-size: 1em;
    line-height: 18px;
  }
  .description {
    color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%));
  }
}

.uploaded-image-preview {
  height: 150px;
}
