// styles that apply to the user page
@import "../common/foundation/variables";
@import "../common/foundation/mixins";

.user-preferences {
  .control-group {
    // border-bottom: 1px solid #e5e5e5;
    padding: 8px 36px 8px 8px;
  }
  .control-label {
    font-weight: bold;
  }
  textarea {
    width: 530px;
    height: 100px;
  }
  .static {
    color: $primary_text_color;
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
  }
  .instructions {
    color: $secondary_text_color;
    margin-top: 5px;
  }
  .category-controls {
    padding-top: 8px;
  }
  .avatar {
    margin-left: 3px;
  }
  .instructions a[href] {
    color: $secondary_text_color;
  }
  .warning {
    @include border-radius-all(6px);
    background-color: $warning_background_color;
    padding: 5px 8px;
    color: $primary_text_color;
    width: 520px;
  }

  .other .controls-dropdown {
    margin-top: 10px;
    padding-left: 5px;
    select {
      width: 280px;
    }
  }

  .save-button {
    width: 100%;
    overflow: auto;
    max-width: 200px;
    button {
      display: block;
    }
  }

  .checkbox-label {
    overflow: auto;
    display: block;
    width: 100%;
    padding: 5px 8px;
  }

  #profile-background-preview {
    height: 150px;
    background-position: center center;
    background-size: cover;
    background-color: $secondary_background_color;
  }

  .bio-composer #wmd-quote-post {
    display: none;
  }
}

#about-me {
  padding: 4px;
  margin: -4px;
  display: block;
  width: 220px;
  min-height: 200px;
  background-color: lighten($secondary_background_color, 76%);
  color: $primary_text_color;
  word-wrap: break-word;
}

.user-navigation {

  h3 {
    color: lighten($primary_text_color, 35%);
    padding-left: 5px;
  }
  .nav-stacked {
    border-left: 0;
    border-right: 0;
  }
  .map {
    height: 50px;
  }
  .avatar {
    float: left;
    width: 45px;
    background-color: $primary_background_color;
  }

  nav.buttons {
    width: 180px;
    padding: 0;
    .btn {
      width: 100%;
      margin-bottom: 5px;
      @include box-sizing(border-box);
    }
  }
  h2 {
    a {
      font-size: 14px;
      color: $secondary_text_color;
      cursor: pointer;
    }
  }
}

.user-main {
  clear: both;
  margin-bottom: 50px;

  .about {
    background-color: $secondary_background_color;
    background-position: center center;
    background-size: cover;
    margin-bottom: 10px;
    overflow: hidden;
    color: $primary_text_color;

    .details {
      text-align: center;
      padding: 10px;

      h1 {
        font-size: 30px;
        font-weight: normal;
      }

      h2 {
        font-size: 20px;
        margin-bottom: 6px;
        font-weight: normal;
      }

      a[href] {
        color: $primary_text_color;
      }

      img.avatar {
        border: 3px solid $primary_border_color;
        margin-bottom: 4px;
      }

      .secondary {
        background-color: $secondary_background_color;
        text-align: left;
        padding: 0 10px;

        dd {
          color: $tertiary_text_color;
          margin: 0 0 7px 0;
        }
        dt {
          color: $secondary_text_color;
          margin: 0;
        }
      }
    }

    .controls {
      background-color: lighten($secondary_background_color, 60%);
      margin-top: 0;
      padding: 10px 10px 0 10px;

      .btn {
        margin-bottom: 10px;
        float: none;
      }
    }
  }

  .about.collapsed-info {
    .controls {
      margin-top: 0;
    }

    .details {
      .secondary { display: none; }
      .bio { display: none; }

      .primary {
        width: 100%;
        text-align: left;
        margin-top: 4px;

        .avatar {
          float: left;
          margin-right: 10px;
          border: 2px solid $tertiary_border_color;
          width: 45px;
          height: 45px;
        }

        h1 {
          margin:0;
          font-size: 20px;
          line-height: 22px;
        }

        h2 {
          font-size: 17px;
          line-height: 16px;
          margin-top: 4px;
        }
      }
    }
  }

  .user-stream {
    .excerpt {
      margin: 5px 0;
      font-size: 13px;
      word-wrap: break-word;
      color: lighten($primary_text_color, 30%);
    }
    .item.moderator-action {
      background-color: $emphasis_background_color;
    }
    .item.deleted {
      opacity: 0.8;
      background-color: $warning_background_color;
    }
    .item.hidden {
      display: block;
      opacity: 0.4;
    }
    .item {
      padding: 10px 8px;
      background-color: $primary_background_color;
      border-bottom: 1px solid $primary_border_color;
    }
    .type {
      color: lighten($primary_text_color, 40%);
    }
    span.name {
      color: lighten($primary_text_color, 40%);
    }
    .time {
      display: block;
      float: right;
      color: $secondary_text_color;
      margin-right: 8px;
      font-size: 11px;
    }
    .avatar-link {
      float: left;
      margin-right: 10px;
    }
    .title {
      display: block;
      margin-bottom: 4px;
      font-size: 14px;
    }
    .edit-reason {
      background-color: $highlight_background_color;
      padding: 3px 5px 5px 5px;
    }
  }
}

// styling of bottom section
.user-stream .child-actions {
  margin-top: 8px;
  .avatar-link {
    float: none;
  }
  .fa {
    width: 15px;
    display: inline-block;
    color: lighten($primary_text_color, 35%);
  }
  .avatar-wrapper {
    border: none;
  }
  .avatar-link {
    margin-right: 3px;

  }
}

.avatar-selector {
  label {
    display: inline-block;
    margin-right: 10px;
  }
  #avatar-input {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .avatar {
    margin: 5px 10px 5px 0;
  }
}