<div id='simple-container'>
  <%if flash[:error]%>
    <div class='invite-error'>
      <div class="error-image">
        <img src="/images/crying-face.svg" alt="crying-face emoji">
      </div>
      <div class="error-info">
        <%=flash[:error].html_safe%>
      </div>
    </div>
  <%end%>
</div>
