<a href="/admin/flags/active" class="flagged-posts-link"><i class='fa fa-flag'></i>{{i18n flags_title}}</a>
{{#if flaggedPostsCount}}
  <a href='/admin/flags/active' title='{{i18n notifications.total_flagged}}' class='badge-notification flagged-posts'>{{flaggedPostsCount}}</a>
{{/if}}
