<tr class="admin-list-item">
  <td class="col first">{{@template.name}}</td>
  <td class="col action">
    <DButton
      @title="admin.form_templates.list_table.actions.view"
      @icon="far-eye"
      @action={{this.viewTemplate}}
    />
    <DButton
      @title="admin.form_templates.list_table.actions.edit"
      @icon="pencil-alt"
    />
    <DButton
      @title="admin.form_templates.list_table.actions.delete"
      @icon="far-trash-alt"
      @class="btn-danger"
    />
  </td>
</tr>
