<% if @policy_email_frequencies %>
  <p>
    <label><%= t 'unsubscribe.policy_emails.select_title' %></label>
    <%=
      select_tag :policy_email_frequency,
      options_for_select(@policy_email_frequencies, @current_policy_email_frequency),
      class: 'combobox'
    %>
  </p>
<% end %>
