<div class="review-container">
  <a class="btn btn-flat back-button" href="#">
    <svg class="fa d-icon d-icon-chevron-left svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#chevron-left"></use></svg>
    Back to queue
  </a>

  <div class="review-item">
    <div class="review-item__primary-content">
      <div class="review-item__flag-summary">
        <div class="review-item__header">
          <div class="review-item__label-badges">
            <span class="review-item__flag-label">Flagged as</span>

            <div class="review-item__flag-badges">
              <span class="review-item__flag-reason --spam">
                <span class="review-item__flag-count --spam">
                2
                </span>
                spam
              </span>
              <span class="review-item__flag-reason --offtopic">
                <span class="review-item__flag-count --offtopic">
                1
                </span>
                off-topic
              </span>
              <span class="review-item__flag-reason --illegal">
                <span class="review-item__flag-count --illegal">
                1
                </span>
                illegal
              </span>
              <span class="review-item__flag-reason --inappropriate">
                <span class="review-item__flag-count --inappropriate">
                1
                </span>
                inappropriate
              </span>
              <!-- <span class="review-item__flag-reason --other">
                <span class="review-item__flag-count --other">
                123
                </span>
                something else
              </span>
              <span class="review-item__flag-reason --custom">
                <span class="review-item__flag-count --custom">
                1
                </span>
                custom flag
              </span> -->
            </div>
          </div>

          <div class="review-item__status --pending">
            pending
          </div>
        </div>
    
        <div class="review-item__meta">
          <div class="review-item__meta-post-topic">
            <span class="review-item__meta-label">Posted in</span>

            <div class="review-item__meta-topic-title">
              Shredded love catena cibus fringed hatred

              
            </div>
          </div>
          <div>Flagged by <strong>user123</strong></div>
        </div>
      
        <div class="review-item__post">
          <div class="review-item__post-content">
            <p>This is scam! Donations to make a bottle labeled Brandy...</p>
            <button class="review-item__toggle-post">Show more</button>
          </div>
        </div>
      </div>

      <div class="review-item__insights">
        <h3 class="review-item__section-title">Insights</h3>
        <ul class="review-item__insights-list">
          <li><strong>AI Confidence:</strong> 85% spam probability</li>
          <li><strong>Flag volume:</strong> Flagged by 3 unique users</li>
          <li><strong>Similar past posts:</strong> 3 flagged in the past 6 months</li>
          <li><strong>Mod actions:</strong> Suspended (1x), Silenced (1x)</li>
          <li><strong>User activity:</strong> New account, low trust level</li>
          <li><strong>Solution marked:</strong> This topic has a solution</li>
          <li><strong>Visibility:</strong> This topic is unlisted...</li>
        </ul>
      </div>
    </div>

    <div class="review-item__aside">
      <div class="review-item__moderator-actions">
        <h3 class="review-item__aside-title">Moderator actions</h3>
        <label>
          What do you want to do with the post?
          <select>
            <option>Delete post</option>
          </select>
        </label>
        <label>
          What do you want to do with the user?
          <select>
            <option>Do nothing</option>
          </select>
        </label>
        <button class="btn btn-primary">Confirm</button>
        <button class="btn btn-secondary">Assign to a moderator</button>
        <button class="btn btn-secondary">Copy link</button>
        <button class="btn btn-secondary">View source</button>
      </div>

      <div class="review-item__resources">
        <h3 class="review-item__aside-title">Need help?</h3>
      </div>
    </div>
  </div>
</div>
