<% if params[:merge].present? %>
  <div class="field-unit__label">
    <%= f.label 'Code to merge' %>
  </div>
  <div class="field-unit__field">
    <%= f.select :merge_tag_id, nested_dropdown(
      AnnotatorStore::Tag.where(creator_id: current_user.id).arrange(order: 'name')
    ), include_blank: true %>
    <div>
      <span style="color:#f04855; margin-bottom:4px;">Warning! This action cannot be reversed.</span>
      All annotations of the selected code will be assigned to the "<%= resource.name %>" code and the selected code
      will be deleted.
    </div>
  </div>
<% end %>
