<% if params[:merge].present? %>
  <div class="field-unit__label">
    <%= f.label 'Code to merge' %>
  </div>
  <div class="field-unit__field">
    <% tags = if current_user.admin?
                AnnotatorStore::Tag.all
              else
                AnnotatorStore::Tag.where(creator_id: field.resource.persisted? ? field.resource.creator_id : current_user.id)
              end
    %>

    <%= f.select :merge_tag_id, nested_dropdown_with_counts(tags.with_annotations_count.arrange(order: 'LOWER(name)')), include_blank: true %>
    <div>
      <span style="color:#f04855; margin-bottom:4px;">Warning! This action cannot be undone.</span>
      All annotations of the selected code will be assigned to the "<%= resource.name %>" code and the selected code
      will be deleted.
    </div>
  </div>
<% end %>
