<StyleguideExample @title="spinner - small">
  <div class="spinner small"></div>
</StyleguideExample>

<StyleguideExample @title="spinner - regular">
  <div class="spinner"></div>
</StyleguideExample>