<div
  data-lightbox-screen-reader-announcer
  class="d-lightbox__content__screen-reader-announcer"
  tabindex="-1"
>
  <h2
    data-lightbox-screen-reader-announcer-title
    aria-live="polite"
    aria-level="2"
    aria-atomic="true"
    class="d-lightbox__content__screen-reader-announcer__title"
    id={{@titleElementId}}
  >
    {{i18n
      "experimental_lightbox.screen_reader_image_title"
      current=@counterIndex
      total=@totalItemCount
      title=@currentItem.title
    }}
  </h2>
</div>
