{{component headerComponent
  tabindex=tabindex
  isFocused=isFocused
  isExpanded=isExpanded
  computedContent=headerComputedContent
  onDeselect=(action "onDeselect")
  onToggle=(action "onToggle")
  onFilter=(action "onFilter")
  onClear=(action "onClear")
  options=headerComponentOptions
  shouldDisplayFilter=shouldDisplayFilter
}}

<div class="select-kit-body">
  {{component filterComponent
    onFilter=(action "onFilter")
    icon=filterIcon
    shouldDisplayFilter=shouldDisplayFilter
    isFocused=isFocused
    placeholder=(i18n filterPlaceholder)
    filter=filter
  }}

  {{#if renderedBodyOnce}}
    {{component collectionComponent
      collectionHeader=collectionHeader
      hasSelection=hasSelection
      noneRowComputedContent=noneRowComputedContent
      createRowComputedContent=createRowComputedContent
      filteredComputedContent=filteredComputedContent
      rowComponent=rowComponent
      noneRowComponent=noneRowComponent
      createRowComponent=createRowComponent
      templateForRow=templateForRow
      templateForNoneRow=templateForNoneRow
      templateForCreateRow=templateForCreateRow
      onClear=(action "onClear")
      onSelect=(action "onSelect")
      onHighlight=(action "onHighlight")
      onCreate=(action "onCreate")
      noContentLabel=noContentLabel
      highlightedValue=highlightedValue
      computedValue=computedValue
      shouldDisplayNoContentRow=shouldDisplayNoContentRow
      rowComponentOptions=rowComponentOptions
    }}
  {{/if}}
</div>

<div class="select-kit-wrapper"></div>
