{{topic-notifications-options
  value=notificationLevel
  topic=topic
  onChange=(action "changeTopicNotificationLevel")
  options=(hash
    showFullTitle=showFullTitle
    placement=placement
  )
}}

{{#if appendReason}}
  <p class="reason">
    {{html-safe topic.details.notificationReasonText}}
  </p>
{{/if}}
