{{topic-notifications-options
  value=notificationLevel
  topic=topic
  onChange=(action "changeTopicNotificationLevel")
  options=(hash
    showFullTitle=showFullTitle
  )
}}

{{#if appendReason}}
  <p class="reason">
    {{{topic.details.notificationReasonText}}}
  </p>
{{/if}}
