<section class="field boolean-field">
  <div class="control-group">
    {{fields/da-field-label label=label field=field}}

    <div class="controls">
      {{input
        type="checkbox"
        checked=field.metadata.value
        input=(action (mut field.metadata.value) value="target.checked")
        disabled=field.isDisabled
      }}

      {{fields/da-field-description description=description}}
    </div>
  </div>
</section>