<section class="field category-field">
  <div class="control-group">
    {{fields/da-field-label label=label}}

    <div class="controls">
      {{category-chooser
        value=field.metadata.category_id
        onChange=(action (mut field.metadata.category_id))
        options=(hash clearable=true disabled=isDisabled)
      }}

      {{fields/da-field-description description=description}}
    </div>
  </div>
</section>
