<section class="field category-field">
  <div class="control-group">
    {{fields/da-field-label label=label field=field}}

    <div class="controls">
      {{category-chooser
        value=field.metadata.value
        onChange=(action (mut field.metadata.value))
        options=(hash clearable=true disabled=field.isDisabled)
      }}

      {{fields/da-field-description description=description}}
    </div>
  </div>
</section>