<section class="field category-notification-level-field">
  <div class="control-group">
    {{fields/da-field-label label=label field=field}}

    <div class="controls">
      {{category-notifications-button
        value=field.metadata.value
        onChange=(action (mut field.metadata.value))
      }}

      {{fields/da-field-description description=description}}
    </div>
  </div>
</section>