<div class="field control-group">
  {{fields/da-field-label label=label field=field}}

  <div class="controls">
    {{combo-box
      value=field.metadata.value
      content=replacedContent
      onChange=(action (mut field.metadata.value))
      options=(hash allowAny=false disabled=field.isDisabled)
    }}

    {{fields/da-field-description description=description}}
  </div>
</div>