<section class="field date-field">
  <div class="control-group">
    {{fields/da-field-label label=label}}

    <div class="controls">
      <div class="controls-row">
        {{input
          type="datetime-local"
          value=(readonly localTime)
          input=(action "convertToUniversalTime" value="target.value")
          disabled=isDisabled
        }}

        {{#if field.metadata.value}}
          {{d-button
            icon="trash-alt"
            action=(action (mut field.metadata.value) value=null)
            disabled=isDisabled
          }}
        {{/if}}
      </div>

      {{fields/da-field-description description=description}}
    </div>
  </div>
</section>
