<section class="field tags-field">
  <div class="control-group">
    {{fields/da-field-label label=label}}

    <div class="controls">
      {{tag-chooser
        tags=field.metadata.tags
        onChange=(action (mut field.metadata.tags))
        options=(hash
          allowAny=false
        )
      }}

      {{fields/da-field-description description=description}}
    </div>
  </div>
</section>
