<section class="field text-field">
  <div class="control-group">
    {{fields/da-field-label label=label}}

    <div class="controls">
      {{input
        value=field.metadata.text
        input=(action (mut field.metadata.text) value="target.value")
        disabled=isDisabled
      }}

      {{fields/da-field-description description=description}}
    </div>
  </div>
</section>
