<section class="field text-list-field">
  <div class="control-group">
    {{fields/da-field-label label=label field=field}}

    <div class="controls">
      {{multi-select
        value=field.metadata.value
        content=field.metadata.value
        onChange=(action (mut field.metadata.value))
        nameProperty=null
        valueProperty=null
        options=(hash allowAny=true disabled=field.isDisabled)
      }}

      {{fields/da-field-description description=description}}
    </div>
  </div>
</section>