<section class="field user-field">
  <div class="control-group">
    {{fields/da-field-label label=label}}

    <div class="controls">
      {{user-chooser
        value=field.metadata.value
        onChange=(action "onChangeUsername")
        options=(hash
          maximum=1
          excludeCurrentUser=false
          disabled=isDisabled
        )
      }}
    </div>
  </div>
</section>
