<div class="control-group private-messages">
  <label class="control-label">{{i18n "user.private_messages"}}</label>
  <div class="controls">
    <PreferenceCheckbox
      @labelKey="user.allow_private_messages"
      @checked={{@model.user_option.allow_private_messages}}
    />
  </div>
</div>