export DISCOURSE_DEV_DB="discourse_wow_development"
export DISCOURSE_BLIZZARD_REGION=US
export DISCOURSE_BLIZZARD_LOCALE=en_us
# Check cloud-hosting for other possible franchise values
export DISCOURSE_BLIZZARD_FRANCHISE=overwatch
export DISCOURSE_BLIZZARD_SEED_CONTENT=true
export DISCOURSE_BLIZZARD_ORCHESTRATION_FIXTURES=true

export DISCOURSE_BNET_ACCOUNT_PATH="oauth/userinfo"
export DISCOURSE_BLIZZARD_FOOTER_SUPPORTED_REGIONS=us
export DISCOURSE_BLIZZARD_FOOTER_SUPPORTED_LOCALES=en-us,es-mx,pt-br
export DISCOURSE_BLIZZARD_FOOTER_SUPPORTED_REGION_LOCALES="us: en-us|es-mx|pt-br"
export DISCOURSE_BLIZZARD_FOOTER_EXTERNAL_URLS='{"en-us": "https://app-overwatch.blz-qa-us.discourse.cloud/", "es-mx": "https://app-overwatch-mx.blz-qa-us.discourse.cloud/", "pt-br": "https://app-overwatch-br.blz-qa-us.discourse.cloud/" }'

export DISCOURSE_BLIZZARD_NAV_FOOTER_SUPPORTED_REGIONS='["us","eu"]'
export DISCOURSE_BLIZZARD_NAV_FOOTER_SUPPORTED_LOCALES='["en-us","es-mx","pt-br","en-gb"]'
export DISCOURSE_BLIZZARD_NAV_FOOTER_SUPPORTED_REGION_LOCALES='{"us": ["en-us","es-mx","pt-br"], "eu": ["en-gb"]}'
export DISCOURSE_BLIZZARD_NAV_FOOTER_EXTERNAL_URLS='{"en-us": "https://app-overwatch.blz-qa-us.discourse.cloud/", "es-mx": "https://app-overwatch-mx.blz-qa-us.discourse.cloud/", "pt-br": "https://app-overwatch-br.blz-qa-us.discourse.cloud/" }'
export DISCOURSE_BLIZZARD_NAV_CONTENT="ow2"
export DISCOURSE_BLIZZARD_NAV_LINKS_BASE_URL="https://overwatch.blizzard.com"
export DISCOURSE_BLIZZARD_SELECT_LANG=true
export DISCOURSE_BLIZZARD_DEVELOPER_MOCK_AUTHENTICATION=true

# The following expects your local rails root URI -- server and port:
export DISCOURSE_BLIZZARD_ORCHESTRATION_URL="http://localhost:3000/oauth"
export DISCOURSE_BNET_AUTHORIZE_URL="http://localhost:3000/oauth/authorize"
export DISCOURSE_BNET_TOKEN_URL="http://localhost:3000/oauth/token"
export DISCOURSE_BNET_API_URL="http://localhost:3000"
export DISCOURSE_HOSTNAME=localhost
export DISCOURSE_BNET_KEY=randomkey
export DISCOURSE_BNET_SECRET=randomsecret