{
  "extends": "eslint-config-discourse",
  "rules": {
    "discourse-ember/global-ember": 2,
    "eol-last": 2,
    "no-restricted-globals": 0
  },
  "globals": {
    "_": "off",
    "acceptance": "off",
    "asyncRender": "off",
    "bootbox": "off",
    "click": "off",
    "count": "off",
    "currentPath": "off",
    "currentRouteName": "off",
    "currentURL": "off",
    "currentUser": "off",
    "Discourse": "off",
    "Ember": "off",
    "exists": "off",
    "fillIn": "off",
    "find": "off",
    "getSettledState": "off",
    "globalThis": "readonly",
    "hasModule": "off",
    "invisible": "off",
    "jQuery": "off",
    "keyboardHelper": "off",
    "keyEvent": "off",
    "moduleFor": "off",
    "moduleForComponent": "off",
    "pauseTest": "off",
    "Pretender": "off",
    "query": "off",
    "queryAll": "off",
    "QUnit": "off",
    "sandbox": "off",
    "sinon": "off",
    "test": "off",
    "testDone": "off",
    "testStart": "off",
    "triggerEvent": "off",
    "visible": "off",
    "visit": "off",
    "waitUntil": "off"
  }
}
