{
  "extends": "eslint-config-discourse",
  "rules": {
    "discourse-ember/global-ember": 2
  },
  "globals": {
    "moduleFor": "off",
    "moduleForComponent": "off",
    "testStart": "off",
    "testDone": "off",
    "sinon": "off",
    "currentURL": "off",
    "invisible": "off",
    "visible": "off",
    "count": "off",
  }
}
