# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Treat email fixtures as binary files so CRLF are not converted to LF.
*.eml binary

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.yml text

# Custom for Visual Studio, very unlikely, but lets keep it
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
