[submodule "plugins/discourse-solved"]
	path = plugins/discourse-solved
	url = git@github.com:discourse/discourse-solved.git
[submodule "plugins/discourse-sentry"]
	path = plugins/discourse-sentry
	url = git@github.com:debtcollective/discourse-sentry.git
