*.gem
*.rbc
.bundle
/.idea
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.swp
.DS_Store

.rubocop-https---raw-githubusercontent-com-discourse-discourse-master--rubocop-yml
