###
# .procfile example
##
# Move this file to .procfile and change the values
# below to suit your needs.
###

# This specifies how many of each task to run
concurrency: web=2,sidekiq=1

# Define the port range to use, must be in multiples of 1000
port: 3000
