<table width="100%" class="digest-header logo-header" dir="<%= rtl? ? 'rtl' : 'ltr' %>" style="border-spacing:0;padding:0;">
  <tr>
    <td></td>
    <td width="650" style="padding:0;">
      <%= raw(t 'user_notifications.digest.custom.html.header') %>
    </td>
    <td></td>
  </tr>
</table>