<%= replace_plugin_html('server:custom-homepage-crawler-view') do %>
  <ul class="crawler-view-anon-menu">
  <% anonymous_top_menu_items.each_with_index do |item, index| %>
    <li>
      <a href='<%= Discourse.base_url %>/<%= item %>'>
        <%= I18n.t("js.filters.#{item}.title") %>
      </a>
    </li>
  <% end %>
  </ul>
<% end %>
