<header class="b-header">
  <div class="wrap">
    <div class="contents">
      <div class="title">
        <a href="<%= SiteSetting.brand_url %>">
          <img src="<%= SiteSetting.brand_logo_url %>" alt="<%= SiteSetting.brand_name %>" />
        </a>
      </div>
    </div>
  </div>
</header>
