{{body-class (concat "static-" this.model.path)}}

<section class="container">
  <WatchRead>
    <div class="contents clearfix body-page">
      <PluginOutlet @name="above-static" />
      {{html-safe this.model.html}}
      <PluginOutlet @name="below-static" />
    </div>
  </WatchRead>
</section>