<DSection @bodyClass="static-{{this.model.path}}" @class="container">
  <WatchRead>
    <div class="contents clearfix body-page">
      <PluginOutlet
        @name="above-static"
        @tagName="span"
        @connectorTagName="div"
      />

      {{html-safe this.model.html}}

      <PluginOutlet
        @name="below-static"
        @connectorTagName="div"
      />
    </div>
  </WatchRead>
</DSection>
