<DSection @bodyClass="static-{{this.model.path}}" @class="container">
  <WatchRead>
    <div class="contents clearfix body-page">
      <PluginOutlet @name="above-static" />
      {{html-safe this.model.html}}
      <PluginOutlet @name="below-static" />
    </div>
  </WatchRead>
</DSection>