<DSection @bodyClass="static-{{this.model.path}}" @class="container">
  <WatchRead>
    <div class="contents clearfix body-page">
      {{html-safe this.model.html}}
    </div>
  </WatchRead>
</DSection>