<DSection @bodyClass="static-{{this.model.path}}" @class="container">
  <WatchRead>
    <div class="contents clearfix body-page">
      <span>
        <PluginOutlet @name="above-static" @connectorTagName="div" />
      </span>

      {{html-safe this.model.html}}

      <PluginOutlet @name="below-static" @connectorTagName="div" />
    </div>
  </WatchRead>
</DSection>