<DSection @pageClass="user-preferences" @class="user-secondary-navigation">
</DSection>

<section class="user-content user-preferences">
  <PluginOutlet @name="above-user-preferences" @tagName="span" @connectorTagName="div" @args={{hash model=this.model}} />

  <form class="form-vertical">
    {{outlet}}
  </form>

</section>
