<DSection @bodyClass="static-privacy" @class="container">
  <div class="contents clearfix body-page">
    <PluginOutlet @name="above-static" />
    {{html-safe this.model.html}}
    <PluginOutlet @name="below-static" />
  </div>
</DSection>