<DSection @bodyClass="static-{{this.model.path}}" @class="container">
  <div class="contents clearfix body-page">
    <span>
      <PluginOutlet
        @name="above-static"
        @connectorTagName="div"
        @outletArgs={{hash model=this.model}}
      />
    </span>

    {{html-safe this.model.html}}

    <PluginOutlet
      @name="below-static"
      @connectorTagName="div"
      @outletArgs={{hash model=this.model}}
    />
  </div>
</DSection>