{{#if site.mobileView}}
  <div class="card-cloak hidden"></div>
{{/if}}

{{user-card-contents
  currentPath=router._router.currentPath
  topic=topic.model
  showUser=(action "showUser")
  togglePosts=(action "togglePosts")
  createNewMessageViaParams=(route-action "createNewMessageViaParams")}}

{{group-card-contents
  currentPath=router._router.currentPath
  topic=topic.model
  showUser=(action "showUser")
  showGroup=(action "showGroup")
  createNewMessageViaParams=(route-action "createNewMessageViaParams")}}
