{{#if this.can_see_invite_details}}
  <DSection @pageClass="user-invites" />

  <div class="user-navigation user-navigation-secondary">
    <HorizontalOverflowNav @ariaLabel="User secondary - invites">
      <NavItem
        @route="userInvited.show"
        @routeParam="pending"
        @i18nLabel={{this.pendingLabel}}
      />
      <NavItem
        @route="userInvited.show"
        @routeParam="expired"
        @i18nLabel={{this.expiredLabel}}
      />
      <NavItem
        @route="userInvited.show"
        @routeParam="redeemed"
        @i18nLabel={{this.redeemedLabel}}
      />
    </HorizontalOverflowNav>
  </div>
{{/if}}

{{outlet}}
