{{#if this.field.name}}
  <label class="control-label">
    {{html-safe this.field.name}} {{#if this.field.required}}<span class="required">*</span>{{/if}}
  </label>
{{/if}}

<div class="controls">
  <label class="control-label checkbox-label">
    {{input id=(concat "user-" this.elementId) checked=this.value type="checkbox"}}
    <span>
      {{html-safe this.field.description}} {{#unless this.field.name}}{{#if this.field.required}}<span class="required">*</span>{{/if}}{{/unless}}
    </span>
  </label>
</div>
