{{#if this.chatStateManager.isDrawerExpanded}}
  <div class="chat-drawer-header__left-actions">
    <div class="chat-drawer-header__top-line">
      <LinkTo
        title={{i18n "chat.return_to_list"}}
        class="chat-drawer-header__return-to-channels-btn"
        @route="chat"
      >
        {{d-icon "chevron-left"}}
      </LinkTo>
    </div>
  </div>
{{/if}}