<ChatDrawer::Header>
  <ChatDrawer::BackButton />

  <span class="chat-drawer-header__title">
    <div class="chat-drawer-header__top-line">
      {{i18n "chat.direct_message_creator.title"}}
    </div>
  </span>

  <ChatDrawer::RightActions @drawerActions={{@drawerActions}} />
</ChatDrawer::Header>

{{#if this.chatStateManager.isDrawerExpanded}}
  <div class="chat-drawer-content">
    <ChatDraftChannelScreen />
  </div>
{{/if}}