<div class="alert alert-info">
  Username, name, email, profile picture, profile background and user card background can be changed on the
  <a id="link-edgeryders-communities-settings" href="" target="_blank">
    Edgeryders Communities
  </a> site.

</div>


<script type="text/javascript">
  var a = document.getElementById('link-edgeryders-communities-settings');
  a.href = 'https://communities.edgeryders.eu/u/' + Discourse.User.currentProp('username') + '/preferences/account';
</script>
