<div class="poll-voters">
  <ul class="poll-voters-list">
    {{#each @voters as |user|}}
      <li>
        {{avatar user imageSize="tiny"}}
      </li>
    {{/each}}
  </ul>
  {{#if this.showMore}}
    {{#if @loading}}
      <div class="spinner small"></div>
    {{else}}
      <button
        onclick={{action @fetchVoters @optionId}}
        class="poll-voters-toggle-expand"
      >
        {{d-icon "chevron-down"}}
      </button>
    {{/if}}
  {{/if}}
</div>