<div class="poll-results-chart">
  <canvas
    {{did-insert this.drawPie}}
    id={{this.canvasId}}
    class="poll-results-canvas"
  ></canvas>
  <ul id={{this.legendId}} class="pie-chart-legends">
  </ul>
</div>