{{#if this.renderedContent.length}}
  <ul class="select-kit-collection" aria-live="polite" role="menu">
    {{#each this.renderedContent as |item index|}}
      {{component
        (component-for-row this.collection.identifier item this.selectKit)
        index=index
        item=item
        value=this.value
        selectKit=this.selectKit
      }}

      {{#if (eq item this.renderedContent.lastObject)}}
        <div
          class="select-kit-collection__bottom-tracker"
          {{track-node-visibility this.bottomReached}}
        ></div>
      {{/if}}
    {{/each}}
  </ul>
{{/if}}