<div class="select-kit-header-wrapper">
  {{#each this.icons as |icon|}} {{d-icon icon}} {{/each}}

  {{component
    this.selectKit.options.selectedNameComponent
    item=this.selectedContent
    selectKit=this.selectKit
  }}
</div>