<div class="auto-close-fields">
  <div>
    <i class="fa fa-clock-o"></i>
    {{label}}
    {{text-field value=autoCloseTime}}
    {{i18n composer.auto_close_units}}
  </div>
  <div class="examples">
    {{i18n composer.auto_close_examples}}
  </div>
</div>
