{{category-drop category=firstCategory categories=parentCategories}}

{{#if childCategories}}
  {{category-drop category=secondCategory parentCategory=firstCategory categories=childCategories subCategory="true" noSubcategories=noSubcategories}}
{{/if}}

{{plugin-outlet "bread-crumbs-right" tagName="li"}}

<div class='clear'></div>
