{{category-drop
  category=firstCategory
  categories=parentCategoriesSorted
  countSubcategories=true}}

{{#if childCategories}}
  {{category-drop
    category=secondCategory
    parentCategory=firstCategory
    categories=childCategories
    subCategory=true
    noSubcategories=noSubcategories}}
{{/if}}

{{#if siteSettings.tagging_enabled}}
  {{tag-drop firstCategory=firstCategory secondCategory=secondCategory tagId=tagId}}
{{/if}}

{{plugin-outlet name="bread-crumbs-right" connectorTagName="li"}}

<div class='clear'></div>
