<li>
  {{category-drop category=firstCategory categories=parentCategories}}
</li>

{{#if childCategories}}
  <li>
    {{category-drop category=secondCategory parentCategory=firstCategory categories=childCategories subCategory="true" noSubcategories=noSubcategories}}
  </li>
{{/if}}

<div class='clear'></div>
