{{category-drop category=firstCategory categories=parentCategories}}

{{#if childCategories}}
  {{category-drop category=secondCategory parentCategory=firstCategory categories=childCategories subCategory="true" noSubcategories=noSubcategories}}
{{/if}}

<div class='clear'></div>
