<a href={{category.url}}>
  {{#if category.read_restricted}}
    {{fa-icon 'lock'}}
  {{/if}}

  <span class="category-name">{{category.name}}</span>

  {{#if category.logo_url}}
    <div>{{cdn-img src=category.logo_url class="category-logo"}}</div>
  {{/if}}
</a>
