<div class="composer-controls">
  {{#if site.mobileView}}
    {{flat-button
      class="toggle-toolbar"
      icon="bars"
      action=toggleToolbar}}
  {{/if}}

  {{flat-button
    class="toggler"
    icon=toggleIcon
    action=toggleComposer
    title=title}}
</div>
