{{#if isEditing}}
  {{d-icon "pencil"}}
{{else}}
  {{composer-actions
    composerModel=model
    options=model.replyOptions
    canWhisper=canWhisper
    action=model.action}}
{{/if}}

<span class="action-title">
  {{actionTitle}}
</span>
