<div class="composer-controls">
  {{#if site.mobileView}}
    {{d-button
      class="btn-default toggle-toolbar"
      icon="bars"
      action=toggleToolbar
    }}
  {{/if}}

  {{d-button
    class="btn-default toggler"
    icon=toggleIcon
    action=toggleComposer
    title=toggleTitle
  }}

  {{#unless site.mobileView}}
    {{d-button
      class="btn-default toggle-fullscreen"
      icon=fullscreenIcon
      action=toggleFullscreen
      title=fullscreenTitle
    }}
  {{/unless}}
</div>
