<li>
{{discourse-categorydrop category=firstCategory categories=parentCategories}}
</li>

{{#if childCategories}}
  <li>
    {{discourse-categorydrop category=secondCategory categories=childCategories subCategory="true"}}
  </li>
{{/if}}

<div class='clear'></div>