<div class="row">
  <div id="banner" {{bind-attr class="overlay"}}>
    <div id="banner-content">
      <div class="close" {{action "dismiss"}}><i class="fa fa-times" title="{{i18n banner.close}}"></i></div>
      {{{banner.html}}}
    </div>
  </div>
</div>
