<li>
{{discourse-categorydrop parentCategory=category categories=parentCategories}}
</li>
<li>
  {{discourse-categorydrop parentCategory=category category=targetCategory categories=childCategories}}
</li>
{{#if parentCategory}}
  <li>
    {{boundCategoryLink category}}
  </li>
{{/if}}

<div class='clear'></div>