<section class="field">
  <p>{{i18n 'category.tags_allowed_tags'}}</p>
  {{tag-chooser
    filterPlaceholder="category.tags_placeholder"
    tags=category.allowed_tags
    everyTag=true
    unlimitedTagCount=true}}

  <p>{{i18n 'category.tags_allowed_tag_groups'}}</p>
  {{tag-group-chooser tagGroups=category.allowed_tag_groups}}
</section>
