<section class="field">
  <label for="category-allowed-tags">{{i18n 'category.tags_allowed_tags'}}</label>
  {{tag-chooser
    id="category-allowed-tags"
    filterPlaceholder="category.tags_placeholder"
    tags=category.allowed_tags
    everyTag=true
    unlimitedTagCount=true}}
    </section>

<section class="field">
  <label for="category-allowed-tag-groups">{{i18n 'category.tags_allowed_tag_groups'}}</label>
  {{tag-group-chooser id="category-allowed-tag-groups" tagGroups=category.allowed_tag_groups}}
</section>
