<section class='field'>
  <label>{{i18n 'category.logo'}}</label>
  {{image-uploader imageUrl=category.logo_url type="category_logo" class="no-repeat"}}
</section>

<section class='field'>
  <label>{{i18n 'category.background_image'}}</label>
  {{image-uploader imageUrl=category.background_url type="category_background"}}
</section>
