<section class="field">
  <p>{{i18n 'category.tags_allowed_tags'}}</p>
  {{tag-chooser placeholderKey="category.tags_placeholder" tags=category.allowed_tags}}

  <p>{{i18n 'category.tags_allowed_tag_groups'}}</p>
  {{tag-group-chooser placeholderKey="category.tag_groups_placeholder" tagGroups=category.allowed_tag_groups}}
</section>
