<div>
  <form action='//google.com/search' id='google-search'>
    <input type="text" name="q" value="{{searchTerm}}">
    <input type='hidden' name="as_sitesearch" value="{{siteUrl}}">
    {{d-button
      class="btn-primary"
      label="search.search_google_button"}}
  </form>
</div>
