{{#if value}}
  {{#d-button class="btn-small group-manage-logs-filter" action="clearFilter" actionParam=type}}
    <span>{{label}}</span>: {{filterText}}
    {{d-icon "times-circle"}}
  {{/d-button}}
{{/if}}
