<span class='groups-info-name'>{{group.displayName}}</span>

{{#if showFullName}}
  <span class='groups-info-full-name'>{{group.full_name}}</span>
{{/if}}

{{#if group.title}}
  <div>
    <span class='groups-info-title'>{{group.title}}</span>
  </div>
{{/if}}
