<div class="ignored-user-list-item">
  <span class="ignored-user-name">{{item}}</span>
  {{d-button class="remove-ignored-user no-text btn-icon" action=(action "removeIgnoredUser" item) icon="times"}}
</div>
