<div class="ignored-user-list-item">
  <span class="ignored-user-name">{{item}}</span>
  <a class="remove-ignored-user no-text btn-icon btn" {{action "removeItem" item}}>{{d-icon "times"}}</a>
</div>
