<div class="ac-wrap clearfix" style="width: 480px;">
  {{#each items as |item|}}
    {{ignored-user-list-item item=item onRemoveItem=(action "removeItem")}}
  {{/each}}

  {{d-button action=(action "newItem") class="btn-default btn-remove-item" icon="plus"}}
</div>
