{{#each buttons as |b|}}
  <button class="btn btn-social {{b.name}}" {{action "externalLogin" b}}>{{b.title}}</button>
{{/each}}

{{#if showLoginWithEmailLink}}
  {{d-button
    action="emailLogin"
    label="email_login.button_label"
    disabled=processingEmailLink
    icon="envelope-o"
    class="login-with-email-button"}}
{{/if}}
