{{#if showNotificationPromptBanner}}
  <div class="row">
    <div class="consent_banner alert alert-info">
      <span>
        {{i18n "user.desktop_notifications.consent_prompt"}}
        {{d-button
          display="link"
          action=(action "turnon")
          label="user.desktop_notifications.enable"
        }}
        .
      </span>
      {{d-button
        icon="times"
        action="dismiss"
        class="btn btn-flat close" title="banner.close"
      }}
    </div>
  </div>
{{/if}}
