{{#if showNotificationPromptBanner}}
  <div class="row">
    <div class="consent_banner alert alert-info">
      <div class="close" {{action "dismiss"}}><i class="fa fa-times d-icon d-icon-times"></i></div>
      {{i18n 'user.desktop_notifications.consent_prompt'}} <a {{action "turnon"}}>{{i18n 'user.desktop_notifications.enable'}}</a>.
    </div>
  </div>
{{/if}}
