{{#if showNotificationPromptBanner}}
  <div class="row">
    <div class="consent_banner alert alert-info">
      {{d-button icon="times" action="dismiss" class="btn btn-flat close" title="banner.close"}}
      {{i18n 'user.desktop_notifications.consent_prompt'}} <a {{action "turnon"}}>{{i18n 'user.desktop_notifications.enable'}}</a>.
    </div>
  </div>
{{/if}}
