{{#if showPWAInstallBanner}}
  <div class="row">
    <div class="pwa-install-banner alert alert-info">
      <div class="close" {{action "dismiss"}}>
        {{d-icon 'times'}}
      </div>
      <span>
        {{discourse-linked-text action=(action "turnOn") translatedText=(i18n "pwa.install_banner" title=siteSettings.title)}}
      </span>
    </div>
  </div>
{{/if}}
