<h3 class="suggested-topics-title">
  {{i18n "related_messages.title"}}
</h3>

<div class="topics">
  {{basic-topic-list
    hideCategory="true"
    showPosters="true"
    topics=topic.relatedMessages}}
</div>

{{#if targetUser}}
  <h3 class="see-all-pms-message">{{{i18n "related_messages.see_all" path=searchLink username=targetUser.username}}}</h3>
{{/if}}
