{{#if post}}
  <div class='reviewable-conversation-post'>
    {{#if showUsername}}
      {{#link-to 'user' post.user class="username"}}@{{post.user.username}}{{/link-to}}
    {{/if}}
    {{{post.excerpt}}}
  </div>
{{/if}}
