<div id="second-factor" style="display: none;">
  <h3>{{i18n 'login.second_factor_title'}}</h3>
  <p>{{i18n 'login.second_factor_description'}}</p>

  <table>
    <tr>
      <td>
        {{yield}}
      </td>
      <td></td>
    </tr>
  </table>
</div>
