<div id="second-factor">
  <h3>{{secondFactorTitle}}</h3>
  <p>{{secondFactorDescription}}</p>
  {{yield}}
  <p>
    {{discourse-linked-text
      class="toggle-second-factor-method"
      action="toggleSecondFactorMethod"
      text=linkText}}
  </p>
</div>
