<div id="security-key">
  {{d-button
      action=(action "authenticateSecurityKey")
      icon="key"
      label="login.security_key_authenticate"
      type="button"
      class='btn btn-large btn-primary'}}
  <p>
    {{discourse-linked-text
      class="toggle-second-factor-method"
      action=(action "useAnotherMethod")
      text="login.security_key_alternative"}}
  </p>
</div>
