<div id="security-key">
  {{d-button
      action=action
      icon="key"
      id="security-key-authenticate-button"
      label="login.security_key_authenticate"
      type="button"
      class='btn btn-large btn-primary'}}
  <p>
    {{#if otherMethodAllowed}}
      <a href="" class="toggle-second-factor-method" {{action "useAnotherMethod"}}>{{ i18n 'login.security_key_alternative' }}</a>
    {{/if}}
  </p>
</div>
