{{top-title period=period}}
<button><i class='fa fa-caret-down'></i></button>

<div id='period-popup' {{bind-attr class="showPeriods::hidden"}}>
  <ul>
    {{#each period.availablePeriods}}
      <li><a {{bind-attr href="showMoreUrl"}}>{{top-title tagName="span" period=this}}</a></li>
    {{/each}}
  </ul>
</div>
<div class='clearfix'></div>
