{{#link-to 'badges.show' badge}}
  <span {{bind-attr class=":user-badge badgeTypeClassName" data-badge-name="badge.name" title="badge.translatedDescription"}}>
    <i class='fa fa-certificate'></i>
    {{badge.displayName}}
  </span>
{{/link-to}}
