{{#if showPercentage}}
  <div title={{percentage.title}} class="user-flag-percentage">
    <span class="percentage-label {{percentage.className}}">{{percentage.label}}</span>
    {{d-icon percentage.icon}}
  </div>
{{/if}}
