<div class="user-image">
  {{#link-to 'user' user.username}}{{avatar user imageSize="large"}}{{/link-to}}
</div>

<div class="user-detail">
  <span class="username">{{#link-to 'user' user.username}}{{user.username}}{{/link-to}}</span>
  <span class="name">{{user.name}}</span>
  <span class="title">{{user.title}}</span>
</div>
