{{#if visible}}
  <div class="card-content">
    {{#if isUserShown}}
    {{user-card-user-contents
      model=model
      viewingTopic=viewingTopic
      topicPostCount=topicPostCount
      user=user
      username=username
      userLoading=userLoading
      cardTarget=cardTarget
      avatar=avatar
      postStream=postStream
      close="close"
      cancelFilter="cancelFilter"
      composePrivateMessage="composePrivateMessage"
      togglePosts="togglePosts"
      deleteUser="deleteUser"
      showUser="showUser"
      checkEmail="checkEmail"
    }}
    {{/if}}
    {{#if isGroupShown}}
      {{user-card-group-contents
        group=group
        close="close"
        messageGroup="messageGroup"
        showGroup="showGroup"
        showUser="showUser"
      }}
    {{/if}}
  </div>
{{/if}}
