<section class="category-column first">
  {{each categoriesEven itemViewClass="Discourse.FeaturedTopicsView"}}
</section>
<section class="category-column">
  {{each categoriesOdd itemViewClass="Discourse.FeaturedTopicsView"}}
</section>

<div class='clearfix'></div>