{{~#if includeUnreadIndicator~}}
  &nbsp;<span class='badge badge-notification unread-indicator indicator-topic-{{topicId}} {{unreadClass}}' title='{{i18n "topic.unread_indicator"}}'>
    {{~d-icon "asterisk"}}
  </span>
{{~/if}}
