{{#if icon}}
  <div class="future-date-input-selector-icons">
    {{{icon}}}
  </div>
{{/if}}

<span class="name">{{content.name}}</span>

{{#if datetime}}
  <span class="future-date-input-selector-datetime">
    {{datetime}}
  </span>
{{/if}}
