section {
  padding: 20px;
  border-bottom: 1px solid #999;
}

section h2 {
  margin: 10px 0;
}

#onebox-url {
  width: 80%;
  height: 25px;
}

.message-group label {
  display: block;
  color: #666;
  margin-top: 15px;
}
