<div class="chat-channel-metadata__date">
  {{format-date this.channel.last_message_sent_at format="tiny"}}
</div>

{{#if this.unreadIndicator}}
  <div class="chat-channel-metadata__unread-count">
    <ChatChannelUnreadIndicator @channel={{this.channel}} />
  </div>
{{/if}}
