<div class="chat-channel-metadata">
  <div class="chat-channel-metadata__date">
    {{this.lastMessageFormatedDate}}
  </div>

  {{#if @unreadIndicator}}
    <div class="chat-channel-metadata__unread-count">
      <ChatChannelUnreadIndicator @channel={{@channel}} />
    </div>
  {{/if}}
</div>
