<div class="chat-channel-metadata">
  <div class="chat-channel-metadata__date">
    {{format-date @channel.last_message_sent_at format="tiny"}}
  </div>

  {{#if @unreadIndicator}}
    <div class="chat-channel-metadata__unread-count">
      <ChatChannelUnreadIndicator @channel={{@channel}} />
    </div>
  {{/if}}
</div>
