<div class="discourse-automation modal edit-plan">
  {{#d-modal-body title="discourse_automation.plan.form.edit_plan"}}
    {{partial "form-errors"}}

    {{plan-form
      plannable=plannable
      plan=plan
      workflow=workflow
      onChangeField=(action "onChangeField")
    }}
  {{/d-modal-body}}

  <div class="modal-footer">
    {{d-button
      action=(action "updatePlan")
      class="btn-primary"
      label="save"
    }}

    {{d-modal-cancel close=(route-action "closeModal")}}
  </div>
</div>
