<a href {{action "closeMessage" this}} class='close'>{{fa-icon "times-circle"}}</a>
<h3>{{i18n 'composer.similar_topics'}}</h3>

<ul class='topics'>
  {{search-result-topic results=similarTopics}}
</ul>
