<a href {{action "closeMessage" this}} class='close'>{{fa-icon "close"}}</a>
<h3>{{i18n 'composer.similar_topics'}}</h3>

<ul class='topics'>
  {{mount-widget widget="search-result-topic" args=(as-hash results=similarTopics)}}
</ul>
