<a href {{action "closeMessage"}} class='close'>{{d-icon "close"}}</a>
<h3>{{i18n 'composer.similar_topics'}}</h3>

<ul class='topics'>
  {{mount-widget widget="search-result-topic" args=(hash results=message.similarTopics)}}
</ul>
