<div class='topic-unsubscribe'>
  <div class="container">
    <p>
      {{{stopNotificiationsText}}}
    </p>

    <p>
      {{i18n "topic.unsubscribe.change_notification_state"}}
    </p>

    {{topic-notifications-button notificationLevel=model.details.notification_level topic=model}}
  </div>
</div>
