<h1 class="section-title">
  {{#if this.section}}
    {{section-title this.section.id}}
  {{else}}
    {{i18n this.title}}
  {{/if}}
</h1>

<div class="styleguide-section-contents">
  {{yield}}
</div>