<div class="example-title">
  <h3 class="example-title-text">{{title}}</h3>
  <span class="example-title-use-case">
    Example:
  </span>
  <span class="example-title-use-case">var(--{{title}})</span>
</div>
<section class="rendered">{{yield this.value}}</section>
