<h2 class="selected-name" title={{this.title}} role="option">
  {{period-title
    this.value
    showDateRange=true
    fullDay=this.selectKit.options.fullDay
  }}
</h2>

{{d-icon this.caretIcon class="caret-icon"}}