<ul class="choices">
  {{#each computedContent.selectedComputedContents as |selectedComputedContent|}}
    {{component selectedNameComponent onDeselect=onDeselect content=selectedComputedContent}}
  {{/each}}
  <li class="filter">
    {{component "select-box-kit/select-box-kit-filter"
      onFilter=onFilter
      shouldDisplayFilter=shouldDisplayFilter
      isFocused=isFocused
      filter=filter
    }}
  </li>
</ul>
