<ul class="choices">
  {{#each selectedContent as |selectedContent|}}
    {{multi-combo-box/selected-name onDeselect=onDeselect content=selectedContent}}
  {{/each}}

  <li class="filter">
    {{input
      class="select-box-kit-filter-input"
      key-up=onFilterChange
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck=false
      value=filter
      tabindex=-1
    }}
  </li>
</ul>
