<div class="sidebar-sections sidebar-sections-anonymous">
  <Sidebar::Anonymous::CategoriesSection />
  {{#if this.siteSettings.tagging_enabled}}
    <Sidebar::Anonymous::TagsSection />
  {{/if}}
</div>
