<div class="sidebar-sections sidebar-sections-anonymous">
  <Sidebar::Anonymous::CustomSections @collapsable={{@collapsableSections}} />
  <Sidebar::Anonymous::CategoriesSection
    @collapsable={{@collapsableSections}}
  />

  {{#if this.siteSettings.tagging_enabled}}
    <Sidebar::Anonymous::TagsSection @collapsable={{@collapsableSections}} />
  {{/if}}
</div>