.group-activity-outlet,
.group-messages-outlet,
.group-manage-outlet {
  width: 85%;
}

.groups-form.groups-notifications-form {
  width: 500px;
  max-width: 100%;
}

.group-smtp-email-settings,
.group-imap-email-settings {
  .group-email-last-updated-details {
    text-align: right;
  }
}
