<label class="control-label">{{{field.name}}}</label>
<div class='controls'>
  <label class="control-label checkbox-label">{{input checked=value type="checkbox"}} {{{field.description}}}</label>
</div>
