<label class="control-label" for="{{concat 'user-' elementId}}">{{{field.name}}} {{#if field.required}}<span class='required'>*</span>{{/if}}
</label>
<div class='controls'>
  {{combo-box
    id=(concat 'user-' elementId)
    content=field.options
    valueProperty=null
    nameProperty=null
    value=value
    none=noneLabel
    onChange=(action (mut value))
  }}
  <div class="instructions">{{{field.description}}}</div>
</div>
