<label class="control-label">{{{field.name}}}</label>
<div class='controls'>
  {{combo-box content=field.options value=value none=noneLabel}}
  {{#if field.required}}<span class='required'>*</span>{{/if}}
  <div class="instructions">{{{field.description}}}</div>
</div>
