<label class="control-label">{{{field.name}}}</label>
<div class='controls'>
  {{combo-box data-done="true" textKey="name" content=field.options value=value clearSelectionLabel=noneLabel}}
  {{#if field.required}}<span class='required'>*</span>{{/if}}
  <div class="instructions">{{{field.description}}}</div>
</div>
