<label class="control-label" for={{concat "user-" this.elementId}}>
  {{html-safe this.field.name}}
  {{#if this.field.required}}<span class="required">*</span>{{/if}}
</label>
<div class="controls">
  {{input id=(concat "user-" this.elementId) value=this.value maxlength=this.site.user_field_max_length}}
  <div class="instructions">{{html-safe this.field.description}}</div>
</div>
