{{#styleguide-example title="spinner - small"}}
  <div class="spinner small"></div>
{{/styleguide-example}}

{{#styleguide-example title="spinner - regular"}}
  <div class="spinner"></div>
{{/styleguide-example}}
