{{#if computedContent.icons}}
  <div class="future-date-input-selector-icons">
    {{#each computedContent.icons as |icon|}} {{d-icon icon}} {{/each}}
  </div>
{{/if}}

<span class="name">{{label}}</span>

{{#if computedContent.datetime}}
  <span class="future-date-input-selector-datetime">
    {{computedContent.datetime}}
  </span>
{{/if}}
