<header class='discourse' data-embed-state='error'>
  <h3><%= t 'embed.error' %></h3>
  <%= link_to(image_tag(SiteSetting.site_logo_url, class: 'logo'), Discourse.base_url) %>
  <div class='clearfix'></div>
</header>
<div class='embed-error'>
  <%= t('embed.error_topics') %>
</div>
