<header class='discourse' data-embed-state='loading'>
  <h3><%= t 'embed.loading' %></h3>
  <%= link_to(image_tag(SiteSetting.logo_url, class: 'logo'), Discourse.base_url) %>
  <div class='clearfix'></div>
</header>
<script>
  (function() {
    setTimeout(function() {
      document.location.reload();
    }, 30000);
  })();
</script>
