<%- if @list && @list.topics.present? %>
  <div class='topics-list' data-embed-state='loaded' <%- if @embed_id %>data-embed-id="<%= @embed_id %>"<%- end %>>
    <%- @list.topics.each do |t| %>
      <div class='topic-list-item'>
        <div class='main-link'>
          <a target="_parent" href="<%= t.url %>" class="title raw-link raw-topic-link" data-topic-id="<%= t.id %>"><%= t.title %></a>
        </div>
      </div>
    <%- end %>
  </div>
<%- end %>
