{{#if selectedHtml}}
  <li><a class='expander' {{action 'toggleExpanded'}}>{{{selectedHtml}}} <i class='fa fa-caret-down'></i></a></li>
{{/if}}
<ul class='drop {{if expanded 'expanded'}}'>
{{yield}}
</ul>
