<li class='navigation-toggle'>
  <a {{action "toggleDrop"}} class='toggle-link'>
    {{selectedNavItem.displayName}}
    {{d-icon "caret-down"}}
  </a>
</li>
{{#if expanded}}
<ul class='drop'>
  {{#each navItems as |navItem|}}
    {{navigation-item content=navItem filterMode=filterMode category=category}}
  {{/each}}
</ul>
{{/if}}
