<li>
  <a {{action "toggleDrop"}}>
  {{selectedNavItem.displayName}}
  <i class='fa fa-caret-down'></i>
  </a>
</li>
{{#if expanded}}
<ul class='drop'>
  {{#each navItems as |navItem|}}
    {{navigation-item content=navItem filterMode=filterMode}}
  {{/each}}
</ul>
{{/if}}
