{{#if shouldDisplay}}
  <div class="presence-users">
    <div class="presence-avatars">
      {{#each users as |user|}}
        {{#user-link user=user}}
          {{avatar user imageSize="small"}}
        {{/user-link}}
      {{/each}}
    </div>
    <span class="presence-text">
      <span class="description">{{i18n "presence.replying_to_topic" count=users.length}}</span>{{!-- (using comment to stop whitespace)
  --}}<span class="wave"><span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></span>
    </span>
  </div>
{{/if}}
