{{#styleguide-example title="d-modal"}}
  {{#d-modal closeModal=(action "dummy") modalStyle="inline-modal" title=(i18n "styleguide.sections.modal.header")}}
    {{#d-modal-body}}
      {{html-safe dummy.lorem}}
    {{/d-modal-body}}
    <div class="modal-footer">
      {{i18n "styleguide.sections.modal.footer"}}
    </div>
  {{/d-modal}}
{{/styleguide-example}}
