<section class='user-content user-badges-list'>
  {{#each controller as |ub|}}
    {{#link-to 'badges.show' ub.badge.id ub.badge.slug (query-params username=user.username_lower)}}
      {{badge-card badge=ub.badge count=ub.count}}
    {{/link-to}}
  {{/each}}
</section>
