{{category-selector
  categories=selectedCategories
  onChange=(action "onChangeSelectedCategories")
}}

<div class="desc">{{html-safe setting.description}}</div>
{{setting-validation-message message=validationMessage}}
