{{category-chooser
  value=value
  allowUncategorized=true
  onChange=(action (mut value))
  options=(hash
    none=(eq setting.default "")
  )
}}
{{setting-validation-message message=validationMessage}}
<div class="desc">{{html-safe setting.description}}</div>
