{{list-setting
  value=settingValue
  settingName=setting.setting
  choices=settingValue
  onChange=(action "onChange")
  options=(hash
    allowAny=allowAny
  )
}}

{{setting-validation-message message=validationMessage}}
<div class="desc">{{html-safe setting.description}}</div>
