{{simple-list values=value inputDelimiter=inputDelimiter onChange=(action "onChange")}}
{{setting-validation-message message=validationMessage}}
<div class="desc">{{html-safe setting.description}}</div>
