{{uppy-image-uploader
  imageUrl=value
  placeholderUrl=setting.placeholder
  additionalParams=(hash for_site_setting=true)
  type="site_setting"
  id=(concat "site-setting-image-uploader-" setting.setting)
}}
<div class="desc">{{html-safe setting.description}}</div>
{{setting-validation-message message=validationMessage}}
