<table class='table report'>
  <tr>
    <th>{{model.xaxis}}</th>
    <th>{{model.yaxis}}</th>
  </tr>

  {{#each model.sortedData as |row|}}
    <tr>
      <td>{{row.x}}</td>
      <td>
        {{row.y}}
      </td>
    </tr>
  {{/each}}
</table>
