<label class='checkbox-label'>
  {{input type="checkbox" disabled=disabled checked=checkedInternal}}
  {{label}}
</label>
{{#if changed}}
  {{d-button action=(action "finished") class="btn-primary btn-small submit-edit" icon="check"}}
  {{d-button action=(action "cancelled") class="btn-small cancel-edit" icon="times"}}
{{/if}}
