{{d-button action="saveChanges" disabled=buttonDisabled label=savingText class="btn-primary save-changes"}}
{{yield}}
<div class='save-messages'>
  {{#if saved}}
    <div class='saved'>{{i18n 'saved'}}</div>
  {{/if}}
</div>
