{{d-button label="admin.site_text.edit" class='btn-default edit' action=editAction actionParam=siteText}}
<h3 class='site-text-id'>{{siteText.id}}</h3>
<div class='site-text-value'>{{siteText.value}}</div>

<div class='clearfix'></div>
