{{#if showPercentage}}
  <div class='user-flag-percentage' title={{percentage.title}}>
    <span class="percentage-label {{percentage.className}}">{{percentage.label}}</span>
    {{d-icon percentage.icon}}
  </div>
{{/if}}
