{{#if collection}}
  <div class='values'>
    {{#each collection as |value|}}
      <div class='value'>
        {{d-button action="removeValue"
                   actionParam=value
                   icon="times"
                   class="btn-small no-text"}}
        {{value}}
      </div>
    {{/each}}
  </div>
{{/if}}

<div class='input'>
  {{text-field value=newValue placeholderKey=addKey}}
  {{d-button action="addValue" icon="plus" class="btn-primary btn-small no-text" disabled=inputInvalid}}
</div>
