{{#if collection}}
  <div class='values'>
    {{#each collection as |value index|}}
      <div class='value' data-index={{index}}>
        {{d-button action=(action "removeValue")
                   actionParam=value
                   icon="times"
                   class="btn-default remove-value-btn btn-small"}}

        {{input title=value value=value class="value-input" focus-out=(action "changeValue" index)}}
      </div>
    {{/each}}
  </div>
{{/if}}

{{combo-box
  allowAny=true
  allowContentReplacement=true
  none=noneKey
  content=filteredChoices
  onSelect=(action "selectChoice")}}
