<label class="btn btn-default {{if addDisabled 'disabled'}}">
  {{d-icon "upload"}}
  {{i18n 'admin.watched_words.form.upload'}}
  <input class="hidden-upload-field" disabled={{addDisabled}} type="file" accept="text/plain,text/csv" />
</label>
<br/>
<span class="instructions">One word per line</span>
