@use "lib/viewport";
@import "common/foundation/mixins";

.admin-onboarding-banner {
  padding-block: var(--d-main-content-gap);

  @include viewport.until(sm) {
    padding-block: 0;
    padding-block-end: var(--space-4);
  }

  &__wrap {
    box-sizing: border-box;
    position: relative;
    border-radius: var(--d-border-radius);
    border: 1px solid var(--content-border-color);
    overflow: hidden;
  }

  &__title {
    font-weight: 600;
  }

  &__title-icon {
    margin-right: var(--space-2);
    font-size: var(--font-down-1);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: min-content;
    padding-inline-start: var(--space-4);
    background: var(--background-color, var(--primary-100));
  }

  &__header-text {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    align-items: center;
  }

  &__subtitle {
    font-size: var(--font-down-2);
    color: var(--primary-700);
  }

  &__content {
    text-align: center;
  }

  &__steps {
    display: flex;
    flex-direction: column;
  }

  .onboarding-step {
    display: flex;
    flex-direction: row;
    padding: var(--space-2) var(--space-4);
    border-bottom: 1px solid var(--content-border-color);
    gap: var(--space-4);
    align-items: center;

    @include viewport.until(sm) {
      display: grid;
      gap: 0;
      grid-template-columns: 1fr auto;
      grid-template-areas: "text action" "description action";
      padding: var(--space-2);
    }
  }

  .onboarding-step:last-child {
    border-bottom: none;
  }

  .onboarding-step:first-child {
    border-top: 1px solid var(--content-border-color);
  }

  .onboarding-step__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);

    @include viewport.until(sm) {
      display: block;
      justify-self: baseline;
    }
  }

  .onboarding-step__checkbox-icon {
    font-size: var(--font-down-1);

    &.--completed {
      color: var(--success);
    }
  }

  .onboarding-step__title {
    font-weight: 600;
    font-size: var(--font-down-1);

    @include viewport.until(sm) {
      grid-area: text;
    }
  }

  .onboarding-step__description {
    font-size: var(--font-down-1);
    color: var(--primary-700);

    @include viewport.until(sm) {
      grid-area: description;
      justify-self: baseline;
    }
  }

  .onboarding-step__action {
    margin-left: auto;

    @include viewport.until(sm) {
      grid-area: action;
      margin-left: 0;
    }

    --d-button-transparent-text-color: var(--tertiary);
  }

  .onboarding-step__action .btn-link {
    font-weight: 600;

    &.--completed {
      --d-button-transparent-text-color: var(--primary-medium);
      font-weight: 400;
    }

    &.--completed:hover {
      --d-button-transparent-text-color--hover: var(--primary-high);
    }
  }
}

.start-posting-options-modal {
  .modal-options {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 100%;
    padding: var(--space-4);
    border: 1px solid var(--content-border-color);
    border-radius: var(--d-border-radius);
    background: var(--secondary);

    &:focus-visible,
    &:hover {
      outline: 2px solid var(--tertiary);

      .start-posting-options-modal__title {
        color: var(--tertiary);
      }
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__title {
    display: block;
    font-weight: bold;
  }

  &__body {
    max-width: var(--modal-max-width);
  }
}

.predefined-topic-options-modal {
  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 100%;
    padding: var(--space-4);
    border: 1px solid var(--content-border-color);
    border-radius: var(--d-border-radius);
    background: var(--secondary);

    &:focus-visible,
    &:hover {
      outline: 2px solid var(--tertiary);

      .predefined-topic-options-modal__title {
        color: var(--tertiary);
      }
    }
  }

  &__title {
    display: block;
    font-weight: bold;
  }

  &__body {
    max-width: var(--modal-max-width);
  }
}
