@use "lib/viewport";
@import "common/foundation/mixins";

.admin-onboarding-banner {
  @include viewport.until(sm) {
    display: none;
  }

  &__wrap {
    box-sizing: border-box;
    position: relative;
    padding: var(--space-6) 0 3em;
    border-radius: var(--d-border-radius-large);
    background: var(--accent-color);

    @include viewport.until(md) {
      padding: var(--space-4) 8px var(--space-5);
      margin-top: var(--space-2);
    }

    @include viewport.until(sm) {
      display: block;
      padding: var(--space-2);
      margin-top: 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space-4);

    .btn-transparent:hover {
      color: var(--primary-high);
    }
  }

  &__content {
    text-align: center;
    padding: 0 var(--space-4);

    @include viewport.until(md) {
      margin-top: var(--space-3);
    }
  }

  &__steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-6);

    .onboarding-step {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      &__checkbox {

        // TODO: Make them look good!
        input[disabled] {
          color: var(--accent-color);
          pointer-events: none;
          width: 1em;
          height: 1em;
        }
      }
    }
  }
}