// --------------------------------------------------
// Badges
// --------------------------------------------------

// Base
// --------------------------------------------------

%badge {
  display: inline-block;
  font-weight: normal;
  white-space: nowrap;
  border-radius: 10px;
}

// Category badges
// --------------------------------------------------

.badge-wrapper {
  font-size: var(--font-down-1);
  white-space: nowrap;
  position: relative;
  display: inline-flex;
  align-items: baseline;
  + * {
    margin-left: 0.666em;
  }

  .badge-category {
    display: inline-flex;
    align-items: baseline;
    &:before {
      content: "";
      flex: 0 0 auto;
      width: 0.666rem;
      height: 0.666rem;
      background: var(--category-badge-color);
      margin-right: 0.4em;
    }

    &.badge-subcategory {
      &:before {
        background: linear-gradient(
          90deg,
          var(--parent-category-badge-color) 50%,
          var(--category-badge-color) 50%
        );
      }
    }

    .category-name {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .d-icon {
      margin-right: 3px;
      width: 0.74em;
      height: 0.74em;
      color: var(--primary-medium);
    }
  }

  span.badge-category {
    color: var(--primary-high);
    overflow: hidden;
    text-overflow: ellipsis;
    .extra-info-wrapper & {
      color: var(--header_primary-high);
    }
  }
  .badge-category-parent-bg,
  .badge-category-bg {
    flex: 0 0 auto;
    width: 9px;
    height: 9px;
    margin-right: 5px;
    display: inline-block;
  }
  .badge-category-parent-bg {
    // Subcategories
    width: 5px;
    margin-right: 0;
    + .badge-category-bg {
      width: 5px;
    }
  }
  .d-icon {
    color: var(--primary-medium);
  }
}

// Category badge dropdown
// --------------------------------------------------

.list-controls {
  .category-breadcrumb {
    a.badge-category {
      display: inline-block;
      padding: 6px 8px;
      line-height: var(--line-height-medium);
    }
  }
}

// Notification badge
// --------------------------------------------------

.badge-notification {
  @extend %badge;
  padding: 0.21em 0.42em;
  min-width: 0.5em;
  color: var(--secondary);
  font-size: var(--font-down-2);
  line-height: var(--line-height-small);
  text-align: center;
  background-color: var(--primary-low-mid-or-secondary-low);
  &[href] {
    color: var(--secondary);
  }

  &:hover {
    color: var(--secondary);
  }

  // Unread posts

  &.unread-posts {
    background-color: var(--tertiary-med-or-tertiary);
    color: var(--secondary);
    font-weight: dark-light-choose(normal, bold);
  }

  &.new-topic {
    background-color: transparent;
  }

  &.new-topic::before {
    content: "";
    background: var(--tertiary-med-or-tertiary);
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }

  // Click count

  &.clicks {
    font-weight: normal;
    background-color: var(--primary-low);
    top: -1px;
    color: var(--primary-medium);
    position: relative;
    border: none;
  }
}

// Posts badge
// --------------------------------------------------

.badge-posts {
  font-weight: normal;
  font-size: var(--font-0);
  line-height: var(--line-height-small);
  &[href] {
    color: var(--primary-med-or-secondary-med);
  }
}

// Group badge
// --------------------------------------------------

.badge-group {
  @extend %badge;
  padding: 2px 5px;
  color: var(--primary);
  background-color: var(--primary-low);
  border-color: var(--primary-low);
  font-size: var(--font-down-1);
}
