// --------------------------------------------------
// Banner
// --------------------------------------------------

#banner {
  padding: 0.5em 1em;
  background: $tertiary-low;
  color: $primary;
  z-index: z("base") + 1;
  overflow: auto;

  &.overlay {
    position: fixed;
  }

  .close {
    color: $primary-low-mid;
    padding-left: 5px;
    float: right;
    .d-icon {
      color: $primary-medium;
    }
  }

  .meta {
    display: none;
  }
}

#banner-content {
  hr {
    border-color: $primary-medium;
  }
}
