// --------------------------------------------------
// Banner
// --------------------------------------------------

#banner {
  padding: 0.5em 1em;
  background: var(--tertiary-low);
  color: var(--primary);
  z-index: z("base") + 1;
  margin-bottom: 1em;
  overflow: auto;

  &.overlay {
    position: fixed;
  }

  .close {
    color: var(--primary-low-mid);
    padding-left: 5px;
    float: right;
    .d-icon {
      color: var(--primary-medium);
    }
  }

  .meta {
    display: none;
  }
}

#banner-content {
  hr {
    border-color: var(--primary-medium);
  }
}
