// --------------------------------------------------
// Banner
// --------------------------------------------------

#banner {
  padding: 10px;
  background: $tertiary-low;
  color: $primary;
  z-index: z("base") + 1;
  overflow: auto;

  &.overlay {
    position: fixed;
  }

  .close {
    font-size: $font-up-4;
    margin-top: -5px;
    color: dark-light-choose($primary-low-mid, $secondary-medium);
    padding-left: 5px;
    float: right;
  }

  .meta {
    display: none;
  }
}
