.bookmark-menu {
  &__body {
    background: var(--secondary);
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }
  &__actions {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 0.75em;
    background: var(--tertiary-low);
    color: var(--tertiary);
    padding: 0.75rem;
    font-weight: bold;

    .d-icon {
      color: var(--tertiary);
    }
  }

  &__row {
    width: 100%;
    display: flex;

    &:hover,
    &:focus {
      background: var(--tertiary-very-low);

      &.--remove {
        background: var(--danger-low);
      }
    }
  }

  &__row-title {
    padding: 0.75rem;
    border-bottom: 1px solid var(--primary-low);
    font-weight: bold;
  }

  &__row-btn {
    margin: 0;
    padding: 0.75rem !important;
    width: 100%;
    text-align: left;
    justify-content: left !important;
    gap: 0.75em;
    color: var(--primary);
    &:hover,
    &:focus {
      color: var(--primary) !important;
      background: var(--tertiary-very-low);
    }
    .--remove & {
      color: var(--danger);
    }

    .d-button-label {
      color: inherit;
    }

    .d-icon {
      color: inherit;
      margin: 0 !important;
    }
  }
}
