.bookmark-menu-content {
  .bookmark-menu__title {
    background: var(--tertiary-low);
    color: var(--tertiary);

    .d-icon {
      color: var(--tertiary);
    }
  }

  .bookmark-menu__row-title,
  .bookmark-menu__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: var(--d-sidebar-section-link-prefix-margin-right);
    height: var(--d-sidebar-row-height);
    padding-inline: var(--d-sidebar-row-horizontal-padding);
    border-radius: var(--d-border-radius);

    .d-icon {
      width: var(--d-sidebar-section-link-prefix-width);
    }
  }
}
