$mobile-breakpoint: 700px;

.bookmark-list {
  th.post-metadata {
    text-align: center;
  }
}

.bookmark-search-form {
  margin-bottom: 1em;
  display: flex;

  input[type="text"] {
    flex: 1;
    margin-right: 1em;
  }

  @media (max-width: $mobile-breakpoint) {
    input[type="text"] {
      margin-bottom: 0;
    }
  }
}

.bookmark-list-item {
  td.post-metadata {
    text-align: center;
  }
  @media (max-width: $mobile-breakpoint) {
    .main-link {
      padding-right: 0.5em;
    }
  }
  .main-link {
    .bookmark-status-with-link {
      a.title {
        padding: 0;
      }
    }
  }
  .d-icon.bookmark-pinned {
    font-size: $font-down-2;
    margin-right: 0.2em;
  }
  .bookmark-metadata {
    font-size: $font-down-2;
    margin-bottom: 0.25em;

    &-item {
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 0.25em;
      line-height: $line-height-medium;
      span {
        word-break: break-word;
      }
    }

    .d-icon {
      margin-right: 0.25em;
    }
  }
  .bookmark-status-with-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    .mobile-view & {
      margin-bottom: 0.15em;
    }
    .topic-statuses {
      float: none;
      &:empty {
        // avoids extra margin
        display: none;
      }
    }
  }

  .post-excerpt {
    overflow: hidden;
    padding-right: 1em;
  }

  .mobile-view & {
    .avatar {
      float: left;
      margin: 0.27em 0.27em 0 0;
    }
  }
}
