.manage-tags-form {
  position: relative;

  #control-remove_all_tags {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;

    .form-kit__container-title {
      color: var(--primary-med-or-secondary-high);
      font-weight: normal !important;
      white-space: nowrap;
    }
  }

  &__warning {
    margin-top: 2rem;
  }

  .form-kit__errors-summary {
    z-index: z(
      "base"
    ); // One-off overrule for unusual toggle placement in this form
  }

  &__replace {
    .form-kit__container-content {
      flex-direction: column;
      row-gap: var(--space-2);
    }

    .form-kit__row {
      padding-top: 0;
      align-items: center;
    }
  }

  &__replace-arrow {
    text-align: center;
  }

  &__replace-row-add {
    width: 100%;
  }
}
