.color-picker {
  display: flex;
  align-items: stretch;

  .add-on {
    @include form-item-sizing;
    background-color: var(--primary-low);
    border-color: var(--primary-low-mid);
    border-right-color: transparent;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .hex-input {
    margin: 0;
  }

  .picker {
    padding: 0;
    border-left: none;
    cursor: pointer;
    margin-bottom: 0;
    height: unset;
  }
}
