.d-toggle-switch {
  --toggle-switch-width: 45px;
  --toggle-switch-height: 24px;

  [disabled]:not(.is-loading) + .d-toggle-switch__checkbox-slider,
  .disabled:not(.is-loading) + .d-toggle-switch__checkbox-slider {
    cursor: not-allowed;
    opacity: 0.4;
    &::before,
    &::after {
      cursor: not-allowed;
    }
  }

  &__checkbox-loading {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s;
  }

  &.is-loading {
    .d-toggle-switch__checkbox-loading {
      opacity: 1;
      visibility: visible;
      display: flex;
      height: 100%;
      width: calc(100% - 0.5em);
      justify-content: space-around;
      align-items: center;
      padding: 0 0.25em;
      &-dot {
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: #ffffff;
        animation: checkbox-loading-dot 1.8s linear infinite;
        &:nth-child(2) {
          animation-delay: -1.6s;
        }
        &:nth-child(3) {
          animation-delay: -1.4s;
        }
      }
    }
    .d-toggle-switch__checkbox-slider {
      &::before,
      &::after,
      .d-icon {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &:focus {
    .d-toggle-switch__checkbox-slider {
      outline: 2px solid var(--tertiary);
    }
  }

  &:hover {
    .d-toggle-switch__checkbox-slider {
      background-color: var(--primary-high);
    }

    .d-toggle-switch__checkbox[aria-checked="true"]
      + .d-toggle-switch__checkbox-slider {
      background-color: var(--tertiary-hover);
    }
  }

  display: flex;
  align-items: center;

  &__label {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  &__checkbox {
    position: absolute;
    visibility: hidden;
  }

  &__checkbox[aria-checked="true"] + .d-toggle-switch__checkbox-slider {
    background-color: var(--tertiary);
  }

  &__checkbox[aria-checked="true"] + .d-toggle-switch__checkbox-slider::before {
    left: calc(var(--toggle-switch-width) - 22px);
  }

  &__checkbox-slider {
    display: inline-block;
    cursor: pointer;
    background: var(--primary-low-mid);
    border-radius: 16px;
    width: var(--toggle-switch-width);
    height: var(--toggle-switch-height);
    margin-right: 0.5em;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;

    .d-icon {
      font-size: var(--font-down-1);
      color: var(--secondary);
      left: 7px;
      top: 7px;
      position: absolute;
    }
  }

  &__checkbox-slider::before,
  &__checkbox-slider::after {
    content: "";
    display: block;
    position: absolute;
    cursor: pointer;
  }

  &__checkbox-slider::before {
    background: var(--secondary);
    border-radius: 50%;
    width: calc(var(--toggle-switch-width) / 2.5);
    height: calc(var(--toggle-switch-width) / 2.5);
    top: 3.5px;
    left: 4px;
    transition: left 0.25s;
  }
}

@keyframes checkbox-loading-dot {
  0%,
  60%,
  100% {
    opacity: initial;
  }
  30% {
    opacity: 0.5;
  }
}
