.download-calendar-modal .remember {
  margin-top: 2em;
}

div[data-tippy-root] .download-calendar {
  color: var(--primary-med-or-secondary-med);
}

.user-preferences {
  #user-default-calendar {
    min-width: 175px;
  }
}
