@use "lib/viewport";

.empty-topic-filter {
  margin: 0 auto;
  width: 75%;
  text-align: center;

  @include viewport.from(sm) {
    padding-top: 7rem;
  }

  &__preferences-hint {
    margin-top: 2rem;
    font-size: var(--font-down-1);
    color: var(--primary-medium);

    @include viewport.until(sm) {
      position: absolute;
      bottom: 3rem;
      margin-inline: auto;
      margin-top: 0;
      left: 0;
    }
  }

  &__image {
    svg {
      width: 200px;

      @include viewport.until(sm) {
        width: 65vw;
      }
    }

    @include viewport.until(sm) {
      margin-top: 8vh;
    }
  }

  &__cta {
    margin-top: 2rem;
  }
}
