@use "lib/viewport";

.fk-d-menu[data-identifier="filter-navigation-menu-list"] {
  max-height: 300px;

  @include viewport.until(md) {
    text-size-adjust: 100%;
  }

  .fk-d-menu__inner-content,
  .dropdown-menu {
    width: 100%;
  }
}

.filter-navigation {
  &__tip-item {
    padding: var(--space-2) var(--space-4);
    cursor: pointer;
    color: var(--primary);
    transition: background-color 0.15s;

    &:hover,
    &.--selected {
      background-color: var(--d-hover);
    }
  }

  &__tip-name {
    font-weight: 600;
    color: var(--primary);
  }

  &__tip-description {
    color: var(--primary-high);
  }

  &__tip-item .badge-category__wrapper {
    font-size: var(--font-0);
  }
}
