.group-member-dropdown {
  text-align: left;

  .select-kit-body {
    // this is a little hacky
    // but solves an issue with a wrapping container query on .directory-table-container
    // which breaks our popper positioning in this one specific instance
    inset: unset !important;
    transform: unset !important;
    right: 0 !important;
  }
}
