a.hashtag {
  color: dark-light-choose($primary, $primary-low-mid);
  font-weight: bold;

  &:visited,
  &:hover {
    color: dark-light-choose($primary, $primary-low-mid);
  }

  &:hover {
    span {
      text-decoration: underline;
    }
  }
}
