a.hashtag {
  color: var(--primary-or-primary-low-mid);
  font-weight: bold;

  &:visited,
  &:hover {
    color: var(--primary-or-primary-low-mid);
  }

  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

a.hashtag-cooked {
  @include mention;

  &:visited,
  &:hover {
    color: var(--primary-high-or-secondary-low);
  }

  .d-icon {
    margin-right: 3px;
  }
}

.hashtag-autocomplete {
  .hashtag-autocomplete__option {
    .hashtag-autocomplete__link {
      align-items: center;
      color: var(--primary-medium);
      display: flex;

      .d-icon {
        padding-right: 0.5em;
      }

      .hashtag-autocomplete__text {
        flex: 1;
      }
    }
  }
}
