.topic-list-item td:first-child,
.topic-post {
  border-left: 1px solid transparent;
}

.topic-list tr.selected td:first-child,
.topic-list-item.selected td:first-child,
.latest-topic-list-item.selected {
  box-shadow: inset 3px 0 0 $danger; // needs to be inset for Edge
}

.featured-topic.selected,
.topic-post.selected {
  box-shadow: -3px 0 0 $danger;
}

.latest .featured-topic {
  padding-left: 4px;
}

.topic-list-item.selected {
  background-color: inherit;
}

.keyboard-shortcuts-modal .modal-body {
  max-height: 560px;
}

#keyboard-shortcuts-help {
  div.row {
    width: 100%;
    div {
      float: left;
      width: 32%;
    }
  }
  ul {
    list-style: none;
    margin-left: 0;

    li {
      margin: 5px 0;
    }

    kbd {
      font-size: $base-font-size;
      font-family: $base-font-family;
      margin: 0;
      color: dark-light-choose(#444, #aaa);
      font-weight: bold;
      padding: 2px 6px;
      white-space: nowrap;
    }
  }
}
