.notifications-button.notifications-button.notifications-button {
  .select-box-body {
    min-width: 550px;
    max-width: 550px;
  }

  .select-box-row {
    .icons {
      align-self: flex-start;
    }
  }
}
