.post-translations-modal {
  table {
    width: 100%;
  }
}

.post-language-selector-content {
  z-index: z("composer", "dropdown");

  // eventho mobile composer shouldnt be used in conjuction with fk-d-menu (floating version), on tablets the possibility unfortunately exists
  .discourse-touch & {
    z-index: z("mobile-composer");
  }
}

.post-language-selector-trigger {
  margin-left: 1rem;

  .d-button-label {
    text-transform: uppercase;
  }
}
