.d-post-excerpt-accordion {
  background: var(--secondary);
  margin-left: var(--topic-body-width-padding);

  &__header {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    color: var(--primary);
    background-color: var(--secondary);
    padding: 0.6em;
    padding-left: var(--space-3);
    border-top-left-radius: var(--d-border-radius-large);
    border-top-right-radius: var(--d-border-radius-large);
    border-color: var(--primary-low);
    border-style: solid;
    border-width: 1px;
  }

  * {
    font-size: var(--font-down-1-rem);
  }
}

.d-post-excerpt-accordion-item {
  border-color: var(--primary-low);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    gap: var(--space-1);
    padding-left: var(--space-3);
    font-size: var(--font-down-1);
    color: var(--primary-medium);
    background: var(--primary-very-low);
  }

  &__metadata {
    display: flex;
    gap: var(--space-1);
    align-items: center;

    .user-name {
      color: var(--primary);
    }
  }

  &__controls {
    margin-left: auto;
  }

  &__toggle {
    .d-icon {
      color: var(--primary);
      background: transparent;
      font-size: var(--font-down-1-rem);
    }

    &:hover,
    &:visited {
      .discourse-no-touch &,
      .discourse-touch & {
        color: var(--primary);
        background: transparent;

        .d-icon {
          color: var(--primary);
          background: transparent;
        }
      }
    }

    &:hover {
      background-color: rgb(var(--primary-low), 0.15);
    }
  }

  &__date {
    &:hover,
    &:visited {
      color: var(--primary-low-mid);
    }
  }

  &__post-link {
    font-weight: bold;
  }

  &__content {
    position: relative;
    background: var(--secondary);
    border: 0;
    padding: var(--space-3);
    padding-bottom: 0;
    margin: 0;
    max-height: 10em;
    overflow: hidden;

    .cooked {
      padding: 0 !important;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: linear-gradient(transparent, 70%, var(--secondary));
      pointer-events: none;
      z-index: 1;
    }
  }

  &__read-more {
    padding: var(--space-3);
  }

  //   &__read-more {
  //     // font-size: var(--font-down-1);
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     padding-left: var(--space-3);
  //     padding-bottom: var(--space-3);
  //     padding-top: var(--space-1);
  //     z-index: 2;

  //     // background: var(--secondary);
  //   }

  //   &__footer {
  //     border: 1px solid var(--primary-low);
  //     white-space: nowrap;
  //   }
  //   &__solver,
  //   &__accepter {
  //     @include ellipsis;
  //   }

  //   &[data-expanded="true"] > &__content {
  //     max-height: none;
  //     overflow: visible;

  //     &::after {
  //       display: none;
  //     }
  //   }
  &:not([data-expanded]) > &__body {
    display: none;
  }

  &:last-of-type {
    border-bottom-left-radius: var(--d-border-radius-large);
    border-bottom-right-radius: var(--d-border-radius-large);
  }
}
