.share-and-invite.modal {
  .modal-body {
    max-width: 475px;
    min-width: 320px;
  }

  .modal-header {
    .modal-close {
      padding-left: 0;
    }
  }
}

.share-and-invite.modal .share.modal-panel {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      font-size: $font-0;
      font-weight: normal;
      margin-bottom: s(2);

      .post-date {
        color: $primary-medium;
        font-size: $font-down-1;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;

    .topic-share-url {
      width: 100%;
      height: auto;
      box-sizing: border-box;
    }

    .topic-share-url-for-touch {
      a {
        word-break: break-all;
        font-size: $font-up-1;
      }
    }

    .topic-share-url-for-touch,
    .topic-share-url {
      margin-bottom: s(2);
    }

    .sources {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;

      .social-link {
        font-size: $font-up-6;
        margin-right: s(2);
      }
    }
  }
}

.share-and-invite.modal .invite.modal-panel {
  .error-message,
  .success-message {
    margin-bottom: s(2);
  }

  .body {
    .invite-user-control,
    .group-access-control,
    .show-custom-message-control {
      margin-bottom: s(4);
    }

    .instructions {
      margin-bottom: s(2);
    }

    .email-or-username-input {
      width: 100%;
    }

    .invite-user-input-wrapper {
      display: flex;
      div.ac-wrap {
        flex: 1;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;

    .btn-primary {
      margin-right: s(2);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
