.share-and-invite.modal {
  .modal-body {
    max-width: 475px;
    min-width: 320px;
    padding: 0;
  }

  .modal-panel {
    padding: 0.667em;
  }

  .modal-header {
    .modal-close {
      padding-left: 0;
    }
  }
}

.share-and-invite.modal .share.modal-panel {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      font-size: $font-0;
      font-weight: normal;
      margin-bottom: 8px;

      .post-date {
        color: $primary-medium;
        font-size: $font-down-1;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;

    .topic-share-url {
      width: 100%;
      height: auto;
      box-sizing: border-box;
    }

    .topic-share-url {
      margin-bottom: 8px;
    }

    .sources {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;

      .social-link {
        font-size: $font-up-6;
        margin-right: 8px;
      }
    }
  }
}

.share-and-invite.modal .invite.modal-panel,
.invite-link.modal-panel {
  .error-message,
  .success-message {
    margin-bottom: 8px;
  }

  .body {
    .invite-user-control,
    .group-access-control,
    .show-custom-message-control {
      margin-bottom: 8px;
    }

    .instructions {
      margin-bottom: 8px;
    }

    .email-or-username-input {
      width: 100%;
    }

    .max-redemptions-allowed {
      margin-bottom: 8px;

      .max-redemptions-allowed-input {
        width: 20%;
        min-width: 100px;
      }
    }

    .invite-link-expires-at .date-picker,
    .time-input {
      width: 150px;
    }

    .invite-user-input-wrapper {
      display: flex;
      div.ac-wrap {
        flex: 1;
      }
    }

    .invite-link-input {
      width: 100%;
    }
  }

  .footer {
    display: flex;
    align-items: center;

    .btn-primary {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
