@import "common/foundation/mixins";

.display-welcome-banner {
  #main-outlet {
    padding-top: 0;
  }
}

.welcome-banner--visible.header-search--enabled {
  .floating-search-input-wrapper {
    display: none;
  }
}

.welcome-banner {
  margin-bottom: 1em;
  border-radius: var(--d-border-radius-large);

  &__wrap {
    box-sizing: border-box;
    position: relative;
    padding: 1.5em 0 3em;

    @include breakpoint(tablet) {
      padding: 1em 8px 1.25em;
      margin-top: 0.5em;
    }

    @include breakpoint("mobile-extra-large") {
      display: block;
      padding: 0.5em;
      margin-top: 0;
    }

    > div {
      margin: 0 auto;
      max-width: 600px;
    }

    .search-menu {
      display: flex;
      position: relative;

      @include breakpoint("mobile-extra-large") {
        display: none;
      }

      .search-menu-container {
        width: 100%;
        min-width: 0;
      }
    }

    .d-icon-magnifying-glass {
      margin: 0;
    }

    .browser-search-tip {
      display: none;
    }

    .search-input {
      .search-term__input {
        min-width: 0;
        flex: 1 1;
      }
    }

    .welcome-banner__title {
      font-size: var(--font-up-6);
      line-height: $line-height-medium;
      font-weight: bold;
      margin-bottom: 0.5rem;

      @include breakpoint(tablet) {
        font-size: var(--font-up-4);
      }

      @include breakpoint("mobile-extra-large") {
        font-size: var(--font-up-2);
      }
    }

    .welcome-banner__title,
    p {
      text-align: center;
    }

    .btn.search-icon {
      z-index: 2;
      background: transparent;
      line-height: 1;
      color: var(--primary-medium);
      height: 100%;
      position: absolute;
      left: 0;

      .rtl & {
        right: 0;
        left: unset;
      }

      .discourse-no-touch & {
        &:hover {
          background: transparent;
          color: var(--primary);

          .d-icon {
            color: currentcolor;
          }
        }
      }

      + .search-menu-container .search-input {
        padding-left: 1.75em;

        .rtl & {
          padding-left: unset;
          padding-right: 1.75em;
        }
      }

      + .search-menu-container .search-input .search-context {
        margin-left: 4px;
      }
    }

    .results {
      @include float-down;
      box-sizing: border-box;
      border-radius: var(--d-border-radius);
      background: var(--secondary);
      z-index: 9;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      top: 100%;
      right: 0;

      @include float-down;

      @include breakpoint(mobile-extra-large) {
        width: 100%;
      }

      ul,
      ol {
        list-style-type: none;
        margin: 0;
      }

      .d-icon-magnifying-glass {
        display: none;
      }
    }

    .search-link .d-icon {
      color: var(--primary-medium);
    }

    span.keyword {
      color: var(--primary);
    }
  }
}

// hide search icon from default search menu
.search-menu.glimmer-search-menu .search-icon {
  display: none;
}
