<div class="wizard-congratulations-wrap">
  <div class='row'>
    <h1><%= t 'finish_installation.congratulations' %></h1>
    <p><%= t 'finish_installation.discourse_id.help' %></p>

  <div class='row finish-installation-image'>
    <img src="<%= Discourse.base_path + '/images/wizard/tada.svg' %>" alt="tada emoji" class="tada">
  </div>
</div>
