.form-kit__container {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: flex-start;

  &.--column {
    .form-kit__container-content {
      flex-direction: column;
    }
  }

  &-description {
    margin: 0;
    font-size: var(--font-down-1-rem);
    color: var(--primary-very-high);
  }

  &-help-text {
    margin: 0;
    font-size: var(--font-down-1-rem);
    color: var(--primary-very-high);
  }

  &-title {
    display: inline;
    gap: 0.5rem;
    margin: 0;
    font-size: var(--font-down-1-rem);
    color: var(--primary);
    font-weight: bold;
  }

  &-subtitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    font-size: var(--font-down-1-rem);
    color: var(--primary-high);

    > * {
      margin: 0;
    }
  }

  &-optional {
    font-size: var(--font-down-2-rem);
    color: var(--primary-high-or-secondary-low);
    font-weight: normal;
  }

  &-content {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;

    &.--small {
      width: var(--form-kit-small-input) !important;
    }

    &.--medium {
      width: var(--form-kit-medium-input);
    }

    &.--large {
      width: var(--form-kit-large-input);
    }

    &.--full {
      width: 100% !important;
    }
  }
}
