.form-kit__control-input {
  @include default-input;

  margin: 0 !important;
  width: 100% !important;
  min-width: auto !important;

  .form-kit__field.has-error & {
    border-color: var(--danger);
  }

  &.--with-before.--with-after {
    border-radius: 0;
  }

  &.--with-before:not(.--with-after) {
    border-radius: 0 var(--d-input-border-radius) var(--d-input-border-radius) 0;
  }
  &.--with-after:not(.--with-before) {
    border-radius: var(--d-input-border-radius) 0 0 var(--d-input-border-radius);
  }
}

.form-kit__control-input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.form-kit__before-input,
.form-kit__after-input {
  border: 1px solid var(--primary-medium);
  padding-inline: 0.5em;
  height: 2rem;
  box-sizing: border-box;
  background: var(--primary-low);
  display: flex;
  align-items: center;

  @include breakpoint(mobile-large) {
    height: 2.25rem !important;
  }
}

.form-kit__before-input {
  border-right: 0;
  border-radius: var(--d-input-border-radius) 0 0 var(--d-input-border-radius);
}

.form-kit__after-input {
  border-left: 0;
  border-radius: 0 var(--d-input-border-radius) var(--d-input-border-radius) 0;
}
