.form-kit__control-textarea {
  // prevents firefox/chrome to add spacing under textarea
  display: block;

  @include default-input {
    // reset textarea styles
    height: 150px;
    min-width: auto !important;
    padding: 0.5em !important;
  }
}
