.form-kit__control-radio {
  &__label {
    display: flex;
    gap: 0.5em;
    font-weight: normal !important;
    margin: 0;
    color: var(--primary);
  }
}

.form-kit__inline-radio {
  display: flex;
  gap: 1em;
  align-items: center;
}
