.form-kit__control-menu {
  @include default-input;

  .form-kit__field.has-errors & {
    border-color: var(--danger);
  }
}

.fk-d-menu {
  .dropdown-menu {
    min-width: 200px;
  }
  .dropdown-menu__item {
    &:hover {
      background: var(--d-hover);
    }

    &:last-child {
      .btn {
        color: var(--tertiary);
      }
    }
  }
}
