@use "lib/viewport";

.form-kit__conditional-display {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  &-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
  }
}

.--radio-cards {
  width: var(--form-kit-large-input);

  @include viewport.until(sm) {
    width: 100%;
  }

  .form-kit__conditional-display,
  .form-kit__container-content.--large {
    width: 100%;
  }

  .form-kit__inline-radio {
    gap: var(--space-2);
    width: 100%;

    .form-kit__control-radio-label:not(.--disabled):hover {
      cursor: pointer;
      border-color: var(--tertiary);
    }

    > * {
      width: 50%;
    }

    .fk-d-tooltip__trigger-container {
      width: 100%;
    }
  }

  .form-kit__control-radio-label {
    flex: 1 1 50%;
    padding: 0.5em var(--space-2);
    border: 1px solid var(--primary-low-mid);
    border-radius: var(--d-input-border-radius);
    justify-content: center;
    position: relative;
    line-height: normal;

    &.--disabled {
      color: var(--primary-medium);
      cursor: not-allowed;
    }

    .d-icon {
      display: none;
    }

    input {
      position: absolute;
      width: 1px;
      height: 1px;
      opacity: 0;
    }

    &:has(input[disabled]) {
      background: var(--d-input-bg-color--disabled);

      .d-icon {
        color: currentcolor;
        display: inline-block;
      }
    }

    &:has(input:checked) {
      color: var(--tertiary);
      border-color: var(--tertiary);
      background: var(--tertiary-very-low);

      .d-icon {
        color: currentcolor;
        display: inline-block;
      }
    }
  }
}
