.form-kit__conditional-display {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  input[disabled] + span {
    color: var(--primary-medium);
    cursor: not-allowed;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
  }
}
