.form-kit__control-text {
  // reset textarea styles
  width: 100% !important;
  margin: 0 !important;
  min-width: auto !important;

  // prevents firefox/chrome to add spacing under textarea
  display: block;

  height: 200px;
  border-radius: var(--d-input-border-radius);

  .form-kit__field.has-errors & {
    border-color: var(--danger);
  }
}

.form-kit__readonly-text {
  color: var(--primary-high);
}
