.form-kit__control-menu-trigger {
  justify-content: space-between;

  @include default-input;
}

.form-kit__control-menu-content {
  .dropdown-menu {
    min-width: 200px;
  }

  .dropdown-menu__item {
    &:hover {
      background: var(--d-hover);
    }
  }
}
