.form-kit {
  &__control-checkbox {
    &[type="checkbox"] {
      margin: 0;
      height: 1rem;
      width: 1rem;
    }

    &-label {
      display: flex;
      gap: 0.5rem;
      font-weight: normal;
      margin: 0;
      color: var(--primary);
      font-size: var(--font-down-1-rem);

      &:hover {
        cursor: pointer;
      }

      .form-kit__field[data-disabled] & {
        cursor: not-allowed;
      }
    }

    &-title {
      color: var(--primary-800);
    }
  }

  &__control-checkbox-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__control-checkbox-description {
    @include default-description;
  }
}

.form-kit__field-checkbox {
  .form-kit__container-content {
    &.--small,
    &.--medium,
    &.--large {
      width: 100% !important;
    }
  }
}
