.form-kit__control-password {
  @include default-input;
  border: 0 !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  appearance: none !important;
  outline: none !important;

  &:hover,
  &:focus {
    border: 0 !important;
  }
}

.form-kit__control-password-wrapper {
  display: flex;
  @include default-input;
  padding: 0 !important;
  width: inherit !important;

  &.--focused {
    border-color: var(--tertiary);
    outline: 2px solid var(--tertiary);
    outline-offset: -2px;
  }
}
