.form-kit {
  &__control-checkbox {
    &[type="checkbox"] {
      margin: 0;
      height: 1rem;
      width: 1rem;
    }

    &-label {
      display: flex;
      gap: 0.5rem;
      font-weight: normal !important;
      margin: 0;
      color: var(--primary);

      .form-kit__field[data-disabled] & {
        cursor: not-allowed;
      }
    }
  }

  &__control-checkbox-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__control-checkbox-description {
    color: var(--primary-medium);
  }
}
