.form-kit__control-icon {
  .d-icon-grid-picker {
    width: 100%;
    min-width: var(--form-kit-small-input);
  }

  .d-icon-grid-picker__caret {
    color: var(--primary-medium);
  }

  .form-kit__field.has-error & {
    .fk-d-menu__trigger {
      border-color: var(--danger);
    }
  }
}
