.form-kit__control-code {
  height: 250px;
  width: 100%;

  > .ace_editor {
    @include default-input;

    box-sizing: border-box;
    border: 1px solid var(--primary-400);
    border-radius: var(--d-input-border-radius);

    &.ace_focus {
      border-color: var(--tertiary);
      outline: 2px solid var(--tertiary);
      outline-offset: -1px;
    }
  }

  .form-kit__field.has-errors & {
    border-color: var(--danger);
  }

  &[data-disabled="true"] {
    opacity: 0.5;
  }
}
