.form-kit__input-group {
  position: relative;
  display: flex;
  align-items: stretch;
  width: 100%;

  .form-kit__text {
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    padding-inline: 0.5em;
    height: 2rem;
    background-color: var(--primary-low);
    color: var(--primary-high);
    border: 1px solid var(--primary-low-mid);
    border-radius: var(--d-input-border-radius);
    margin: 0;
    box-sizing: border-box;

    @include breakpoint(mobile-large) {
      height: 2.25rem !important;
    }
  }

  .form-kit__control-input {
    z-index: 1;
    width: 100% !important;
    min-width: auto !important;
  }

  > :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > :not(:first-child) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
