.form-kit__field {
  .form-kit__container-content {
    flex-direction: column;
    width: var(--form-kit-medium-input) !important;
  }

  &-text,
  &-composer,
  &-code,
  &-image {
    .form-kit__container-content {
      width: var(--form-kit-large-input) !important;
    }
  }

  &-checkbox {
    .form-kit__container-content {
      width: 100% !important;
    }
  }

  .form-kit__container-content {
    &.--small {
      width: var(--form-kit-small-input) !important;
    }

    &.--medium {
      width: var(--form-kit-medium-input) !important;
    }

    &.--large {
      width: var(--form-kit-large-input) !important;
    }

    &.--full {
      width: 100% !important;
    }
  }
}
