.form-kit__field {
  .form-kit__container-content {
    flex-direction: column;
    width: var(--form-kit-medium-input) !important;
  }

  &-text,
  &-composer,
  &-code,
  &-image {
    .form-kit__container-content {
      width: var(--form-kit-large-input) !important;
    }
  }

  &-checkbox {
    .form-kit__container-content {
      width: 100% !important;
    }
  }

  &.small {
    .form-kit__container-content {
      width: var(--form-kit-small-input) !important;
    }
  }

  &.medium {
    .form-kit__container-content {
      width: var(--form-kit-medium-input) !important;
    }
  }

  &.large {
    .form-kit__container-content {
      width: var(--form-kit-large-input) !important;
    }
  }

  &.full {
    .form-kit__container-content {
      width: 100% !important;
    }
  }
}
