<p>{{i18n (concat "topics.bulk." title)}}</p>

<p>{{tag-chooser filterPlaceholder=null tags=tags categoryId=categoryId}}</p>

{{d-button action=action disabled=emptyTags label=(concat "topics.bulk." label)}}
