<div class='autocomplete'>
  <ul>
    {{#each option in options}}
      <li>
        <a href>
          {{#if option.src}}
            <img src={{option.src}} class='emoji'> {{option.code}}
          {{else}}
            {{option.label}}
          {{/if}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>
