{{#load-more selector=".user-stream .user-stream-item" action=(action "loadMore")}}
  <div class='user-stream'>
    {{#each model as |post|}}
      {{group-post post=post}}
    {{else}}
      <div>{{i18n emptyText}}</div>
    {{/each}}
  </div>
{{/load-more}}

{{conditional-loading-spinner condition=loading}}
