{{#load-more selector=".group-post" action=(action "loadMore")}}
  <div class='group-posts'>
    {{#each model as |post|}}
      {{group-post post=post class="group-post"}}
    {{else}}
      <div>{{i18n emptyText}}</div>
    {{/each}}
  </div>
{{/load-more}}

{{conditional-loading-spinner condition=loading}}
