<div class="container">
    <section class='user-navigation'>
      <ul class='action-list nav-stacked'>
        <li>{{#link-to 'group.index' model}}Posts{{/link-to}}</li>
        <li>{{#link-to 'group.members' model}}Members{{/link-to}}</li>
      </ul>
    </section>

    {{outlet}}
</div>
