<article class='placeholder'>
  <div class='row'>
    <div class="topic-avatar">
      <div class='placeholder-avatar'></div>
    </div>

    <div class='topic-body'>
      <div class='placeholder-text'></div>
      <div class='placeholder-text'></div>
      <div class='placeholder-text'></div>
    </div>
  </div>
</article>
