<div class="reviewable">
  <ul class="nav nav-pills reviewable-title">
    {{nav-item route='review.index' label='review.view_all'}}
    {{nav-item route='review.topics' label='review.grouped_by_topic'}}
    {{#if currentUser.admin}}
      {{nav-item route='review.settings' label='review.settings.title' icon='wrench'}}
    {{/if}}
  </ul>

  {{outlet}}
</div>
