<div class='container'>
  <div class='contents clearfix body-page'>
    {{plugin-outlet "above-static"}}
    {{{model.html}}}

    {{#if showSignupButton}}
      {{d-button action="showCreateAccount" class="btn-primary sign-up-button" label="sign_up"}}
    {{/if}}

    {{#if showLoginButton}}
      {{d-button action="showLogin" class="btn-primary login-button" icon="user" label="log_in"}}
    {{/if}}
  </div>
</div>
