<div class='container'>
  <div class='contents clearfix body-page'>
    {{{html}}}

    {{#if showLoginButton}}
      <button class="btn btn-primary" {{action showLogin}}><i class="fa fa-user"></i>{{i18n log_in}}</button>
    {{/if}}
  </div>
</div>
