<button {{action "enterTop"}} class='btn full no-text jump-top'>
  <i class='fa fa-caret-up'></i> {{{topDate}}}
</button>
<button {{action "enterBottom"}} class='btn full no-text jump-bottom'>
  {{{bottomDate}}} <i class='fa fa-caret-down'></i>
</button>
