{{~#if view.renderDiv ~}}
<div class='topic-statuses'>
{{/if ~}}
{{~#each status in view.statuses ~}}
<{{status.openTag}} title='{{status.title}}' class='topic-status'><i class='fa fa-{{status.icon}}'></i></{{status.closeTag}}>
{{~/each}}
{{~#if view.renderDiv ~}}
</div>
{{/if ~}}
