<button {{action enterTop}} class='btn full no-text'>
  <i class='fa fa-caret-up'></i> {{topDate}}
</button>
<button {{action enterBottom}} class='btn full no-text jump-bottom'>
  <i class='fa fa-caret-down'></i> {{bottomDate}}
</button>
