{{~#if view.renderDiv ~}}
<div class='topic-statuses'>
{{/if ~}}
{{~#each view.statuses ~}}
<{{openTag}} title='{{title}}' class='topic-status'><i class='fa fa-{{icon}}'></i></{{closeTag}}>
{{~/each}}
{{~#if view.renderDiv ~}}
</div>
{{/if ~}}
