<div class="clearfix">
  {{#if group}}
    {{group-notifications-button group=group}}
  {{/if}}
  {{#if showNewPM}}
    {{d-button class="btn-primary pull-right new-private-message" action="composePrivateMessage" icon="envelope" label="user.new_private_message"}}
  {{/if}}
</div>

{{basic-topic-list topicList=model
                   hideCategory=hideCategory
                   showParticipants=showParticipants
                   postsAction="showTopicEntrance"}}
