/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

.widget-container {
  border: solid 1px #ccc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 500px;
  height: 200px;
}

.widget-container .header {
  color: #222;
  font-weight: bold;
  height: 30px;
  border-bottom: solid 1px #ccc;

  background-color:#e1e1e1;
  background-image:-moz-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image:-ms-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image:-o-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
  background-image:-webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
  background-image:linear-gradient(center top, #f1f1f1 0%, #e1e1e1 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  cursor: pointer;
}

.widget-container .header:hover h1 {
  text-decoration: underline;
}

.widget-container .header h1 {
  font-size: 18px;
  margin: 3px 0 0 8px;
  display: inline-block;
}

.widget-container .header .github-icon {
  width: 22px;
  height: 22px;
  margin: 3px 0 0 5px;
  vertical-align: top;
  background: url(../images/github-icon.png) no-repeat 0 0;
  opacity: .65;
  display: inline-block;
}

.widget-container .commits-list {
  height: 169px;
  overflow-y:auto;
  line-height: 0.85em;
}

.widget-container .commits-list li {
  padding: 6px 8px;
  border-bottom: solid 1px #ccc;
  background-color:#eee;
  background-image:-moz-linear-gradient(top, #fafafa, #eee);
  background-image:-ms-linear-gradient(top, #fafafa, #eee);
  background-image:-o-linear-gradient(top, #fafafa, #eee);
  background-image:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eee));
  background-image:-webkit-linear-gradient(top, #fafafa, #eee);
  background-image:linear-gradient(center top, #fafafa 0%, #eee 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
}
.widget-container .commits-list li:last-child {
  border: none;
}

.widget-container .commits-list li .left {
  float: left;
}

.widget-container .commits-list li .right {
  margin-left: 52px;
}

.widget-container .commits-list li img {
  margin-top: 2px;
  border: solid 1px #ccc;
  padding: 2px;
  background-color: white;
}

.widget-container .commits-list li .commit-message {
  color: #222;
  font-size: 12px;
  font-weight: bold;
}

.widget-container .commits-list li .commit-meta {
  color: #555;
  font-size: 12px;
}

.widget-container .commits-list li .committer-name {
  font-weight: bold;
  color: #333;
}

.widget-container a {
  color: #222;
  text-decoration: none
}
.widget-container a:hover {
  text-decoration: underline;
}