<li class="search-random-quick-tip">
  <span
    class={{concat-class
      "tip-label"
      (if @clickable "tip-clickable")
    }}
  >
    {{@label}}
  </span>

  <span class="tip-description">
    {{@description}}
  </span>
</li>
