.more-topics__container {
  .nav {
    position: absolute;

    li {
      margin-right: 0;
    }
  }

  .more-topics__lists:not(.single-list) {
    .topic-list-header .default {
      visibility: hidden;
    }
  }
}
