// Desktop styles for "user-stream-item" component
.user-stream {
  // DEPRECATION:
  // The ".item" class should be eventually removed because it's too generic.
  // Once ".item" has been removed, ".user-stream-item" can replace
  // ".user-stream" as the top-level selector on this file as all other
  // selectors below are its children
  .item,
  .user-stream-item {
    padding: 1em 0.53em;
  }

  .time,
  .delete-info,
  .draft-type {
    margin-right: 8px;
  }

  .notification {
    &.unread {
      background-color: $tertiary-low;
    }
  }
}
