.user-info {
  &.medium {
    flex: 0 0 32%;
    margin: 0 2% 4vh 0;
    display: flex;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
    @media screen and (max-width: $small-width) {
      flex: 0 0 48%;
      margin-right: 0;
    }
    .user-image {
      width: 55px;
      margin-right: 0;
    }
  }
}
