<div class="sidebar-custom-sections">
  {{#each this.sections as |section|}}
    <Sidebar::Common::CustomSection
      @sectionData={{section}}
      @collapsable={{@collapsable}}
    />
  {{/each}}
</div>