# Internally Dicourse uses Errbit for error logging, 
#  you can to by setting up an instance and amending this file
require 'airbrake'
Airbrake.configure do |config|
  config.api_key = 'YOUR API KEY'
  config.host    = 'errors.example.com'
  config.port    = 80
  config.secure  = config.port == 443


  # IP Spoof errors can be ignored
  config.ignore << "ActionDispatch::RemoteIp::IpSpoofAttackError"
end

