<div id='simple-container'>
  <span style="font-size: 16px; line-height: 24px;"><%= @message.html_safe %></span>
</div>

<%- content_for(:no_ember_head) do %>
  <%= render_google_universal_analytics_code %>
<%- end %>

<%= render_google_analytics_code %>
