<div id='simple-container'>

  <%if flash[:error]%>
    <div class='alert alert-error'>
      <%=flash[:error]%>
    </div>
  <%else%>
    <h2><%= t 'activation.welcome_to', site_name: SiteSetting.title %></h2>
    <p>
    <% if @needs_approval %>
      <%= t 'activation.approval_required' %>
    <% else %>
      <%= raw t('activation.please_continue', link: link_to(SiteSetting.title, '/')) %></a>.
    <% end %>
    </p>

  <%end%>

</div>
