<div id="simple-container">
  <%if flash[:error]%>
    <div class='alert alert-error'>
      <%=flash[:error]%>
    </div>
  <%else%>
    <h2><%= t 'change_email.confirmed' %></h2>
    <p>
      <%= raw t('change_email.please_continue', link: link_to(SiteSetting.title, '/')) %>
    </p>
  <%end%>
</div>
