<div class="chat-transcript" data-message-id="{{message_id}}" data-username="{{username}}" data-datetime="{{created_at_str}}" data-channel-name="{{channel_name}}" data-channel-id="{{channel_id}}">
  <div class="chat-transcript-user">
    <div class="chat-transcript-user-avatar">
      <a class="trigger-user-card" data-user-card="{{username}}" aria-hidden="true" tabindex="-1">
        <img loading="lazy" alt="{{username}}" width="20" height="20" src="{{avatar_url}}" class="avatar">
      </a>
    </div>
    <div class="chat-transcript-username">{{username}}</div>
    <div class="chat-transcript-datetime">
      {{#thread_id}}
        <a href="/chat/c/-/{{channel_id}}/t/{{thread_id}}/{{message_id}}" title="{{created_at}}">{{created_at}}</a>
      {{/thread_id}}
      {{^thread_id}}
        <a href="/chat/c/-/{{channel_id}}/{{message_id}}" title="{{created_at}}">{{created_at}}</a>
      {{/thread_id}}
    </div>
    <a class="chat-transcript-channel" href="/chat/c/-/{{channel_id}}">
      {{#is_category}}
        <span class="category-chat-badge" style="color: #{{color}}">
          <svg class="fa d-icon d-icon-d-chat svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#d-chat"></use></svg>
        </span>
      {{/is_category}}
      {{#is_topic}}
        <span class="topic-chat-icon">
          <svg class="fa d-icon d-icon-far-comments svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#far-comments"></use></svg>
        </span>
      {{/is_topic}}
      {{channel_name}}
    </a>
    {{#thread_id}}
      <span class="chat-transcript-separator">&#124</span>
      <a class="chat-transcript-thread" href="/chat/c/-/{{channel_id}}/t/{{thread_id}}">
        <span class="topic-thread-icon">
          <svg class="fa d-icon d-icon-discourse-threads svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use href="#discourse-threads"></use></svg>
        </span>
        {{thread_title}}
      </a>
    {{/thread_id}}
  </div>
  <div class="chat-transcript-messages">
    {{{cooked}}}
  </div>
  <div class="chat-transcript-images onebox">
    {{#images}}
      <img src="{{url}}" loading="lazy" alt="{{original_filename}}" width="{{width}}" height="{{height}}">
    {{/images}}
  </div>
</div>
