@import "common/foundation/variables";
@import "common/foundation/mixins";
@import "common/foundation/helpers";

.notification-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: none;
  width: 550px;
  padding: 4px 0;
  margin: 32px 560px;
  list-style: none;
  background-color: $secondary;
  border: 1px solid $primary;
  box-shadow: 0 1px 5px rgba($primary, .4);
  background-clip: padding-box;
  span {font-size: 12px;}
  .title {font-weight: bold; display: block; font-size: 14px;}

  a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: $primary;
  }
}
.notification-dropdown-menu li > a:hover,
.notification-dropdown-menu .active > a,
.notification-dropdown-menu .active > a:hover {
  color: $secondary;
  text-decoration: none;
  background-color: scale-color($tertiary, $lightness: 50%);
}
.open > .notification-dropdown-menu {
  display: block;
  clear: both;
}