// Desktop
// global styles that apply to the Discourse application specifically
// BEWARE: changing these styles implies they take effect anywhere they are seen
// throughout the Discourse application
:root {
  --d-max-width: 1110px;
  --column-count: 24;
}

// Base Elements
body.widget-dragging {
  cursor: ns-resize;
}

body.dragging {
  cursor: ns-resize;
}

// Common classes
.boxed {
  height: 100%;
}

.form-vertical {
  .control-group {
    margin-bottom: 1.25em;
  }

  .controls:not(.controls-dropdown) + .controls {
    margin-top: 0.5em;
  }
}

code,
pre {
  font-family: var(--d-font-family--monospace);
}

// this removes the unwanted top margin on a paragraph under a heading
h1,
h2,
h3,
h4,
h5,
h6 {
  + p {
    margin-top: 0;
  }
}

form {
  margin: 0;
}

label,
input,
button,
select,
textarea {
  font-size: var(--font-0);
  font-weight: normal;
  line-height: var(--line-height-medium);
}

select,
textarea {
  display: inline-block;
  margin-bottom: 9px;
  font-size: var(--font-0);
  line-height: var(--line-height-large);
  color: var(--primary);
}

input,
textarea {
  width: 210px;
  margin-left: 0;
}

select,
input[type="file"] {
  line-height: var(--line-height-large);
}

select {
  width: 220px;
  background: var(--secondary);

  &[multiple],
  &[size] {
    height: auto;
  }
}

.input {
  &-xxlarge,
  &-xxlarge + .control-instructions {
    width: 530px;
  }
}

.controls-dropdown {
  margin-bottom: 10px;
}

.control-instructions {
  color: var(--primary-medium);
  font-size: 0.875rem;
}

.control-group {
  margin-bottom: 9px;
}

.form-horizontal {
  input[type="text"],
  input[type="password"],
  textarea {
    margin-bottom: 0;
  }

  .control-group {
    margin-bottom: 18px;

    @include clearfix;
  }

  .control-indent {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .control-label {
    margin: 6.5px;
    float: left;
    width: 140px;
    text-align: right;
    font-weight: bold;
  }

  .controls {
    margin-left: 160px;
  }
}

// Media Queries
@include breakpoint(mobile-extra-large) {
  body {
    min-width: 0;
  }

  .wrap,
  .full-width {
    min-width: 0;
  }
}

body {
  // won't recalc with max-width change if set at root
  --max-column-width: calc(var(--d-max-width) / var(--column-count));

  #main-outlet {
    grid-row: 1;
    grid-column: 2 / 26;
  }

  &.has-sidebar-page {
    --d-max-width: 1345px;

    #main-outlet-wrapper {
      .sidebar-wrapper {
        grid-column: 2 / 6;

        .sidebar-sections {
          padding-inline: 0;
        }
      }

      #main-outlet {
        grid-column: 7 / 26;
      }
    }

    .d-header {
      .wrap .contents {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
      }

      &__contents-primary {
        grid-column: 2 / 6;
        display: flex;
      }

      &__contents-secondary {
        grid-column: 7 / 26;
        display: flex;
      }
    }
  }
}

.discourse-root {
  display: grid;
  grid-template-columns:
    1fr repeat(var(--column-count), minmax(0, var(--max-column-width)))
    1fr;
  gap: 0;

  // give all children a full row this makes unexpected content from plugin outlets predictable
  > * {
    grid-column: 1 / -1;
  }
}

// pass the subgrid down until we get to header content
.d-header-wrap,
.d-header,
.wrap {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.d-header {
  .wrap .contents {
    grid-column: 2 / 26;
  }

  &__contents-primary,
  &__contents-secondary {
    display: flex;
  }

  &__contents-primary {
    margin-right: auto;
  }

  &__contents-secondary {
    flex: 1 1 auto;
  }

  .panel {
    margin-left: auto;
  }
}

#main-outlet-wrapper {
  grid-column: 1 / -1;
  grid-template-columns: subgrid !important; /* override core */
  gap: 0 !important; /* override core */
  padding: 0;

  // give all children a full row this makes unexpected content from plugin outlets predictable
  > * {
    grid-column: 1 / -1;
  }
}
