.group-nav {
  .group-dropdown {
    margin-right: 10px;

    i {
      color: $primary;
    }
  }

  li {
    float: left;

    a, i {
      color: dark-light-choose($primary-medium, $secondary-high);
    }

    .active {
      a, i {
        color: $secondary;
      }
    }
  }

  margin-bottom: 30px;
}

.group-info {
  margin-bottom: 20px;
}

.group-navigation {
  width: 15%;
  background-color: transparent;

  li {
    border: none;

    a {
      color: dark-light-choose($primary-medium, $secondary-high);
      padding: 8px 13px;

      &.active {
        background-color: transparent;
        font-weight: bold;
        color: $primary;

        &:after {
          display: none;
        }
      }
    }
  }
}

.group-activity-outlet,
.group-messages-outlet,
.group-manage-outlet
{
  width: 85%;
}

.group-manage {
  .form-horizontal {
    button {
      float: none;
    }
  }
}

.group-details-button {
  position: absolute;
  top: 20px;
  right: 20px;
}
