// --------------------------------------------------
// Discourse header
// --------------------------------------------------

.d-header {
  left: 0;
  height: 4em;
  margin-bottom: 15px;
  #site-logo {
    height: 2.57em;
  }
  #site-text-logo {
    font-size: $font-up-3;
    margin: 0;
  }
  .extra-info {
    // header title should not be centered if there's no tags / categories
    &:not(.two-rows) {
      min-height: 2.75em;
    }
    h1 {
      margin: 0 0 0.125em 0;
    }
  }
}

@media all and (max-width: 570px) {
  .extra-info-wrapper {
    display: none;
  }
}

#main {
  position: relative;
}

#main-outlet {
  padding-top: 5.8572em;
}

.search-link .blurb {
  color: dark-light-choose($primary-high, $secondary-medium);
  display: block;
  word-wrap: break-word;
  font-size: $font-down-2;
  line-height: $line-height-large;
  .search-highlight {
    color: dark-light-choose($primary-high, $secondary-low);
  }
}
