// --------------------------------------------------
// Discourse header
// --------------------------------------------------

.d-header {
  left: 0;
  z-index: 1000;
  padding-top: 3px;
  height: 60px;
  .fa-home {
    padding-right: 3px;
    padding-top: 3px;
  }
}

@media all
and (max-width : 570px) {
  .extra-info-wrapper {display: none;}
}

#main {
  position: relative;
}

#main-outlet {
  padding-top: 82px;
}

// Dropdowns
// --------------------------------------------------

.d-dropdown {
  width: 320px;
  overflow: auto;
  // Common

  .heading {
    border-top: 1px solid scale-color-diff();
  }

  // Categories

  .category {
    line-height: 20px;
  }

  .btn {
    padding: 2px 8px;
    margin-bottom: 2px;
    .fa {
      margin-right: 5px;
    }
  }
}

.search-link .blurb {
  color: scale-color($primary, $lightness: 45%);
  display: block;
  word-wrap: break-word;
  font-size: 11px;
  .search-highlight {
    color: scale-color($primary, $lightness: 25%);
  }
}

.d-dropdown#search-dropdown {
  width: 540px;
}

.d-dropdown .searching {
  right: 30px;
}


#search-dropdown .results {
  max-height: 500px;
}
