// styles that apply to the "share" popup when sharing a link to a post or topic

@import "common/foundation/variables";
@import "common/foundation/mixins";

#poster-expansion {
  position: absolute;
  width: 460px;
  left: 20px;
  z-index: 990;
  box-shadow: 0 2px 6px $primary_border_color;
  margin-top: -2px;
  background-color: $primary_background_color;
  padding: 12px 12px 5px 12px;

  h1 {
    display: inline-block;
    min-width: 120px;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 8px;

    a {
      color: $primary_text_color;
    }
  }

  h2 {
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    margin-bottom: 5px;

    a {
      color: $primary_text_color;
    }
  }

  h3 {
    font-size: 13px;
    font-weight: normal;
    margin-top: 0;
    color: $secondary_text_color;
  }
  .groups {
    font-size: 13px;
    font-weight: normal;
    margin-top: 0;
    color: $secondary_text_color;

    .group-link {
      color: $primary_text_color;
    }
  }

  .bottom {
    clear: both;
    padding-top: 10px;
  }

  img.avatar {
    float: left;
    padding-right: 10px;
  }

  p {
    margin: 0 0 5px 0;
  }

  p.loading {
    margin-top: 30px;
    color: $secondary_text_color;
  }

  .btn {
    margin: 0 0 7px 0;
  }

  .new-user a {
    color: $secondary_text_color;
  }
}
