.sidebar-wrapper {
  grid-area: sidebar;
}

.sidebar-container {
  background-color: var(--primary-very-low);
  height: 100vh;
  width: 240px;
  padding: 1em 1em;
  margin-right: 2.5em;

  display: flex;
  flex-direction: column;
}

.sidebar-toggle {
  display: flex;
  justify-content: flex-end;
}
