.post-actions {
  @include unselectable;
  clear: both;
  text-align: right;
  margin-bottom: 10px;
  .post-action {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.post-menu-area {
  margin: 20px 0;
}

#topic-title {
  z-index: z("base");
  padding-top: 14px;
  margin-bottom: 10px;

  #edit-title,
  .category-chooser,
  .edit-controls {
    width: 500px;
  }
  h1 {
    font-size: $font-up-4;
    line-height: $line-height-medium;
    overflow: hidden;
    width: 100%;
    a {
      color: $primary;
    }
  }
  .private-message-glyph {
    display: none;
  }
  .remove-featured-link {
    float: right;
    text-transform: lowercase;
    color: dark-light-choose($primary-medium, $secondary-medium);
    font-size: 0.857rem;
  }
}

.private-message-glyph {
  float: left;
}

.private_message #topic-title .private-message-glyph {
  display: inline;
}

.topic-error {
  padding: 18px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: $font-up-4;
  text-align: center;
  line-height: $line-height-medium;

  .topic-retry {
    display: block;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}

.topic-status-info {
  border-top: 1px solid $primary-low;
  padding: 10px 0;
  height: 20px;
  max-width: 758px;
}

#topic-progress-wrapper {
  position: fixed;
  right: 1em;
  bottom: 0;
  z-index: z("timeline");
  &.docked {
    position: absolute;
    bottom: -70px;
  }
}

#topic-progress-expanded {
  border: 1px solid $primary-low;
  padding: 5px;
  background: $secondary;

  position: relative;
  left: 340px;
  width: 135px;

  button.full {
    width: 100%;
    margin-bottom: 5px;
    .d-icon {
      display: block;
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: $font-up-2;
    }
  }
  .jump-form {
    input[type="text"] {
      float: left;
      width: 45px;
      height: 20px;
      text-align: center;
      margin-bottom: 0;
      font-size: $font-up-1;
    }
    button.btn {
      float: right;
      width: 55px;
    }
  }
  button.btn.jump-prompt {
    margin: 0;
  }

  button.btn.jump-bottom {
    margin: 5px 0 0 0;
  }
}

#topic-progress {
  position: relative;
  left: 340px;
  &.hidden {
    display: none;
  }
  background-color: $secondary;
  color: $tertiary;
  border: 1px solid $tertiary-low;
  border-bottom: none;
  width: 145px;
  height: 34px;

  /* as a big ol' click target, don't let text inside be selected */
  @include unselectable;

  &:hover {
    cursor: pointer;
  }
  .nums {
    position: relative;
    top: 9px;
    width: 100%;
    text-align: center;
    z-index: z("base");
  }
  .d-icon {
    position: absolute;
    right: 8px;
    bottom: 9px;
    z-index: z("base");
  }
  h4 {
    display: inline;
    font-size: $font-up-2;
    line-height: $line-height-small;
  }
  .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    max-width: 145px;
    border-right: 1px solid $tertiary-low;
    background-color: $tertiary-low;
    transition: width 0.75s;
  }
}

#topic-filter {
  background-color: $highlight-medium;
  padding: 8px;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-size: $font-0;
  z-index: z("dropdown");
}

@media all and (min-width: 400px) {
  #topic-progress,
  #topic-progress-expanded {
    right: 0;
    left: 0;
  }

  #topic-progress-wrapper {
    right: 19vw;
  }

  #topic-progress-wrapper.docked {
    right: 19vw;
  }

  #topic-footer-main-buttons {
    max-width: 70%;
  }
}

@media all and (max-width: 485px) {
  #topic-progress-wrapper.docked {
    display: none;
  }

  #topic-footer-main-buttons {
    max-width: 100%;
  }
}
