
.post-info a {color: #aaa;}

.topic-meta-data-inside {
  float: right;
  margin-top: -22px;
  float: right;
  font-size: 12px;
}


.post-actions {
  color: #bbb;
  clear: both;
  padding-right: 10px;
  text-align: right;
  a {color: #bbb;}
  .post-action {
display: inline-block;
margin-left: 10px;
  margin-top: 10px;

  }
}
.post-menu-area {margin-bottom: 10px; margin-top: 20px;}

.post-info  {
  display: inline-block;
}

.edits {margin-right: 5px;}

#topic-title {
  margin-bottom: 20px;
margin: -20px 0 0 0;
.topic-statuses {margin-left: 5px;}
h1 {

  font-size: 2.2em;
  line-height: 1em;
  margin: 0;


a.badge-category {vertical-align: middle;}

a.edit-topic {font-size: 15px;}

}


}

#topic-closing-info {
  margin-left: 10px;
}

.docked #topic-progress {
    box-shadow: 0 0 3px #aaa;
}

#topic-progress-wrapper {
  position: fixed;
  right: 50%;
  width: 0;
  bottom: 0px;
  z-index: 500;
  outline: 1px solid transparent;


}


.reply-new {
i {
  font-size: 12px;
  margin-right: 5px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 2px 4px;
  border-radius: 20px;
  transition: linear 0.15s;
  -webkit-transition: linear 0.15s;

}

}

a.reply-new {color: #aaa;}
a:hover.reply-new {color: #56aed3;

i {background: #e4f2f8;
  border: 1px solid #56aed3;
  padding: 2px 4px;
}

}


#topic-progress {

    box-shadow: 0 0 3px #000;

  position: relative;
  left: 302px;
  &.hidden {
    display: none;
  }
  border: none;
  background-color: #ddd;
  color: #666;
  width: 130px;
  height: 34px;
  .nums {
    position: relative;
    top: 9px;
    width: 100%;
    text-align: center;
    z-index: 1;
  }
  button {
    padding: 0 1px;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    top: 8px;
    left: 4px;
    border: 0;
    background: none;
  color: #666;
    i {
      font-size: 18px;
    }
    &:nth-of-type(2) {
      right: 4px;
      left: auto;
    }


    &:disabled {

      cursor: default;
  color: #666;
    }
  }
  h4 {
    display: inline;
    font-size: 18px;
    line-height: 15px;
  }
  .bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0px;
    border-right: 1px solid #ccc;
    // background-color: #d4eaf4;
    // background-color: #C5E8F7;
    background-color: #C6F3B6;
  }
}

#topic-progress-wrapper.docked {
  #topic-progress {
  }
  position: absolute;
  bottom: -55px;

}

.topic-statuses .topic-status {
  padding: 0;
  i {
    font-size:20px;

  }
}





.heatmap-high {color: #f77 !important;}
.heatmap-med {color: #a00 !important;}
.heatmap-low {color: #700 !important;}

.onebox-result {margin-top: 15px;}
.source .info {padding-right: 10px;}



#topic-filter {
  background-color: #ffe;
  padding: 8px;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-size: 15px;
  z-index: 495
}

ol.category-breadcrumb {
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;

  li {
    float: left;
    margin-right: 5px;
    border: 1px solid transparent;
    line-height: 31px;

    &.no-category {
      font-size: 22px;

      a {
        margin-right: 3px;
        margin-left: 4px;

        &:hover {
          color: black;
        }
      }

      button {
        padding-left: 6px;
        &:hover {
          background-color: #eee;
        }
      }

      &.has-drop:hover {
        background-color: #f9f9f9;
        button {
          border-left: 1px solid #bbb;
        }
      }

      .category-menu {
        margin-left: -1px;
        padding: 8px 5px 0 3px;
      }
    }

    .badge-category {
      margin: 0;
      display: inline-block;
      font-size: 14px;
      padding: 0px 10px;
      float: none;
    }

    button {
      background: none;
      border: 1px solid transparent;
      padding: 0 4px 0 2px;
      margin: 0;
      height: 22px;
      color: #666;
      line-height: 13px;
      text-align: center;

      i.icon-caret-down {
        margin-left: -2px;
      }
    }

    &.has-drop:hover {
      background-color: #eee;
      border: 1px solid #bbb;

      button {
        color: black;
      }
    }
  }

  .clear {
    clear: both;
  }

  .category-menu {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    border: 1px solid #ccc;
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 8px 5px 0 7px;
    z-index: 100;

    .badge-category {
      font-size: 13px;
      line-height: 26px;
      padding: 0px 8px;
    }

    div {
      margin-bottom: 10px;
    }
  }
}
