@import "common/foundation/variables";
@import "common/foundation/mixins";

.post-info a {color: #aaa;}

.topic-meta-data-inside {
  float: right;
  margin-top: -22px;
  float: right;
  font-size: 12px;
}

.post-actions {
  @include unselectable;
  clear: both;
  text-align: right;
  .post-action {
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
  }
}
.post-menu-area {
  margin-bottom: 10px;
  margin-top: 20px;
}

.post-info  {
  display: inline-block;
}

.edits {margin-right: 5px;}

#topic-title {
  z-index: 1000;
  padding: 14px 0 8px 0;
  margin-bottom: 20px;
  .star {
    font-size: 20px;
    margin-top: 8px;
    margin-right: 8px;
  }
  #edit-title { width: 500px; }
  .category-combobox {
    width: 250px;
    .chzn-drop {
      left: -9000px;
      width: 248px;
    }
    .chzn-search input {
      width: 198px;
    }
  }
  h1 {
    font-size: 2em;
    margin: 0;
    line-height: 1.2em;
    overflow: hidden;
    a.badge-category { vertical-align: top; }
    a.edit-topic { font-size: 15px; position: absolute; margin-left: 8px; }
  }
  .topic-statuses {
    margin-top: -2px;
    .fa-thumb-tack { margin-top: -1px; }
  }
  .chzn-container { vertical-align: middle; }
}

#topic-closing-info {
  margin-left: 10px;
  margin-top: 10px;
  height: 20px;
}

#topic-progress-wrapper {
  position: fixed;
  right: 50%;
  width: 0;
  bottom: 0px;
  z-index: 500;
  outline: 1px solid transparent;
}

.reply-new {
  i {
    font-size: 12px;
    margin-right: 5px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 2px 4px;
    border-radius: 20px;
    transition: linear 0.15s;
    -webkit-transition: linear 0.15s;
  }
}

a.reply-new {color: #aaa;}
a:hover.reply-new {
  color: #56aed3;
  i {background: #e4f2f8;
    border: 1px solid #56aed3;
    padding: 2px 4px;
  }
}

#topic-progress {
  position: relative;
  left: 302px;
  &.hidden {
    display: none;
  }
  border: none;
  background-color: #ddd;
  color: #666;
  width: 130px;
  height: 34px;

  .nums {
    position: relative;
    top: 9px;
    width: 100%;
    text-align: center;
    z-index: 1;
  }
  button {
    padding: 3px 0 0 0;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    top: 2px;
    left: 4px;
    border: 0;
    background: none;
    color: #666;
    width: 50%;
    text-align: left;
    height: 30px;
    margin: 0;
    i {
      font-size: 18px;
    }
    &:nth-of-type(2) {
      right: 4px;
      left: auto;
      text-align: right;
    }
    &:disabled {
    cursor: default;
    color: #666;
    }
  }
  h4 {
    display: inline;
    font-size: 18px;
    line-height: 15px;
  }
  .bg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 0px;
    border-right: 1px solid #ccc;
    // background-color: #d4eaf4;
    // background-color: #C5E8F7;
    background-color: #C6F3B6;
  }
}

#topic-progress-wrapper.docked {
  #topic-progress {
  }
  position: absolute;
  bottom: -70px;

}

.topic-statuses .topic-status {
  padding: 0;
  i {
    font-size:20px;
  }
}

#suggested-topics .topic-statuses .topic-status {
  padding: 0;
  i {
    font-size:15px;
  }
}

.heatmap-high {color: #f77 !important;}
.heatmap-med {color: #a00 !important;}
.heatmap-low {color: #700 !important;}



#topic-filter {
  background-color: #ffe;
  padding: 8px;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-size: 15px;
  z-index: 495
}

/* Code, KBD, Sub/sup formatting */

code,kbd,pre,samp{
  font-family:monospace, serif; font-size:1em;
}
pre { white-space:pre-wrap;}
q{ quotes:"\201C" "\201D" "\2018" "\2019"; }
small{ font-size:80%; }
sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sup{top:-0.5em; }
sub{bottom:-0.25em; }
figure{margin:0; }
fieldset{
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em;
}
legend{
  border:0;
  padding:0;
}

kbd
{
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .1em .6em;
}
