.upload-selector {
  label {
    display: inline-block;
    @include padding-left(10px);
  }
  .radios {
    height: 60px;
    .inputs {
      @include float(right);
      width: 75%;
      input {
        width: 90%;
        @include margin(0 0 5px 0);
      }
      input[type="file"] {
        font-size: 1em;
        line-height: 18px;
      }
      .description, .hint {
        color: scale-color($primary, $lightness: 50%);
      }
      .hint {
        font-style: italic;
        @include margin(5px 0 0 0);
      }
    }
  }
  .radios:last-child {
    height: 20px;
  }
}

.uploaded-image-preview {
  height: 270px;
}

.image-upload-controls {
  @include padding(10px);
  label.btn {
    @include padding(7px 10px 5px 10px);
  }
}
