.upload-selector {
  label {
    display: inline-block;
    padding-left: 10px;
  }
  .radios {
    min-height: 60px;
    display: flex;
    align-items: flex-start;
    label {
      flex: 1 0 auto;
      margin-right: 1em;
      margin-top: 1px;
    }
    .inputs {
      width: 100%;
      input {
        width: 90%;
        margin: 0 0 5px 0;
      }
      input[type="file"] {
        font-size: $font-0;
        line-height: $line-height-medium;
      }
      .description,
      .hint {
        color: dark-light-choose($primary-medium, $secondary-medium);
        display: block;
      }
      .hint {
        font-style: italic;
        margin: 5px 0 0 0;
      }
    }
  }
  .radios:last-child:not(:nth-child(2)) {
    // last child for composer modal, but not theme import modal
    min-height: 20px;
  }
}

.uploaded-image-preview {
  height: 270px;
}

.image-upload-controls {
  padding: 10px;
  label.btn {
    padding: 5px 10px;
  }
}
