// Desktop styles for "/user" section
.user-right {
  display: table-cell;

  &,
  > .user-stream {
    > .alert:first-child {
      margin-top: 10px;
    }
  }
}

.profile-image {
  height: 420px;
  width: 100%;
  background-size: cover;
  transition: height .15s linear;
}

.no-background {
  .profile-image {
    height: 200px;
  }
}

.form-horizontal .control-group.category {
  margin-top: 18px;
}

.user-table {
  width: 100%;
  display: table;
  table-layout: fixed;

  .wrapper {
    display: table-row;
  }
}

.user-navigation {
  display: table-cell;
  vertical-align: top;
  width: 170px;

  .nav-stacked {
    background-color: transparent;

    li {
      border-bottom: none;

      &.archive {
        padding-left: 15px;
      }
    }

    a {
      color: dark-light-choose($primary-medium, $secondary-high);

      &.active {
        color: $primary;
        font-weight: bold;
        background-color: transparent;

        &:after {
          display: none;
        }
      }
    }
  }
}

.user-content {
  padding: 10px 8px;
  background-color: $secondary;
  margin-bottom: 10px;
  box-sizing: border-box;

  .btn.right {
    float: right
  }

  h2 {
    margin-bottom: 10px;
  }
}

.pref-avatar {
  .avatar {
    max-width: 45px;
    max-height: 45px;
  }
}

.user-invite-list {
  width: 100%;
  margin-top: 15px;

  th {
    text-align: left;
    border-bottom: 3px solid $primary-low;
    padding: 0 0 10px 0;
    color: dark-light-choose($primary-medium, $secondary-medium);
    font-weight: normal;
  }

  td {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid $primary-low;
  }
}

.user-invite-controls {
  background-color: $primary-low;
  padding: 5px 10px 0px 0;
  height: 35px;
}

.user-invite-search {
  clear: both;
  margin: 15px 0px -15px 0px;
}

.user-invite-none {
  clear: both;
  padding: 15px;
}

.user-main {
  margin-bottom: 50px;

  .about {
    background-position: center center;
    background-size: cover;

    &.group {
      .details {
        padding: 15px 0px;
        margin: 0;
        color: dark-light-choose(lighten($primary, 10%), $secondary);
      }
    }

  .secondary {
    background: $secondary;
    border-top: 1px solid $primary-low;
    border-bottom: 1px solid $primary-low;

      dl {
        padding: 8px 10px;
      }

      dd {
        display: inline;
        margin: 0 10px 0 0;
      }

      dt {
        margin: 0 5px 0 0;
        padding: 0;
      }
    }

    .details {
      padding: 0 0 4px 0;
      margin-top: -200px;
      transition: margin .15s linear;

      img.avatar {
        margin: 0 20px 10px 0;
        transition: all .1s linear;
      }

      .primary {
        .primary-textual {
          padding: 3px;
          a[href] {
            text-decoration: underline;
          }
        }

        .bio {
          max-width: 750px;

          a.mention {
            text-decoration: none;
          }
        }
      }
    }

    &.has-background {
      .details {
        padding: 15px 15px 4px 15px;
      }
    }

    .controls {
      padding: 0 0 12px 0;
      float: right;
      text-align: right;
      width: 180px;

      a {
        width: 140px;
      }

      .right {
        float: right;
        margin-left: 5px;
      }
    }

    &.collapsed-info {
      .controls {
        width: auto;

        ul {

          li {
            display: inline;
          }

          a {
            padding: 5px 10px;
            margin-bottom: 10px;
            width: auto;
          }
        }
      }

      .details {
        padding: 0 0 2px 0;
        border-bottom: 1px solid $primary-low;
      }

      &.has-background {
        .details {
          padding: 12px 15px 2px 15px;
        }
      }
    }
  }

  .staff-counters {
    color: $secondary;
    margin-bottom: 20px;
  }

  .user-field {
    input[type=text] {
      width: 530px;
    }

    .controls {
      .instructions {
        display: block;
      }
    }
  }

  .viewing-self & .about.collapsed-info {
    .secondary, .staff-counters {
      display: inherit;
    }
  }
}

.user-preferences {
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 30px;

  h3 {
    color: $primary;
    margin: 20px 0 10px 0;
  }

  textarea {
    width: 530px;
  }

  input {
    &.category-selector,
    &.user-selector,
    &.tag-chooser {
      width: 530px;
    }

    &[type=text] {
      @include small-width {
        width: 450px;
      }
    }
  }

  .instructions {
    display: inline-block;
    margin-top: 0;
  }

  .form-horizontal .instructions {
    margin-left: 160px;
  }

  .pref-mailing-list-mode .controls {
    select {
      width: 400px;
    }
  }

  .notifications,
  .category-notifications,
  .tag-notifications,
  .user-custom-preferences-outlet {
    .controls select {
      width: 280px;
    }
  }

  .user-main & .user-field.text {
    padding-top: 0;
  }
}
