{{! template-lint-disable }}
<div class="full-page-chat">
<div id="main-chat-outlet" class="main-chat-outlet chat-view">
  <div class="chat-channel__header">
    <span class="chat-channel__header-back">{{d-icon "chevron-left"}}</span>
    <span>Baldur's Gate Adventurers Misfits</span>
  </div>
  <nav class="chat-channel__panel-header">
      <DButton class="btn-flat chat-channel__panel-header-item" @icon="comment" aria-label="Switch to main channel view" @translatedLabel="Channel"/>
      <DButton class="btn-flat chat-channel__panel-header-item -active" @icon="discourse-threads" aria-label="Switch to thread view" @translatedLabel="Threads"/>
  </nav>
  <div class="channels-list">
    thread list as is
  </div>
  <nav class="chat-channel__footer-nav">
    <DButton class="btn-flat chat-channel__footer-item" aria-label="See all threads" @translatedLabel="All threads"/>
    <DButton class="btn-flat chat-channel__footer-item -active"aria-label="See only my threads" @translatedLabel="My threads"/>
  </nav>
</div>
</div>

{{! eslint-disable-next-line }}
<style>
  @media screen and (max-width: 768px) { 
    .styleguide-menu, .section-title 
    { display: none; } 

    .styleguide,
    .styleguide-section,
    .styleguide-section-contents,
    .full-page-chat {
      height: 100%;
    }
  }

  #main-outlet {
    padding: 0
  }

  #main-outlet-wrapper {
    padding: 0;
  }

  .full-page-chat {
    #main-chat-outlet.chat-view {
    height: 100%;
      grid-template-columns: auto;
      grid-template-rows: min-content min-content auto min-content;
      grid-template-areas: "header"
                          "panel-header"
                          "list"
                          "footer"
    }
    .chat-channel__header {
      grid-area: header;
      padding-block: .5rem;
      border-bottom: 1px solid var(--primary-low);
      padding-inline: 1rem;
      color: var(--primary-high);
    }

  .chat-channel__header-back {
    margin-right: 1rem;
  } 
    .chat-channel__panel-header {
      grid-area: panel-header;
      display: flex;
    }

    .chat-channel__panel-header-item {
      flex-basis: 50%;
      flex-shrink: 0;
      padding-block: .75rem;
    }

    .chat-channel__panel-header-item:not(.-active) {
      box-shadow: 0px 1px 4px 0px rgba(var(--primary-rgb), 0.14) inset;
      background: var(--primary-very-low);
      color: var(--primary-medium);

      .d-icon {
        color: var(--primary-600);
      } 
    }

    .chat-channel__panel-header-item.-active {
      background: var(--secondary);
      border-bottom: 3px solid var(--quaternary);
      color: var(--quaternary);

      .d-icon {
      color: inherit;
      }
    }

    .channels-list {
    grid-area: list;
    padding-bottom: 0;
    }

    .chat-channel__footer-nav {
      grid-area: footer;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 1rem;
      margin-block: 1rem;
      margin-inline: 1rem;
      background: var(--secondary);
    }

    .chat-channel__footer-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 50%;
      padding-block: .5rem;
      border: 1px solid var(--quaternary);
      background: var(--secondary);

      .d-button-label,
      .d-icon {
      font-size: var(--font-down-1-rem);
        color: var(--quaternary);
      }
    }
    .chat-channel__footer-item.-active {
      background: var(--quaternary);
        .d-icon,
        .d-button-label {
          color: var(--secondary);
          font-weight: bold;
        }
      }
    }

</style>