{{! template-lint-disable }}
<div class="full-page-chat">
<div id="main-chat-outlet" class="main-chat-outlet chat-view">
  <div class="channels-list">
    chat index list of channels as-is
  </div>
    <nav class="c-footer">
      <DButton class="btn-flat c-footer__item --active" @icon="users" aria-label="Switch to DM list" @translatedLabel="DMs"/>
      <DButton class="btn-flat c-footer__item" @icon="comments" aria-label="Switch to channel list" @translatedLabel="Channels"/>
      <DButton class="btn-flat c-footer__item" @icon="discourse-threads" aria-label="Switch to my threads list" @translatedLabel="My Threads"/>
    </nav>
</div>
</div>

{{! eslint-disable-next-line }}
<style>
  {{!-- //stuff to ignore, is for the mock --}}
  @media screen and (max-width: 768px) { 
    .styleguide-menu, .section-title 
    { display: none; } 

    .styleguide,
    .styleguide-section,
    .styleguide-section-contents,
    .full-page-chat {
      height: 100%;
    }
  }

#main-outlet-wrapper {
padding: 0;
}
  .full-page-chat {
    #main-chat-outlet.chat-view {

    {{!-- //real stuff – dont ignore  --}}
      grid-template-rows: auto min-content;
      grid-template-areas: "list"
                          "footer"
    }
    .channels-list {
    grid-area: list;
    padding-bottom: 0;
    }
    
    .c-footer {
     grid-area: footer;
     background: var(--secondary);
    border-top: 1px solid var(--primary-low);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    }

    .c-footer__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 33%;
      flex-shrink: 0;
      padding-block: .75rem;

      .d-icon {
        margin-right: 0;
        font-size: var(--font-up-2-rem);
        color: var(--primary-medium);
      }

      .d-button-label {
        font-size: var(--font-down-1-rem);
        color: var(--primary-medium);
      }
    }
    .c-footer__item.--active {
        .d-icon,
        .d-button-label {
          color: var(--quaternary);
        }
      }
    }

</style>