{{#if this.displayTimeLineScrollArea}}
  <div class="timeline-date-wrapper">
    <a class={{@class}} onClick={{@onClick}} title={{this.label}}>
      <span>
        {{this.label}}
      </span>
    </a>
  </div>
{{/if}}
