<html>
  <head></head>
  <body>
    <script type="text/javascript">
      window.opener.Discourse.authenticationComplete(<%=@data.to_client_hash.to_json.html_safe%>);
      window.close();
    </script>
  </body>
</html>
