<div class="sidebar-section-link-wrapper">
  <button
    type="button"
    class="sidebar-section-link sidebar-row --link-button"
    {{on "click" @action}}
  >
    <span class="sidebar-section-link-prefix icon">
      {{d-icon @icon}}
    </span>

    <span class="sidebar-section-link-content-text">
      {{@text}}
    </span>
  </button>
</div>