[data-d-scroll~="view"] {
  display: grid;
  position: relative;
}

[data-d-scroll~="view"] > * {
  position: absolute !important;
}

[data-d-scroll~="scrollbar-measurer"] {
  pointer-events: none;
  width: 50px;
  height: 50px;
  position: fixed;
  top: -200px;
  overflow-y: scroll;
}

[data-d-scroll~="view"][data-d-scroll~="scroll-ongoing"]
  [contenteditable="true"],
[data-d-scroll~="view"][data-d-scroll~="scroll-ongoing"] input,
[data-d-scroll~="view"][data-d-scroll~="scroll-ongoing"] textarea {
  caret-color: transparent !important;
}

[data-d-scroll~="scroll-container"] {
  --grid-template: 0px max-content 0px max-content 0px max-content 0px !important;
  scrollbar-color: inherit;
  scrollbar-gutter: inherit;
  outline: none !important;
  padding: 0 !important;
  display: grid !important;
  position: relative !important;
}

[data-d-scroll~="scroll-container"]:focus {
  outline: none;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="axis-y"] {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  grid-template-rows: var(--grid-template);
}

[data-d-scroll~="scroll-container"][data-d-scroll~="axis-x"] {
  overflow-x: auto !important;
  overflow-y: hidden !important;
  grid-template-columns: var(--grid-template);
}

[data-d-scroll~="view"][data-d-scroll~="page-scroll"][data-d-scroll~="axis-x"] {
  width: auto !important;
}

[data-d-scroll~="view"][data-d-scroll~="page-scroll"][data-d-scroll~="axis-y"] {
  height: auto !important;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"] {
  overflow: visible !important;
}

html:has(
  [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="no-overshoot"][data-d-scroll~="axis-x"]
) {
  overscroll-behavior-x: none !important;
}

html:has(
  [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="no-overshoot"][data-d-scroll~="axis-y"]
) {
  overscroll-behavior-y: none !important;
}

html:has(
  [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="scroll-skip"]
) {
  scroll-behavior: auto;
}

html:has(
  [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="scroll-smooth"]
),
html:has(
  [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="scroll-auto"]
) {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:has(
    [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="scroll-auto"]
  ) {
    scroll-behavior: auto;
  }
}

html:has(
  [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="no-anchoring"]
) {
  overflow-anchor: none;
}

html:has(
  [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="snap-proximity"][data-d-scroll~="axis-y"]
) {
  scroll-snap-type: y proximity;
}

html:has(
  [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="snap-proximity"][data-d-scroll~="axis-x"]
) {
  scroll-snap-type: x proximity;
}

html:has(
  [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="snap-mandatory"][data-d-scroll~="axis-y"]
) {
  scroll-snap-type: y mandatory;
}

html:has(
  [data-d-scroll~="scroll-container"][data-d-scroll~="page-scroll"][data-d-scroll~="snap-mandatory"][data-d-scroll~="axis-x"]
) {
  scroll-snap-type: x mandatory;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="no-overshoot"][data-d-scroll~="axis-x"] {
  overscroll-behavior-x: none !important;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="no-overshoot"][data-d-scroll~="axis-y"] {
  overscroll-behavior-y: none !important;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="trap-x"] {
  overscroll-behavior-x: contain !important;

  &:not([data-d-scroll~="overflow-x"]) {
    overscroll-behavior-x: none !important;
  }

  &:not([data-d-scroll~="overflow-x"], [data-d-scroll~="overflow-y"]) {
    overflow-x: auto !important;
  }
}

[data-d-scroll~="scroll-container"][data-d-scroll~="trap-y"] {
  overscroll-behavior-y: contain !important;

  &:not([data-d-scroll~="overflow-y"]) {
    overscroll-behavior-y: none !important;
  }

  &:not([data-d-scroll~="overflow-x"], [data-d-scroll~="overflow-y"]) {
    overflow-y: auto !important;
  }
}

[data-d-sheet~="outlet"][data-d-sheet~="animating"]
  [data-d-scroll~="scroll-container"],
[data-d-scroll~="scroll-container"][data-d-scroll~="no-scroll-gesture"] {
  overflow-anchor: none;
  overflow: hidden !important;
}

[data-d-sheet~="outlet"][data-d-sheet~="animating"]
  [data-d-scroll~="scroll-container"][data-d-scroll~="overflow-x"]:not(
    [data-d-scroll~="no-scrollbar"]
  ),
[data-d-scroll~="scroll-container"][data-d-scroll~="no-scroll-gesture"][data-d-scroll~="overflow-x"] {
  padding-bottom: var(
    --d-scroll-collapsed-scrollbar-thickness,
    var(--d-scroll-ua-scrollbar-thickness)
  ) !important;
}

[data-d-sheet~="outlet"][data-d-sheet~="animating"]
  [data-d-scroll~="scroll-container"][data-d-scroll~="overflow-y"],
[data-d-scroll~="scroll-container"][data-d-scroll~="no-scroll-gesture"][data-d-scroll~="overflow-y"] {
  padding-inline-end: var(
    --d-scroll-collapsed-scrollbar-thickness,
    var(--d-scroll-ua-scrollbar-thickness)
  ) !important;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="scroll-skip"] {
  scroll-behavior: auto;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="scroll-smooth"] {
  scroll-behavior: smooth;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="scroll-auto"] {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  [data-d-scroll~="scroll-container"][data-d-scroll~="scroll-auto"] {
    scroll-behavior: auto;
  }
}

[data-d-scroll~="scroll-container"][data-d-scroll~="no-anchoring"] {
  overflow-anchor: none;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="snap-proximity"][data-d-scroll~="axis-y"] {
  scroll-snap-type: y proximity;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="snap-proximity"][data-d-scroll~="axis-x"] {
  scroll-snap-type: x proximity;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="snap-mandatory"][data-d-scroll~="axis-y"] {
  scroll-snap-type: y mandatory;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="snap-mandatory"][data-d-scroll~="axis-x"] {
  scroll-snap-type: x mandatory;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="no-scrollbar"] {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

[data-d-scroll~="scroll-container"][data-d-scroll~="trap-x"]:not(
    [data-d-scroll~="overflow-x"],
    [data-d-scroll~="overflow-y"]
  ),
[data-d-scroll~="scroll-container"][data-d-scroll~="trap-y"]:not(
    [data-d-scroll~="overflow-x"],
    [data-d-scroll~="overflow-y"]
  ) {
  scrollbar-width: none !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

[data-d-scroll~="scroll-container"][data-d-scroll~="trap-x"]:not(
    [data-d-scroll~="overflow-x"],
    [data-d-scroll~="overflow-y"]
  )::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 1px;
  user-select: none !important;
  pointer-events: none !important;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="trap-y"]:not(
    [data-d-scroll~="overflow-x"],
    [data-d-scroll~="overflow-y"]
  )::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 101%;
  user-select: none !important;
  pointer-events: none !important;
}

[data-d-scroll~="spy"] {
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
  margin-right: -1px;
}

[data-d-scroll~="spy"][data-d-scroll~="spy-start"][data-d-scroll~="axis-y"] {
  grid-row: 1;
}

[data-d-scroll~="spy"][data-d-scroll~="spy-end"][data-d-scroll~="axis-y"] {
  grid-row: -1;
  margin-top: -2px;
}

[data-d-scroll~="spy"][data-d-scroll~="spy-start"][data-d-scroll~="axis-x"] {
  grid-column: 1;
}

[data-d-scroll~="spy"][data-d-scroll~="spy-end"][data-d-scroll~="axis-x"] {
  grid-column: -1;
  margin-left: -2px;
}

[data-d-scroll~="start-spacer"][data-d-scroll~="axis-y"] {
  width: 1px;
  height: 0;
  grid-row: 2;
}

[data-d-scroll~="start-spacer"][data-d-scroll~="axis-x"] {
  width: 0;
  height: 1px;
  grid-column: 2;
}

[data-d-scroll~="end-spacer"][data-d-scroll~="axis-y"] {
  width: 1px;
  grid-row: 6;
}

[data-d-scroll~="end-spacer"][data-d-scroll~="axis-x"] {
  height: 1px;
  grid-column: 6;
}

[data-d-scroll~="start-spacer"][data-d-scroll~="page-scroll"],
[data-d-scroll~="end-spacer"][data-d-scroll~="page-scroll"] {
  width: 0 !important;
  height: 0 !important;
}

[data-d-scroll~="content"] {
  position: relative !important;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="axis-y"]
  [data-d-scroll~="content"] {
  grid-row: 4 !important;
}

[data-d-scroll~="scroll-container"][data-d-scroll~="axis-x"]
  [data-d-scroll~="content"] {
  grid-column: 4 !important;
}

[data-d-scroll~="content"][data-d-scroll~="no-overflow-x"][data-d-scroll~="trap-x"] {
  position: sticky !important;
  left: 0 !important;
  right: 0 !important;
}

[data-d-scroll~="content"][data-d-scroll~="no-overflow-y"][data-d-scroll~="trap-y"] {
  position: sticky !important;
  top: 0 !important;
  bottom: 0 !important;
}
