.d-sheet-header {
  border-bottom: 1px solid var(--content-border-color);
  position: relative;
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  align-items: center;
  grid-gap: var(--space-2);
  gap: var(--space-2);
  height: 45px;

  &__title {
    margin: 0;
    justify-self: center;
    text-box: trim-both cap alphabetic;
    color: var(--primary);
    font-size: var(--font-up-1);
  }

  &__left {
    display: flex;
    justify-self: start;
  }

  &__right {
    display: flex;
    justify-self: end;
  }
}
