<div class="admin-new-feature-item">
  <div class="new-feature-content">
    <div class="header">
      <h3>{{this.item.title}}</h3>
      {{#if this.item.emoji}}
        <div class="new-feature-emoji">{{this.item.emoji}}</div>
      {{/if}}
    </div>
    {{#if this.item.screenshot_url}}
      <img src={{this.item.screenshot_url}} class="screenshot" />
    {{/if}}
    <div class="feature-description">
      <CookText @rawText={{this.item.description}} />
    </div>
  </div>
</div>