<div class="settings-editor">
  <AceEditor @mode={{"html"}} @content={{this.settings}} @save={{@save}} />
  {{!-- <DButton
      @action={{@save}}
      @class="btn-primary"
      @translatedLabel="Save"
    /> --}}
</div>