<DButton
  @label="admin.site_text.edit"
  @class="btn-default edit"
  @action={{this.editAction}}
  @actionParam={{this.siteText}}
/>
<h3 class="site-text-id">{{this.siteText.id}}</h3>
<div class="site-text-value">{{this.siteText.value}}</div>

<div class="clearfix"></div>