<DButton
  @label="admin.site_text.edit"
  @action={{fn this.editAction this.siteText}}
  class="btn-default edit"
/>
<h3 class="site-text-id">{{this.siteText.id}}</h3>
<div class="site-text-value">{{this.siteText.value}}</div>

<div class="clearfix"></div>