{{#if this.field}}
  <section class="field">
    <b>{{i18n this.name}}</b>: ({{i18n
      "character_count"
      count=this.field.length
    }})
    <br />
    <Textarea @value={{this.field}} class="plain" />
  </section>
{{/if}}