.select-kit {
  &.dropdown-select-box {
    .select-kit-collection {
      overflow-y: auto;
    }

    .select-kit-row {
      .svg-icon-title {
        width: auto;
        height: auto;
      }

      .texts {
        .name {
          font-weight: normal;
        }
      }
    }
  }
}
