<div class="admin-detail discourse-chat-incoming-webhooks">
  <BackButton
    @label="chat.incoming_webhooks.back"
    @route="adminPlugins.show.discourse-chat-incoming-webhooks.index"
    class="incoming-chat-webhooks-back"
  />

  <ConditionalLoadingSpinner @condition={{not this.model.webhook}}>
    <ChatIncomingWebhookEditForm
      @webhook={{this.model.webhook}}
      @chatChannels={{this.model.chat_channels}}
    />
  </ConditionalLoadingSpinner>
</div>