<DBreadcrumbsItem
  @path="/admin/plugins/chat/hooks"
  @label={{i18n "chat.incoming_webhooks.title"}}
/>

<div class="discourse-chat-incoming-webhooks admin-detail">
  <AdminPageSubheader
    @titleLabel="chat.incoming_webhooks.title"
    @descriptionLabel="chat.incoming_webhooks.instructions"
  >
    <:actions as |actions|>
      <actions.Primary
        @label="chat.incoming_webhooks.new"
        @title="chat.incoming_webhooks.new"
        @route="adminPlugins.show.discourse-chat-incoming-webhooks.new"
        @routeModels="chat"
        @icon="plus"
        class="admin-incoming-webhooks-new"
      />
    </:actions>
  </AdminPageSubheader>

  <div class="incoming-chat-webhooks">
    {{#if this.model.incoming_chat_webhooks}}
      <AdminChatIncomingWebhooksList
        @webhooks={{this.model.incoming_chat_webhooks}}
      />
    {{else}}
      {{i18n "chat.incoming_webhooks.none"}}
    {{/if}}
  </div>
</div>