{{bread-crumbs categories=categories}}

{{navigation-bar navItems=navItems filterMode=filterMode}}

{{#if canCreateTopic}}
  <button id="create-topic" class='btn btn-default' {{action "createTopic"}}><i class='fa fa-plus'></i>{{i18n 'topic.create'}}</button>
{{/if}}
