<div class="choices">
  {{#each selectedContent as |item|}}
    {{component selectKit.options.selectedNameComponent
      tabindex=tabindex
      item=item
      selectKit=selectKit
    }}
  {{/each}}

  <div class="choice input-wrapper">
    {{component selectKit.options.filterComponent
      selectKit=selectKit
    }}
  </div>
</div>
