<div class="choices">
  {{#each computedContent.selection as |selection|}}
    {{component selectedNameComponent
      onClickSelectionItem=onClickSelectionItem
      highlightedSelection=highlightedSelection
      forceEscape=forceEscape
      computedContent=selection}}
  {{/each}}
  <span class="filter choice" tabindex="-1">
    {{yield}}
  </span>
</div>
