<div class="choices">
  {{#each computedContent.selectedComputedContents as |selectedComputedContent|}}
    {{component selectedNameComponent
      deselect=deselect
      computedContent=selectedComputedContent}}
  {{/each}}
  <span class="filter choice" tabindex="-1">
    {{yield}}
  </span>
</div>
