{{#if headerContent}}<div class="header">{{headerContent}}</div>{{/if}}

<div class="body">
  <span class="name">
    {{{label}}}
  </span>
</div>

{{#if footerContent}}<div class="footer">{{footerContent}}</div>{{/if}}
