<div class="selected-color-wrapper">
  <span class="name">
    {{#unless isLocked}}
      <span class="delete-icon" {{action deselect computedContent bubbles=false}}>
        {{d-icon "times"}}
      </span>
    {{/unless}}

    #{{{label}}}
  </span>

  <span class="color-preview"></span>
</div>
