<div class="select-kit-header-wrapper">
  <span class="filter-text">
    {{i18n "user.user_notifications.filters.filter_by"}}
  </span>
  <span class="header-text">
    {{i18n this.label}}
  </span>
  {{d-icon this.caretIcon class="caret-icon"}}
</div>