<nav class="navigation" role="navigation">
  <%= link_to(
              'Codes',
              [namespace, :tags],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__tags')}"
      ) %>
  <%= link_to(
              'Annotations',
              [namespace, :annotations],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__annotations')}"
      ) %>
  <%# link_to(
              'Collections',
              [namespace, :collections],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__collections')}"
      ) %>
</nav>
