<nav class="navigation" role="navigation">
  <%= link_to(
              'Codes',
              [namespace, :annotator_store, :tags],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__tags')}"
      ) %>
  <%= link_to(
              'Collections',
              [namespace, :annotator_store, :collections],
              class: "navigation__link navigation__link--#{nav_link_state('annotator_store__collections')}"
      ) %>
</nav>
