<h3><i class='icon icon-bullhorn'></i> {{i18n best_of.title}}</h3>
<p>{{{i18n best_of.description count="controller.content.posts_count"}}}</p>

<button class='btn' {{action enableBestOf target="controller"}}>{{i18n best_of.button}}</button>
