{{#d-button action=(action "save") disabled=model.isSaving class="btn btn-primary save-user"}}
  {{saveButtonText}}
{{/d-button}}

{{#if saved}}
  <span class='saved-user'>{{i18n 'saved'}}</span>
{{/if}}
