{{#d-section pageClass="badges"}}
  <div class='container badges'>
    <h1>{{i18n 'badges.title'}}</h1>

    <div class='badge-groups'>
      {{#each badgeGroups as |bg|}}
        <div class='badge-grouping'>
          <div class='title'>
            <h3>{{bg.badgeGrouping.displayName}}</h3>
          </div>
          <div class="badge-group-list">
            {{#each bg.badges as |b|}}
              {{badge-card badge=b filterUser=b.has_badge username=currentUser.username}}
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/d-section}}
