<div class='container badges'>
  <h1>{{i18n 'badges.title'}}</h1>

  <div class='badge-groups'>
    {{#each bg in badgeGroups}}
      <div class='badge-grouping'>
        <div class='title'>
          <h3>{{bg.badgeGrouping.displayName}}</h3>
        </div>

        {{#each bg.badges as |b|}}
          {{#link-to 'badges.show' b.id b.slug}}
            {{badge-card badge=b}}
          {{/link-to}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
