<div class='container badges'>
  <h1>{{i18n 'badges.title'}}</h1>

  <div class='badge-groups'>
    {{#each badgeGroups as |bg|}}
      <div class='badge-grouping'>
        <div class='title'>
          <h3>{{bg.badgeGrouping.displayName}}</h3>
        </div>

        {{#each bg.badges as |b|}}
          {{badge-card badge=b navigateOnClick="true"}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
