<div class="modal-body">
  <form>
   {{view "archetype-options" archetype=view.archetype}}
  </form>
</div>
<div class="modal-footer">
  <button class='btn btn-primary' {{action "closeModal"}}>{{i18n 'post.archetypes.save'}}</button>
</div>
