{{#each notificationLevels as |level|}}
  <div class='controls'>
    <label class='radio'>
      {{radio-button value=level.id name="notification_level" selection=notificationLevelId}} <strong>{{unbound level.name}}</strong>
      <div class='description'>{{{unbound level.description}}}</div>
    </label>
  </div>
{{/each}}

{{d-button
  disabled=disabled
  action=(action "changeNotificationLevel")
  label="topics.bulk.notification_level"}}
