<p>{{i18n "topics.bulk.choose_new_category"}}</p>

<p>{{category-chooser value=newCategoryId}}</p>

{{#conditional-loading-spinner condition=loading}}
  {{d-button action=(action "changeCategory") label="topics.bulk.change_category"}}
{{/conditional-loading-spinner}}
