<p>Choose the new category for the topics:</p>

<p>{{category-chooser value=newCategoryId}}</p>

{{#if loading}}
  <div class='loading'>{{i18n loading}}</div>
{{else}}
  <button class='btn' {{action changeCategory}}>Change Category</button>
{{/if}}

