{{#d-modal-body}}
  <p>{{{i18n "post.controls.delete_topic_disallowed_modal"}}}</p>
{{/d-modal-body}}
<div class="modal-footer">
  {{d-button action=(route-action "closeModal") class="btn-primary" label="close"}}
</div>
