{{#d-modal-body}}
  <p>
    {{preference-checkbox labelKey="topics.bulk.also_dismiss_topics" checked=dismissTopics}}
  </p>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-primary"
    action=(route-action "dismissReadTopics" dismissTopics)
    icon="check"
    label="topics.bulk.dismiss"}}
</div>
