<section class='field'>
  <label>{{i18n category.logo}}</label>
  {{image-uploader uploadUrl=categoryUploadUrl imageUrl=logo_url type="logo"}}
</section>

<section class='field'>
  <label>{{i18n category.background_image}}</label>
  {{image-uploader uploadUrl=categoryUploadUrl imageUrl=background_url type="background"}}
</section>
