{{#d-modal-body class="feature-topic-on-profile" id='choosing-topic'}}
  {{choose-topic currentTopicId=model.featured_topic.id
    selectedTopicId=newFeaturedTopicId
    additionalFilters="status:public"
    label="user.feature_topic_on_profile.search_label"
    topicChangedCallback=(action "newTopicSelected")
    loadOnInit=true
  }}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action=(action "save")
    class="btn-primary save-featured-topic-on-profile"
    disabled=noTopicSelected
    label="user.feature_topic_on_profile.save"}}
</div>
