{{#d-modal-body title="user.user_notifications.ignore_duration_title" autoFocus="false"}}
  {{future-date-input
    label="user.user_notifications.ignore_duration_when"
    input=ignoredUntil
    includeWeekend=true
    includeDateTime=false
    includeMidFuture=true
    includeFarFuture=false
    onChangeInput=(action (mut ignoredUntil))
  }}
  <p>{{i18n "user.user_notifications.ignore_duration_note"}}</p>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn-primary"
             disabled=saveDisabled
             label="user.user_notifications.ignore_duration_save"
             action=(action "ignore")}}

  {{conditional-loading-spinner size="small" condition=loading}}
</div>
