{{#d-modal-body title="composer.link_dialog_title" class="insert-link"}}
    <div class="inputs">
      {{text-field value=linkUrl placeholderKey="composer.link_url_placeholder" class="link-url"}}
    </div>
    <div class="inputs">
      {{text-field value=linkText placeholderKey="composer.link_optional_text" class="link-text"}}
    </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn-primary" label="composer.modal_ok" action=(action "ok")}}
  {{d-button class="btn-danger" label="composer.modal_cancel" action=(action "cancel")}}
</div>
