{{#d-modal-body title="topic.progress.jump_prompt_long"}}
  {{input id="post-jump" type="number" value=postNumber insert-newline="jump"}}
  <span class='input-hint-text'>
    {{i18n "topic.progress.jump_prompt_of" count=topic.postStream.filteredPostsCount}}
  </span>
{{/d-modal-body}}

<div class='modal-footer'>
  {{d-button class="btn-primary" action="jump" label="composer.modal_ok"}}
  {{d-modal-cancel close=(action "closeModal")}}
</div>
