{{#d-modal-body id='move-selected'}}
  <p>{{{i18n 'topic.merge_topic.instructions' count=selectedPostsCount}}}</p>

  <form>
    {{choose-topic currentTopicId=model.id selectedTopicId=selectedTopicId}}
  </form>
{{/d-modal-body}}

<div class="modal-footer">
  {{#d-button class="btn-primary" disabled=buttonDisabled action="movePostsToExistingTopic"}}
    {{d-icon 'sign-out'}} {{buttonTitle}}
  {{/d-button}}
</div>
