<div id='move-selected' class="modal-body">
  <p>{{{i18n 'topic.merge_topic.instructions' count=selectedPostsCount}}}</p>

  <form>
    {{view "choose-topic" currentTopicId=model.id selectedTopicId=selectedTopicId}}
  </form>
</div>

<div class="modal-footer">
  {{#d-button class="btn-primary" disabled=buttonDisabled action="movePostsToExistingTopic"}}
    {{fa-icon 'sign-out'}} {{buttonTitle}}
  {{/d-button}}
</div>
