{{#d-modal-body}}
  {{{i18n 'login.not_activated' sentTo=sentTo}}}
{{/d-modal-body}}

<div class="modal-footer">
  {{activation-controls sendActivationEmail=(action "sendActivationEmail")
                        editActivationEmail=(action "editActivationEmail")}}
</div>
