<div class="modal-body">
  <p>{{{description}}}</p>

  <p>{{{i18n "queue.approval.pending_posts" count=model.pending_count}}}</p>
</div>
<div class="modal-footer">
  {{d-button action="closeModal" class="btn-primary" label="queue.approval.ok"}}
</div>
