<div class="modal-body">
  <p>{{i18n "queue.approval.description"}}</p>

  <p>{{{i18n "queue.approval.pending_posts" count=model.pending_count}}}
</div>
<div class="modal-footer">
  {{d-button action="closeModal" class="btn-primary" label="queue.approval.ok"}}
</div>
