{{#d-modal-body}}
  <p>{{i18n "review.approval.description"}}</p>

  <p>{{{i18n "review.approval.pending_posts" count=model.pending_count}}}</p>
{{/d-modal-body}}
<div class="modal-footer">
  {{d-button action=(route-action "closeModal") class="btn-primary" label="review.approval.ok"}}
</div>
