{{#d-modal-body title="tagging.rename_tag"}}
  <label>
    <p>{{i18n "tagging.rename_instructions"}}</p>
    {{input value=buffered.id maxlength=siteSettings.max_tag_length}}
  </label>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn-primary"
             action="performRename"
             label="tagging.rename_tag"
             disabled=renameDisabled}}
</div>
