{{#d-modal-body}}
  <div class="form-horizontal">
  {{input type="text" value=model.name}}
  </div>
  <div class='second-factor instructions'>
    {{i18n 'user.second_factor.edit_description'}}
  </div>
  {{d-button action=(action "editSecondFactor")
    class="btn-primary"
    label="user.second_factor.edit"}}

  {{d-button action=(action "disableSecondFactor")
    class="btn-danger"
    label="user.second_factor.disable"}}
{{/d-modal-body}}
