app/assets/stylesheets/vendor/
documentation/
config/locales/**/*.yml
!config/locales/**/*.en*.yml
script/import_scripts/**/*.yml

plugins/**/lib/javascripts/locale
public/
!/app/assets/javascripts/discourse/public
vendor/
app/assets/javascripts/discourse/tests/fixtures
spec/
dist/
tmp/

**/*.rb
**/*.html
**/*.json
**/*.md
