// Fixing bulk select (only needed for desktop)
.bulk-select-enabled {
  .topic-list-header {
    position: relative;
    top: 0;
  }

  .topic-author-avatar-data {
    display: none;
  }

  .bulk-select.topic-list-data {
    grid-area: bulk-select;
    margin-left: -0.5em;

    @media screen and (width <= 576px) {
      margin-top: 0;

      label {
        padding-block: 0.345em;
      }
    }

    input {
      transform: scale(1.5);
    }
  }
}

.topic-list-header {
  tr {
    border: none;
  }

  .topic-list-data {
    padding: 0;

    &:not(.default) {
      display: none;
    }

    &.default {
      .bulk-select,
      span:not(.bulk-select-topics, .d-button-label) {
        display: none;
      }
    }
  }

  // bulk select
  .bulk-select-topics {
    position: absolute;
    right: 0;
    background: var(--secondary);
    border-radius: 0 0 0 var(--d-border-radius);
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem;

    button {
      white-space: nowrap;
      margin: 0;
    }
  }
}
