@use "lib/viewport";

.voting .voting-wrapper {
  --d-button-border-radius: var(--d-border-radius-small);
  --primary-100: var(--d-selected);
  --primary-low: var(--d-selected);

  &__button {
    background: var(--secondary);
  }

  .discourse-no-touch & {
    button {
      &:focus-visible,
      &:hover {
        box-shadow: none;
      }

      &:not(.btn-success) {
        .d-icon {
          color: var(--primary-high);
        }
      }
    }
  }
}

.voting.header-title-voting .voting-wrapper {
  --primary-high: var(--header_primary-high);

  @include viewport.from(lg) {
    --secondary: var(--background-color);
    --content-border-color: var(--d-sidebar-border-color);
  }
}
