{{category-selector
  categories=selectedCategories
  onChange=(action "onChangeSelectedCategories")
}}

<div class='desc'>{{{unbound setting.description}}}</div>
{{setting-validation-message message=validationMessage}}
