{{combo-box
  valueProperty="value"
  content=setting.validValues
  value=value
  onChange=(action (mut value))
  valueProperty=null
  nameProperty=null
  options=(hash
    castInteger=true
    allowAny=setting.allowsNone
  )
}}

{{preview}}

{{setting-validation-message message=validationMessage}}

<div class='desc'>
  {{{unbound setting.description}}}
</div>
