{{list-setting
  value=settingValue
  choices=groupChoices
  settingName="name"
  nameProperty=nameProperty
  valueProperty=valueProperty
  onChange=(action "onChangeGroupListSetting")
}}
{{setting-validation-message message=validationMessage}}
<div class='desc'>{{{unbound setting.description}}}</div>
