<div class='authorize-api-key'>
  <% if @denied %>
    <h1><%= t("user_api_key.device.denied") %></h1>
  <% else %>
    <h1><%= t("user_api_key.device.complete") %></h1>
  <% end %>

  <p><%= t("user_api_key.device.return_to_cli") %></p>
</div>
