<div class="select-kit-header-wrapper">
  {{#each icons as |icon|}}
    {{d-icon icon}}
  {{/each}}

  <MultiSelect::FormatSelectedContent @content={{selectedContent}} @selectKit={{selectKit}} />

  {{d-icon caretIcon class="caret-icon"}}
</div>
