<DModalBody @title="admin.api.scopes.allowed_urls">
  <div>
    <ul>
      {{#each this.model.urls as |url|}}
        <li>
          <code>{{url}}</code>
        </li>
      {{/each}}
    </ul>
  </div>
</DModalBody>