<DModalBody @title="admin.logs.staff_actions.modal_title">
  <pre>{{model.details}}</pre>
</DModalBody>
<div class="modal-footer">
  <DButton @action={{route-action "closeModal"}} @label="close" />
</div>
