{{#d-modal-body title="admin.logs.staff_actions.modal_title"}}
  <pre>{{model.details}}</pre>
{{/d-modal-body}}
<div class="modal-footer">
  {{d-button action=(route-action "closeModal") label="close"}}
</div>
