<div>
  {{#d-modal-body rawTitle=(i18n "admin.user.merge.prompt.title" username=username)}}
    <p>{{html-safe (i18n "admin.user.merge.prompt.description" username=username)}}</p>
    {{user-selector single=true
                    placeholderKey="admin.user.merge.prompt.target_username_placeholder"
                    usernames=targetUsername
                    autocomplete="discourse"}}
  {{/d-modal-body}}

  <div class="modal-footer">
    {{#d-button
      class="btn-primary"
      action=(action "showConfirmation")
      icon="trash-alt"
      disabled=mergeDisabled
    }}
      {{i18n "admin.user.merge.prompt.transfer_and_delete" username=username}}
    {{/d-button}}
    {{d-button
      action=(action "close")
      label="admin.user.merge.prompt.cancel"
    }}
  </div>
</div>
