<DModalBody
  @class="form-templates__validation-options"
  @title="admin.form_templates.validations_modal.modal_title"
>
  <table>
    <thead>
      <tr>
        {{#each this.tableHeaders as |header|}}
          <th>{{header}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each this.validations as |item|}}
        <tr>
          <td><pre>{{item.key}}</pre></td>
          <td>{{item.type}}</td>
          <td>{{item.description}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</DModalBody>