<%# Displays the "more new for you" section in the digest email %>

<% if @other_new_for_you.present? %>
  <center class="digest-new-header" style="color:#0a0a0a;background:#f3f3f3;font-size:22px;font-weight:400;padding-bottom: 8px;font-family:Arial,sans-serif;mso-line-height-rule:exactly;line-height:36px;"><%=t 'user_notifications.digest.more_new' %></center>

  <table width="100%" class="digest-new-topics body with-dir" style="background:#f3f3f3;border-spacing:0;border-collapse:collapse!important;font-family:Arial,sans-serif;font-size:14px;font-weight:200;line-height:1.3;padding:0;vertical-align:top;">
    <tr>
      <td class="side-spacer" style="padding:0;">&nbsp;</td>
      <td width="650" align="center" valign="top" style="border-collapse:collapse!important;margin:0;padding:0;">
        <table class="digest-new-topic with-dir" style="padding:0;vertical-align:top;width:100%">
          <tbody>
            <% @other_new_for_you.each do |topic| %>
              <%= render partial: "user_notifications/new_topic", locals: { topic: topic } %>
            <% end %>
          </tbody>
        </table>
      </td>
      <td class="side-spacer" style="padding:0;">&nbsp;</td>
    </tr>
  </table>
<% end %>