<%# Displays the popular posts section in the digest email %>

<% if @popular_posts.present? %>
  <center class="header-popular-posts" style="color:#0a0a0a;background:#f3f3f3;font-size:22px;font-weight:400;padding: 20px 0;font-family:Arial,sans-serif;">
    <%=t 'user_notifications.digest.popular_posts' %>
  </center>

  <table width="100%" class="body with-dir" style="background:#f3f3f3;border-spacing:0;border-collapse:collapse!important;font-family:Arial,sans-serif;font-size:14px;font-weight:200;line-height:1.3;padding:0;vertical-align:top;">
    <tr>
      <td class="side-spacer" style="padding:0;">&nbsp;</td>
      <td class="with-dir" width="650" align="center" valign="top" style="border-collapse:collapse!important;line-height:1.3;margin:0;padding:0;vertical-align:top;">
        <% @popular_posts.each do |post| %>
          <%= render partial: "user_notifications/popular_post", locals: { post: post } %>
        <% end %>
      </td>
      <td class="side-spacer" style="padding:0;">&nbsp;</td>
    </tr>
  </table>
<% end %>