.admin-config.color-palettes {
  .color-palettes-list {
    ul {
      list-style: none;
      margin: 0;
    }

    li {
      border-bottom: 1px solid var(--primary-low);

      &:first-of-type {
        border-top: 1px solid var(--primary-low);
      }

      a {
        display: block;
        padding: 10px;
        color: var(--primary);

        &:hover {
          background-color: var(--primary-low);
          color: var(--primary);
        }

        &.active {
          font-weight: bold;
          color: var(--primary);
          background: var(--d-selected);
        }
      }
    }
  }

  .create-new-palette {
    margin-bottom: 1em;
  }

  .admin-config-color-palettes {
    &__name-control {
      display: flex;
      gap: var(--space-1);

      .form-kit__container-content,
      .form-kit__control-input-wrapper,
      input[name="name"] {
        height: 100%;
      }

      h2 {
        margin-bottom: 0;
      }
    }

    &__top-controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;
    }

    &__logo-and-fonts-hint {
      display: flex;
      justify-content: space-between;
    }

    &__unsaved-changes {
      font-size: var(--font-down-1);
      color: var(--primary-medium);
      align-self: center;
    }

    &__save-card {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
    }
  }

  .alert {
    margin-bottom: 1em;
  }
}
