.admin-report-chart {
  animation: fadein 2s;

  @media (prefers-reduced-motion) {
    animation-duration: 0s;
  }
}

.chart {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__body {
    margin-block: var(--space-4);
    flex: 1;
    min-width: 0; // allow chart.js to shrink below intrinsic width

    .report-alert {
      margin: 0;
      text-align: center;
      padding: 3em;
      border: 1px solid transparent;

      a {
        color: var(--primary-high);
      }

      .d-icon {
        color: var(--primary-medium);
        font-size: var(--font-up-5);
        display: block;
        margin: 0.25em auto;
      }

      &.no-data,
      &.rate-limited {
        background: var(--secondary);
        border-color: var(--primary-low);
        color: var(--primary);
      }

      &.rate-limited .d-icon {
        color: var(--danger);
      }

      &.timeout,
      &.exception {
        border-color: var(--danger-low);
        color: var(--danger);
      }
    }

    .average-chart {
      font-style: italic;
      color: var(--primary-high);
      text-align: right;
    }
  }

  &__filters {
    display: flex;
    align-items: flex-start; // aligned to top to provide alignment when subcat checkbox is in play
    gap: var(--space-4);
    margin-bottom: var(--space-4);

    .group-filter .select-kit {
      width: auto; // overrule for top level admin css
    }

    .chart-groupings {
      display: flex;
      gap: var(--space-2);
      background-color: var(--primary-very-low);
      border-radius: var(--d-border-radius-large);
      padding: var(--space-1) var(--space-2);

      .chart-grouping {
        border-radius: var(--d-border-radius-large);
        background: transparent;

        &:hover {
          background: transparent;
          color: var(--primary);
        }

        &.active {
          background: var(--secondary);
          box-shadow: var(--shadow-card);
        }
      }
    }
  }

  &__filter-label {
    margin-top: var(--space-1);
  }

  &__dates {
    margin-left: auto;

    .d-date-time-input-range {
      display: flex;
      gap: var(--space-2);

      > * {
        margin: 0;
      }
    }
  }

  &__actions {
    display: flex;
    gap: var(--space-4);
    justify-content: flex-end;
    margin-top: var(--space-4);
  }

  &__modes {
    list-style: none;
    margin-right: auto;

    .mode {
      display: inline-flex;
      flex: 1 0 0px;

      .mode-btn.is-current {
        color: var(--tertiary);
      }
    }
  }
}

.filters {
  display: flex;
  align-items: center;
}
