// these are the styles associated with the Discourse admin section
@import "foundation/variables";
@import "foundation/mixins";
@import "foundation/helpers";

.admin-content {
  margin-bottom: 50px;
  .admin-contents {
    padding: 8px;
  }

  table.report {
    tr {
      th:nth-of-type(1) {
        width: 20%;
      }
    }

    .bar-container {
      float: left;
      width: 300px;
      margin-right: 15px;
      margin-bottom: 5px;
      display: inline-block;

      .bar {
        margin-top: 5px;
        background-color: $blue;
        display: inline-block;
        text-align: right;
        padding-right: 8px;
        color: $white;
      }
    }
  }
}

.admin-loading {
  width: 100px;
  margin: 0 auto 30px auto;
  background-color: $black;
  @include border-radius-all(10px);
  padding: 10px 10px 10px 30px;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  color: $white;
  background: {
    image: image-url("spinner_96_w.gif");
    repeat: no-repeat;
    position: 10px 8px;
    size: 25px;
  };
}

.admin-controls {
  @include border-radius-all(5px);
  background-color: darken($white, 5%);
  border: 1px solid darken($white, 10%);
  padding: 5px 10px 3px 0px;
  margin-bottom: 20px;
  height: 35px;
  .nav.nav-pills {
    li.active {
      a {
        background-color: $dark_gray;
        &:hover {
          background-color: $dark_gray;
        }
      }
    }
  }
  h1 {
    font-size: 20px;
    line-height: 25px;
    color: $darkish_gray;
  }
  .controls {
    padding-top: 3px;
  }
  button {
    float: left;
    margin-right: 5px;
  }
  .result-message {
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px;
  }
  .username {
    input[type=text] {
      width: 240px;
    }
  }
  .search {
    float: right;
    margin-left: 10px;
    label {
      margin-top: 5px;
    }
  }
}

.settings {
  .setting {
    padding-bottom: 20px;
    .desc {
      padding-top: 3px;
      color: darken($white, 40%);
    }

    h3 {
      font-size: 13px;
      font-weight: normal;
    }
  }

  .setting.overridden {
    input[type=text] {
      background-color: lighten($yellow, 40%);
    }

    h3 {
      color: darken($yellow, 20%);
    }
  }
}

section.details {
  h1 {
    font-size: 15px;
    background-color: $gray;
    box-shadow: 1px 1px 3px $darkish_gray;
    color: $darkish_gray;
    padding: 0 10px;
    line-height: 25px;
    margin: 0px 0 5px 0;
  }
}

#selected-controls {
  background-color: lighten($blue, 50%);
  padding: 8px;
  min-height: 27px;
  position: fixed;
  bottom: 0;
  width: 1075px;
  border: 1px solid lighten($blue, 45%);
}

table {
  tr.selected {
    background-color: lighten($blue, 58%);
  }
}

.display-row {
  padding: 5px;
  &:nth-of-type(1) {
    border-top: 0;
  }
  border-top: 1px solid #dddddd;
  &:before, &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
  .field {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    width: 196px;
    float: left;
    margin-left: 12px;
  }
  .value {
    width: 250px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 12px;
  }
  .controls {
    .btn {
      margin-right: 5px;
    }
  }
}

// Customise area
.customize {
  .nav.nav-pills {
    margin-left: 10px;
  }
  .well {
    min-height: 20px;
    padding: 4px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    height: 638px;
    margin-bottom: 10px;
  }
  a {
    cursor: pointer;
  }
  .list, .current-style {
    float: left;
  }
  .list {
    width: 20%;
    margin-right: 20px;
    margin-top: 65px;
  }
  .current-style {
    .delete-link {
      margin-left: 15px;
      margin-top: 5px;
    }
    .preview-link {
      margin-left: 30px;
    }
    width: 75%;
    .style-name {
      width: 600px;
      height: 25px;
      font-size: 20px;
    }
    .ace-wrapper {
      position: relative;
      height: 600px;
      width: 100%;
    }
    .ace_editor {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .status-actions {
      float: right;
      span {
        margin-right: 20px;
      }
    }
    .buttons {
      float: left;
      button, a {
        float: left;
      }
    }
  }
}


.admin-flags {
  tr.hidden-post td.excerpt { opacity: 0.4;  }
  td.message {
    padding: 4px 0;
    background-color: #f8f8e0;
  }
  td { vertical-align: middle; }
  th { text-align: left; }
  .user { width: 40px; }
  .excerpt {
    width: 600px; padding: 0 10px 10px 0;
    .icon,h3 { display: inline-block; }

  }
  .flaggers { padding: 0 10px; }
  .last-flagged { padding: 0 10px; }
}

/* Dashboard */

.dashboard-left {
  float: left;
  width: 500px;
}
.dashboard-right {
  float: right;
  width: 500px;
  margin-right: 15px;

  @include medium-width {
    width: 430px;
  }
  @include small-width {
    width: 390px;
  }
}

.version-check {
  .version-number {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .face {
    width: 20px;
  }

  .version-notes .icon {
    vertical-align: bottom;
  }

  &.critical .version-notes .normal-note {
    display: none;
  }
  &.normal .version-notes .critical-note {
    display: none;
  }

  .icon {
    font-size: 26px;
  }

  .update-to-date {
    color: green;
  }
  .updates-available {
    color: #FF9500;
  }
  .critical-updates-available {
    color: red;
  }
}

.update-nag {
  i.icon {
    font-size: 20px;
  }
}

.dashboard-stats {
  margin-top: 30px;
  width: 450px;
  margin-left: 40px;

  table {
    width: 100%;

    th {
      font-weight: normal;
      text-align: center;
    }
    thead {
      tr:hover > td,
      tr:hover > th {
        background-color: $white;
      }
    }

    td.value {
      font-weight: bold;
      text-align: center;
    }
  }

  &.detected-problems {
    @include border-radius-all(5px);
    background-color: #eee;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: inset 0 0 10px #bbb;

    .look-here {
      float: left;
      margin: 20px 20px 0 20px;

      .icon {
        font-size: 32px;
        vertical-align: middle;
        color: $darkish_gray;
      }
    }

    .problem-messages {
      float: left;
      width: 355px;
    }
  }

  &.totals {
    width: 160px;

    table tr:first-child td {
      border-top: none;
    }
  }

  &.trust-levels {
    margin-top: 0px;

    td.value {
      width: 33px;
    }
  }

  &.total-users {
    margin-left: 45px;
  }
}


.commits-widget {
  border: solid 1px #ccc;
  margin-top: 10px;
  width: 500px;
  height: 380px;

  @include medium-width {
    width: 430px;
  }
  @include small-width {
    width: 390px;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  a {
    color: #222;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  .header {
    color: #222;
    font-weight: bold;
    height: 30px;
    border-bottom: solid 1px #ccc;

    background-color:#e1e1e1;
    background-image:-moz-linear-gradient(top, #f1f1f1, #e1e1e1);
    background-image:-ms-linear-gradient(top, #f1f1f1, #e1e1e1);
    background-image:-o-linear-gradient(top, #f1f1f1, #e1e1e1);
    background-image:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
    background-image:-webkit-linear-gradient(top, #f1f1f1, #e1e1e1);
    background-image:linear-gradient(center top, #f1f1f1 0%, #e1e1e1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
    cursor: pointer;

    h1 {
      font-size: 18px;
      margin: 5px 0 0 8px;
      display: inline-block;
      line-height: 1.0em;
    }
  }

  .header:hover h1 {
    color: $link-color-hover;
  }

  .commits-list {
    height: 349px;
    overflow-y:auto;

    li {
      @extend .clearfix;
      line-height: 1.0em;
      padding: 6px 8px;
      border-bottom: solid 1px #ccc;
      background-color:#eee;
      background-image:-moz-linear-gradient(top, #fafafa, #eee);
      background-image:-ms-linear-gradient(top, #fafafa, #eee);
      background-image:-o-linear-gradient(top, #fafafa, #eee);
      background-image:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eee));
      background-image:-webkit-linear-gradient(top, #fafafa, #eee);
      background-image:linear-gradient(center top, #fafafa 0%, #eee 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');

      .left {
        float: left;
      }
      .right {
        margin-left: 52px;
      }

      img {
        margin-top: 2px;
        border: solid 1px #ccc;
        padding: 2px;
        background-color: white;
      }

      .commit-message {
        color: #222;
        font-size: 12px;
        font-weight: bold;
      }

      .commit-meta {
        color: #555;
        font-size: 12px;
      }

      .committer-name {
        font-weight: bold;
        color: #333;
      }
    }
    li:last-child {
      border: none;
    }
  }

  // Always show the scrollbar:
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    -webkit-border-radius: 3px;
  }
  ::-webkit-scrollbar-track {
    border-left: solid 1px #ddd;
  }
}