.color-palette {
  &.admin-config-area-card {
    padding: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1em;
    align-items: stretch;
    width: 100%;
    list-style-type: none;
    margin: 0;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__preview {
    background: var(--secondary--preview);
    border-bottom: 1px solid var(--primary-low--preview, #e9e9e9);

    svg {
      padding: var(--space-4);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1 1 auto;
    padding: var(--space-4) var(--space-4) 0;

    h3 {
      margin-bottom: var(--space-1);
    }

    .color-palette__theme-link {
      min-height: 2rem;
      font-size: var(--font-down-1);

      a {
        color: var(--primary-medium);
      }

      .d-icon {
        font-size: var(--font-down-1);
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--space-4) var(--space-4) var(--space-4);
  }

  &__badges {
    min-height: 2rem;
  }

  .fk-d-tooltip__trigger {
    background: transparent;

    .d-icon {
      color: var(--primary-high);
    }
  }

  &__filters {
    display: flex;
    gap: var(--space-2);
    margin-bottom: var(--space-4);

    .filter-input-container {
      flex: 4 1 auto;
    }

    .d-select {
      flex: 1 1 auto;
      width: auto;
    }
  }

  &__no-results {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: var(--space-6);
    gap: var(--space-2);

    h3 {
      font-weight: normal;
    }

    .btn {
      align-self: center;
    }
  }
}
