// Some basic overrides to https://github.com/MiniProfiler/rack-mini-profiler/blob/master/lib/html/includes.scss
// which make the badge conform to the current site theme.
.profiler-queries-bg {
  z-index: z("header") - 2;
}

div.profiler-results.profiler-top {
  top: var(--header-offset);
  z-index: z("header") - 1;

  .profiler-result {
    font-size: var(--font-down-1);
  }

  .profiler-button {
    background-color: var(--header_background);
    color: var(--header_primary);
    border-bottom: 1px solid var(--header_primary-low);

    .profiler-number,
    .profiler-unit {
      color: var(--header_primary);
    }

    .profiler-reqs {
      font-size: var(--font-down-1);
    }
  }

  &.profiler-left .profiler-button {
    border-right: 1px solid var(--header_primary-low);
  }

  &.profiler-right .profiler-button {
    border-left: 1px solid var(--header_primary-low);
    padding-right: 10px; // Make space for scrollbar
  }
}
