.admin-interface {
  .form-kit__container-title .history-icon {
    opacity: 0;
    transition: opacity 0.3s;
    color: var(--primary-medium);
  }

  .form-kit__container-title {
    display: flex;
  }

  .form-kit__container-title .setting-controls__undo {
    padding: 0;
    margin-left: 0.5rem;
  }

  .form-kit__container-title:hover .history-icon {
    opacity: 1;
  }

  .form-kit__control-select {
    width: 100%;
  }

  .form-kit__container input:not([type="checkbox"]),
  .form-kit__container .value-list,
  .form-kit__container .select-kit,
  .form-kit__control-checkbox-label,
  .form-kit .select-kit-body,
  .form-kit .color-picker,
  .form-kit .file-size-picker {
    width: var(--form-kit-large-input);
  }

  .form-kit__container input[type="text"],
  .form-kit__container .select-kit {
    box-shadow:
      0 0 #0000,
      0 0 #0000,
      0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
}
