.admin-area .sidebar-wrapper .admin-panel {
  --d-sidebar-admin-background: var(--token-surface-hovered);
  --d-sidebar-active-background: var(--token-background-accent-subtler);
  --d-sidebar-highlight-background: var(--token-surface-pressed);
  --d-sidebar-link-color: var(--token-text-default);
  background-color: var(--d-sidebar-admin-background);
}

.admin-sidebar-nav-link__dot {
  color: var(--token-background-accent-subtler);
}
