.admin-area .sidebar-wrapper .admin-panel {
  background-color: var(--d-sidebar-admin-background);

  .sidebar-section-header-text {
    font-weight: bold;
    color: var(--primary-very-high);
  }
}

.admin-sidebar-nav-link__dot {
  color: var(--tertiary-med-or-tertiary);
}
