{{list-setting settingValue=buffered.value choices=setting.choices settingName=setting.setting}}
{{setting-validation-message message=validationMessage}}
<div class='desc'>{{unbound setting.description}}</div>
