<div>
  {{#d-modal-body rawTitle=(i18n "admin.user.merge.confirmation.title" username=username)}}
    <p>{{html-safe (i18n "admin.user.merge.confirmation.description" username=username targetUsername=targetUsername text=text)}}</p>
    {{input type="text" value=value}}
  {{/d-modal-body}}

  <div class="modal-footer">
    {{#d-button
      class="btn-danger"
      action=(action "confirm")
      icon="trash-alt"
      disabled=mergeDisabled
    }}
      {{i18n "admin.user.merge.confirmation.transfer_and_delete" username=username}}
    {{/d-button}}
    {{d-button
      action=(action "close")
      label="admin.user.merge.confirmation.cancel"
    }}
  </div>
</div>
