<div>
  {{#d-modal-body title="admin.logs.staff_actions.modal_title"}}
    {{{diff}}}
  {{/d-modal-body}}
  <div class="modal-footer">
    {{d-button
      class="btn-primary"
      action=(route-action "closeModal")
      label="close"}}
  </div>
</div>
