<div>
  {{#d-modal-body title="admin.logs.staff_actions.modal_title"}}
    {{{diff}}}
  {{/d-modal-body}}
  <div class="modal-footer">
    <button class='btn btn-primary' {{action "closeModal"}}>{{i18n 'close'}}</button>
  </div>
</div>
