defaults: &defaults
  host: localhost
  port: 6379
  db: 0
  cache_db: 2

development:
  <<: *defaults

profile:
  <<: *defaults

test:
  <<: *defaults
  db: 1

staging:
  <<: *defaults

production:
  <<: *defaults

# Example for using environment variables
#
# production:
#   uri: <%= uri = URI.parse(ENV['OPENREDIS_URL']) if ENV['OPENREDIS_URL'] %>
#   host: <%= uri.host if uri %>
#   port: <%= uri.port if uri %>
#   password: <%= uri.password if uri %>
#   db: 0
#   cache_db: 2