<div class="choices">
  {{#each shownItems as |item|}}
    {{component selectKit.options.selectedNameComponent
      tabindex=tabindex
      item=item
      selectKit=selectKit
    }}
  {{/each}}
  {{#if hasHiddenItems}}
    <div class="x-more-item" data-hidden-count={{hiddenItemsCount}}>
      {{i18n "x_more" count=hiddenItemsCount}}
    </div>
  {{/if}}

  {{#unless hasReachedMaximumSelection}}
    <div class="choice input-wrapper">
      {{component selectKit.options.filterComponent
        selectKit=selectKit
        id=(concat selectKit.uniqueID "-filter")
      }}
    </div>
  {{/unless}}
</div>
