{{topic-status topic=item disableActions=true}}
<div class="topic-title">{{replace-emoji item.fancy_title}}</div>
<div class="topic-categories">
  {{bound-category-link item.category
    recursive=true
    hideParent=true
    link=false
  }}
</div>
