<a class='search-link' href='{{unbound url}}'>
  <span class='topic'>
    {{i18n 'search.post_format' post_number=post_number username=username}}
  </span>
  {{#unless controller.site.mobileView}}
    <span class='blurb'>
    {{{unbound blurb}}}
    </span>
  {{/unless}}
</a>
