<a class='search-link' href='{{unbound url}}'>
  <span class='topic'>
  {{unbound topic.title}}
  </span>
  {{#unless Discourse.Mobile.mobileView}}
  <span class='blurb'>
  {{{unbound blurb}}}
  </span>
  {{/unless}}
</a>
