{{#if showSortingUI}}
  {{d-button action=sortByLabel icon=sortIcon class="sort-btn"}}
{{/if}}

{{#if label.htmlTitle}}
  <span class="title">{{html-safe label.htmlTitle}}</span>
{{else}}
  <span class="title">{{label.title}}</span>
{{/if}}
