.select-kit {
  &.combo-box {
    &.category-drop {
      min-width: auto;

      .badge-wrapper {
        font-size: var(--font-0);
        font-weight: normal;
        max-width: 260px;

        &.box {
          margin: 0;

          span.badge-category {
            margin: 0;
            .d-icon-lock {
              margin-right: 5px;
            }
          }
        }
      }

      &.box.has-selection .category-drop-header {
        .badge-wrapper.box {
          padding: 0;
        }
      }

      .category-drop-header {
        &.is-none .selected-name {
          color: inherit;
        }

        .badge-wrapper {
          margin-right: 0;
        }
      }

      .select-kit-row {
        flex-direction: column;
        align-items: flex-start;

        &[data-value="all-categories"],
        &[data-value="no-categories"] {
          color: var(--tertiary);
          font-weight: 700;
        }

        .category-desc {
          font-weight: normal;
          color: var(--primary-medium);
          margin-top: 2px;
        }

        .category-status {
          align-items: center;
        }

        .topic-count {
          margin-left: 0.5em;
          font-weight: normal;
          color: var(--primary-medium);
          font-size: var(--font-down-1);
        }

        .badge-wrapper {
          margin: 0;

          &:nth-child(2) {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
