.select-kit {
  &.combo-box {
    &.tag-drop {
      min-width: auto;

      .select-kit-row {
        &[data-value="all-tags"],
        &[data-value="no-tags"] {
          color: var(--tertiary);
          font-weight: 700;
        }
      }

      .more-tags {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: 0.5em 1em;
        font-size: var(--font-down-1);
        color: var(--primary-low-mid);
      }
    }
  }
}
