.user-status.modal {
  .modal-inner-container {
    box-sizing: border-box;
    min-width: 310px;
  }

  .modal-footer {
    .delete-status {
      margin-left: auto;
      margin-right: 0;
    }
  }

  .modal-body {
    width: 375px;
    box-sizing: border-box;

    @media (max-width: 600px) {
      width: 100%;
    }

    .control-group-remove-status {
      margin-top: 25px;
    }

    .pause-notifications {
      margin-top: 1.5em;
    }

    .control-label {
      font-weight: 700;
    }

    .tap-tile:last-child {
      border: 0;
    }
  }
}
