<div class="tag-box">
  <a href="/tags/<%= tag[:id] %>" class="discourse-tag simple"><%= tag[:text] %></a>
  <% if tag[:count] && tag[:count] > 0 %>
    <span class="tag-count">x <%= tag[:count] %></span>
  <% end %>
</div>
