<div id="excerpt">
</div>
<!--<nav></nav> -->
<section id="questions">
  <article id="be-civilized">
    <h2>This is a Civilized Place for Public Discussion</h2>
    <p>
      Please treat this discussion forum with the same respect you would a public park.  We, too, are a shared community resource &mdash; a place to share skills, knowledge and interests through ongoing conversation.
    </p>
    <div class="more">
      <p>
        Use these guidelines to help keep this a clean, well-lighted, civilized place for public discourse. However, this is <em>not</em> intended as a comprehensive list of hard and fast rules, merely as an aid to the human judgment of moderators and the overall community.
      </p>
    </div>
  </article>
  <article id="improve-stuff">
    <h2>Improve the Discussion</h2>
    <p>
      Help us make this a great place for discussion by always working to improve the discussion in some way, however small. If you are not sure your post adds to the discussion or might detract from its usefulness, think over what you want to say and try again later.
    </p>
    <div class="more">
      <p>
      The topics discussed here matter to us and we want you to act as if they matter to you too. Be respectful of our topics and the people discussing them, even if you disagree with some of what is being said.
      </p>
      <p>
      One way to improve the discussion is by searching for ones that are already happening. Please use the search function before starting a new discussion, and you will have a better chance of meeting others who share your interests.
      </p>
    </div>
    </p>
  </article>
  <article id="be-agreeable">
    <h2>Be Agreeable, Even When You Disagree</h2>
    <p>
      You may wish to respond to something by disagreeing with it. That's fine. But, remember to <em>criticize ideas, not people</em>.  
      Please avoid:
      <ul>
        <li>name-calling</li>
        <li>ad hominem attacks</li>
        <li>responding to a post's tone instead of its actual content</li>
        <li>knee-jerk contradiction</li>
      </ul>
    </p>
    <div class="more">
      <p>
      Instead, provide reasoned counter-arguments that improve the conversation.
      </p>
    </div>
  </article>
  
  <article id="participate">
    <h2>Your Participation Counts</h2>
    <p>
      The conversations we have here here set the tone for everyone. Help us influence the future of this community by choosing to engage in discussions that make this forum an interesting place to be.
    </p>
    <div class="more">
      <p>
      Discourse provides tools that enable the community to collectively identify the best (and worst) contributions: favorites, bookmarks, likes, flags, replies, edits, and so forth. Please make use of these tools to improve your own experience — and everyone else’s, too.
      </p>
      <p>
      Let’s try to leave our park better than we found it.
      </p>
    </div>
  </article>

  <article id="flag-bad-stuff">
    <h2>If You See a Problem, Flag It</h2>
    <p>
      Moderators have special responsibility and authority; they are technically responsible for this forum. But so are you. With your help, moderators should be facilitators more than janitors or police.
    </p>
    <div class="more">
      <p>
      When you see bad behavior, you may have the urge to call it out with a reply. Resist this urge. It encourages the bad behavior by acknowledging it, consumes your energy, and wastes everyone’s time. Just flag it. If enough flags accrue, action will be taken, either automatically or by moderator intervention.
      </p>
      <p>
      In order to maintain our community, moderators reserve the right to remove any content and any user account for any reason at any time. Moderators do not preview new posts or take any preemptive action, therefore, the moderators and site operators take no responsibility for any content posted by the community.
      </p>
    </div>
  </article>
  
  <article id="be-civil">
    <h2>Always Be Civil</h2>
    <p>
      Nothing sabotages a healthy conversation like rudeness:
      <ul>
        <li>Be civil. Don’t post anything that a reasonable person would consider offensive, abusive, or hate speech.</li>
        <li>Keep it clean. Don’t post anything obscene or sexually explicit.</li>
        <li>Respect each other. Don’t impersonate anyone or expose their private information.</li>
        <li>Respect our forum. Don’t post spam or otherwise vandalize the forum.</li>
      </ul>
    </p>
    <div class="more">
      <p>
      These are not concrete terms with precise definitions &mdash; avoid even the <em>appearance</em> of any of these things. If you're unsure, ask yourself how you would feel if your post was on the front page of The New York Times.
      </p>
      <p>
      This is a public forum, and search engines index these discussions. Keep the language, links, and images safe for family and friends.
      </p>
    </div>
  </article>
  
  <article id="be-tidy">
    <h2>Keep It Tidy</h2>
    <p>
      Make the effort to put things in the right place, so that we can spend more time discussing and less cleaning up. So:
      <ul>
        <li>Don't start a topic in the wrong category.</li>
        <li>Don't cross-post the same thing in multiple topics.</li>
        <li>Don't post no-content replies.</li>
        <li>Don't divert a topic by changing it midstream.</li>
      </ul>
    </p>
    <div class="more">
      <p>
      Discourse can help keep things orderly &mdash; for example, rather than posting "+1" or "Agreed," use the Like button. Rather than taking an existing topic in a radically different direction, use Reply as a New Topic.
      </p>
      <p>
      Also, don't sign your posts &mdash; every post has your profile information attached to it.
      </p>
    </div>
  </article>
  
  <article id="dont-steal">
    <h2>Post Only Your Own Stuff</h2>
    <p>
      You may not post anything digital that belongs to someone else without permission. You may not post descriptions of, links to, or methods for stealing someone's intellectual property (software, video, audio, images), or for breaking any other law.
    </p>
    <div class="more">
    </div>
  </article>
  
  <article id="terms">
    <h2>Terms of Service</h2>
    <p>
      Yes, legalese is boring, but we must protect ourselves &ndash; and by extension, you and your data &ndash; against unfriendly folks. We have a Terms of Service <a href="/tos">TOS</a> describing your (and our) behavior and rights related to content, privacy, and laws. To use this service, you must agree to abide by the <a href="/tos">TOS</a>.
    </p>
    <div class="more">
    </div>
  </article>
</section>