<ul class="nav-pills">
  <li><a class="active" href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Terms of Service</a></li>
  <li><a href="<%=privacy_path%>">Privacy</a></li>
</ul>

<%= markdown_content(:faq) do %>

<div id="civilized"></div>
<h2><a href="#civilized">이곳은 여러 사용자들이 질서 정연하게 공개적으로 토픽들을 토론할 수 있는 공간입니다</a></h2>
<p>
  이 포럼을 사용하는 다른 사용자들을 존중하여 줄것을 부탁드립니다. 이곳은 커뮤니티 사용자들의 기술, 지식, 관심들을 대화로서 다른 사용자들과 공유할 수 있는 공간입니다.
</p>
<div class="more">
  <p>
	아래의 가이드라인들은 자유로운 대화와 표현을 억압하고자 있는 규칙들이 아닙니다. 이것들은 이 포럼을 질서있고 서로가 존중할 수 있는 그런 공개적인 포럼으로 만들고자 함입니다.
  </p>
</div>

<div id="improve"></div>
<h2><a href="#improve">토론을 개선시켜주세요</a></h2>
<p>
  항상 토픽의 대화들을 어떻게 개선 시킬 수 있을까 생각하시고 토론에 참여해주세요. 만약 이것이 이 토론에 도움이 될까 아니면 해가 될까 고민되신다면 한번 더 생각하시고 나중에 대화에 참여하시는 것도 좋은 방법입니다.
</p>
<div class="more">
  <p>
  이곳에서 토론되는 토픽들은 저희에게는 정말 소중한 것들 입니다. 그리고 저희는 사용자님께도 그것들이 소중하기를 바랍니다. 다른 사용자들의 의견이 당신과 다를 때에도 그들의 의견을 존중하여 주세요.
  </p>
  <p>
  토론을 개선할 수 있는 방법들중 하나는 사용자님께서 충분을 시간을 가지고 답글을 작성하기 전에 토픽의 토론들을 자세하게 읽어보는 것입니다. 그리하면 사용자님과 같은 관심을 가지고 있는 다른 사용자들도 만나실 수 있을 것입니다.
  </p>
</div>

<div id="agreeable"></div>
<h2><a href="#agreeable">동의하지 않아도 상대방이 동의할 수 있는 그런 의견을 제시하세요</a></h2>
<p>
   사용자님께서는 어떤 대화에 동의하지 않으실 수도 있습니다. 하지만 반드시 <em>상대방 사용자를 비판하지 마시고 그들의 아이디어를 비판할 것</em>을 명심하여 주세요.
  또한 아래의 것들은 삼가하여 주세요:
  <ul>
    <li>직접적으로 이름을 부르는것.</li>
    <li>상대방을 적대하는것.</li>
    <li>별 생각없이 무의식적으로 나오는 모순되는 비판.</li>
  </ul>
<div class="more">
  <p>
  대신에 대화를 개선시킬 수 있도록 이유있는 반론을 하여주세요. 
  </p>
</div>

<div id="participate"></div>
<h2><a href="#participate">당신의 참여가 필요합니다</a></h2>
<p>
  우리가 대화하는 모든 것들은 모두가 참여할 수 있는 분위기여야 합니다. 토론의 분위기를 망치는 대화는 삼가하여 주시고 이 포럼이 흥미있는 장소가 될 수 있도록 도와주세요. 이 포럼의 미래는 모든 사용자들에게 달려있습니다.
</p>
<div class="more">
  <p>
  이 포럼은 북마크, 좋아요, 즐겨찾기, 신고, 답변, 수정등을 툴을 이용하여 모든 사용자들이 함께 최고와 최악의 참여글들을 구분 할 수 있습니다. 이 툴들을 이용하여서 사용자님을 포함한 다른 모든 사용자들이 쉽게 즐겨 찾을 수 있는 포럼으로 만들어주세요.
  </p>
</div>

<div id="flag-problems"></div>
<h2><a href="#flag-problems">만약 문제가 있다면 신고하여 주세요</a></h2>
<p>
  중앙 관리자들은 이 포럼에서 중요한 임무를 맡고있습니다. 하지만 사용자님께서도 큰 임무를 맡고 계십니다. 사용자님의 도움으로써 중앙 관리자는 단순한 커뮤니티의 경찰, 청소부가 아닌 이곳의 조력자가 될 수 있습니다.
</p>
<div class="more">
  <p>
  만약 누군가의 나쁜 행동을 보신다면 그것에 응답하는 답글을 작성하지 마세요. 그것은 더욱더 그 사용자의 나쁜 행동을 부추길뿐만 아니라 사용자님의 시간만 낭비하는 것입니다. <i>그대신 간단하게 신고버튼을 눌러주세요</i>. 만약 충분한 신고가 쌓인다면 자동적으로 또는 중앙 관리자에 의해서 관리가 될 것 입니다.
  </p>
  <p>
  이 포럼을 모든 사용자들이 즐겨찾을 수 있는 곳으로 만들기위해서 관리자는 어떠한 글 또는 사용자이든 언제든지 어떤 이유에서든 삭제할 수 있는 권한을 가지고 있습니다. 관리자는 모든 새로운 글들을 관리할 수 없습니다. 또한 이 포럼은 다른 사용자들에 의해서 작성된 내용에 대하여 책임을 지지 않습니다.
  </p>
</div>

<div id="be-civil"></div>
<h2><a href="#be-civil">존중과 질서를 시켜주세요</a></h2>
<p>
  무례함은 좋은 대화를 망칩니다:
  <ul>
    <li>다른 사용자들이 보기에 공격적이고 무례한 말은 삼가하여 주세요.</li>
    <li>광고성이나 성적인 발언은 삼가하여 주세요.</li>
    <li>다른 사용자들을 존중하여 주세요. 다른 사용자들은 놀리거나 그들의 개인적인 사생활을 노출시키는 행동은 삼가하여 주세요.</li>
    <li>이 포럼을 존중하여 주세요. 스팸이나 반복적인 글들은 삼가하여 주세요.</li>
  </ul>
</p>
<div class="more">
  <p>
	만약 이것들에게 해당하는지 확실하지 않으시다면 사용자님의 글이 뉴욕타임즈의 첫번째 페이지에 나와도 될만한 글인가 생각해보세요.
  </p>
  <p>
  이곳은 공개적인 포럼입니다. 사용하시는 언어와 링크, 이미지들을 주의 깊게 고려하여 주세요.
  </p>
</div>

<div id="keep-tidy"></div>
<h2><a href="#keep-tidy">깔끔하게 해주세요</a></h2>
<p>
  이 포럼을 청소하는대 시간을 허비하지 않고 그 시간에 조금더 효율적인 대화를 나눌 수 있도록 협조하여 주세요:
  <ul>
    <li>적절하지 않은 카테고리에 토픽을 시작하는 것을 자제해 주세요.</li>
    <li>똑같은 글들을 여러 토픽에 반복하여 작성하는 것을 자제헤 주세요.</li>
    <li>내용이 없는 답글을 작성하는 것을 자제해 주세요.</li>
    <li>사용자님의 정보가 자동으로 남겨지니 모든 게시물에 성함을 남기는 것을 자제해 주세요.</li>
  </ul>
</p>
<div class="more">
  <p>
  답글에 "+1" 또는 "동의합니다"의 용도로만 답글을 작성하는것 대신 좋아요 버튼을 클릭하세요. 토픽을 다른 방향으로 인도할 목적으로 답글을 작성하시기 보다는 "새로운 토픽으로 답글"을 이용하세요.
  </p>
</div>

<div id="stealing"></div>
<h2><a href="#stealing">사용자님의 것들만을 이용하여서 글을 작성해주세요</a></h2>
<p>
  누군가의 디지털 소유물을 허락없이 이 포럼에 이용하시는 것을 자제해 주세요. 법을 어기거나 누군가의 지적 재산을 이용하여 글을 작성하시는 것은 허락하지 않습니다.
</p>
<div class="more">
</div>

<% end %>
