<div>
<ul class="nav-pills">
<li><a class="active" href="&quot;FAQ&lt;/a"></a></li>
  <li><a href="tos">Warunki Korzystania</a></li>
  <li><a href="&quot;Polityka" prywatno></a></li>
</ul>
<div id="civilized"></div>
<h2><a href="#civilized">To jest Cywilizowane Miejsce do Dyskusji Publicznej</a></h2>
<p>Proszę traktuj to forum dyskusyjne z takim samym szacunkiem jak park publiczny. My także stanowimy zasób wspólnej społeczności - miejsce do dzielenia się umiejętnościami, wiedzą i zainteresowaniami poprzez trwającą rozmowę.</p>
<div class="more">
  <p>Nie są to sztywne zasady, jedynie pomoce w ludzkim osądzie naszej społeczności. Korzystaj z tych wytycznych, aby utrzymać to czyste, dobrze oświetlone miejsce do cywilizowanej publicznej wymiany myśli.</p>
</div>

<div id="improve"></div>
<h2><a href="#improve">Wpłyń na poprawę Dyskusji</a></h2>
<p>Pomóż nam uczynić to świetnym miejscem do dyskusji przez ciągłą pracę nad poprawą dyskusji w jakiś sposób, nieważne jak mały. Jeśli nie jesteś pewien, czy Twój wpis wnosi coś do dyskusji lub mógłby umniejszać swoją użyteczność, przemyśl co chcesz powiedzieć i spróbuj ponownie później.</p>
<div class="more">
  <p>Tematy omawiane tutaj mają dla nas znaczenie i chcemy, abyś zachowywał się, jakby miały znaczenie również dla Ciebie. Szanuj tematy i ludzi, którzy je omawiają, nawet jeśli nie zgadzasz się z czymś, co jest powiedziane.</p>
  <p>Jednym ze sposobów poprawy dyskusji jest wyszukiwanie tych, które już mają miejsce. Proszę poświęć trochę czasu na przejrzenie tematów na forum zanim odpowiesz lub zaczniesz swój własny i będziesz miał większą szansę spotkać innych, którzy podzielają Twoje zainteresowania.</p>
</div>

<div id="agreeable"></div>
<h2><a href="#agreeable">Bądź Zgodny, Nawet Kiedy Się Nie Zgadzasz</a></h2>
<p>Możesz chcieć odpowiedź na coś poprzez niezgodzenie się z tym. W porządku. Ale pamiętaj, aby  <em>krytykować idee, nie ludzi</em>.
Proszę unikaj:</p>
<ul>
<li>Wyzywania.</li>
    <li>Ataki natury osobistej.</li>
    <li>Odpowiadania na ton wpisu zamiast na jego rzeczywistą treść.</li>
    <li>Odruchowego zaprzeczania.</li>
  </ul>
<div class="more">
  <p>Zamiast tego, przytocz rozsądne kontrargumenty, które wpływają na poprawę rozmowy.</p>
</div>

<div id="participate"></div>
<h2><a href="#participate">Twój Udział się Liczy</a></h2>
<p>Rozmowy, które tu mamy, nadają to każdemu. Pomóż nam wpływać na przyszłość tej społeczności przez zdecydowanie się na zaangażowanie w dyskusjach, które sprawiają, że to forum staje się ciekawym miejscem do przebywania - i unikanie tych, które tego nie robią.</p>
<div class="more">
  <p>Discourse dostarcza narzędzi, które umożliwiają społeczności zbiorowo identyfikować najlepsze (i najgorsze) wkłady: ulubieni, zakładki, LIKES, flagi, odpowiedzi, możliwość edytowania i tak dalej. Korzystaj z tych narzędzi, aby poprawić  swoje własne doświadczenie i także innych.</p>
  <p>Postarajmy się zostawić nasz park w lepszym stanie niż go zastaliśmy.</p>
</div>

<div id="flag-problems"></div>
<h2><a href="#flag-problems">Jeśli Zauważysz Problem, Oflaguj Go</a></h2>
<p>Moderatorzy mają specjalne uprawnienie; są odpowiedzialni za to forum. Ale Ty także. Z Twoją pomocą, moderatorzy mogą być pomocnikami społeczności, nie tylko dozorcami lub policją.</p>
<div class="more">
  <p>Gdy widzisz złe zachowanie, nie odpowiadaj. Sprzyja to złemu zachowaniu poprzez zauważenie go, zużywa Twoją energię i marnuje czas wszystkich. <i>Po prostu oflaguj to</i>. Jeśli zgromadzi się wystarczająco flag, zostanie podjęte działanie, albo automatycznie albo poprzez interwencję moderatora.</p>
  <p>W celu utrzymania naszej społeczności, moderatorzy rezerwują sobie prawo do usunięcia dowolnej treści i konta dowolnego użytkownika z dowolnego powodu w dowolnej chwili. Moderatorzy nie dokonują wstępnego przeglądu nowych postów w żaden sposób; moderatorzy i operatorzy strony nie ponoszą żadnej odpowiedzialności za dowolną treść opublikowaną przez społeczność.</p>
</div>

<div id="be-civil"></div>
<h2><a href="#be-civil">Zawsze Bądź Uprzejmy</a></h2>
<p>Nic nie sabotażuje zdrowej rozmowy tak jak nieuprzejmość:</p>
<ul>
<li>Bądź uprzejmy. Nie zamieszczaj niczego, co rozsądna osoba mogłaby uznać za obraźliwe, obelżywe lub mowę nienawiści.</li>
    <li>Utrzymuj ją w czystości. Nie publikuj niczego obscenicznego ani niedwuznacznego seksualnie.</li>
    <li>Szanujmy się wzajemnie. Nie dokuczaj ani zasmucaj nikogo,
nie podszywaj się pod ludzi, ani nie ujawniaj ich prywatnych informacji.</li>
    <li>Szanuj nasze forum. Nie publikuj spamu ani nie niszcz w inny sposób forum.</li>
  </ul>
<div class="more">
  <p>Nie są to określone warunki z precyzyjnymi definicjami - unikaj
nawet <i>pozorów</i> dowolnej z tych rzeczy. Jeśli nie jesteś pewien, zapytaj sam siebie, jak byś się poczuł, gdyby Twój wpis został umieszczony na pierwszej stronie New York Times'a.</p>
  <p>To publiczne forum i wyszukiwarki indeksują te dyskusje. Dbaj by język, linki i obrazy były bezpieczne dla rodziny i przyjaciół.</p>
</div>

<div id="keep-tidy"></div>
<h2><a href="#keep-tidy">Utrzymuj Porządek</a></h2>
<p>Przyłóż się do umieszczania rzeczy we właściwym miejscu, tak abyśmy mogli spędzić więcej czasu na dyskusji i mniej na porządkowaniu. Tak więc:</p>
<ul>
<li>Nie zaczynaj tematu w złej kategorii.</li>
    <li>Nie nadawaj skrośnie tego samego w wielu tematach.</li>
    <li>Nie publikuj odpowiedzi bez treści.</li>
    <li>Nie kieruj tematu na boczne tory przez jego zmianę w pół drogi.</li>
    <li>Nie podpisuj swoich wpisów - każdy wpis posiada załączone Twoje informacje profilowe.</li>
  </ul>
<div class="more">
  <p>Zamiast publikowania &quot;+1&quot; lub &quot;h</p>
</div>

<div id="stealing"></div>
<h2><a href="#stealing">Publikuj Tylko Swoje Własne Rzeczy</a></h2>
<p>Nie możesz publikować nic cyfrowego, należącego do kogoś innego bez pozwolenia. Nie możesz publikować opisów, linków lub sposobów kradzieży cudzej własności intelektualnej (oprogramowania, filmów, plików dźwiękowych, obrazów) lub łamania jakiegokolwiek innego prawa.</p>
<div class="more">
</div>

<div id="tos"></div>
<h2><a href="tos">Warunki Korzystania</a></h2>
<p>Tak, żargon prawniczy jest nudny, ale musimy się chronić - i tym samym, Ciebie i Twoje dane - przed nieprzyjaznymi ludźmi. Mamy <a href="&quot;Terms" of service> opisujące Twoje (i nasze) zachowanie i prawa związane z treścią, prywatnością i prawami. Aby korzystać z tego serwisu, musisz wyrazić zgodę na przestrzeganie naszych </a><a href="&quot;TOS&lt;/a">.</a></p>
<div class="more">
</div>

</div>
