<ul class="nav-pills">
  <li><a class="active" href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Conditions générales d'utilisation</a></li>
  <li><a href="<%=privacy_path%>">Protection des données</a></li>
</ul>

<%= markdown_content(:privacy_policy) do %>

<div id="collect"></div>
<h2><a href="#collect">Quelles sont les informations que nous recueillons ?</a></h2>
<p>Nous recueillons des informations lorsque vous vous inscrivez sur notre site et nous recueillons des données lorsque vous participez au forum en lisant, en écrivant et en évaluant le contenu partagé ici.</p>

<p>Lorsque vous vous inscrivez sur notre site, vous pouvez être invité à entrer votre nom et votre adresse e-mail. Vous pouvez, toutefois, visitez notre site sans vous inscrire. Votre adresse e-mail sera vérifiée par un e-mail contenant un lien unique. Si ce lien est visité, nous savons que vous contrôlez l'adresse e-mail.</p>

<p>Une fois enregistré et lorsque vous postez, nous enregistrons l'adresse IP de provenance du poste. Nous pouvons également conserver les journaux des serveurs qui comprennent l'adresse IP de chaque demande à notre serveur.</p>

<div id="use"></div>
<h2><a href="#use">Comment utilisons-nous vos informations ?</a></h2>
<p>Toute l'information que nous recueillons auprès de vous peuvent être utilisés dans l'une des façons suivantes :</p>
<ul>
<li>Pour personnaliser votre expérience - vos informations nous aide à mieux répondre à vos besoins individuels.</li>
  <li>Pour améliorer notre site - nous nous efforçons continuellement d'améliorer nos fonctionnalités basés sur les informations et les commentaires que nous recevons de votre part.</li>
  <li>Pour améliorer le service client —  vos informations nous aide à répondre plus efficacement à vos demandes de service et de support.</li>
  <li>Pour envoyer des mails périodiques - L'adresse email que vous fournissez peut être utilisée pour vous envoyer des informations, des notifications que vous avez demandé tels que des modifications apportées à thèmes, des réponses mentionnant votre nom d'utilisateur, des réponses a des demandes de renseignements et / ou d'autres demandes ou questions.</li>
</ul>
<div id="protect"></div>
<h2><a href="#use">Comment protégeons-nous vos informations ?</a></h2>
<p>Nous mettons en œuvre une variété de mesures de sécurité pour maintenir la sécurité de vos informations personnelles lorsque vous saisissez, soumettez, ou d'accédez à vos renseignements personnels.</p>

<div id="data-retention"></div>
<h2><a href="#data-retention">Quelle est votre politique de conservation des données ?</a></h2>

<p>Nous ferons un effort de bonne foi pour :</p>
<ul>
<li>Conserver les logs du serveur contenant l'adresse IP de toutes les requêtes vers ce serveur sans dépasser les 90 jours.</li>
  <li>Conserver les adresses IP associées à des utilisateurs enregistrés et leurs messages pas plus de 5 ans.</li>
</ul>
<div id="cookies"></div>
<h2><a href="#cookies">Utilisons-nous des cookies ?</a></h2>
<p>Oui. Les cookies sont de petits fichiers qu'un site ou son prestataire de services transfert sur le disque dur de votre ordinateur via votre navigateur Web (si vous permettez). Ces cookies permettent au site de reconnaître votre navigateur et, si vous avez un compte enregistré, l'associer à votre compte enregistré.</p>

<p>Nous utilisons des cookies pour comprendre et sauvegarder vos préférences pour de futures visites et compiler des données globales sur le trafic du site et les interactions avec le site afin que nous puissions offrir de meilleures expériences de navigation et de meilleurs outils à l'avenir. Nous pouvons conclure des contrats avec des fournisseurs de services tiers pour nous aider à mieux comprendre les visiteurs du site. Ces fournisseurs de services ne sont pas autorisés à utiliser les renseignements recueillis en notre nom, sauf pour nous aider à mener et à améliorer notre entreprise.</p>

<div id="disclose"></div>
<h2><a href="#disclose">Divulguons-nous des informations à des tiers?</a></h2>
<p>Nous ne vendons pas, ni échangeons, ou même transférerons vos renseignements personnelles à des tiers. Ceci n'inclut pas les tiers de confiance qui nous aident à exploiter notre site, la conduite de nos affaires, ou vous servir, tant que ces parties conviennent à garder ces informations confidentiels. Nous pouvons également divulguer vos informations lorsque nous croyons nécessaire de se conformer à la loi, appliquer nos politiques de site, ou la nôtre ou d'autres droits, la propriété ou la sécurité. Toutefois, des informations non personnelles des visiteurs peuvent être fournis à d'autres parties pour le marketing, la publicité, ou d'autres utilisations.</p>

<div id="third-party"></div>
<h2><a href="#third-party">Liens vers des tiers</a></h2>
<p>Parfois, à notre discrétion, nous pouvons inclure ou offrir des produits ou services de tiers sur notre site. Ces sites tiers ont des politiques de confidentialité distinctes et indépendantes. Nous n'avons donc aucune responsabilité pour le contenu et les activités de ces sites. Néanmoins, nous cherchons à protéger l'intégrité de notre site et sommes disposés à accueillir tous les commentaires au sujet de ces sites.</p>

<div id="coppa"></div>
<h2><a href="#coppa">Protection des mineurs</a></h2>
<p>Notre site, produits et services sont dirigés vers les personnes qui ont au moins 13 ans ou plus. Si ce serveur est aux Etats-Unis, et que vous êtes sous l'âge de 13 ans, conformément aux exigences de la COPPA (Loi sur la protection de la vie privée des enfants <a href="http://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act"> &lt;/ a&gt;), n'utiliser pas ce site.</a></p>

<div id="online"></div>
<h2><a href="#online">Politique de confidentialité en ligne</a></h2>
<p>Cette politique de confidentialité en ligne s'applique uniquement aux informations collectées sur notre site et non aux informations recueillies hors connexion.</p>

<div id="consent"></div>
<h2><a href="#consent">Votre consentement</a></h2>
<p>En utilisant notre site, vous consentez à la Politique de confidentialité de notre site web.</p>

<div id="changes"></div>
<h2><a href="#changes">Changements à notre politique de confidentialité</a></h2>
<p>Si nous décidons de changer notre politique de confidentialité, nous afficherons ces modifications sur cette page.</p>

<p>Ce document est soumis à la licence creative commons CC-BY-SA. Elle a été mise à jour le 31 mai 2013.</p>

<% end %>
