<ul class="nav-pills">
  <li><a href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Условия предоставления услуг</a></li>
  <li><a class="active" href="<%=privacy_path%>">Конфиденциальность</a></li>
</ul>

<%= markdown_content(:privacy_policy) do %>

<div id="collect"></div>
<h2><a href="#collect">Какую информацию мы храним?</a></h2>
<p>
Мы храним ваши данные, полученные при регистрации на нашем сайте, и собираем данные, когда вы участвуете в общении, читая, размещая сообщения и оценивая содержание сайта.
</p>

<p>
  При регистрации на сайте вас могут попросить ввести ваше имя и адрес электронной почты. Тем не менее вы можете посещать наш сайт без регистрации. Вы должны подтвердить адрес электронной почты, пройдя по ссылке в отправленном вам письме. Если вы сделаете это, мы будем знать, что это действительно ваш адрес электронной почты.
</p>

<p>
  При регистрации и размещении вами сообщений на форуме мы считываем ваш IP адрес. Мы также можем хранить журналы доступа к нашему серверу и IP адреса, с которых был осуществлен доступ.
</p>

<div id="use"></div>
<h2><a href="#use">Как мы используем полученную информацию?</a></h2>
<p>Любая информация, полученная от вас, может быть использована одним из следующих способов:</p>
<ul>
  <li>Сделать ваше общение более приятным &mdash; ваши данные помогают нам лучше понять ваши индивидуальные потребности.</li>
  <li>Улучшить наш сайт &mdash; мы постоянно стремимся улучшить то, что мы вам предлагаем, основываясь на информации и отзывах, которые мы получаем от вас.</li>
  <li>Повысить качество обслуживания пользователей &mdash; информация, полученная от вас, помогает нам более эффективно реагировать на ваши запросы в службу поддержки.</li>
  <li>Посылать периодически электронные сообщения &mdash; ваш адрес электронной почты может быть использован для отправки вам информации, уведомлений, запрошенных вами (об изменениях в теме, ответах вам), ответов на ваши запросы и /или других запросов или вопросов.</li>
</ul>

<div id="protect"></div>
<h2><a href="#use">Как мы защищаем ваши данные?</a></h2>
<p>
  Мы приняли множество мер безопасности для обеспечения защиты вашей личной информации, когда вы вводите, отсылаете или получаете доступ к ней.
</p>

<div id="data-retention"></div>
<h2><a href="#data-retention">Какова ваша политика хранения данных?</a></h2>

<p>
  Мы приложим все усилия, чтобы:
</p>
<ul>
  <li>Хранить журналы всех обращений к серверу, содержащие IP адреса, не более 90 дней.</li>
  <li>Хранить IP адреса, относящиеся к зарегистрированным пользователям и их сообщениями на форуме не более 5 лет.</li>
</ul>
</p>


<div id="cookies"></div>
<h2><a href="#cookies">Используем ли мы cookies?</a></h2>
<p>
  Да. Cookies &ndash; это небольшие файлы, которые сайт или провайдер сохраняют на жестком диске вашего компьютера посредством вашего веб-браузера (если вы разрешаете).
 Cookies позволяют сайту распознавать ваш браузер, и, если у вас есть зарегистрированная учетная запись, сопоставлять браузер с вашей учетной записью.
</p>

<p>
  Мы используем cookies, чтобы понять и сохранить ваши настройки для ваших будущих посещений и собирать общую информацию о трафике сайта и его взаимодействии, так что мы можем предложить лучший опыт работы с  сайтом и его инструментами в будущем.  Мы можем заключить договор со сторонними поставщиками услуг, которые могут помочь нам лучше понять посетителей нашего сайта.  Эти поставщики услуг не имеют права использовать информацию, собранную по нашему поручению, кроме как помочь нам вести и улучшать наше дело.
</p>

<div id="disclose"></div>
<h2><a href="#disclose">Раскрываем ли мы информацию третьим лицам?</a></h2>
<p>
Мы не продаем, не обмениваем или иным образом не передаем третьим лицам вашу личную информацию. Это не относится к доверенным третьим сторонам, помогающим нам в работе нашего сайта, проведении нашей деятельности или обслуживании вас, пока эти стороны соглашаются держать эту информацию в тайне.  Мы также можем передать вашу информацию, когда мы считаем, что такая передача не противоречит  законодательству, соблюдает политику нашего сайта или защищает наши или другие права, собственность или безопасность.  Тем не менее, информация неличного характера может быть предоставлена другим лицам в маркетинговых, рекламных или других целях.
</p>

<div id="third-party"></div>
<h2><a href="#third-party">Ссылки на внешние ресурсы</a></h2>
<p>
  Иногда, по нашему усмотрению, мы можем предлагать продукцию или услуги третьих лиц на нашем сайте. Такие сайты имеют отдельную и независимую политику конфиденциальности. Поэтому мы не несем никакой ответственности за содержание и деятельность этих сайтов. Тем не менее, мы стремимся защитить целостность нашего сайта и приветствуем любые отзывы об этих сайтах.
</p>

<div id="coppa"></div>
<h2><a href="#coppa">Соответствие Закону о защите личных сведений детей в Интернете (COPRA – Children's Online Privacy Protection Act)</a></h2>
<p>
Наш сайт, наши продукты и услуги предназначены для лиц 13 лет и старше. Если данный сервер находится в США и вы младше 13 лет то, согласно требованиям закона COPPA (<a href="http://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act">Children's Online Privacy Protection Act</a>), вы не можете пользоваться данным сайтом.
</p>

<div id="online"></div>
<h2><a href="#online">Политика конфиденциальности</a></h2>
<p>
Эта политика конфиденциальности относится только к информации, собранной посредством нашего сайта, а не к информации, собранной в автономном режиме.
</p>

<div id="consent"></div>
<h2><a href="#consent">Ваше согласие</a></h2>
<p>
Используя наш сайт, вы соглашаетесь с нашей политикой конфиденциальности.
</p>

<div id="changes"></div>
<h2><a href="#changes">Изменения в нашей политике конфиденциальности</a></h2>
<p>
Если мы решим изменить нашу политику конфиденциальности, мы опубликуем изменения на этой странице.
</p>

<p>
  Данный документ распространяется под лицензией CC-BY-SA. Дата последнего обновления - 31 мая 2013 года.
</p>

<% end %>
