<ul class="nav-pills">
  <li><a href="<%=faq_path%>">Часті запитання</a></li>
  <li><a href="<%=tos_path%>">Умови Використання</a></li>
  <li><a class="active" href="<%=privacy_path%>">Приватність</a></li>
</ul>

<%= markdown_content(:privacy_policy) do %>

<div id="collect"></div>
<h2><a href="#collect">Яку інформацію ми збираємо?</a></h2>
<p>
Ми отримуємо про Вас інформацію, коли Ви реєструєтесь на нашому сайті, а також накопичуємо дані, коли Ви приймаєте участь в роботі форуму: читаєте, пишете та використовуєте матеріали, що тут розміщені.
</p>

<p>
  Під час реєстрації на нашому сайті Вас можуть попросити ввести власне ім'я та адресу електронної пошти. Втім, за бажання, Ви можете відвідувати сайт без реєстрації. Адресу Вашої електронної пошти необхідно буде підтвердити. Ви отримаєте лист з унікальним посиланням. Після переходу за посиланням ми будемо знати, що Ви контролюєте дану електронну скриньку.
</p>

<p>
  Після реєстрації під час публікації повідомлень ми записуємо ІР-адресу, з якої надійшло повідомлення. Також ми можемо зберігати журнали сервера, які містять ІР-адреси, з яких відбувались всі запити на сервер.
</p>

<div id="use"></div>
<h2><a href="#use">Як ми використовуємо Вашу інформацію?</a></h2>
<p>Будь-яка інформація, зібрана нами, може використовуватись:</p>
<ul>
  <li>Для персоналізації Вашого досвіду  &mdash; Ваша інформація допомагає нам краще відповідати Вашим особистим потребам.</li>
  <li>Для вдосконалення нашого сайту &mdash; ми постійно прагнемо вдосконалювати пропозиції нашого сайту, що ґрунтуються на інформації та взаємодії, яку ми від Вас отримуємо.</li>
  <li>Для поліпшення сервісу &mdash; Ваша інформація допомагає нам ефективніше відповідати на Ваші запити щодо технічої підтримки.</li>
  <li>Для періодичного надсилання електронних листів &mdash; Адреса Вашої електронної скриньки може використовуватись для надсилання інформації та повідомлень про зміни в темах, за якими Ви слідкуєте, про запити щодо Вашого профілю, відповіді на Ваші запити та про інші запити та запитання.</li>
</ul>

<div id="protect"></div>
<h2><a href="#use">Як ми захищаємо Вашу інформацію?</a></h2>
<p>
  Ми застосовуємо цілий спектр запобіжних заходів, щоб забезпечити безпеку Вашої особистої інформації, коли Ви вводите, зберігаєте або переглядаєте Ваші особисті дані.
</p>

<div id="data-retention"></div>
<h2><a href="#data-retention">Які ваші умови зберігання даних?</a></h2>

<p>
  Ми докладаємо максимум зусиль, щоб:
</p>
<ul>
  <li>Не зберігати журнали серверу, що містять ІР-адресу та всі запити на сервер з неї, понад 90 днів.</li>
  <li>Не зберігати ІР-адресу, що асоціюється із зареєстрованим користувачем та його публікаціями понад 5 років.</li>
</ul>
</p>


<div id="cookies"></div>
<h2><a href="#cookies">Ми використовуємо куки (cookies)?</a></h2>
<p>
  Так. Куки &mdash; це маленькі файли, що сайт або його провайдер розміщує на жорсткому диску Вашого комп'ютера за допомогою Вашого браузера (якщо це дозволено у його налаштуваннях). Ці файли надають змогу сайту розпізнавати саме Ваш браузер та, у випадку, якщо Ви зареєстровані, асоціювати його із Вашим профілем.
</p>

<p>
  Ми використовуємо куки для того, щоб розуміти та зберігати Ваші налаштування під час наступних візитів, а також накопичувати загальну інформацію про відвідуваність сайту та його взаємодію з користувачами, щоб мати змогу пропонувати кращі інструменти для роботи з сайтом та кращі можливості в майбутньому. Ми можемо співпрацювати з іншими компаніями та отримувати їхню допомогу для того, щоб точніше розуміти наших користувачів. Ці компанії не мають права використовувати накопичену нами інформацію, окрім як для того, щоб допомогти нам вдосконалити нашу роботу.
</p>

<div id="disclose"></div>
<h2><a href="#disclose">Чи розкриваємо ми Вашу інформацію третім сторонам?</a></h2>
<p>
Ми не продаємо, не обмінюємо, і жодним іншим чином не розкриваємо Вашу особисту інформацію. Це правило не стосується третіх сторін, що допомагають нам в управлінні сайтом, веденні бізнесу чи наданні послуг користувачам, якщо вони погоджуються не розголошувати таку інформацію. Також ми можемо розголошувати Вашу інформацію у випадках, передбачених чинним законодавством, якщо вона суперечить правилам нашого сайту, для захисту наших прав, прав третіх сторін, власності та безпеки. Втім, інформація, що не прив'язана до конкретних користувачів, може надаватись третім сторонам для маркетингу, реклами та інших цілей.
</p>

<div id="third-party"></div>
<h2><a href="#third-party">Посилання на третіх сторін</a></h2>
<p>
  Іноді, на наш розсуд, ми можемо розміщувати комерційні пропозиції третіх сторін на нашому сайті. Сайти третіх сторін мають власну і незалежну політику приватності. Ми не маємо жодного відношення і не несемо відповідальності за матеріали та діяльність на цих сайтах. Проте, ми прагнемо захистити цілісність нашого сайту і, вітаємо будь-які відгуки про ці сайти.
</p>

<div id="coppa"></div>
<h2><a href="#coppa">Дотримання Акту про Захист Приватності Дітей в Інтернеті</a></h2>
<p>
Наш сайт і товари та послуги, що на ньому розміщені, призначені для людей, котрим виповнилось щонайменше 13 років. Якщо цей сервер знаходиться в США, і Вам ще не виповнилось 13, згідно вимог COPPA (<a href="http://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act">Акту Про Захист Дітей в Інтернеті</a>), не відвідуйте цей сайт.
</p>

<div id="online"></div>
<h2><a href="#online">Політика конфіденційності в Інтернеті</a></h2>
<p>
Політика конфіденційності в інтернеті застосовується тільки до інформації, зібраної на нашому сайті, і не застосовується до інформації, зібраної поза ним.
</p>

<div id="consent"></div>
<h2><a href="#consent">Ваша згода</a></h2>
<p>
Використовуючи цей сайт, Ви погоджуєтесь із нашою політикою конфіденційності.
</p>

<div id="changes"></div>
<h2><a href="#changes">Зміни в нашій політиці конфіденційності</a></h2>
<p>
Якщо ми вирішимо змінити нашу політику конфіденційності, ми розмістимо зміни на цій сторінці.
</p>

<p>
  Цей документ розповсюджується на умовах ліцензії CC-BY-SA. Останнє оновлення було здійснено 31 травня 2013.
</p>

<% end %>