<ul class="nav-pills">
  <li><a href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Podmínky používání</a></li>
  <li><a class="active" href="<%=privacy_path%>">Ochrana soukromí</a></li>
</ul>

<%= markdown_content(:privacy_policy) do %>

<div id="collect"></div>
<h2><a href="#collect">Jaké osobní informace sbíráme?</a></h2>
<p>
  Sbíráme od vás informace, které zadáte během registrace a také sbíráme data během vaší účasti na fóru čtením, psaním a vyhodnocováním zde zveřejněného obsahu.
</p>

<p>
  Pokud se podílíte na tomto fóru, můžeme po vás chtít zadat tyto údaje: jméno, věk, e-mailová adresa. Můžete však tento web procházet i anonymně.
</p>

<div id="use"></div>
<h2><a href="#use">K čemu používáme vaše informace?</a></h2>
<p>Jakékoliv informace, které od vás sbíráme, mohou být použity jedním z následujících způsobů:</p>
<ul>
  <li>Perzonalizace vašeho zážitku &mdash; vaše informace nám pomáhají lépe vyhovovat vašim osobním potřebám.</li>
  <li>Vylepšení webu &mdash; kontinuálně se snažíme zlepšovat toto fórum na základě informací a odezvy, kterou od vás máme.</li>
  <li>Zlepšení služeb zákazníkům &mdash; vaše informace nám pomáhají lépe a efektivněji poskytovat lepší zákaznické služby.</li>
  <li>Zasílání periodických emailů &mdash; Emailová adresa, kterou nám poskytnete, může být použita k zasílání informací a oznámení, která si vyžádáte, o změnách témat nebo nových odpovědích, odpovědím na dotazy nebo pro jiné požadavky a otázky.</li>
</ul>

<div id="protect"></div>
<h2><a href="#use">Jak chráníme vaše informace?</a></h2>
<p>
  Implementuje řadu bezpečnostních opatření k zajištění bezpečnosti vašich osobních
  informací, které vložíte, odešlene nebo jinak zadáte.
</p>

<div id="cookies"></div>
<h2><a href="#cookies">Používáme 'cookies'?</a></h2>
<p>
  Ano. 'Cookies' jsou malé soubory, které webu nebo službě umožňují si skrze váš webový prohlížeč uložit na váš pevný disk informace. Ty pak slouží k tomu, aby web mohl rozpoznat váš prohlížeč a zapamatovat si tak některé vaše údaje.
</p>

<p>
  Používáme 'cookies' k tomu, abychom mohli přijmout a uložit vaše nastavení, aby bylo zachováno pro příští návštěvy a z těchto dat agregujeme výsledky ohledně síťového provozu a uživatelské interakce, a tím můžeme návštěvníkům nabízet lepší zážitek a nástroje v budoucnu. Můžeme být dohodnuti se službami třetích stran, aby nám pomohli lépe porozumět našim návštěvníkům. Tyto třetí strany nemají povoleno využívat námi nasbírané informace, pouze k přímému zlepšování našich služeb.
</p>

<div id="disclose"></div>
<h2><a href="#disclose">Předáváme nějaké informace cizím stranám?</a></h2>
<p>
  Neprodáváme, neobchodujeme ani jinak neposkytujeme vaše osobně identifikovatelné informace cizím subjektům. Toto nezahrnuje důvěryhodné třetí strany, které nám pomáhají s provozováním webu a našich služeb, za předpokladu, že tyto strany souhlasí s uchováním těchto informací jako důvěrné. Můžeme také vydat vaše informace, pokud budeme věřit, že je to nutné k tomu, abychom splňovali zákon, splňovali naše vlastní podmínky nebo chránili práva a bezpečí ostatních uživatelů. Nicméně informace, které nejsou osobně identifikovatelné, mohou být poskytnuty ostatním stranám z marketingových, reklamních či jiných důvodů.
</p>

<div id="third-party"></div>
<h2><a href="#third-party">Odkazy třetích stran</a></h2>
<p>
  Příležitostně, z vlastního rozhodnutí, můžeme vložit či nabízet produkty a služby třetí strany na našem webu. Tyto třetí stany mají vlastní nezávislé podmínky ochrany soukromí. Tímto se vzdáváme jakékoliv zodpovědnosti nebo povinností ohledně obsahu a aktivit na těchto odkazovaných webech. Přesto se však snažíme chránit bezúhonnost našeho webu a budeme rádi za každou zpětnou vazbu ohledně těchto ostatních webů.
</p>

<div id="coppa"></div>
<h2><a href="#coppa">Shoda s 'Children's Online Privacy Protection Act'</a></h2>
<p>
  Jsme ve shodě s požadavky COPPA (<a href="http://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act">Children's Online Privacy Protection Act</a>), nesbíráme žádné informace o nikom pod 13 let věku. Náš web a služby jsou cíleny na osoby staré alespoň 13 let.
</p>

<div id="online"></div>
<h2><a href="#online">Ochrana soukromí pouze online</a></h2>
<p>
  Tyto podmínky ochrany soukromí se vztahují pouze na informace sebrané online na našem webu a netýkají se informací sebraných offline.
</p>

<div id="consent"></div>
<h2><a href="#consent">Váš souhlas</a></h2>
<p>
  Používáním našeho webu souhlasíte s těmito podmínkami ochrany soukromí.
</p>

<div id="changes"></div>
<h2><a href="#changes">Změny našich podmínek ochrany soukromí</a></h2>
<p>
  Pokud se rozhodneme změnit naše podmínky ochrany soukromí, zašleme tyto změny na tuto stránku.
</p>

<% end %>