<ul class="nav-pills">
  <li><a href="<%=faq_path%>">자주하는 질문</a></li>
  <li><a href="<%=tos_path%>">서비스 이용약관</a></li>
  <li><a class="active" href="<%=privacy_path%>">개인정보 취급방침</a></li>
</ul>

<%= markdown_content(:privacy_policy) do %>

<div id="collect"></div>
<h2><a href="#collect">수집하는 정보는 어떤 것이 있나요?</a></h2>
<p>
우리는 여러분이 이 사이트에 가입할 때 입력한 정보와 포럼에 참여하여 읽기, 쓰기 등을 하는 과정에서의 발생한 데이터를 수집합니다.
</p>

<p>
  가입하실 때 여러분의 이름, 이메일 주소를 입력하셨을 것입니다. (어떤 경우에는 가입 없이 이 사이트를 단순히 방문 중이실 수도 있습니다.) 이메일 주소는 이메일 인증과정에서 보내드린 링크를 통해 유효성을 확인합니다. 보내드린 이메일 인증 링크를 클릭하신 경우에, 우리는 여러분의 이메일 주소가 여러분이 소유하신 것인지 알게 됩니다.
</p>

<p>
  여러분의 가입하실 때와 글을 쓰실 때에 해당 요청이 발생한 IP 주소를 기록합니다. 또한, 우리 서버로 전달되는 매 요청에 대해 IP 주소를 포함하는 서버 로그를 남겨 일정 기간 유지할 수도 있습니다.
</p>

<div id="use"></div>
<h2><a href="#use">수집한 정보는 어떻게 사용하나요?</a></h2>
<p>우리가 수집한 여러분의 정보는 다음과 같은 방법으로 사용될 수 있습니다:</p>
<ul>
  <li>여러분에게 개인화된 서비스 경험을 제공하는 데 사용합니다 &mdash; 우리는 여러분이 제공해주신 정보를 통하여 개개인의 요구사항에 맞는 최적의 결과를 여러분께 제공해드릴 수 있습니다.</li>
  <li>우리 사이트의 서비스 품질을 높이는 데 사용합니다 &mdash; 우리는 여러분이 제공해 주신 정보와 피드백을 바탕으로 우리 서비스의 품질을 높이기 위해 항상 노력합니다.</li>
  <li>고객응대 품질을 높이는 데 사용합니다 &mdash; 여러분이 제공해 주신 정보는 여러분이 고객 서비스를 요청하셨을 때 효율적으로 응대할 수 있도록 해줍니다.</li>
  <li>주기적인 알림 메일을 보내드리는 데 사용합니다 &mdash; 여러분이 제공해 주신 이메일 주소는 여러분이 설정하신 대로 토픽에 대한 변경 사항 있을 때, 여러분의 사용자 이름이 언급된 글이 있을 때, 혹은 문의/요청 등에 대해 응대를 할 때 각종 정보나 알림 등을 여러분에게 전달해 드리기 위해 사용될 수 있습니다.</li>
</ul>

<div id="protect"></div>
<h2><a href="#use">여러분의 정보를 어떻게 안전하게 보관할까요?</a></h2>
<p>
  우리는 여러분이 개인정보를 입력, 제출하실 때 혹은 본인의 데이터에 접근하실 때 여러분의 개인정보를 안전하게 보호하기 위해 다양한 보안 장치들을 운영하고 있습니다.
</p>

<div id="data-retention"></div>
<h2><a href="#data-retention">여러분의 데이터를 얼마동안 보관할까요?</a></h2>

<p>
  우리는 아래와 같은 원칙을 지키기 위해 최선을 다합니다:
</p>
<ul>
  <li>여러분의 IP주소가 포함된 서버 로그는 90일 이상 보관하지 않습니다.</li>
  <li>여러분이 가입 사용자인 경우, 가입시 혹은 글 포스팅시에 사용된 IP 주소는 5년 이상 보관하지 않습니다.</li>
</ul>
</p>


<div id="cookies"></div>
<h2><a href="#cookies">쿠키를 사용하나요?</a></h2>
<p>
  예. 쿠키는 웹사이트나 웹서비스 제공자가 웹브라우저를 통하여 여러분의 하드디스크로 전송하는 작은 파일들을 말합니다. (여러분이 허용한 경우에만 전송됩니다.) 이러한 쿠키를 통하여 여러분의 브라우저를 인식할 수 있고 사용자 계정과 사용하고 있는 브라우저를 연결할 수 있습니다.
</p>

<p>
  우리는 쿠키를 사용하여 여러분이 미래에 다시 방문 시에 개인적인 설정을 유지할 수 있으며, 사이트 사용량과 상호작용에 대한 데이터를 계산하여 더 나은 서비스 경험과 기능을 제공할 수 있습니다. 우리는 사이트 방문자들을 더 잘 이해하고 지원하기 위해 제3의 서비스 제공자와 쿠키를 사용하여 통신할 수 있습니다. 이러한 서비스 제공자들은 우리를 위해 업무를 수행 혹은 개선하는 목적 이외에는 수집된 정보를 사용할 수 없습니다.
</p>

<div id="disclose"></div>
<h2><a href="#disclose">어떠한 정보도 제3자에게 공개되지 않나요?</a></h2>
<p>
우리는 개인을 특정할 수 있는 정보를 외부에 팔거나, 외부와 교환하거나, 외부로 전송하거나 하지 않습니다. 이는 우리 사이트를 운영하거나, 우리 서비스를 대행하는 등 우리를 보조하며 비밀 유지 계약을 한 신뢰관계에 있는 제3자에게는 해당하지 않습니다. 우리는 법적인 요구 사항, 우리 사이트 정책에 대한 준수, 우리 혹은 다른 사람에게 부여된 권리, 재산, 안전 등을 보호하기 위하여 반드시 필요하다고 생각되는 때에는 여러분의 정보를 외부에 제공할 수도 있습니다. 그러나 개인을 특정할 수 없는 방문 정보에 대해서는 마케팅, 광고 혹은 다른 용도를 위해 제3자에게 제공할 수도 있습니다.
</p>

<div id="third-party"></div>
<h2><a href="#third-party">제3자 사이트로의 링크</a></h2>
<p>
  때에 따라서는, 우리의 판단으로 제3자 서비스나 제품을 우리 사이트 내에 포함하여 제공할 수 있습니다. 이러한 제3자 사이트는 우리 사이트와는 다른 별도의 독립적인 개인정보 보호정책을 가지고 있습니다. 따라서 우리는 이렇게 링크된 사이트 내의 콘텐츠와 활동 등에 대한 어떠한 책임도 지지 않습니다. 그럼에도 불구하고, 우리는 우리 사이트의 온전한 품질을 유지하기 위해 최선을 다하며 이러한 외부 사이트에 대한 어떠한 피드백도 환영합니다.
</p>

<div id="coppa"></div>
<h2><a href="#coppa">청소년을 위한 온라인 개인정보 보호 정책 준수</a></h2>
<p>
우리 사이트, 제품, 서비스는 모두 13세 이상의 사용자를 대상으로 합니다. 만약 이 서버가 미국 영토내에 있고 당신의 나이가 13세 이하라면,  COPPA를 준수하기 위해 (<a href="http://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act">Children's Online Privacy Protection Act</a>), 이 사이트를 사용하지 마십시오.
</p>

<div id="online"></div>
<h2><a href="#online">이 개인정보 보호정책은 온라인 전용 정책입니다.</a></h2>
<p>
이 온라인 개인정보 보호정책은 우리 사이트를 통하여 온라인으로 수집된 정보에만 적용됩니다. 오프라인으로 수집된 정보에는 적용되지 않습니다.
</p>

<div id="consent"></div>
<h2><a href="#consent">당신의 동의</a></h2>
<p>
당신이 이 사이트를 이용한다는 것은 우리 사이트의 개인정보 보호정책에 동의한다는 것을 의미합니다.
</p>

<div id="changes"></div>
<h2><a href="#changes">개인정보 보호정책의 변경</a></h2>
<p>
만약 우리가 우리의 개인정보 보호정책을 변경하기로 결정하면, 이 페이지를 통해 변경된 내용을 공지해 드리겠습니다.
</p>

<p>
  이 문서는 CC-BY-SA를 따릅니다. 이 문서는 2013년 5월 31일에 최종 업데이트 되었습니다.
</p>

<% end %>