<div>
<ul class="nav-pills">
<li><a href="&quot;FAQ&lt;/a"></a></li>
  <li><a href="tos">Warunki Korzystania</a></li>
  <li><a class="active" href="&quot;Privacy&lt;/a"></a></li>
</ul>
<div id="collect"></div>
<h2><a href="#collect">Jakie informacje zbieramy?</a></h2>
<p>Zbieramy informacje od Ciebie, gdy rejestrujesz się w naszym serwisie oraz gromadzimy dane, gdy bierzesz udział w forum poprzez czytanie, pisanie i ocenianie treści tu dzielonej.</p>

<p>Podczas rejestracji w naszym serwisie możesz zostać poproszony o wprowadzenie swojego imienia i adresu e-mail. Możesz jednakże odwiedzić nasz serwis bez rejestracji. Twój adres e-mail zostanie zweryfikowany za pomocą emaila zawierającego unikalny link. Jeśli ten link zostanie odwiedzony, wiemy, że kontrolujesz ten adres e-mail.</p>

<p>Zapisujemy adres IP z którego nastepuje rejestracja lub publikowanie wpisów. Możemy także zachowywać logi serwera, które zawierają adres IP każdego połączenia z naszym serwerem.</p>

<div id="use"></div>
<h2><a href="#use">Do czego wykorzystujemy Twoje informacje?</a></h2>
<p>Każda z informacji, jakie od Ciebie zbieramy, mogą być wykorzystane w jeden z następujących sposobów:</p>
<ul>
<li>Aby spersonalizować Twoje doświadczenie - Twoja informacja pomaga nam w lepszy sposób reagować na Twoje indywidualne potrzeby.</li>
  <li>Aby ulepszyć nasz serwis - wciąż dążymy do ulepszania oferty naszego serwisu w oparciu o informacje i informacje zwrotne, jakie otrzymujemy od Ciebie.</li>
  <li>Aby ulepszyć obsługę klienta - Twoje informacje pomagają nam efektywniej reagować na Twoje żądanie obsługi klienta i wspierać potrzeby.</li>
  <li>Wysyłać okresowo wiadomości — Adres email który podajesz może być używany do wysłania tobie informacji, zamówionym powiadomień o zmianach w tematach lub wyniku użycia twojej nazwy użytkownika, odpowiedzi na zapytania, lub innych zapytań. </li>
</ul>
<div id="protect"></div>
<h2><a href="#use">Jak chronimy Twoje informacje?</a></h2>
<p>Stosujemy różnorodne środki zabezpieczeń w celu ochrony twoich danych osobowych gdy wpisujesz, wysyłasz lub uzyskujesz dostęp do swoich informacji osobistych.</p>

<div id="data-retention"></div>
<h2><a href="#data-retention">Jakie są zasady przechowywania danych?</a></h2>

<p>Dołożymy starań aby:</p>
<ul>
<li>Przechowywać logi serwera zawierające adresy IP każdego żądania do tego serwera nie dłużej niż 90 dni.</li>
  <li>Przechowywać adresy IP w połączeniu z zarejestrowanymi użytkownikami oraz ich wpisami nie dłużej niż 5 lat.</li>
</ul>
<div id="cookies"></div>
<h2><a href="#cookies">Czy używamy ciasteczek?</a></h2>
<p>Tak. Ciasteczka to małe pliki które serwis lub inni dostawcy usług przechowują za pomocą przeglądarki na dysku twojego komputera (jeśli na to wyrazisz zgodę w ustawieniach przeglądarki). Ciasteczka pomagają serwisowi rozpoznać twoją przeglądarkę i twoje konto użytkownika</p>

<p>Używamy ciasteczek, aby odczytać i zapisać preferencje dla przyszłych wizyt i oraz tworzenia zbiorczych danych o ruchu w witrynie i interakcji tak, podnosić poziom usług. Możemy korzystać z usług firm trzecich, pomóc nam w lepszym zrozumieniu odwiedzających witrynę. Usługodawcy nie mogą korzystać z informacji zebranych w naszym imieniu, z wyjątkiem pomocy w poprawie naszego poziomu usług.</p>

<div id="disclose"></div>
<h2><a href="#disclose">Czy przekazujemy jakiekolwiek informacje poza serwis?</a></h2>
<p>Nie sprzedajemy, handlujemy, lub w inny sposób przekazujemy osobom trzecim danych osobowych użytkowników. Nie obejmuje to zaufanych stron trzecich, którzy nam pomagają w prowadzeniu witryny, prowadzeniu naszej działalności, lub świadczeniu usług dla ciebie, tak długo, jak długo strony te zgadzają się utrzymać tę informację w tajemnicy. Możemy także udostępnić informacje, kiedy uważamy, że udostępnienie to jest wymagane przepisami prawa, egzekwowania naszych zasad, lub ochrony nasze lub innych praw własności lub bezpieczeństwa. Jednak nieosobowe informacje o odwiedzających mogą być przekazywane innym stronom do marketingu, reklamy lub innych zastosowań.</p>

<div id="third-party"></div>
<h2><a href="#third-party">Odnośniki do innych serwisów</a></h2>
<p>Od czasu do czasu, według naszego uznania, możemy zaoferować produkty lub usługi innych firm na naszej stronie. Strony osób trzecich mają oddzielne i niezależne polityki prywatności. Dlatego nie ponosimy odpowiedzialności za treści i działanie stron powiązanych. Niemniej jednak staramy się chronić integralność naszego serwisu i prosimy o opinię na temat tych miejsc.</p>

<div id="coppa"></div>
<h2><a href="#coppa">Wsparcie dla Children's Online Privacy Protection Act</a></h2>
<p>Nasz serwis, produkty i usługi są skierowane do osób powyżej 13 roku życia. Jeśli ten serwer jest zlokalizowany w USA i nie ukończyłeś 13 lat ze względu na wymagania COPPA (<a href="http://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act">Children's Online Privacy Protection Act</a>), nie używaj tego serwisu.</p>

<div id="online"></div>
<h2><a href="#online">Polityka Prywatności Online Only</a></h2>
<p>Polityka prywatności dotyczy tylko informacji zbieranych przez nasz serwis i nie dotyczy informacji zbieranych poza serwisem.</p>

<div id="consent"></div>
<h2><a href="#consent">Twoja zgoda</a></h2>
<p>Używając naszego serwisu, zgadzasz się na warunki naszej polityki prywatności.</p>

<div id="changes"></div>
<h2><a href="#changes">Zmiany naszej polityki prywatności</a></h2>
<p>Jeśli postanowimy zmienić naszą politykę prywatności, zmiany te zostaną opublikowane na tej stronie.</p>

<p>Ten dokument jest dostępny na licencji CC-BY-SA. Ostatnia aktualizacja 31 maja 2013. </p>

</div>
