<ul class="nav-pills">
  <li><a href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Termos de Serviço</a></li>
  <li><a class="active" href="<%=privacy_path%>">Privacidade</a></li>
</ul>

<%= markdown_content(:privacy_policy) do %>

<div id="collect"></div>
<h2><a href="#collect">Que informação nós coletamos?</a></h2>
<p>
  Nós coletamos o que é informado por você no momento de fazer o registro em nosso site e obtemos dados quando você participa no fórum lendo, escrevendo e avaliando o conteúdo compartilhado aqui.
</p>

<p>
  No momento do registro em nosso site, você pode ser solicitado a informar o seu nome e endereço de e-mail. Você pode, todavia, visitar o nosso site sem registrar-se. Seu endereço de e-mail será verificado através do envio de um e-mail contendo um link personalizado. Se aquele link for visitado, nós assumimos que você controla o endereço de e-mail informado.
</p>

<p>
  Uma vez registrado e publicando, nós gravamos o endereço IP do qual a publicação se originou. Nós também podemos reter os registros do servidor que incluem o endereço IP de todas as requisições feitas ao nosso servidor.
</p>

<div id="use"></div>
<h2><a href="#use">Para que nós utilizamos a sua informação?</a></h2>
<p>Todas as informações que coletamos de você pode ser usada de uma entre as seguintes maneiras:</p>
<ul>
  <li>Para personalizar a sua experiência - suas informações nos ajudam a responder melhor às suas necessidades individuais.</li>
  <li>Para melhorar o nosso site - nós continuamente nos esforçamos para aprimorar o que o nosso site oferece baseados na informação e no feedback que nós recebemos de você.</li>
  <li>Para melhorar o serviço ao cliente &mdash; sua informação nos ajuda a responder mais eficazmente às suas solicitações de serviço ao cliente e necessidades de suporte.</li>
  <li>Para enviar emails periódicos &mdash; o endereço de e-mail que você provê pode ser usado para enviar informações, notificações que você tenha solicitado sobre novidades nos tópicos ou em resposta ao seu nome de usuário, responder a consultas, e/ou outras solicitações e questões.</li>
</ul>

<div id="protect"></div>
<h2><a href="#use">Como nós protegemos as suas informações?</a></h2>
<p>
  Nós implementamos uma variedade de medidas de segurança para manter a sua informação pessoal protegida quando você informa, envia, ou acessa a sua informação pessoal.
</p>

<div id="data-retention"></div>
<h2><a href="#data-retention">Qual é a sua política de retenção de dados?</a></h2>

<p>
  Nós fazemos um esforço de boa fé para:
</p>
<ul>
  <li>Manter os registros do servidor contendo os endereços de IP de todas as requisições a este servidor por não mais do que 90 dias.</li>
  <li>Reter os endereços IP associados com usuários registrados e suas publicações (posts) por não mais do que 5 anos.</li>
</ul>
</p>


<div id="cookies"></div>
<h2><a href="#cookies">Nós utilizamos "cookies"?</a></h2>
<p>
  Sim. "Cookies" são pequenos arquivos que um site ou seu provedor de serviços transfere para o disco rígido do seu computador através do seu navegador (se você permitir). Esses "cookies" permitem que o site reconheça o seu navegador e, se você tiver uma conta registrada, associá-lo com a sua conta de usuário registrada.
</p>

<p>
  Nós utilizamos "cookies" para entender e gravar as suas preferências para futuras visitas e para compilar dados agregados sobre a visitação do site e a interação com o site, de modo que possamos oferecer melhores experiências e ferramentas no futuro. Nós podemos contratar o serviço de terceiros para nos ajudar a compreender melhor os visitantes do nosso site. Esses provedores de serviço não têm autorização para utilizar a informação coletada em nosso benefício exceto para nos ajudar a conduzir e aprimorar o nosso negócio.
</p>

<div id="disclose"></div>
<h2><a href="#disclose">Nós divulgamos informações para terceiros?</a></h2>
<p>
  Nós não vendemos, trocamos ou transferimos de qualquer maneira a agentes externos sua informação pessoalmente identificável. Isso não inclui os prestadores de serviço terceirizados de confiança, que nos auxiliam a operar o site, conduzir nosso negócio, ou a servir você, na medida em que estes prestadores concordem em manter esta informação confidencial. Nós também podemos providenciar suas informações pessoais quando entendermos que isso é apropriado para cumprir a lei, fazer cumprir as regras do nosso site, ou proteger os direitos, propriedade ou segurança, nossos ou de outrem. Entretanto, informações de visitação não-pessoalmente identificável pode ser prestada para outros parceiros para marketing, propaganda, ou outros usos.
</p>

<div id="third-party"></div>
<h2><a href="#third-party">Links de terceiros</a></h2>
<p>
  Ocasionalmente, a nosso critério, nós poderemos incluir ou oferecer produtos ou serviços de terceiros em nosso site. Os sites desses parceiros têm políticas de privacidade separadas e independentes. Portanto nós não temos nenhuma responsabilidade ou ônus sobre o conteúdo e atividades desses sites externos. Todavia, nós procuramos proteger a integridade do nosso site e agradecemos qualquer feedback sobre tais sites.
</p>

<div id="coppa"></div>
<h2><a href="#coppa">Conformidade com a Lei de Proteção de Privacidade Online para Menores</a></h2>
<p>
  Nosso site, produtos e serviços são todos direcionados a pessoas com pelo menos 13 anos de idade ou mais. Se este servidor estiver nos EUA, e você tiver menos de 13 anos de idade, conforme as exigências da lei*, não use este site. (* COPPA, <a href="http://en.wikipedia.org/wiki/Children's_Online_Privacy_Protection_Act">Children's Online Privacy Protection Act</a>, ou Lei de Proteção de Privacidade Online para Menores, válida nos EUA)
</p>

<div id="online"></div>
<h2><a href="#online">Política de Privacidade Exclusivamente Online</a></h2>
<p>
  Esta política de privacidade online se aplica exclusivamente em relação à informação coletada através de nosso site, e não à informação coletada offline.
</p>

<div id="consent"></div>
<h2><a href="#consent">Seu Consentimento</a></h2>
<p>
  Ao utilizar o nosso site, você consente com a política de privacidade do nosso site.
</p>

<div id="changes"></div>
<h2><a href="#changes">Mudanças na nossa Política de Privacidade</a></h2>
<p>
  Se nós decidirmos alterar nossa política de privacidade, nós iremos publicar as alterações nesta página.
</p>

<p>
  A licença deste documento é <a href="http://creativecommons.org/licenses/by-sa/3.0/br/">CC-BY-SA</a>. Foi atualizado pela última vez em 31 de maio de 2013.
</p>

<% end %>
