<div class="empty-state">
  <span class="empty-state-title">
    {{i18n "user.no_messages_title"}}
  </span>
  <div class="empty-state-body">
    <p>
      {{html-safe
        (i18n
          "user.no_messages_body"
          icon=(d-icon "envelope")
          aboutUrl=(get-url "/about")
        )
      }}
    </p>
  </div>
</div>