<div class="empty-state">
  <span class="empty-state-title">
    {{i18n "user.no_other_notifications_title"}}
  </span>
  <div class="empty-state-body">
    <p>
      {{html-safe (i18n
        "user.no_other_notifications_body"
        icon=(d-icon "bell")
        badgesUrl=(get-url "/badges")
      )}}
    </p>
  </div>
</div>
