<AdminWrapper @class="container">
  <div class="row">
    <div class="full-width">
      <div class="admin-main-nav">
        <ul class="nav nav-pills">
          <NavItem @route="admin.dashboard" @label="admin.dashboard.title" />
          {{#if currentUser.admin}}
            <NavItem @route="adminSiteSettings" @label="admin.site_settings.title" />
          {{/if}}
          <NavItem @route="adminUsers" @label="admin.users.title" />
          {{#if showGroups}}
            <NavItem @route="groups" @label="admin.groups.title" />
          {{/if}}
          {{#if showBadges}}
            <NavItem @route="adminBadges" @label="admin.badges.title" />
          {{/if}}
          {{#if currentUser.admin}}
            <NavItem @route="adminEmail" @label="admin.email.title" />
          {{/if}}
          <NavItem @route="adminLogs" @label="admin.logs.title" />
          <NavItem @route="adminCustomize" @label="admin.customize.title" />
          {{#if currentUser.admin}}
            <NavItem @route="adminApi" @label="admin.api.title" />
            {{#if siteSettings.enable_backups}}
              <NavItem @route="admin.backups" @label="admin.backups.title" />
            {{/if}}
          {{/if}}
          <NavItem @route="adminPlugins" @label="admin.plugins.title" />
          <PluginOutlet @name="admin-menu" />
        </ul>
      </div>

      <div class="boxed white admin-content">
        <div class="admin-contents {{adminContentsClassName}}">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</AdminWrapper>
