{{#admin-nav}}
  <NavItem @route="adminApiKeys" @label="admin.api.title" />
  <NavItem @route="adminWebHooks" @label="admin.web_hooks.title" />
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
