<AdminNav>
  <NavItem @route="adminApiKeys" @label="admin.api.title" />
  <NavItem @route="adminWebHooks" @label="admin.web_hooks.title" />
</AdminNav>

<div class="admin-container">
  {{outlet}}
</div>