<AdminPageHeader
  @titleLabel="admin.config_areas.look_and_feel.title"
  @descriptionLabel="admin.config_areas.look_and_feel.description"
>
  <:breadcrumbs>
    <DBreadcrumbsItem
      @path="/admin/config/look-and-feel"
      @label={{i18n "admin.config_areas.look_and_feel.title"}}
    />
  </:breadcrumbs>

  <:tabs>
    <NavItem
      @route="adminConfig.lookAndFeel.themes"
      @label="admin.config_areas.look_and_feel.themes.title"
    />
  </:tabs>
</AdminPageHeader>

<div class="admin-container admin-config-page__main-area">
  {{outlet}}
</div>