<AdminPageHeader
  @titleLabel="admin.config_areas.flags.header"
  @descriptionLabel="admin.config_areas.flags.subheader"
  @learnMoreUrl="https://meta.discourse.org/t/moderation-flags/325589"
  @hideTabs={{this.hideTabs}}
>
  <:breadcrumbs>
    <DBreadcrumbsItem
      @path="/admin/config/flags"
      @label={{i18n "admin.config_areas.flags.header"}}
    />
  </:breadcrumbs>
  <:tabs>
    <NavItem
      @route="adminConfig.flags.settings"
      @label="settings"
      class="admin-flags-tabs__settings"
    />
    <NavItem
      @route="adminConfig.flags.index"
      @label="admin.config_areas.flags.flags_tab"
      class="admin-flags-tabs__flags"
    />
  </:tabs>
</AdminPageHeader>

<div class="admin-container admin-config-page__main-area">
  {{outlet}}
</div>