<div class="customize-themes-show-schema__header row">
  <h2>
    {{i18n
      "admin.customize.theme.schema.title"
      (hash name=@model.setting.setting)
    }}
  </h2>
</div>

<SchemaThemeSetting::Editor
  @themeId={{@model.theme.id}}
  @setting={{@model.setting}}
/>