<div class="sections">
  {{plugin-outlet name="admin-dashboard-security-top" tagName="span" connectorTagName="div"}}

  <div class="main-section">
    {{admin-report
      dataSourceName="suspicious_logins"
      filters=lastWeekfilters}}

    {{admin-report
      dataSourceName="staff_logins"
      filters=lastWeekfilters}}

    {{plugin-outlet name="admin-dashboard-security-bottom" tagName="span" connectorTagName="div"}}
  </div>
</div>
