<div class="admin-permalinks admin-config-page">
  <AdminPageHeader
    @titleLabel="admin.permalink.title"
    @descriptionLabel="admin.permalink.description"
  >
    <:breadcrumbs>
      <DBreadcrumbsItem
        @path="/admin/customize/permalinks"
        @label={{i18n "admin.permalink.title"}}
      />
    </:breadcrumbs>
  </AdminPageHeader>

  <div class="admin-container admin-config-page__main-area">
    {{outlet}}
  </div>
</div>