<div
  class="content-body admin-plugin-config-area__settings admin-detail pull-left"
>
  <AdminAreaSettings
    @plugin={{@model.plugin.id}}
    @path="/admin/plugins/{{@model.plugin.name}}/settings"
    @filter={{this.filter}}
    @filterChangedCallback={{this.filterChangedCallback}}
  />
</div>