<div class="admin-user_fields admin-config-page">
  <DPageHeader
    @titleLabel="admin.user_fields.title"
    @descriptionLabel="admin.user_fields.help"
    @hideTabs={{true}}
    @learnMoreUrl="https://meta.discourse.org/t/creating-and-configuring-custom-user-fields/113192"
  >
    <:breadcrumbs>
      <DBreadcrumbsItem @path="/admin" @label={{i18n "admin_title"}} />
      <DBreadcrumbsItem
        @path="/admin/customize/user_fields"
        @label={{i18n "admin.user_fields.title"}}
      />
    </:breadcrumbs>
    <:actions as |actions|>
      <actions.Primary
        @route="adminUserFields.new"
        @label="admin.user_fields.add"
      />
    </:actions>
  </DPageHeader>

  <div class="admin-config-page__main-area">
    <div class="user-fields">
      {{outlet}}
    </div>
  </div>
</div>