<div class="admin-user_fields admin-config-page">
  <AdminPageHeader
    @titleLabel="admin.user_fields.title"
    @descriptionLabel="admin.user_fields.help"
    @hideTabs={{true}}
  >
    <:breadcrumbs>
      <DBreadcrumbsItem
        @path="/admin/customize/user_fields"
        @label={{i18n "admin.user_fields.title"}}
      />
    </:breadcrumbs>
    <:actions as |actions|>
      <actions.Primary
        @route="adminUserFields.new"
        @label="admin.user_fields.add"
      />
    </:actions>
  </AdminPageHeader>

  <div class="admin-config-page__main-area">
    <div class="user-fields">
      {{outlet}}
    </div>
  </div>
</div>