.fk-d-menu-modal {
  &__grip {
    position: absolute;
    top: 2.5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-medium);
    height: 5px;
    width: 15vw;
    max-width: 100px;
    border-radius: 10px;
  }
  .d-modal__body {
    padding: 1em 0;
  }

  h3 {
    padding-top: 0.25em;
  }

  .dropdown-menu {
    li a:focus-visible {
      outline: 0;
    }
  }

  li > .btn,
  li > a {
    padding: 0.75em 1rem;
  }

  li > a {
    display: block;
  }
}
