.d-form-field {
  width: 100%;
  &__set {
    flex-wrap: wrap;

    button {
      margin-top: 0;
    }
  }

  &__content,
  &__input[type="text"],
  &__input[type="number"],
  .select-kit {
    width: 100%;
  }
}
