.more-topics__container {
  .nav {
    margin-block: 0 7px;
    border-bottom: 1px solid var(--primary-low);
  }

  .more-content-topics {
    padding: 15px 0 15px 0;

    .badge-category,
    .badge-category-parent {
      font-size: var(--font-down-1);
      vertical-align: top;
    }

    .suggested-topics-message {
      margin-top: 1em;
    }
  }
}
