.more-topics__container {
  .more-content-topics {
    padding: 15px 0 15px 0;

    a.badge-category,
    a.badge-category-parent {
      font-size: var(--font-down-1);
      vertical-align: top;
    }
    .suggested-topics-message {
      margin-top: 1em;
    }
  }
}
