// Mobile styles for "user-stream-item" component
.user-stream {
  .name {
    vertical-align: middle;
  }

  .notification {
    &.unread {
      background-color: var(--tertiary-low);
    }
  }

  .group-member-info {
    .name {
      vertical-align: inherit;
    }
  }
}
