

<div class="communities-search-options">
  <h4>You can also try the same search on other Edgeryders Communities websites:</h4>

  <div><a href="//edgeryders.eu/search?q={{search}}"             target="_blank">Search on Edgeryders</a></div>
  <div><a href="//team2021.ro/search?q={{search}}"               target="_blank">Search on TeaM 2021</a></div>
  <div><a href="//forum.blivande.com/search?q={{search}}"        target="_blank">Search on Blivande</a></div>
  <div><a href="//trustinplay.edgeryders.eu/search?q={{search}}" target="_blank">Search on Trust in Play</a></div>
</div>
