<StyleguideSection @section={{this.section}}>
  {{#if this.note}}
    <div class="styleguide-note">
      {{component (concat "notes/" this.note)}}
    </div>
  {{/if}}

  {{component
    this.section.componentName
    dummy=this.dummy
    dummyAction=this.dummyAction
    siteSettings=this.siteSettings
  }}
</StyleguideSection>