<a href {{action closeMessage message}} class="close">{{d-icon "times"}}</a>
<div class="dominating-topic-content">
  {{html-safe message.body}}

  {{#if currentUser.can_invite_to_forum}}
    {{d-button
      class="btn-primary"
      label="topic.invite_reply.title"
      icon="user-friends"
      action=(route-action "showInvite")
    }}
  {{/if}}
</div>
