<a href {{action closeMessage message}} class="close">{{d-icon "times"}}</a>

{{html-safe message.body}}

{{d-button
  class="btn-primary"
  label="user.private_message"
  icon="envelope"
  action=(action switchPM message)
}}
