<a href {{action this.closeMessage this.message}} class="close">{{d-icon "times"}}</a>

{{html-safe this.message.body}}

<DButton @class="btn-primary" @label="user.private_message" @icon="envelope" @action={{action this.switchPM this.message}} />
