{{#if showCanvas}}
  {{wizard-canvas}}
{{/if}}

<div class='wizard-column'>
  <div class='wizard-column-contents'>
    {{outlet}}
  </div>
  <div class='wizard-footer'>
    <div class='discourse-logo'></div>
  </div>
</div>
