<div class="control-group form-template-field" data-field-type="input">
  {{#if @attributes.label}}
    <label class="form-template-field__label">{{@attributes.label}}</label>
  {{/if}}
  <Input
    class="form-template-field__input"
    @type="text"
    placeholder={{@attributes.placeholder}}
  />
  {{#if @attributes.description}}
    <p class="form-template-field__description">{{@attributes.description}}</p>
  {{/if}}
</div>