{{#if this.parsedTemplate}}
  <div class="form-template-form__wrapper">
    {{#each this.parsedTemplate as |content|}}
      {{component
        (concat "form-template-field/" content.type)
        attributes=content.attributes
        choices=content.choices
        validations=content.validations
      }}
    {{/each}}
  </div>
{{else}}
  <div class="alert alert-error">
    {{this.error}}
  </div>
{{/if}}