<div class="select-kit-header-wrapper">
  {{#each this.icons as |icon|}} {{d-icon icon}} {{/each}}

  {{component
    this.selectKit.options.selectedNameComponent
    tabindex=this.tabindex
    item=this.selectedContent
    selectKit=this.selectKit
  }}

  {{#if this.shouldDisplayClearableButton}}
    <DButton
      @class="btn-clear"
      @icon="times"
      @action={{this.selectKit.onClearSelection}}
      @ariaLabel="clear_input"
    />
  {{/if}}

  {{d-icon this.caretIcon class="caret-icon"}}
</div>