{{#each options as |option|}}
  <li>
    <div class="option">
      <p>
        <span class="percentage">{{option.percentage}}%</span>
        {{{option.html}}}
      </p>
    </div>
    <div class="bar-back">
      <div class="bar" style={{option.style}}></div>
    </div>

    {{#if poll.public}}
      {{poll-results-standard-voters option=option pollsVoters=pollsVoters}}
    {{/if}}
  </li>
{{/each}}
