<div class="poll-voters">
  {{#each pollsVoters as |user|}}
    <li>
      <a data-user-card={{unbound user.username}}>
        {{avatar user imageSize="tiny" ignoreTitle="true"}}
      </a>
    </li>
  {{/each}}

  <div class="poll-voters-toggle-expand">
    {{#if canLoadMore}}
      {{#conditional-loading-spinner condition=loading size="small"}}
        <a {{action "loadMore"}}>{{fa-icon "chevron-down"}}</a>
      {{/conditional-loading-spinner}}
    {{/if}}
  </div>
</div>
