<li class="poll-breakdown-option">
  <span class="poll-breakdown-option-color" style={{this.colorStyle}}></span>
  <span class="poll-breakdown-option-count">{{this.percent}}%</span>
  <span class="poll-breakdown-option-text">{{{@option.html}}}</span>
</li>
