{{#each option in options}}
  <tr>
    <td class="option">{{{option.html}}}</td>
    <td class="percentage">{{option.percentage}}%</td>
  </tr>
  <tr>
    <td colspan="2" class="bar-back">
      <div class="bar"></div>
    </td>
  </tr>
{{/each}}
