{{#if this.chatStateManager.isDrawerExpanded}}
  <div class="chat-drawer-header__left-actions">
    <div class="chat-drawer-header__top-line">
      <ChatDrawer::Header::BackLink />
    </div>
  </div>
{{/if}}