<div class="chat-drawer-header__right-actions">
  <div class="chat-drawer-header__top-line">
    <ChatDrawer::Header::FullPageButton
      @openInFullPage={{@drawerActions.openInFullPage}}
    />
    <ChatDrawer::Header::ToggleExpandButton
      @toggleExpand={{@drawerActions.toggleExpand}}
    />
    <ChatDrawer::Header::CloseButton @close={{@drawerActions.close}} />
  </div>
</div>