.form-kit__container {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  align-items: flex-start;

  &-title {
    display: flex;
    align-items: center;
    gap: 0.25em;
    margin: 0;
    font-size: var(--font-down-1-rem);
    color: var(--primary-high);
    line-height: var(--line-height-medium);
    font-weight: bold;
  }

  &-content {
    display: flex;
    gap: var(--form-kit-gutter-x);
  }
}
