.d-form__control-text {
  // reset textarea styles
  width: 100% !important;
  margin: 0 !important;
  min-width: auto !important;

  // prevents firefox/chrome to add spacing under textarea
  display: block;

  height: 150px;
  border-radius: var(--d-input-border-radius);

  .d-form-field.has-error & {
    border-color: var(--danger);
  }
}
