//
// Check/radio
//

.d-form {
  input[type] {
    margin-bottom: 0;
  }
}

.d-form-checkbox {
  display: flex;
  align-items: center;
}

.d-form-checkbox-input {
  margin-top: 0 !important;
}

.d-form-checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin: 0;
  font-size: var(--font-down-1-rem);
  color: var(--primary-high);
  font-weight: normal !important;
}

.d-form-text {
  margin: 0;
  color: var(--primary-high);
  font-size: var(--font-down-1-rem);
}

.d-form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.d-form-input-label {
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin: 0;
  font-size: var(--font-down-1-rem);
  color: var(--primary-high);
}
