//
// Check/radio
//

$form-check-input-width: 1em !default;
$form-check-padding-start: $form-check-input-width + 0.5em !default;
$form-check-margin-bottom: 0.125rem !default;

.d-form-checkbox {
  display: flex;
  align-items: center;
}

.d-form-checkbox-input {
  margin-top: 0 !important;
}

.d-form-checkbox-label {
  margin-bottom: 0 !important;
  font-weight: normal !important;
  color: var(--primary);
}

.d-form-text {
  margin: 0;
  color: var(--primary-high);
  font-size: var(--font-down-1-rem);
}

.d-form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
