{{#if @message.firstMessageOfTheDayAt}}
  <div
    class={{concat-class
      "chat-message-separator-date"
      (if @message.newest "with-last-visit")
    }}
  >
    <div
      class="chat-message-separator__text-container"
      {{chat/track-message-separator-date}}
    >
      <span class="chat-message-separator__text">
        <span>{{@message.firstMessageOfTheDayAt}}</span>

        {{#if @message.newest}}
          <span class="chat-message-separator__last-visit">
            <span class="chat-message-separator__last-visit-separator">-</span>
            {{i18n "chat.last_visit"}}
          </span>
        {{/if}}
      </span>
    </div>
  </div>

  <div class="chat-message-separator__line-container">
    <div class="chat-message-separator__line"></div>
  </div>
{{/if}}