{{#if this.show}}
  <div class="chat-retention-reminder">
    <ChatRetentionReminderText @channel={{this.chatChannel}} />
    <DButton
      @class="btn-flat dismiss-btn"
      @action={{this.dismiss}}
      @icon="times"
    />
  </div>
{{/if}}