{{#if this.show}}
  <div class="chat-retention-reminder">
    <span class="chat-retention-reminder-text">{{this.text}}</span>
    <DButton
      @class="btn-flat dismiss-btn"
      @action={{action "dismiss"}}
      @icon="times"
    />
  </div>
{{/if}}