{{#if this.chatStateManager.isSidePanelExpanded}}
  <div
    class="chat-side-panel"
    {{did-insert this.setSidePanel}}
    {{chat/resizable-node
      ".chat-side-panel-resizer"
      this.didResize
      (hash position=false vertical=false mutate=false)
    }}
    style={{if
      (and this.site.desktopView this.chatStateManager.isFullPageActive)
      this.width
    }}
  >
    {{yield}}
    <ChatSidePanelResizer />
  </div>
{{/if}}