<div class="chat-channel-metadata">
  <div class="chat-channel-metadata__date">
    {{this.lastMessageFormatedDate}}
  </div>

  {{#if @unreadIndicator}}
    <ChatChannelUnreadIndicator @channel={{@channel}} />
  {{/if}}
</div>