{{#if (and @message.newest (not @message.firstMessageOfTheDayAt))}}
  <div class="chat-message-separator-new">
    <div class="chat-message-separator__text-container">
      {{#if this.canSummarize}}
        <div class="chat-message-separator__pill">
          <span class="chat-message-separator__text">
            {{i18n "chat.last_visit"}}
          </span>
          <DButton
            @action={{this.summarizeSinceLastVisit}}
            @icon="magic"
            @label="chat.summary.action"
            @class="btn-flat chat-message-separator__button-summarize"
          />
        </div>
      {{else}}
        <span class="chat-message-separator__text">
          {{i18n "chat.last_visit"}}
        </span>
      {{/if}}
    </div>

    <div class="chat-message-separator__line-container">
      <div class="chat-message-separator__line"></div>
    </div>
  </div>
{{/if}}