{{#if @message.firstMessageOfTheDayAt}}
  <div class="chat-message-separator-date">
    <div
      class="chat-message-separator__text-container"
      {{chat/track-message-separator-date}}
    >
      <span class="chat-message-separator__text">
        {{@message.firstMessageOfTheDayAt}}
      </span>
    </div>
  </div>

  <div class="chat-message-separator__line-container">
    <div class="chat-message-separator__line"></div>
  </div>
{{/if}}