<div class="chat-channel-metadata">
  {{#if @channel.lastMessage}}
    <div class="chat-channel-metadata__date">
      {{this.lastMessageFormattedDate}}
    </div>
  {{/if}}

  {{#if this.unreadIndicator}}
    <ChatChannelUnreadIndicator @channel={{@channel}} />
  {{/if}}
</div>