<DModalBody @title={{this.modalTitle}}>
  <div id="chat-channel-toggle" class="chat-channel-toggle">
    <p>{{this.instructions}}</p>
  </div>
</DModalBody>

<div class="modal-footer">
  <DButton
    @class="btn-primary"
    @action={{action "changeChannelStatus"}}
    @label={{this.buttonLabel}}
    @id="chat-channel-toggle-btn"
  />
</div>