{{#if (gt @channel.currentUserMembership.unread_count 0)}}
  <div
    class={{concat-class
      "chat-channel-unread-indicator"
      (if
        (or
          @channel.isDirectMessageChannel
          (gt @channel.currentUserMembership.unread_mentions 0)
        )
        "urgent"
      )
    }}
  >
    <div class="number">{{@channel.currentUserMembership.unread_count}}</div>
  </div>
{{/if}}