{{#if (gt this.channelUnreadCount 0)}}
  <div
    class={{concat-class
      "chat-channel-unread-indicator"
      (if
        (or @channel.isDirectMessageChannel (gt this.channelMentionCount 0))
        "urgent"
      )
    }}
  >
    <div class="number">{{this.channelUnreadCount}}</div>
  </div>
{{/if}}