<LinkTo
  @route="chat.channel.thread"
  @models={{@message.thread.routeModels}}
  class="chat-message-thread-indicator"
>
  <span class="chat-message-thread-indicator__replies-count">
    {{i18n "chat.thread.replies" count=@message.threadReplyCount}}
  </span>
  <span class="chat-message-thread-indicator__view-thread overflow-ellipsis">
    {{i18n "chat.thread.view_thread"}}{{#if this.threadTitle}}:
      {{replace-emoji this.threadTitle}}{{/if}}
  </span>
</LinkTo>