{{#if @message.newest}}
  <div class="chat-message-separator-new">
    <div class="chat-message-separator__text-container">
      <span class="chat-message-separator__text">
        {{i18n "chat.new_messages"}}
      </span>
    </div>

    <div class="chat-message-separator__line-container">
      <div class="chat-message-separator__line"></div>
    </div>
  </div>
{{/if}}