{{#if this.shouldRender}}
  <div class="chat-channel-status">
    {{d-icon this.channelStatusIcon}}
    <span>{{this.channelStatusMessage}}</span>
    <ChatChannelArchiveStatus @channel={{@channel}} />
  </div>
{{/if}}