{{#if this.showUrgentIndicator}}
  <div class="chat-channel-unread-indicator urgent">
    <div
      class={{concat-class
        "chat-channel-unread-indicator__number"
        this.numberIsTooHigh
      }}
    >
      {{html-safe this.unreadCountLabel}}
    </div>
  </div>
{{else if this.showUnreadIndicator}}
  <div class="chat-channel-unread-indicator"></div>
{{/if}}