<div class="chat-replying-indicator">
  {{#if this.shouldDisplay}}
    <span class="chat-replying-indicator__text">{{this.text}}</span>
    <span class="chat-replying-indicator__wave">
      <span class="chat-replying-indicator__dot">.</span>
      <span class="chat-replying-indicator__dot">.</span>
      <span class="chat-replying-indicator__dot">.</span>
    </span>
  {{/if}}
</div>