<div class="chat-notices">
  <ChatRetentionReminder @channel={{@channel}} />

  {{#each this.noticesForChannel as |notice|}}
    <ChatNotice @notice={{notice}} @channel={{@channel}} />
  {{/each}}
</div>