<div class="select-kit-header-wrapper">
  {{#if this.selectedContent}}
    <ChatChannelTitle @channel={{this.selectedContent}} />
  {{else}}
    {{i18n "chat.incoming_webhooks.channel_placeholder"}}
  {{/if}}

  {{d-icon this.caretIcon class="caret-icon"}}
</div>