<div class="chat-user-avatar {{if this.isOnline 'is-online'}}">
  <div
    role="button"
    class="chat-user-avatar-container clickable"
    data-user-card={{this.user.username}}
  >
    {{avatar this.user imageSize=this.avatarSize}}
  </div>
</div>