<a
  href={{this.href}}
  tabindex="0"
  class={{concat-class "icon" (if this.isActive "active")}}
>
  {{d-icon "comment"}}

  {{#unless this.currentUserInDnD}}
    <ChatHeaderIconUnreadIndicator />
  {{/unless}}
</a>
