{{#if this.channelStatusMessage}}
  <div class="chat-channel-status">
    {{d-icon this.channelStatusIcon}}
    <span>{{this.channelStatusMessage}}</span>

    <ChatChannelArchiveStatus @channel={{this.channel}} />
  </div>
{{/if}}