<div
  class="chat-user-avatar
    {{if (and this.isOnline this.showPresence) 'is-online'}}"
>
  <div
    role="button"
    class="chat-user-avatar-container clickable"
    data-user-card={{this.user.username}}
  >
    {{avatar this.user imageSize=this.avatarSize}}
  </div>
</div>