<span class="chat-user-display-name">
  {{#if this.shouldShowNameFirst}}
    <span class="chat-user-display-name__name -first">{{@user.name}}</span>
    <span class="separator">—</span>
  {{/if}}

  <span
    class={{concat-class
      "chat-user-display-name__username"
      (unless this.shouldShowNameFirst "-first")
    }}
  >
    {{this.formattedUsername}}
  </span>

  {{#if this.shouldShowNameLast}}
    <span class="separator">—</span>
    <span class="chat-user-display-name__name">{{@user.name}}</span>
  {{/if}}
</span>