<div class="chat-skeleton -animation">
  {{#each this.placeholders as |rows|}}
    <div class="chat-skeleton__body">
      <div class="chat-skeleton__message">
        <div class="chat-skeleton__message-avatar"></div>
        <div class="chat-skeleton__message-poster"></div>
        <div class="chat-skeleton__message-content">
          {{#each rows as |row|}}
            <div class="chat-skeleton__message-msg" style={{row}}></div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}
</div>