<div class="chat-channel-metadata">
  <div class="chat-channel-metadata__date">
    {{this.lastMessageFormattedDate}}
  </div>

  {{#if this.unreadIndicator}}
    <ChatChannelUnreadIndicator @channel={{@channel}} />
  {{/if}}
</div>