<div
  class="chat-user-avatar {{if (and this.isOnline @showPresence) 'is-online'}}"
>
  <div
    role="button"
    class="chat-user-avatar-container clickable"
    data-user-card={{@user.username}}
  >
    {{avatar @user imageSize=this.avatarSize}}
  </div>
</div>