{{#if (and this.channel.archive_failed this.currentUser.admin)}}
  <div class="alert alert-warn chat-channel-retry-archive">
    <div class="chat-channel-archive-failed-message">
      {{this.channelArchiveFailedMessage}}
    </div>

    <div class="chat-channel-archive-failed-retry">
      <DButton
        @action={{action "retryArchive"}}
        @label="chat.channel_archive.retry"
      />
    </div>
  </div>
{{else if (and this.channel.archive_completed this.currentUser.admin)}}
  <div class="chat-channel-archive-status">
    {{this.channelArchiveCompletedMessage}}
  </div>
{{/if}}