<aside class="onebox {{subname}}">
  <header class="source">
    <a href="{{{link}}}" target='_blank' >
      {{#repository_path}}{{repository_path}}{{/repository_path}}
      {{^repository_path}}{{domain}}{{/repository_path}}
    </a>
  </header>
  <article class="onebox-body">
    {{{view}}}
  </article>
  <div style='clear: both'>
    {{#twitter_label1}}<span style="float: left;">{{twitter_label1}}: {{twitter_data1}}</span>{{/twitter_label1}}
    {{#twitter_label2}}<span style="float: right;">{{twitter_label2}}: {{twitter_data2}}</span>{{/twitter_label2}}
  </div>
  <div style='clear: both'></div>
</aside>
