{{owner}}/{{repo}}
{{sha}}
{{branch}}
<h2 class="host">github.com</h2>
<img src="{{gravatar}}" />
{{message}}
{{author}}
{{time_date}}
{{files_changed}} changed file
{{additions}} additions
{{deletions}} deletions
