<h4><a href="{{link}}" target="_blank">{{title}}</a></h4>
<pre><code class='{{lang}}'>{{content}}</code></pre>

{{#truncated}}
  This file has been truncated. <a href="{{link}}" target="_blank">show original</a>
{{/truncated}}

