<svg width="60" height="60" class="github-icon" viewBox="0 0 14 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M10.86 7c-.45-1.72-2-3-3.86-3-1.86 0-3.41 1.28-3.86 3H0v2h3.14c.45 1.72 2 3 3.86 3 1.86 0 3.41-1.28 3.86-3H14V7h-3.14zM7 10.2c-1.22 0-2.2-.98-2.2-2.2 0-1.22.98-2.2 2.2-2.2 1.22 0 2.2.98 2.2 2.2 0 1.22-.98 2.2-2.2 2.2z"></path></svg>

<h4>
  {{#author.avatar_url}}
    <a href="{{author.html_url}}" target="_blank">
      <img alt="{{author.login}}" src="{{author.avatar_url}}" class="onebox-avatar-inline" width="20" height="20">
    </a>
  {{/author.avatar_url}}
  <a href="{{html_url}}" target="_blank">{{title}}</a>
</h4>

{{#message}}
  <pre class="message" style="white-space: normal;">{{message}}</pre>
{{/message}}

<div class="date">
  commit by <a href="{{author.html_url}}" target="_blank">{{author.login}}</a>
  on <a href="{{html_url}}" target="_blank">{{commit_date}}</a>
</div>

<div class="github-commit-stats">
  changed <strong>{{files.length}} files</strong>
  with <strong>{{stats.additions}} additions</strong>
  and <strong>{{stats.deletions}} deletions</strong>.
</div>
