<a href="{{link}}" target="_blank" rel="noopener"><span class="googledocs-onebox-logo g-{{type}}-logo"></span></a>

<h3><a href="{{link}}" target="_blank" rel="noopener">{{title}}</a></h3>

<p>{{description}}</p>
