<h3><a href="{{link}}" target="_blank">{{title}}</a></h3>

{{#video_secure_url}}
  <div class="instagram-images"><video class="instagram-image" width="{{video_width}}" height="{{video_height}}" poster="{{image}}" controls loop>
    <source src="{{video_secure_url}}" type='video/mp4'>
  </video></div>
{{/video_secure_url}}

{{^video_secure_url}}
  {{#image}}<div class="instagram-images"><img class="instagram-image" src="{{image}}"/></div>{{/image}}
{{/video_secure_url}}

<div class="instagram-description">{{description}}</div>
