<a href='{{link}}' target="_blank"><span class='pdf-onebox-logo'></span></a>
<h3><a href='{{link}}' target="_blank">{{title}}</a></h3>

{{#description}}<p>{{description}}</p>{{/description}}
{{#author}}<p>by {{author}}</p>{{/author}}
