{{#avatar}}<img src="{{avatar}}" class="thumbnail">{{/avatar}}
<h4>
  <a href='{{link}}'>
    {{title}}
  </a>
</h4>

{{{tweet}}}

<div class='date'>
  <a href="{{link}}" target="_blank">{{timestamp}}</a>
</div>
