{{#avatar}}<img src="{{avatar}}" class="thumbnail">{{/avatar}}
<h4>
  <a href='{{link}}' target='_blank'>
    {{title}}
  </a>
</h4>

<div class="tweet">{{{tweet}}}</div>

<div class='date'>
  <a href="{{link}}" target="_blank">{{timestamp}}</a>
</div>
