{{#avatar}}<img src="{{avatar}}" class="thumbnail onebox-avatar">{{/avatar}}
<h4>
  <a href='{{link}}' target='_blank'>
    {{title}}
  </a>
</h4>

<div class="tweet">{{{tweet}}}</div>

<div class='date'>
  <a href="{{link}}" target="_blank">{{timestamp}}</a>
  {{#likes}}
    <span class="like"><i class="fa fa-heart"></i> {{likes}}</span>
  {{/likes}}
  {{#retweets}}
    <span class="retweet"><i class="fa fa-retweet"></i> {{retweets}}</span>
  {{/retweets}}
</div>
