{{#image}}<img src="{{image}}" width="{{image_width}}" height="{{image_height}}" class="thumbnail"/>{{/image}}

<h3><a href='{{link}}' target="_blank">{{title}}</a></h3>

<p>{{description}}</p>

{{#data1}}
  <p><span class="label1">{{label1}}: {{data1}}</span>
  {{#data2}}
    <span class="label2">{{label2}}: {{data2}}</span></p>
  {{/data2}}
  {{^data2}}
    </p>
  {{/data2}}
{{/data1}}

