.select-kit {
  &.combo-box {
    &.category-drop {
      min-width: auto;

      .badge-wrapper {
        font-size: $font-0;
        font-weight: normal;

        &.box {
          margin: 0;

          span.badge-category {
            margin: 0;
          }
        }
      }

      &.bar.has-selection .category-drop-header,
      &.box.has-selection .category-drop-header,
      &.none.has-selection .category-drop-header {
        padding: 5px 10px;
      }

      &.bullet.has-selection .category-drop-header {
        padding: 5px 10px;
      }

      .category-drop-header {
        background: $primary-low;
        color: $primary;
        border: 1px solid transparent;
        padding: 5px 10px;
        font-size: $font-0;
        transition: none;

        .badge-wrapper {
          margin-right: 0;
        }

        .fa {
          font-size: $font-up-1;
        }

        .caret-icon {
          opacity: 1;
        }
      }

      &.is-expanded .category-drop-header {
        border: 1px solid $tertiary;
        box-shadow: shadow("focus");
      }

      .select-kit-collection {
        display: flex;
        flex-direction: column;
        padding: 0;
        min-width: 100px;
        max-height: 300px;
        max-width: 30em;

        .collection-header {
          .category-filter {
            white-space: nowrap;
            color: $primary;
            font-size: $font-down-1;
            line-height: $line-height-medium;
            font-weight: bold;
            display: block;
            padding: 10px 5px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .select-kit-body {
        width: auto;
        min-width: 300px;
        border-radius: 0;
        box-shadow: shadow("dropdown");
      }

      .select-kit-row {
        margin: 0;
        font-size: $font-down-1;
        font-weight: bold;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;

        .category-desc {
          font-weight: normal;
          color: $primary-medium;
        }

        .category-status {
          align-items: center;
        }

        &.no-content {
          font-weight: normal;
        }

        &:not(.no-content) {
          padding: 5px;
        }

        .topic-count {
          margin-left: 5px;
          font-weight: normal;
        }

        .badge-wrapper {
          margin: 0;
        }
      }

      &.is-expanded .select-kit-wrapper, .select-kit-wrapper {
        display: none;
      }
    }
  }
}
