.select-kit {
  &.combo-box {
    .select-kit-body {
      border-radius: 0;
      box-shadow: shadow("dropdown");
    }

    .select-kit-row {
      margin: 0;
      min-height: 1px;
      padding: 6px 10px;
      &.no-content {
        font-weight: normal;
      }
    }

    .select-kit-filter {
      .filter-input,
      .filter-input:focus,
      .filter-input:active {
        flex: 1;
      }

      .filter-icon {
        margin-left: 0.25em;
      }
    }

    .select-kit-header {
      background: $secondary;
      border: 1px solid $primary-medium;
      padding: 0 0.25em 0 0.5em;
      font-weight: 500;
      font-size: $font-0;

      &.is-focused {
        border: 1px solid $tertiary;
        box-shadow: shadow("focus");
      }
    }

    .select-kit-collection {
      display: flex;
      flex-direction: column;
      padding: 0;
      min-width: 100px;
      max-height: 200px;

      .collection-header {
        a {
          white-space: nowrap;
          color: $primary;
          line-height: $line-height-medium;
          font-weight: bold;
          display: block;
          padding: 6px 10px;
          color: $tertiary;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &.is-disabled {
      .select-kit-header {
        background: $primary-low;
        border-color: $primary-low-mid;
        color: $primary-medium;
        .d-icon {
          color: $primary-medium;
        }
      }
    }

    &.is-highlighted {
      .select-kit-header {
        border: 1px solid $tertiary;
        box-shadow: shadow("focus");
      }
    }

    &.is-expanded {
      .select-kit-wrapper {
        display: block;
        border: 1px solid $tertiary;
        box-shadow: shadow("focus");
      }
    }

    &.is-expanded.is-above {
      .select-kit-header {
        border-radius: 0 0 3px 3px;
      }

      .select-kit-body {
        border-radius: 3px 3px 0 0;
      }
    }

    &.tag-drop,
    &.group-dropdown {
      min-width: auto;
    }

    &.tag-drop {
      color: $primary-high;
    }

    &.group-dropdown {
      .select-kit-row {
        font-weight: bold;
      }
    }

    &.is-expanded .select-kit-wrapper,
    .select-kit-wrapper {
      display: none;
    }
  }
}
