.select-kit {
  &.dropdown-select-box {
    &.composer-actions {
      margin: 0;
      .select-kit-header {
        background: none;
        outline: none;
        padding: 0;
        margin-right: 5px;

        .d-icon {
          border: 1px solid $primary-low;
          padding: 4px 5px;
          margin: 0 !important;
        }

        &:hover,
        &:focus {
          background: $primary-low;
        }
      }
    }
  }
}
