.select-kit {
  &.combobox {
    &.future-date-input-selector {
      min-width: 50%;

      .future-date-input-selector-header {
        .btn-clear {
          line-height: $line-height-large;
        }
      }

      .future-date-input-selector-datetime {
        color: lighten($primary, 40%);
        font-size: $font-down-1;
      }

      .future-date-input-selector-icons {
        width: 25px;
      }

      .future-date-input-selector-row {
        .future-date-input-selector-icons {
          color: lighten($primary, 40%);
        }
      }
    }
  }
}
