.select-kit {
  &.dropdown-select-box {
    &.notifications-button {
      .select-box-kit-body, .select-kit-body {
        min-width: 550px;
        max-width: 550px;
      }

      .select-box-kit-row, .select-kit-row {
        .icons {
          -ms-flex-item-align: start;
              align-self: flex-start;
        }
      }
    }
  }
}
