.select-kit {
  &.dropdown-select-box {
    &.toolbar-popup-menu-options {
      .select-kit-body {
        box-shadow: none;
        padding: 0.5em 0.5em 0.25em 0.5em;
        width: 230px;
      }

      .toolbar-popup-menu-options-heading {
        width: 100%;
      }

      .select-kit-row {
        margin-bottom: 0.25em;
        padding: 0.5em 0.25em;
        background: $primary-low;
        transition: all 0.25s;

        .name,
        .d-icon {
          font-size: $font-0;
          font-weight: normal;
          color: $primary;
        }

        .d-icon {
          opacity: 0.7;
        }

        &.is-highlighted {
          background: $primary-medium;

          .name,
          .d-icon {
            color: $secondary;
          }
        }

        &:hover {
          background: $primary-medium;
          color: $secondary;
        }

        &.is-selected {
          color: $primary;
          background: $primary-low;
        }

        &.is-selected.is-highlighted {
          background: $primary-medium;
          color: $primary;
        }
      }
    }
  }
}
