.select-kit {
  &.dropdown-select-box {
    &.toolbar-popup-menu-options {
      .select-kit-body {
        box-shadow: none;
        width: 230px;
        border-radius: 0;
      }

      .select-kit-header {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus {
          border-color: var(--tertiary);
        }

        .d-icon {
          color: var(--primary-medium);
        }

        &:hover {
          .d-icon {
            color: var(--primary-low);
          }
        }
      }

      .select-kit-row {
        padding: 0.75em 0.5em;
        border-bottom: 1px solid rgba(var(--primary-low-rgb), 0.5);

        &:last-child {
          border: none;
        }

        .texts .name,
        .icons .d-icon {
          font-size: $font-0;
          font-weight: normal;
        }

        .d-icon {
          color: var(--primary-medium);
        }

        &.is-highlighted,
        &.is-selected,
        &:hover {
          background: var(--tertiary-low);
          color: var(--primary);
        }
      }
    }
  }
}
