.select-kit {
  &.dropdown-select-box {
    &.toolbar-popup-menu-options {
      .select-kit-body {
        box-shadow: none;
        width: 230px;
        border-radius: 0;
      }

      .select-kit-row {
        padding: 0.75em 0.5em;
        border-bottom: 1px solid rgba($primary-low, 0.5);

        &:last-child {
          border: none;
        }

        .texts .name,
        .icons .d-icon {
          font-size: $font-0;
          font-weight: normal;
        }

        .d-icon {
          color: $primary-medium;
        }

        &.is-highlighted,
        &.is-selected,
        &:hover {
          background: $tertiary-low;
          color: $primary;
        }
      }
    }
  }
}
