.select-kit {
  &.dropdown-select-box {
    &.user-notifications-dropdown {
      display: flex;
      text-align: left;

      .d-icon {
        margin-left: 0;
      }

      .select-kit-body {
        width: 485px;
        max-width: 485px;
      }

      .select-kit-header-wrapper {
        justify-content: center;
      }
    }
  }
}
