<span class="email">{{user.email}}</span>
<span class="role">{{roleName}}</span>

<button type="button" class="wizard-container__button small danger remove-user" {{action removeUser user}}>
  {{d-icon "times"}}
</button>
