<span class="email">{{this.user.email}}</span>
<span class="role">{{this.roleName}}</span>

<button type="button" class="wizard-btn small danger remove-user" {{action this.removeUser this.user}}>
  {{d-icon "times"}}
</button>
