<label class="wizard-container__label">
  <Input @type="checkbox" class="wizard-container__checkbox" @checked={{field.value}} />
  <span class="wizard-container__checkbox-slider"></span>
  {{#if field.icon}}
    {{d-icon field.icon}}
  {{/if}}
  <span class="wizard-container__checkbox-label">
    {{this.field.placeholder}}
  </span>
</label>
