{{#if this.showUnreadIndicator}}
  <div class="chat-thread-header-unread-indicator">
    <div class="number-wrap">
      <div class="number">{{@channel.threadTrackingOverview.length}}</div>
    </div>
  </div>
{{/if}}