{{#if this.showUnreadIndicator}}
  <div class="chat-thread-header-unread-indicator">
    <div class="chat-thread-header-unread-indicator__number-wrap">
      <div
        class="chat-thread-header-unread-indicator__number"
      >{{this.unreadCounter}}</div>
    </div>
  </div>
{{/if}}