<div class="group-table">
  <div class="wrapper">
    {{#d-section class="user-navigation" pageClass="group-messages"}}
      {{#mobile-nav class='messages-nav' desktopClass='nav-stacked action-list' currentPath=currentPath}}
        <li>
          {{#link-to 'group.messages.inbox' model.name}}
            {{i18n 'user.messages.inbox'}}
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'group.messages.archive' model.name}}
            {{i18n 'user.messages.archive'}}
          {{/link-to}}
        </li>
      {{/mobile-nav}}
    {{/d-section}}

    <section class='messages'>
      {{outlet}}
    </section>
  </div>
</div>
