{{#styleguide-example title="topic-footer-buttons - logged in"}}
  {{topic-footer-buttons topic=dummy.topic}}
{{/styleguide-example}}

{{#styleguide-example title="topic-footer-buttons - anonymous"}}
  <div id="topic-footer-buttons">
    {{d-button icon="reply" class="btn-primary pull-right" label="topic.reply.title"}}
  </div>
{{/styleguide-example}}
