<StyleguideExample @title="topic-footer-buttons - logged in">
  <TopicFooterButtons @topic={{this.dummy.topic}} />
</StyleguideExample>

<StyleguideExample @title="topic-footer-buttons - anonymous">
  <div id="topic-footer-buttons">
    <DButton @icon="reply" @class="btn-primary pull-right" @label="topic.reply.title" />
  </div>
</StyleguideExample>
