<StyleguideExample @title="<DModal>">
  <DModal
    @closeModal={{action "dummy"}}
    @modalStyle="inline-modal"
    @title={{i18n "styleguide.sections.modal.header"}}
  >
    <DModalBody>
      {{html-safe this.dummy.lorem}}
    </DModalBody>
    <div class="modal-footer">
      {{i18n "styleguide.sections.modal.footer"}}
    </div>
  </DModal>
</StyleguideExample>