<div class="select-kit-header-wrapper">
  {{#each this.icons as |icon|}} {{d-icon icon}} {{/each}}

  {{component
    this.selectKit.options.selectedNameComponent
    tabindex=this.tabindex
    item=this.selectedContent
    selectKit=this.selectKit
    shouldDisplayClearableButton=this.shouldDisplayClearableButton
  }}

  {{#if this.selectKit.options.showCaret}}
    {{d-icon this.caretIcon class="caret-icon"}}
  {{/if}}
  &#8203;
  {{! Zero-width space character, so icon-only button height = regular button height }}
</div>