#topic-entrance {

  border: 1px solid dark-light-diff($primary, $secondary, 90%, -60%);
  padding: 5px;
  background: $secondary;
  box-shadow: 0 0px 2px rgba(0,0,0, .2);
  z-index: 100;

  position: absolute;
  width: 133px;
  @include unselectable;

  button.full {
    width: 100%;
    margin-bottom: 5px;

    i {
      display: block;
      margin-top: 2px;
      margin-bottom: 2px;
      font-size: 1.286em;
    }
  }
  button.btn.jump-bottom {
    margin: 5px 0 0 0;
  }
}
