<span class="topic">
  <span class="first-line">
    <TopicStatus @topic={{@result}} @disableActions={{true}} />
    <span class="topic-title" data-topic-id={{@result.id}}>
      {{! search-menu-results:240 }}
    </span>
  </span>
  <span class="second-line">
  </span>
</span>
