{{#link-to "adminPlugins.discourse-automation" class="discourse-automation-title"}}
  <img class="logo" width="32" src="/assets/images/discourse-automation.png">

  <span class="title">
    {{i18n "discourse_automation.title"}}
  </span>

  {{#if showNewAutomation}}
    {{d-button
      label="discourse_automation.create"
      icon="plus"
      action=(action "newAutomation")
      class="new-automation"
    }}
  {{/if}}
{{/link-to}}

<hr />

{{outlet}}
