{{#link-to "adminPlugins.discourse-automation.workflows" class="workflow-title"}}
  <img class="logo" width="32" src="/assets/images/discourse-automation.svg">
  <h2>Discourse Automation</h2>
{{/link-to}}

<hr />

{{outlet}}
