.admin-report {
  .admin-report-counters {
    display: grid;
    flex: 1 0 0px;
    grid-template-columns: 33% repeat(auto-fit, minmax(20px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(32px, 1fr));
    align-items: center;

    // IE11 grid support
    display: -ms-grid;
    -ms-grid-columns: 2fr 1fr 1fr 1fr 1fr;
    .cell {
      -ms-grid-row: 1;
      -ms-grid-column-span: 1;

      &:nth-of-type(1) {
        -ms-grid-column: 1;
      }
      &:nth-of-type(2) {
        -ms-grid-column: 2;
      }
      &:nth-of-type(3) {
        -ms-grid-column: 3;
      }
      &:nth-of-type(4) {
        -ms-grid-column: 4;
      }
      &:nth-of-type(5) {
        -ms-grid-column: 5;
      }
    }

    .cell {
      padding: 0.25em;
      text-align: right;
      white-space: nowrap;

      &.title {
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .d-icon {
          color: $primary-low-mid;
          min-width: 14px;
          text-align: center;
        }

        .d-icon {
          margin: 0;
        }
      }

      @media screen and (max-width: 400px) {
        &.title .d-icon {
          display: none;
        }
      }

      .d-icon-minus {
        color: $primary-medium;
        font-size: $font-down-3;
      }

      &.high-trending-up,
      &.trending-up {
        .d-icon {
          color: $success;
        }
      }
      &.high-trending-down,
      &.trending-down {
        .d-icon {
          color: $danger;
        }
      }
    }
  }
}

.rtl .counters-list .counters-header .counters-cell {
  text-align: left;
}

.rtl .counters-list {
  .cell {
    text-align: left;

    &.title {
      text-align: right;
    }
  }
}
