.admin-reports {
  .admin-report {
    width: 100%;

    .report-header {
      padding-bottom: 0.5em;
      margin-bottom: 1em;
      border-bottom: 1px solid $primary-low;
    }
  }

  .admin-report-chart .chart-canvas-container .chart-canvas {
    height: 400px;
  }

  .report-container {
    display: flex;

    .loading-container {
      width: 100%;
    }

    .visualization {
      display: flex;
      flex: 4;
    }

    .filters {
      display: flex;
      flex: 1 0 0px;
      align-items: center;
      flex-direction: column;
      margin-left: 2em;

      .date-picker {
        margin: 0;
        width: 195px;
      }

      .combo-box,
      .date-picker-wrapper,
      .btn {
        width: 100%;
        margin-bottom: 1em;
      }
    }

    @include breakpoint(medium) {
      flex-direction: column;
      min-width: 100%;

      .visualization {
        order: 2;
      }

      .filters {
        order: 1;
        margin: 0;
        align-items: flex-start;
      }
    }
  }
}
