// Styles for admin/badges
.admin-badges {
  // flex page layout
  .badges {
    display: flex;
    flex-wrap: wrap;
    .badges-header {
      display: flex;
      align-items: center;
      flex: 1 0 100%;
      .create-new-badge {
        margin-left: auto;
      }
    }
    .badge-intro {
      display: inline-flex;
      flex: 0 1 50%;
    }
    .content-list {
      flex: 0 0 27%;
    }
    .current-badges {
      display: flex;
      justify-content: center;
      flex: 1 1 72%;
    }
  }
  .badges-header {
    padding: 10px 0;
    border-top: 1px solid $primary-low;
    border-bottom: 1px solid $primary-low;
    .badges-heading {
      margin: 0;
      padding: 0 10px;
    }
  }
  .content-list {
    .admin-badge-list {
      height: 70vh;
      overflow-y: scroll;
      border-right: 1px solid $primary-low;
      border-left: 1px solid $primary-low;
      border-bottom: 1px solid $primary-low;
      .admin-badge-list-item {
        &:first-child {
          border-top: none;
        }
        &:last-child {
          border-top: none;
        }
      }
      .list-badge {
        float: right;
        font-size: $font-down-1;
        font-weight: normal;
        padding: 0 6px;
        color: $secondary;
        background-color: $tertiary-medium;
        border-radius: 3px;
      }
    }
    .user-badge {
      border: none;
      background-color: unset;
    }
  }
  .badge-intro {
    margin-top: 10%;
    .badge-intro-emoji {
      // it's an emoji so we want fixed deminsions
      height: 55px;
      width: 55px;
      margin-top: 5px;
      margin-right: 5px;
      flex: 0 0 auto; // IE flex fix
    }
    .external-link {
      display: block;
      margin-bottom: 5px;
    }
  }
  .current-badge {
    margin: 20px;
    p.help {
      margin: 0;
      margin-top: 5px;
      color: $primary-medium;
      font-size: $font-down-1;
    }
    .badge-grouping-control {
      display: flex;
      align-items: center;
      .badge-selector {
        margin-right: 5px;
      }
    }
  }
  .form-horizontal {
    .ace-wrapper {
      position: relative;
      height: 270px;
      .ace_editor {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      &[data-disabled="true"] {
        cursor: not-allowed;
        opacity: 0.5;
        .ace_editor {
          pointer-events: none;
          .ace_cursor {
            visibility: hidden;
          }
        }
      }
    }
    textarea {
      height: 200px;
    }
  }
  .current-badge-actions {
    margin: 10px;
    padding: 10px;
    border-top: 1px solid $primary-low;
  }
  .buttons {
    float: left;
    width: 200px;
    .saving {
      padding: 5px 0 0 0;
      margin-left: 10px;
      width: 80px;
      color: $primary;
    }
  }
}

// badge-grouping modal
.badge-groupings-modal {
  .badge-groupings {
    margin-bottom: 10px;
  }
  .badge-groupings-list {
    list-style: none;
    margin: 0;
    .badge-grouping-item {
      border-bottom: 1px solid $primary-low;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
    }
    .badge-grouping {
      .badge-grouping-name-input {
        margin: 0;
      }
    }
  }
}

// badge preview modal
.badge-query-preview {
  .badge-errors,
  .badge-query-plan {
    padding: 5px;
    background-color: $primary-low;
  }
  .count-warning {
    background-color: $danger-low;
    margin-bottom: 5px;
    padding: 10px;
    p {
      margin: 0;
    }
    .heading {
      color: $danger;
      font-weight: bold;
    }
  }
}

// mobile specific styles - mostly commmon style overrides
// TODO move to mobile sheet once mobile view has a seprate template.
.mobile-view {
  .admin-badges {
    .badges {
      margin: 0 0.25em;
    }
    .content-list {
      flex: 0 0 100%;
      .admin-badge-list {
        max-height: 40vh;
        margin-right: 0;
      }
    }
    .badge-intro {
      flex: 0 1 75%;
    }
    .current-badge {
      margin: 20px 0;
      width: 100%;
    }
    input[type="text"] {
      width: 100%;
    }
  }
}
