//Styles for /admin/users

.display-row.associations .value {
  width: 750px;
  @media (max-width: $mobile-breakpoint) {
    width: 75%;
    float: right;
    text-align: left;
    margin-left: 0;
  }
}

.display-row {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  &:nth-of-type(1) {
    border-top: 0;
  }
  &.highlight-danger {
    background-color: $danger-low;
  }
  border-top: 1px solid $primary-low;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
  &.secondary-emails ul {
    margin: 0;
    list-style: none;
  }
  .field {
    font-weight: bold;
    width: 17.65765%;
    min-width: 125px;
    margin-left: 12px;
    @media (max-width: $mobile-breakpoint) {
      margin-left: 0;
      line-height: $line-height-large;
      margin-top: 5px;
    }
  }
  .value {
    width: 100%;
    max-width: 350px;
    min-width: 50px;
    margin-left: 12px;
    .select-kit {
      min-width: 100px;
    }
    @media (max-width: $mobile-breakpoint) {
      text-align: left;
      margin-left: 0;
    }
    .select-kit {
      width: inherit;
    }
  }
  .long-value {
    margin-left: 12px;
    font-size: $font-down-1;
    button {
      margin-left: 10px;
    }
  }
  .controls {
    margin-left: 12px;
    @media (max-width: $mobile-breakpoint) {
      width: 75%;
      text-align: left;
      margin-left: 0;
    }
    .btn {
      margin-right: 5px;
    }
  }
  &.username,
  &.name {
    .value {
      word-break: break-all;
    }
  }
}

.admin-users {
  input {
    margin-bottom: 0;
  }
  .users-list {
    .username .d-icon {
      color: $primary-medium;
    }
  }
}

.admin-users-list {
  td.username {
    @include ellipsis;
    overflow-wrap: break-word;
  }
  @media screen and (max-width: 970px) and (min-width: 768px) {
    td.username {
      max-width: 23vw; // Prevents horizontal scroll down to 768px
    }
    td.email {
      max-width: 28vw; // Prevents horizontal scroll down to 768px
      overflow-wrap: break-word;
    }
  }
  @media screen and (max-width: 767px) {
    tr {
      td.username {
        grid-column-start: 1;
        grid-column-end: -2;
        font-weight: bold;
      }
      td.user-status {
        text-align: right;
        grid-row: 1;
        grid-column-end: -1;
        .d-icon {
          margin-left: 0.25em;
        }
      }
      td.email {
        grid-column-start: 1;
        grid-column-end: -1;
        word-wrap: break-word;
        overflow-wrap: break-word;
        overflow: hidden;
        min-width: 0;
        margin: 0.5em 0 0 0;

        &:empty {
          display: none;
        }
      }
    }
  }
}

// mobile styles
.mobile-view .admin-users.admin-user {
  .display-row {
    flex-direction: column;
    align-items: flex-start;
    .field,
    .value {
      width: unset;
    }
    .select-kit {
      width: 300px;
    }
  }

  .long-value {
    word-wrap: break-word;
    max-width: 100%;
    margin: 0;
    button {
      margin: 5px 0;
      display: block;
    }
  }

  h1 {
    margin: 15px 0 5px 0;
  }

  .user-controls {
    text-align: inherit;
  }

  .controls {
    width: unset;
    margin-top: 5px;
  }

  .associations button {
    margin: 5px 5px 0 0;
  }

  .ip-lookup {
    display: block;
    .location-box {
      left: 0;
    }
  }
}
