section.about {

  h3 {
    margin-bottom: 10px;
    margin-top: 10px;
  }


  p {
    margin: 10px 0;
  }

  table {
    margin-top: 20px;
    width: 90%;

    th {
      text-align: left;
    }

    td, th {
      padding: 10px 5px 5px 5px;
      border-bottom: 1px solid lighten($primary, 70%);
      line-height: 1.0em;
    }

    td.title {
      width: 33%;
    }

  }
}
