// Styles used before the user is logged into discourse. For example, activating their
// account or changing their email.

#simple-container {
  @include border-radius-all(10px);
  background-color: $secondary;
  padding: 20px;
  width: 550px;
  margin: 0 auto;
}
