// Styles used before the user is logged into discourse. For example, activating their
// account or changing their email.

#simple-container {
  border-radius: 10px;
  background-color: $secondary;
  padding: 20px;
  width: 550px;
  margin: 0 auto;

  .account-created {
    .ac-message {
      font-size: $font-up-1;
      line-height: $line-height-large;
    }

    .activation-controls {
      button {
        margin-right: 0.5em;
      }
    }
  }
}
