.alert {
  padding: 0.5em 1em;
  background-color: $danger-low;
  color: $primary;
  position: relative;
  display: flex;

  .close {
    font-size: $font-up-3;
    align-self: flex-start;
    margin-left: auto;

    .d-icon {
      color: $primary-low-mid;
    }
  }

  .text {
    flex: 1 1 auto;

    & + .close {
      margin-left: 0.5em;
    }
  }

  &.alert-success {
    background-color: $success-low;
    color: $primary;
  }
  &.alert-error {
    background-color: $danger-low;
    color: $primary;
  }
  &.alert-info {
    background-color: $tertiary-low;
    color: $primary;
    &.clickable {
      color: $tertiary;
    }
  }
}
