.alert {
  padding: 0.5em 2.5em 0.5em 1em;
  background-color: $danger-low;
  color: $primary;
  position: relative;
  margin-bottom: 1em;

  .close {
    font-size: $font-up-3;
    position: absolute;
    top: 0.265em;
    right: 0.66em;
    .d-icon {
      color: $primary-medium;
    }
  }

  &.alert-success {
    background-color: $success-low;
    color: $primary;
  }
  &.alert-error {
    background-color: $danger-low;
    color: $primary;
  }
  &.alert-info {
    background-color: $tertiary-low;
    color: $primary;
    &.clickable {
      color: $tertiary;
    }
  }
}

a.alert.clickable {
  display: flex;
}
