.autocomplete {
  z-index: 999999;
  position: absolute;
  width: 240px;
  background-color: $secondary;
  border: 1px solid scale-color($primary, $lightness: 90%);
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      border-bottom: 1px solid scale-color($primary, $lightness: 90%);
      a[href] {
        padding: 5px;
        display: block;
        span.username {
          color: darken($primary, 40%);
        }
        span.name {
          font-size: 11px;
        }
        &.selected {
          background-color: scale-color($primary, $lightness: 90%);
        }
        @include hover {
          background-color: scale-color($primary, $lightness: 90%);
          text-decoration: none;
        }
      }
    }
  }
}

div.ac-wrap.disabled {
  input {
    display:none;
  }
  .item a {
    display:none;
  }
}


div.ac-wrap {
  background-color: $secondary;
  border: 1px solid scale-color($primary, $lightness: 90%);
  padding: 5px 10px;
  div.item {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    span {
      padding-left: 5px;
      height: 22px;
      display: inline-block;
      line-height: 22px;
      vertical-align: bottom;
    }
    a.remove {
      margin-left: 4px;
      font-size: 10px;
      line-height: 10px;
      padding: 2px 1px 1px 3px;
      border-radius: 10px;
      width: 10px;
      display: inline-block;
      border: 1px solid scale-color($primary, $lightness: 90%);
      &:hover {
        background-color: scale-color($danger, $lightness: 75%);
        border: 1px solid scale-color($danger, $lightness: 30%);
        text-decoration: none;
        color: $danger;
      }
    }
  }
  input[type="text"] {
    float: left;
    margin-top: 5px;
    border: 0;
    padding: 0;
    margin: 4px 0 0;
    box-shadow: none;
  }
}

#reply-control.topic #wmd-quote-post {
  display: none;
}


.auto-close-fields {
  input {
    width: 150px;
  }
  .examples {
    margin: 10px 0 0 0;
    color: $primary;
  }
}

.edit-auto-close-modal {
  form {
    margin: 0;
  }
  .auto-close-fields {
    i.fa-clock-o {
      font-size: 16px;
      line-height: 8px;
    }
    input {
      margin: 0;
    }
  }
}
