.d-image-grid {
  --grid-column-gap: 3px;

  margin-left: calc(var(--grid-column-gap) * -1);
  margin-right: calc(var(--grid-column-gap) * -1);
  &[data-columns] {
    display: flex;
    flex-wrap: wrap;
  }

  &[data-columns="2"] > * {
    flex-basis: 50%;
  }

  &[data-columns="3"] > * {
    flex-basis: calc(100% / 3);
  }

  .d-image-grid-column {
    box-sizing: border-box;
    > * {
      padding-left: var(--grid-column-gap);
      padding-right: var(--grid-column-gap);
    }
    > .lightbox-wrapper {
      .meta .informations {
        display: none;
      }
      .meta .filename {
        flex-grow: 3;
      }
    }
  }

  .desktop-view .d-editor-preview & {
    .image-wrapper {
      padding-bottom: calc(var(--grid-column-gap) * 2);
      margin-bottom: 0em;
      .button-wrapper .scale-btn-container {
        display: none;
      }
    }
  }
}
