.dialog-container,
.dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialog-container {
  z-index: z("modal", "dialog");
  display: flex;

  // fixes modal placement on Android when keyboard is visible
  html.keyboard-visible:not(.ios-device) & {
    height: calc(100% - env(keyboard-inset-height));
  }
}

/**
 * Ensures the dialog container and all its descendants are not
 * visible and not focusable when it is hidden.
 */

.dialog-container[aria-hidden="true"] {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

.dialog-overlay {
  background: rgb(var(--always-black-rgb), 0.65);
  animation: fade-in 250ms both;

  @media (prefers-reduced-motion) {
    animation-duration: 0s;
  }
}

.dialog-content {
  margin: auto;
  z-index: z("modal", "content");
  position: relative;
  background-color: var(--secondary);
  box-shadow: var(--shadow-card);
  min-width: 40vw;
  animation: fade-in 250ms both;

  @media (prefers-reduced-motion) {
    animation-duration: 0s;
  }
}

.dialog-body {
  overflow-y: auto;
  max-height: 400px;
  max-width: 800px;
  padding: 1em;
}

.dialog-header {
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid var(--content-border-color);
  align-items: start;

  h3 {
    font-size: var(--font-up-3);
    margin-bottom: 0;
  }

  .dialog-close {
    margin-left: auto;
    flex-basis: content;
    padding-left: 15px;

    .d-icon {
      color: var(--primary-high);
    }
  }
}

.permanently-delete-confirm {
  .dialog-content {
    min-width: 25vw;
    width: 25vw;
  }

  &.--fire-easter-egg-dialog {
    .dialog-content {
      background-color: transparent;
      color: white;

      .confirmation-phrase {
        z-index: 100000;
      }
    }
  }

  &__message {
    margin-bottom: var(--space-4);
  }

  &__instruction {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .confirmation-phrase {
      width: 100%;
      margin: 0;
    }
  }

  --glitter: url("/images/firenoise.png");

  .fire-easter-egg::before,
  .fire-easter-egg::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  .fire-easter-egg::before {
    content: "";
    background-image:
      var(--glitter), var(--glitter),
      linear-gradient(
        0deg,
        white 0,
        #ff8951 5px,
        #dcbc169c 30%,
        transparent 70%
      ),
      radial-gradient(ellipse at bottom, transparent 30%, black 60%);
    background-size:
      350px 500px,
      400px 650px,
      100% 100%,
      100% 100%;
    background-blend-mode: hard-light, color-dodge, multiply;
    background-position:
      0 0,
      0 0,
      var(--gradientPos);
    background-repeat: repeat, repeat, repeat, no-repeat;
    mix-blend-mode: color-dodge;
    filter: brightness(3.7) blur(7px) contrast(6);
    animation: fire-easter-egg 1.75s linear infinite;
    box-shadow: inset 0 -40px 50px -60px #63bbc5;
  }

  @keyframes fire-easter-egg {
    0% {
      background-position:
        center 0,
        center 0,
        50% 100%,
        center center;
    }

    100% {
      background-position:
        center -500px,
        center -650px,
        50% 100%,
        center center;
    }
  }
}

.dialog-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 14px 15px 10px;
  border-top: 1px solid var(--content-border-color);

  --btn-bottom-margin: 0.3em;

  .btn {
    margin: 0 0.75em var(--btn-bottom-margin) 0;
  }
}
