    a.no-href {
  cursor: pointer;
}

body {
    button.ok {
    background: $success;
    // Keep it white - looks better
    color: #fff;
    @include hover {
      background: mix($success, $secondary, 90%);
      color: #fff;
    }
  }
  button.cancel {
    background: $danger;
    // Keep it white - looks better
    color: #fff;
    @include hover {
      background: mix($danger, $secondary, 90%);
      color: #fff;
    }
  }

  textarea {
    width: 210px;
    height: auto;
    color: $primary;
    background-color: $secondary;
    border: 1px solid $almost-secondary;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba($primary, .3);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
  }

  .coldmap-high {
    color: mix($tertiary, $secondary, 70%) !important;
  }
  .coldmap-med {
    color: $tertiary !important;
  }
  .coldmap-low {
    color: mix($tertiary, $primary, 90%) !important;
  }
  .heatmap-high {
    color: mix($danger, $secondary, 70%) !important;
  }
  .heatmap-med {
    color: $danger  !important;
  }
  .heatmap-low {
    color: mix($danger, $primary, 90%) !important;
  }
  #loading-message {
    position: absolute;
    font-size: 30px;
    text-align: center;
    top: 120px;
    left: 500px;
    color: $primary;
  }
    .top-space {
    margin-top: 10px;
  }
  ul.breadcrumb {
    margin: 0 10px 0 10px;
  }
.message {
    @include border-radius-all(8px);
    background-color: $secondary;
    padding: 14px;
    h2 {
      margin-bottom: 20px;
    }
    p {
      font-size: 20px;
    }
  }
    #footer {
    .container {
      height: 50px;
      .contents {
        padding-top: 10px;
        a[href] {
          color: $secondary;
        }
      }
    }
  }
    .clear-transitions {
    @include transition(none !important);
  }

.tip {
  display: inline-block;
  &.good {
    color: $success;
  }
  &.bad {
    color: $danger;
  }
}


#wmd-input {
  resize: none;
}

#pagedown-editor {
  width: 540px;
  background-color: $secondary;
  padding: 0 10px 13px 10px;
  border: 1px solid $almost-secondary;
  .preview {
    margin-top: 8px;
    border: 1px dashed $almost-secondary;
    padding: 8px 8px 0 8px;
    p {
      margin: 0 0 10px 0;
    }
  }
  .preview.hidden {
    display: none;
  }
}

.spinner {
  width: 100px;
  margin: 10px auto 30px auto;
  background-color: #000;
  @include border-radius-all(10px);
  padding: 10px 10px 10px 30px;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  color: $secondary;
  background: {
    image: image-url("spinner_96_w.gif");
    repeat: no-repeat;
    position: 10px 8px;
    size: 25px;
  };
  -webkit-animation: spinner .25s;
  animation: spinner .25s;
}

//loading spinner fade-in
@-webkit-keyframes spinner {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.avatar {
  @include border-radius-all(2px);
}

.avatar-wrapper {
  background-color: $secondary;
  display: inline-block;
  border: 1px solid $almost-secondary;
  @include border-radius-all(5px);
  img {
    @include border-radius-all(4px);
  }
}

.profiler-results.profiler-left {
  top: 60px !important;
}


}
