.error-page {
  text-align: center;
  padding-top: 2em;

  .face {
    font-size: 60px;
    height: 60px;
  }
  .reason {
    font-size: 1.714em;
    height: 24px;
  }
  .url {
    font-style: italic;
    font-size: 11px;
  }
  .desc {
    margin-top: 16px;
    .fa-check-circle {
      color: $success;
    }
  }
  .buttons {
    display: inline-flex;
    margin-top: 15px;

    button {
      margin: 0 20px;
    }
  }
}
