@use "lib/viewport";

body.grid-layout {
  --d-max-width: 100vw;
  --grid-columns: 24;
  --grid-max-width: calc(var(--d-max-width) / var(--grid-columns));
  --column-gap: 1;
  --sidebar-span: 6;
  --main-col-start-no-sidebar: 1;
  --main-col-end-no-sidebar: -1;
  --main-col-start-sidebar: calc(var(--sidebar-span) + var(--column-gap) + 1);
  --main-col-end-sidebar: -1;
  --d-sidebar-section-link-prefix-margin-right: 0.5em;
  --d-sidebar-row-horizontal-padding: 0.5em;

  @include viewport.from(xl) {
    --sidebar-span: 5;
    --main-col-start-no-sidebar: 3;
    --main-col-end-no-sidebar: -3;
    --main-col-start-sidebar: 7;
    --main-col-end-sidebar: -2;
  }

  @include viewport.from(2xl) {
    --sidebar-span: 4;
    --main-col-start-sidebar: 6;
    --main-col-end-sidebar: -6;
    --main-col-start-no-sidebar: 6;
    --main-col-end-no-sidebar: -6;
  }

  @media screen and (width > 2000px) {
    --sidebar-span: 3;
    --main-col-start-sidebar: 7;
    --main-col-end-sidebar: -7;
    --main-col-start-no-sidebar: 7;
    --main-col-end-no-sidebar: -7;
  }

  @media (width >= 2800px) {
    --sidebar-span: 2;
    --main-col-start-sidebar: 8;
    --main-col-end-sidebar: -8;
    --main-col-start-no-sidebar: 8;
    --main-col-end-no-sidebar: -8;
  }

  .discourse-root {
    display: grid;
    grid-template-columns: repeat(
      var(--grid-columns),
      minmax(0, var(--grid-max-width))
    );
    gap: 0;

    // give all children their own row
    // to mimic old block layout
    > * {
      grid-column: 1 / -1;
    }
  }

  // pass grid down to header contents
  .d-header-wrap,
  .d-header,
  .wrap {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  // below 768px, the header uses flex
  // at 768px and above, the header uses grid
  .d-header .wrap {
    @include viewport.from(md) {
      height: auto;
      min-height: 0;
    }

    .contents {
      grid-column: 1 / -1;

      @include viewport.from(md) {
        display: grid;
        grid-template-columns: subgrid;
      }
    }
  }

  .d-header__contents-primary {
    display: flex;
    margin-right: 0.5em;
    flex: 0 1 auto;

    @include viewport.from(md) {
      grid-column: 1 / span var(--sidebar-span);
    }
  }

  .d-header__contents-secondary {
    display: flex;
    margin-left: auto;
    flex: 1 1 auto;

    @include viewport.from(md) {
      grid-column-start: var(--main-col-start-sidebar);
      grid-column-end: -1;
      margin-left: 0;
    }
  }

  #main-outlet-wrapper #main-outlet {
    grid-column: var(--main-col-start-no-sidebar) /
      var(--main-col-end-no-sidebar);
  }

  &.has-sidebar-page {
    #main-outlet-wrapper {
      .sidebar-wrapper {
        grid-column: 1 / span var(--sidebar-span);

        .sidebar-sections {
          padding-inline: 0;
        }
      }

      #main-outlet {
        grid-column: var(--main-col-start-sidebar) / var(--main-col-end-sidebar);
      }
    }

    .d-header__contents-primary {
      grid-column: 1 / span var(--sidebar-span);
    }

    .d-header__contents-secondary {
      grid-column-start: var(--main-col-start-sidebar);
      grid-column-end: -1;
    }
  }

  &:not(.has-sidebar-page) {
    .d-header {
      &:has(.extra-info-wrapper) .wrap .contents {
        display: flex;

        @include viewport.from(xl) {
          display: grid;
          grid-template-columns: subgrid;

          .d-header__contents-primary {
            grid-column: 1 / var(--main-col-start-no-sidebar);
          }

          .d-header__contents-secondary {
            grid-column-start: var(--main-col-start-no-sidebar);
          }
        }

        // above 2xl we reserve space for the sidebar
        @include viewport.from(2xl) {
          .d-header__contents-primary {
            grid-column: 1 / span var(--sidebar-span);
          }
        }
      }
    }

    @include viewport.until(xl) {
      .sidebar-wrapper {
        // get out of the way
        height: 0;
      }
    }
  }
}
