.groups-page {
  h1 {
    margin-bottom: 20px;
    display: inline-block;
  }
}

.groups-header {
  margin-bottom: 30px;
}

.groups-header-filters {
  display: inline-block;

  .groups-header-filters-type {
    vertical-align: middle;
  }

  .groups-header-filters-name {
    vertical-align: middle;
    margin: 0;
  }
}

.groups-table {
  width: 100%;

  th {
    border-bottom: 1px solid $primary-low;
    padding: 0.5em;
    text-align: left;
  }

  .sortable {
    &:hover {
      background-color: $primary-low;
      cursor: pointer;
    }
  }

  tr {
    td {
      padding: 0.8em;
      color: $primary-medium;
    }

    td.groups-info {
      width: 50%;
    }

    td.group-user-status {
      i {
        color: $primary;
      }
    }

    td.groups-user-count {
      width: 17%;
      font-size: $font-up-2;
    }

    td.groups-table-type {
      width: 17%;
      font-size: $font-up-1;
    }

    td.groups-table-membership {
      .group-membership-button {
        display: inline-block;
      }

      > span {
        margin-right: 5px;
        font-size: $font-up-1;
      }
    }
  }

  .groups-info {
    .groups-info-name {
      font-weight: bold;
      color: $primary;
      color: dark-light-choose($primary-high, $secondary-low);
    }

    .groups-info-full-name {
      color: dark-light-choose($primary-high, $secondary-low);
    }

    .groups-info-title {
      font-size: $font-down-1;
      color: dark-light-choose($primary-medium, $secondary-medium);
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    $size: 40px;

    .avatar-flair {
      background-size: $size;
      height: $size;

      i {
        font-size: $size !important;
      }
    }

    .avatar-flair-image {
      width: $size;
    }
  }
}
