// styles that apply to the popup that appears when you show the edit history of a post

.modal.history-modal {
  .modal-inner-container {
    min-width: 960px;
    min-height: 500px;
  }
  #revision-controls {
    float: left;
    .btn[disabled]:hover {
      color: $primary;
    }
  }
  #revision-numbers {
    display: inline-block;
    min-width: 80px;
    text-align: center;
  }
  #display-modes {
    text-align: right;
  }
  #revision-loading {
    float: left;
    margin: 5px 0 0 10px;
    .fa {
      margin-right: 7px;
    }
  }
  #revision-details {
    background-color: scale-color-diff();
    padding: 5px;
    margin-top: 10px;
  }
  #revisions {
    word-wrap: break-word;
    .row, table {
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dotted;
    }
  }
  img {
    max-width: 670px;
    height: auto;
  }
  .inline-diff {
    width: 670px;
  }
  .markdown {
    font-family: monospace;
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    td {
      width: 50%;
      vertical-align: top;
      max-width: 440px;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }
  .span8, .markdown {
    img {
      max-width: 400px;
    }
  }
  ins, .diff-ins {
    code, img {
      border: 2px solid $success;
    }
    img {
      opacity: .75;
      filter: alpha(opacity=75);
    }
    a {
      color: $success;
      text-decoration: none;
    }
  }
  img.diff-ins, code.diff-ins {
    border: 2px solid $success;
  }
  img.diff-ins {
    opacity: .75;
    filter: alpha(opacity=75);
  }
  .diff-ins {
    background: scale-color($success, $lightness: 90%);
  }
  ins {
    color: $success;
    background: scale-color($success, $lightness: 90%);
  }
  del, .diff-del {
    code, img {
      border: 2px solid $danger;
    }
    img {
      opacity: .5;
      filter: alpha(opacity=50);
    }
    a {
      color: $danger;
      text-decoration: none;
    }
  }
  img.diff-del, code.diff-del {
    border: 2px solid $danger;
  }
  img.diff-del {
    opacity: .5;
    filter: alpha(opacity=50);
  }
  .diff-del {
    background: scale-color($danger, $lightness: 60%);
  }
  del {
    color: $danger;
    background: scale-color($danger, $lightness: 60%);
  }
  span.date {
    font-weight: bold;
  }
  span.edit-reason {
    background-color: lighten($highlight, 23%);
    padding: 3px 5px 5px 5px;
  }
  .modal-header {
    height: 42px;
  }
  .fa-ban {
    color: #f00;
  }
}
