.invite-page {
  background: var(--secondary);
}

.invites-show,
#simple-container .invite-error {
  max-width: 500px;
  padding: 2rem 3rem;
  background: var(--secondary);
  margin: 10vh auto 1em auto;
  @media screen and (max-height: 700px) {
    margin: 1em auto 1em auto;
  }
}

#simple-container .invite-error {
  .error-info {
    text-align: center;
  }

  .error-image {
    text-align: center;
    padding-bottom: 1em;
  }
}

@include breakpoint("mobile-extra-large") {
  .invites-show {
    box-sizing: border-box;
    padding: 1em;

    .invitation-cta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2rem;
    }
  }
}
