$meta-element-margin: 6px;

.lightbox-wrapper .lightbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  &:hover .meta {
    opacity: 0.9;
    transition: opacity 0.5s;
  }
}

.d-lazyload-hidden {
  box-sizing: border-box;
}

.onebox img.d-lazyload-hidden {
  border: 1px solid $primary-low;
}

.cooked img.d-lazyload {
  transition: opacity 0.4s 0.75s ease;
}

.lightbox-wrapper {
  display: inline-block;
  img {
    object-fit: cover;
    object-position: top;
  }
  &,
  * {
    outline: 0;
  }
}

.meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $secondary;
  background: $primary;
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;

  .filename {
    margin: $meta-element-margin;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .d-icon {
    margin: $meta-element-margin;
    opacity: 0.8;
    color: $secondary;
    + .filename {
      margin-left: 0px;
    }
  }

  .informations {
    margin: $meta-element-margin;
    padding-right: 20px;
    color: $secondary-high;
    font-size: $font-0;
    flex-shrink: 0;
    flex-grow: 3;
  }
}

.mfp-preloader .spinner {
  margin: auto;
}
