.caps-lock-warning {
  color: $danger;
  font-size: $font-down-1;
  font-weight: bold;
}

.discourse-no-touch #login-form {
  margin: 0;
}

.discourse-touch .caps-lock-warning {
  display: none;
}

#login-form {
  table {
    width: 100%;
  }
  a {
    color: $primary-high;
  }
  td {
    padding-right: 5px;
  }
  #credentials {
    tr:first-of-type {
      margin-bottom: 0.75em;
    }
  }
}

#new-account-link {
  cursor: pointer;
}

.login-modal,
.create-account {
  tbody {
    border: none;
  }
  tr {
    border: none;
  }
  tr:not(.instructions) {
    td {
      padding: 10px 0 0 0;
    }
  }
  td {
    label,
    input {
      margin-bottom: 0;
      width: 100%;
    }
  }
  .modal-footer {
    .inline-spinner {
      display: inline-flex;
    }
  }
  &.awaiting-approval {
    display: none;
  }
}

.create-account {
  .disclaimer {
    color: $primary-medium;
    margin-top: 0.5em;
  }

  .user-field {
    > label {
      margin-top: 0.75em;
      margin-bottom: 0;
      padding-top: 5px;
    }
    &:first-of-type > label {
      margin-top: 0;
    }

    input[type="text"] {
      margin-bottom: 0;
      width: 100%;
    }

    .select-kit {
      width: 100%;
    }

    .controls {
      padding-top: 5px;
      label {
        width: auto;
        text-align: left;
        font-weight: normal;
      }
      .instructions {
        margin-top: 0.15em;
        color: $primary-medium;
        line-height: $line-height-medium;
      }
    }
  }
}

.password-reset {
  .instructions {
    label {
      color: $primary-medium;
    }
  }
}

.invites-show {
  .two-col {
    position: relative;
    display: flex;
  }

  .col-image {
    position: relative;
    margin-right: 20px;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  form {
    margin-top: 24px;
    button.btn-primary {
      margin-top: 10px;
    }
    label:not(.checkbox-label) {
      font-weight: bold;
    }
    .controls,
    .input {
      margin-bottom: 10px;
    }
    .instructions {
      color: $primary-medium;
      margin: 0;
      font-size: $font-down-1;
      font-weight: normal;
      line-height: $line-height-medium;
    }
  }
}

.auth-message {
  padding: 0 15px 15px 15px;
  &:empty {
    padding: 0;
  }
}

.modal tr.instructions {
  display: flex;
  flex-direction: column;
  margin-top: 0.15em;
  label {
    color: $primary-medium;
  }
}

// alternate login / create new account buttons should be de-emphasized

button#login-link,
button#new-account-link {
  background: transparent;
  color: $primary-high;
}

#security-key {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  button {
    margin-right: 1.5em;
  }
  p {
    margin: 0;
    font-size: $font-0;
  }
  a {
    display: inline-block;
    padding: 1em 0.5em 1em 0;
    color: $tertiary;
  }
}
