.notifications-button, .dropdown-select-box .select-box-kit-row .icons {
  .d-icon.regular, .d-icon.muted, .d-icon.watching-first-post {
    color: dark-light-choose($primary-medium, $secondary-medium);
  }
  .d-icon.tracking, .d-icon.watching {
    color: $tertiary;
    font-weight: normal;
  }
}
