a.loading-onebox {
  background: {
    image: image-url("spinner_96.gif");
    position: 0;
    size: 20px;
    height: 25px;
    repeat: no-repeat;
  };
  @include padding-left(25px);
}


.onebox-result {
  margin-top: 15px;
  @include padding(12px 25px 12px 12px);
  @include border-left(5px solid darken(scale-color-diff(), 10%));
  background: scale-color-diff();
  font-size: 1em;
  > .source {
    margin-bottom: 12px;
    @include margin-right(10px);
    display: block;
    color: $primary;
    position: relative;
    height: 20px;
    .info {
      a {
        color: black;
        text-decoration: none;
        @include padding-right(10px);
      }
      position: absolute;
      font-size: 1em;
      img.favicon {
        @include margin-right(3px);
      }
    }
  }


  .onebox-result-body {
    padding-top: 5px;
    img {
      max-height: 80%;
      max-width: 25%;
      height: auto;
      @include float(left);
      @include margin-right(10px);
    }
    h3, h4 {
      @include margin(0 !important);
    }
    code {
      max-height: 400px;
    }
    .metrics {
      clear: both;
      padding-bottom: 25px;
      .metric {
        display: inline-block;
        @include padding-left(33px);
        @include float(left);
      }
    }
  }
}

// RottenTomatoes Onebox
.onebox-result {
  .onebox-result-body {
    img.verdict {
      @include float(none);
      @include margin-right(7px);
    }
    img.popcorn {
      @include float(none);
      @include margin-left(20px);
      @include margin-right(5px);
    }
  }
}

@mixin onebox-favicon($class, $image) {
  &.#{$class} .source {
    background-image: image-url("favicons/#{$image}.png");
    background-repeat: no-repeat;
    @include padding-left(20px);
  }
}

aside.onebox {
  @include padding(12px 25px 12px 12px);
  @include border-left(5px solid darken(scale-color-diff(), 10%));
  background: scale-color-diff();
  font-size: 1em;

  header {
    a[href] {
      color: $primary;
      text-decoration: none;
    }
  }

  @include onebox-favicon('stackexchange', 'stackexchange');
  @include onebox-favicon('twitterstatus', 'twitter');
  @include onebox-favicon('wikipedia', 'wikipedia');
  @include onebox-favicon('githubblob', 'github');
  @include onebox-favicon('githubcommit', 'github');
  @include onebox-favicon('githubpullrequest', 'github');
  @include onebox-favicon('githubissue', 'github');
  @include onebox-favicon('githubgist', 'github');
  @include onebox-favicon('amazon', 'amazon');


  .onebox-body {
    clear: both;

    h3, h4 {
      font-size: 1.17em;
      @include margin(10px 0 !important);
    }

    a[href] {
      color: scale-color($tertiary, $lightness: -20%);
      text-decoration: none;
    }

    a[href]:visited {
      color: scale-color($tertiary, $lightness: -20%);
    }

    img {
      max-height: 80%;
      max-width: 25%;
      height: auto;
      @include float(left);
      @include margin-right(10px);
    }
  }
}

.onebox-avatar {
  height: 90px !important;
  width: 90px !important;
}

blockquote {
  aside.onebox {
    background: darken(scale-color-diff(), 5%);
    @include border-left(5px solid darken(scale-color-diff(), 12%));
  }
}

// -- Onebox Github Code Blob --
pre.onebox code ol.lines li:before {
  position: absolute;
  display:inline-block;
  width:35px;
  @include left(-40px);
  background: #F7F7F7;
  color:#AFAFAF;
  @include text-align(right);
  @include padding-right(5px);
  font-size:12px;
  line-height: 1.9em;
  content: counter(li-counter);
  counter-increment: li-counter;
}


pre.onebox code ol{
	@include margin-left(0px);
	line-height:1.5em;
}
pre.onebox code li{
	background-color:#fff;
	@include padding-left(5px);
}

pre.onebox code ol.lines{
	position:relative;
	@include margin-left(40px);
}

pre.onebox code ol.lines li {
	list-style-type: none;
	@include padding-left(5px);
	@include margin-left(0px);
	@include border-left(1px solid #CFCFCF);
	min-height: 1.5em; //show empty li lines
  white-space: pre;
}

pre.onebox code li.selected{
	background-color:#F8EEC7
}

pre.onebox code {
 white-space: normal;
}

//Onebox - Github - Pull request
.onebox-body .github-commit-status {
  background: #F5F5F5;
  border-radius: 5px;
  @include margin(0px 0px 5px 100px);
  @include padding(10px);
}

.onebox-body .status_tag {
  display:inline-block;
  color:#fff;
  @include padding(1px 4px);
  border-radius:3px;
  font-weight:bold;
  margin-bottom:5px;
  text-transform:capitalize;
}

.onebox-body .build_status
{
  @include padding(2px);
  font-size:12px;
}

.onebox-body .status_tag.open {
  background-color:#6cc644;
}
.onebox-body .status_tag.merged{
  background-color:#6e5494;
}
.onebox-body .status_tag.closed {
  background-color:#bd2c00;
}

.onebox-body .github-content-right{
  @include margin-left(100px);
}
