#request-access {
  width: 325px;
  margin: 0 auto;
  input[type="text"] {
    width: 320px;
    height: 30px;
    font-size: $font-up-3;
  }
  input[type="submit"] {
    font-size: $font-up-3;
    padding: 10px;
  }
}
