#request-access {
  width: 325px;
  margin: 0 auto;
  input[type=text] {
    width: 320px;
    height: 30px;
    font-size: 1.571em;
  }
  input[type=submit] {
    font-size: 1.571em;
    padding: 10px;
  }
}
