// Right to left styles.
.rtl {
  [class*="d-icon-"] {
    transform: scaleX(-1);
  }

  .button {
    .d-icon {
      order: 1;
      margin-left: 0;
      margin-right: 0.45em;
    }
  }
}

// For the support_mixed_text_direction setting
html:not(.rtl) .cooked ul[dir="rtl"],
html:not(.rtl) .d-editor-preview ul[dir="rtl"],
.rtl .cooked ul[dir="ltr"],
.rtl .d-editor-preview ul[dir="ltr"] {
  padding-left: 0;
  padding-right: 1.25em;
  margin-right: 1.25em;
}

.rtl .ace_placeholder {
  direction: rtl !important;
  text-align: right !important;

  [dir="ltr"] {
    text-align: left !important;
  }
}
