// styles that apply to the "share" popup when sharing a link to a post or topic

#share-link {
  position: absolute;
  left: 20px;
  z-index: z("dropdown");
  box-shadow: shadow("card");
  background-color: $secondary;
  padding: s(2 2 1 2);
  width: 300px;
  display: none;
  &.visible {
    display: block;
  }
  input[type="text"] {
    width: 100%;
  }
  .share-for-touch .overflow-ellipsis {
    clear: both;
  }
  .share-for-touch {
    margin: 14px 0;
  }

  .title {
    margin-bottom: s(1);
    align-items: center;
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: $font-0;
      margin: 0;
    }

    .date {
      font-weight: normal;
      color: dark-light-choose($primary-medium, $secondary-medium);
    }
  }

  .copy-text {
    display: inline-block;
    position: absolute;
    margin: 5px 5px 5px 15px;
    color: $success;
    opacity: 1;
    transition: opacity 0.25s;
    font-size: $font-0;
    &:not(.success) {
      opacity: 0;
    }
  }
  .social-link {
    margin-right: s(2);
    font-size: $font-up-4;
    .d-icon {
      color: dark-light-choose($tertiary, white);
    }
    .d-icon-fab-facebook {
      // Adheres to Facebook brand guidelines
      color: dark-light-choose($facebook, white);
    }
    .d-icon-fab-twitter-square {
      // Adheres to Twitter brand guidelines
      color: dark-light-choose($twitter, white);
    }
  }

  input[type="text"] {
    font-size: $font-up-1;
    margin-bottom: 0;
  }

  .actions {
    display: flex;
    align-items: flex-end;
    margin-top: s(2);

    .sources {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      max-width: 45%;

      .social-link {
        margin-right: s(2);
      }
    }

    .alt-actions {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end;
      height: 36px;

      .close-share {
        font-size: $font-up-3;
        color: dark-light-choose($primary-medium, $secondary-medium);
      }

      .new-topic {
        margin-right: s(4);
      }
    }
  }
}

.discourse-no-touch #share-link .share-for-touch {
  display: none;
}

.discourse-touch #share-link input[type="text"] {
  display: none;
}
