.sidebar-section-wrapper {
  margin-bottom: 0.5em;

  .sidebar-section-header-wrapper {
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    padding: 0;

    .select-kit {
      .btn {
        background: transparent;
        &:focus,
        &:hover {
          background: var(--d-sidebar-highlight-color);
        }
      }
      .d-icon {
        font-size: var(--font-down-1);
        color: var(--primary-medium);
        margin-right: 0;
      }

      summary {
        height: 100%;
        padding: 0 var(--d-sidebar-row-horizontal-padding) 0
          calc(var(--d-sidebar-row-horizontal-padding) / 2);
        &:focus,
        &:hover {
          border-color: transparent;
          .d-icon {
            color: var(--primary);
          }
        }
      }
    }
  }

  .sidebar-section-header {
    flex: 1 1 auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-1);
    color: var(--primary);
    align-items: center;
    padding: calc(var(--d-sidebar-row-horizontal-padding) / 2)
      calc(var(--d-sidebar-row-horizontal-padding) / 2)
      calc(var(--d-sidebar-row-horizontal-padding) / 2)
      var(--d-sidebar-row-horizontal-padding);
    min-width: 0;

    &.sidebar-section-header-collapsable {
      justify-content: flex-start;
      .discourse-no-touch & {
        &:hover {
          background: var(--primary-200);
        }
      }
      &:focus {
        background: var(--primary-200);
      }
    }
  }

  .sidebar-section-header-text {
    font-weight: bold;
    margin-right: 0.25em;
    @include ellipsis;
  }

  .sidebar-section-header-caret {
    display: block;
    width: 1.5em;
    margin-left: -1.5em;
    font-size: var(--font-down-2);
    flex: 0 0 auto;
  }

  .sidebar-section-header-button {
    background: transparent;
    border: none;
    padding: calc(var(--d-sidebar-row-horizontal-padding) / 4)
      var(--d-sidebar-row-horizontal-padding)
      calc(var(--d-sidebar-row-horizontal-padding) / 4)
      calc(var(--d-sidebar-row-horizontal-padding) / 2);
    .d-icon {
      font-size: var(--font-down-1);
      color: var(--primary-medium);
    }

    .discourse-no-touch & {
      &:hover,
      &:focus {
        outline: none;
        background: var(--primary-200);
        .d-icon {
          color: var(--primary);
        }
      }
    }
  }

  .select-kit-collection {
    .texts {
      font-size: var(--font-0);
      text-transform: none;
      line-height: var(--line-height-medium);
      .name {
        font-size: var(--font-0);
      }
    }
  }

  .sidebar-section-message-wrapper {
    display: flex;
  }

  .sidebar-section-message {
    color: var(--primary-high);
  }

  .sidebar-section-content {
    hr {
      margin: 0em 1.5em;
    }
  }
}
