.sidebar-section-wrapper {
  .sidebar-section-header-wrapper {
    display: flex;
    box-sizing: border-box;
    padding: 0;
    .discourse-no-touch & {
      &:hover {
        background: var(--d-sidebar-highlight-color);
      }
    }
    &:focus-within {
      background: var(--d-sidebar-highlight-color);
    }

    .btn.dropdown-select-box-header,
    .sidebar-section-header-button {
      background: transparent;
      border: none;
      padding: calc(var(--d-sidebar-row-horizontal-padding) / 5)
        calc(var(--d-sidebar-row-horizontal-padding) / 3);
      margin-right: calc(var(--d-sidebar-row-horizontal-padding) / 1.5);
      .d-icon {
        font-size: var(--font-down-1);
        color: var(--primary-medium);
        margin: 0;
      }
      &:focus {
        outline: none;
        background: var(--primary-medium);
        .d-icon {
          color: var(--primary-very-low);
        }
      }
      .discourse-no-touch & {
        &:hover {
          background: var(--primary-medium);
          .d-icon {
            color: var(--primary-very-low);
          }
        }
      }
    }
  }

  .sidebar-section-header {
    flex: 1 1 auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--font-1);
    color: var(--primary);
    align-items: center;
    padding: calc(var(--d-sidebar-row-horizontal-padding) / 2)
      calc(var(--d-sidebar-row-horizontal-padding) / 2)
      calc(var(--d-sidebar-row-horizontal-padding) / 2)
      var(--d-sidebar-row-horizontal-padding);
    min-width: 0;

    &.sidebar-section-header-collapsable {
      justify-content: flex-start;
    }
  }

  .sidebar-section-header-text {
    font-weight: bold;
    margin-right: 0.25em;
    @include ellipsis;
  }

  .sidebar-section-header-caret {
    display: block;
    width: 1.5em;
    margin-left: -1.5em;
    font-size: var(--font-down-2);
    flex: 0 0 auto;
  }

  .select-kit-collection {
    .texts {
      font-size: var(--font-0);
      text-transform: none;
      line-height: var(--line-height-medium);
      .name {
        font-size: var(--font-0);
      }
    }
  }

  .sidebar-section-message-wrapper {
    display: flex;
    padding-top: 0;
  }

  .sidebar-section-message {
    color: var(--primary);
  }

  .sidebar-section-content {
    hr {
      margin: 0em 1.5em;
    }
  }
}
