.sidebar-more-section-links-details {
  &:focus-within,
  &:hover {
    background: var(--d-sidebar-highlight-color);
  }

  .sidebar-more-section-links-details-summary {
    color: var(--primary-high);
    transition: background-color 0.25s;
    display: flex;
    align-items: center;
    list-style: none;
    box-sizing: border-box;

    .sidebar-more-section-links-icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--d-sidebar-section-link-prefix-width);
      height: var(--d-sidebar-section-link-prefix-width);
      margin-right: var(--d-sidebar-section-link-prefix-margin-right);

      .d-icon {
        color: var(--primary-medium);
        font-size: var(--font-down-1);
      }
    }

    &::before {
      display: none;
    }
  }

  .sidebar-more-section-links-details-content-wrapper {
    position: absolute;
    width: 100%;
    z-index: z("modal", "content") + 1;
    background: transparent;
  }

  .sidebar-more-section-links-details-content {
    background-color: var(--secondary);
    box-shadow: shadow("dropdown");
    margin: 0 calc(var(--d-sidebar-row-horizontal-padding) * 2 / 3);

    .sidebar-row {
      padding: 0.33rem calc(var(--d-sidebar-row-horizontal-padding) / 3);
    }
  }

  .sidebar-more-section-links-details-content-secondary {
    border-top: 1.5px solid var(--primary-low);
  }
}
