// Styles for the topic admin menu

.topic-admin-popup-menu {
  ul {
    margin: 0;
    list-style: none;

    li {
      border: none;
      &:not(:last-of-type) {
        // so buttons don't appear "stuck" together when multiple are highlighted
        margin-bottom: 2px;
      }
    }
    ul {
      padding: 0.5em;
      &:not(:last-of-type) {
        border-bottom: 1px solid var(--primary-low);
      }
    }

    .btn {
      justify-content: left;
      text-align: left;
      width: 100%;
      padding: 0.5em;
    }
  }
}
.fk-d-menu {
  .topic-admin-popup-menu {
    width: 14em;
  }
}
