// Styles for the topic admin menu

.show-topic-admin {
  position: fixed;
  top: 120px;
  right: 10px;
  z-index: z("dropdown");
  height: 35px;
}

.popup-menu {
  background-color: $secondary;
  width: 215px;
  padding: 10px;
  border: 1px solid $primary-low;
  z-index: z("dropdown");
  box-shadow: shadow("card");

  ul {
    list-style: none;
    margin: 10px 0 0 0;
  }

  .btn {
    text-align: left;
  }

  button {
    width: 100%;
    margin-bottom: 5px;
    i {
      width: 14px;
    }
  }
}

.modal-body.feature-topic {
  padding: 5px;
  max-height: 500px;
  input.date-picker {
    margin: 0;
  }
  hr {
    margin: 10px 0;
  }
  .feature-section {
    display: block;
    .badge-wrapper {
      margin-right: 0;
    }
    .desc {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      p:first-of-type {
        margin: 0;
      }
      p {
        margin: 10px 0 0;
      }
    }
    .with-validation {
      position: relative;
    }
  }
}

.desktop-view .feature-topic-modal {
  .feature-topic {
    overflow: visible;
  }

  .modal-inner-container {
    min-width: 700px;
  }
}

.mobile-view .feature-topic .feature-section {
  .desc {
    display: block;
    clear: both;
    max-width: 90%;
    margin: 0 10px;
  }
}
