html.anon #topic-footer-buttons {
  justify-content: end;
}

#topic-footer-buttons {
  display: flex;

  margin: var(--below-topic-margin) 0;
  padding: 0;

  .topic-footer-main-buttons {
    .topic-admin-menu-button-container {
      display: inline-flex;
      .topic-admin-menu-button {
        display: flex; // to make this button match siblings behavior, all of its parents need to be flex
      }
    }
  }

  .pinned-button:not(.is-hidden) + .topic-notifications-button {
    margin-top: 0;
  }

  .pinned-button,
  .topic-notifications-button {
    // margin: 0.5em 0 1em;

    .reason {
      color: var(--primary-high);
      display: inline-flex;
      margin: 0;
      align-items: center;

      .dropdown-select-box {
        .select-kit-selected-name {
          width: 100%;
          overflow: hidden;
        }
        .name {
          @include ellipsis;
        }
      }

      .text {
        margin-left: 0.5em;
        line-height: var(--line-height-medium);
      }
    }
  }
}
