.uploaded-image-preview {
  background: $primary center;
  background-size: cover;
  position: relative;

  .image-uploader-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $primary;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.6;

    a {
      color: $secondary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .image-upload-controls {
    display: flex;

    .btn {
      margin-right: 5px;
    }

    .image-uploader-info-btn {
      background: none;
      margin-right: 0;
      margin-left: auto;

      .d-icon {
        color: $primary-low;
      }

      &:hover {
        background: none;

        .d-icon {
          color: $primary;
        }
      }
    }
  }
}

.image-uploader.no-repeat {
  .uploaded-image-preview {
    background-repeat: no-repeat;
  }
}

.image-uploader.contain-image {
  .uploaded-image-preview {
    background-size: contain;
  }
}

.hidden-upload-field {
  visibility: hidden;
  position: absolute;
}
