/* Default badge styles. */
.user-badge {
  @include padding(3px 8px);
  color: $primary;
  border: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
  line-height: 19px;
  @include margin(0);
  display: inline-block;
  background-color: $secondary;
  margin-bottom: 3px;

  .fa {
    @include padding-right(3px);
    font-size: 1.4em;
    vertical-align: bottom;
  }

  img {
    height: 16px;
    width: 16px;
  }

  &.badge-type-gold .fa {
    color: #ffd700;
  }

  &.badge-type-silver .fa {
    color: #c0c0c0;
  }

  &.badge-type-bronze .fa {
    color: #cd7f32;
  }
}

/* User badge listing. */
.user-badges-list {
  text-align: center;

  .user-badge {
    max-width: 80px;
    text-align: center;
    vertical-align: top;
    @include margin(10px);
    border: none;

    .fa {
      display: block;
      font-size: 3.571em;
      margin-bottom: 5px;
    }

    img {
      display: inline-block;
      width: 55px;
      height: 55px;
    }

    .count {
      display: block;
      font-size: 0.8em;
      color: scale-color($primary, $lightness: 50%);
    }
  }
}

/* Badge listing in /badges. */
table.badges-listing {
  @include margin(20px 0);
  border-bottom: 1px solid scale-color-diff();
  width: 90%;

  .user-badge {
    font-size: $base-font-size;
  }

  tr.title td {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  tr.title {
    border-top: 0px solid;
  }

  td {
    @include padding(10px 0px);
  }

  td.granted{
   color: $success;
   font-size: 120%;
  }

  td.grant-count {
    text-align: center;
    color: scale-color($primary, $lightness: 40%);
    font-size: 120%;
  }

  td.badge, td.grant-count {
    white-space: nowrap;
    @include padding-right(10px);
  }

  td.info {
    font-size: 0.9em;
    @include text-align(right);
  }

  td.description {
  }

  tr {
    border-top: 1px solid scale-color-diff();
  }
}

/* /badges/:id/:slug page styling. */
.show-badge {
  .badge-user {
    text-align: center;
    width: 100px;
    @include padding(5px 10px);
    margin-bottom: 10px;
    display: inline-block;

    .details {
      @include margin(0 10px);
      padding-top: 3px;
      color: $primary;
    }

    .date {
      display: block;
      color: lighten($primary, 40%);
      font-size: 0.714em;
    }
  }
}

.show-badge .user-badge-with-posts .badge-user {
  width: 45%;
  @include padding(0 0 0 4%);
  margin-bottom: 20px;

  .badge-info {
    width: 100px;
    display: block;
    @include float(left);
  }

  .post-link {
    width: 250px;
    display: block;
    @include float(left);
    @include margin-left(18px);
    @include text-align(left);
  }
}

.long-description.banner {
  width: 88%;
  margin-bottom: 20px;
}
