
// styling of bottom section
.user-stream .child-actions {
  margin-top: 8px;
  .avatar-link {
    float: none;
  }
  .fa {
    width: 15px;
    display: inline-block;
    color: $primary;
  }
  .avatar-link {
    margin-right: 3px;
  }
}

.user-main {
  i.fa-heart {
    color: $love !important;
  }
}

.user-field {
  .required {
    text-align: top;
    color: $danger;
    font-weight: bold;
    font-size: 1.3em;
  }
}

.public-user-fields {
  .user-field-name {
    font-weight: bold;
  }
}

.collapsed-info .public-user-fields {
  display: none;
}

.notification-buttons {
  margin: 10px 0;
  text-align: right;
}

.user-navigation {

  .map {
    height: 50px;
  }
  .avatar {
    float: left;
    width: 45px;
  }
  nav.buttons {
    width: 180px;
    padding: 0;
    .btn {
      width: 100%;
      margin-bottom: 5px;
      box-sizing: border-box;
    }
  }
  h2 {
    a {
      font-size: 1em;
      color: scale-color($tertiary, $lightness: -10%);
      cursor: pointer;
    }
  }

}

.avatar-selector {
  label {
    display: inline-block;
    margin-right: 10px;
  }
  #avatar-input {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .avatar {
    margin: 5px 10px 5px 0;
  }
}

.new-private-message {
  margin-bottom: 15px;
}

.user-small {
  display: inline-block;
  width: 333px;
  clear: both;

  .user-image {
    float: left;
    padding-right: 4px;
  }

  .user-detail {
    float: left;
    width: 70%;
    padding-left: 5px;
    font-size: 13px;

    .name-line {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .username a {
      font-weight: bold;
      color: dark-light-choose(scale-color($primary, $lightness: 30%), scale-color($secondary, $lightness: 70%));
    }

    .name {
      margin-left: 5px;
      color: dark-light-choose(scale-color($primary, $lightness: 30%), scale-color($secondary, $lightness: 70%));
    }

    .title {
      margin-top: 3px;
      color: dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%));
    }

  }
}

.user-nav {
  margin: 5px 0px;
  .fa {
    margin-right: 5px;
  }
  .fa.fa-comment {
    margin-right: 2px;
  }
}

.user-right .list-actions {
  margin-bottom: 10px;
  .btn {
    margin-right: 10px;
  }
}

.top-section {
  display: inline-block;
  width: 45%;
  max-width: 500px;
  padding-right: 20px;
  vertical-align: top;
  margin-bottom: 30px;
  .more {
    display: block;
    margin-top: 10px;
    color: dark-light-choose(scale-color($primary, $lightness: 40%), scale-color($secondary, $lightness: 60%));
  }
  h3 {
    margin-bottom: 15px;
  }
  .relative-date {
    color: lighten($primary, 40%);
    font-size: 0.8em;
    margin-left: 5px;
  }
  .like-count {
    margin-left: 5px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0;
      padding: 8px 0;
      .fa-heart {
        margin-left: 3px;
      }
    }
  }

  dt,dd {
    float:left;
  }
  dd {
    min-width: 80px;
    text-align: right;
  }
  dt {
    clear: left;
    min-width: 100px;
    color: dark-light-choose(scale-color($primary, $lightness: 25%), scale-color($secondary, $lightness: 75%));
  }
}

@media all
and (max-width : 600px) {
  .top-section {
    width: 90%;
  }
}


