<div id='main' class=<%= classes %>>

  <div class='header-instructions'>%{header_instructions}</div>

  <% if message.present? %>
    <div><%= message %></div>
  <% end %>

  <div class='footer'>%{respond_instructions}</div>

</div>
