<table cellspacing="0" cellpadding="0">
<tr>
  <td style="padding: 10px;">
    <a href="<%= Discourse.base_url %>">
    <img src="<%= logo_url %>" style="max-width:100%"></a>
  </td>
</tr>
<tr>
  <td style="background-color: #fff; padding: 10px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
    <%= raw(html_body) %>
  </td>
</tr>
</table>
