<table style="width: 100%">
<tr>
<td style="background-color: #eee; padding: 30px;">

<center>
  <table style="width: 90%; max-width: 500px;">
  <tr>
    <td>
      <a href="<%= Discourse.base_url %>"><img src="<%= Discourse.base_url %><%= SiteSetting.logo_url %>" style="height: 50px; margin-bottom: 15px;"></a>
    </td>
  </tr>
  <tr>
    <td style="background-color: #fff; padding: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
      <%= raw(html_body) %>
    </td>
  </tr>
  </table>
</center>


</td>
</tr>
</table>
