<LinkTo
  @route="adminPlugins.discourse-automation"
  class="discourse-automation-title"
>
  <h1 class="title">
    {{i18n "discourse_automation.title"}}
  </h1>

  {{#if this.showNewAutomation}}
    <DButton
      @label="discourse_automation.create"
      @icon="plus"
      @action={{action "newAutomation"}}
      class="new-automation"
    />
  {{/if}}
</LinkTo>

<hr />

{{outlet}}