{{#if this.tags}}
  <div class="mini-tag-chooser-selected-collection selected-tags">
    {{#each this.tags as |tag|}}
      <DButton
        @translatedTitle={{tag.value}}
        @icon="times"
        @action={{fn (action this.selectKit.deselect) tag.value}}
        tabindex="0"
        class={{tag.classNames}}
      >
        {{discourse-tag tag.value noHref=true}}
      </DButton>
    {{/each}}
  </div>
{{/if}}