@import "wizard_fonts";
@import "color_definitions";
@import "vendor/normalize";
@import "vendor/normalize-ext";
@import "vendor/sweetalert";
@import "common/foundation/colors";
@import "common/foundation/variables";
@import "common/foundation/mixins";
@import "common/select-kit/*";
@import "common/components/svg";

body.wizard {
  background-color: var(--secondary);
  background-repeat: repeat;
  background-position: left top;
  color: var(--primary-very-high);
  line-height: $line-height-large;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  #wizard-main:before {
    mask: asset-url("/images/wizard/bubbles.svg");
    -webkit-mask: asset-url("/images/wizard/bubbles.svg");
    mask-size: 30%;
    -webkit-mask-size: 30%;
    background-color: var(--primary-low-mid);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.6;
  }
}

.finish-installation {
  .tada {
    width: 300px;
  }

  .row {
    text-align: center;
    margin-bottom: 1em;
  }

  .help-text {
    color: var(--primary-medium);
  }
}

.discourse-logo {
  &,
  svg {
    height: 30px;
    width: 110px;
  }

  .logo-contour {
    fill: var(--primary);
  }
}

.wizard-warning {
  font-family: sans-serif;

  p {
    margin-top: 0;
  }

  fieldset {
    display: none;
  }

  h2 {
    display: none;
  }
  .sa-icon {
    display: none !important;
  }
}

.select {
  width: 400px;
}

.wizard-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.staff-count {
  font-weight: bold;
}

.wizard-step-privacy {
  label[for="privacy_options"] .field-description {
    margin-bottom: 1em;
    font-weight: bold;
  }

  .field-privacy-options {
    margin-bottom: 0.8em;

    .radio-label {
      font-weight: normal;
    }
  }
}

.wizard-step-form {
  max-height: 500px;
}

.wizard-step-emoji {
  .radio-area {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      flex: 1 0 0px;
    }

    span {
      flex: 10 0 0;
    }

    span.extra-label {
      flex: 20 0 0;
    }
  }

  .emoji-preview {
    margin-left: 1em;
    img {
      height: 40px;
      width: 40px;
      padding-right: 0.5em;
    }
  }
}

.wizard-step-homepage {
  .field-homepage-style {
    width: 280px;
  }
}

.wizard-step-colors,
.wizard-step-fonts {
  max-height: 465px;
  overflow-y: auto;
  .grid {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 25px 5px;
      label:checked + div {
        display: none;
      }
      .is-selected {
        box-shadow: 0 0 0 5px var(--tertiary);
      }
      div {
        display: flex;
        flex: 1 1 auto;
      }
      .radio-area {
        display: none;
        & > * {
          position: relative;
          right: 7px;
        }
      }
      canvas {
        transition: box-shadow 0.25s;
        &:hover {
          box-shadow: shadow("card");
          cursor: pointer;
        }
      }
    }
  }
}

.wizard-column {
  position: relative;
  z-index: 11;
  background-color: var(--secondary);
  box-shadow: 0 5px 10px rgba(var(--primary-rgb), 0.15);
  box-sizing: border-box;
  margin: 1.5em auto;
  padding: 0;
  max-width: 700px;
  min-width: 280px;
  width: 100%;
  border: 1px solid var(--primary-low-mid);
  border-radius: 5px;

  a {
    text-decoration: none;
    color: var(--tertiary);
  }

  .preloaded-font-styles {
    font-size: 1px;
  }

  .wizard-step-contents {
    height: 550px;
    margin-bottom: 2em;
  }

  .wizard-column-contents {
    padding: 1.2em;

    h1 {
      margin: 0 0 1em 0;
    }
  }

  .wizard-step-description {
    margin-bottom: 2em;
  }
  .wizard-step-banner {
    margin-bottom: 2em;
    width: 660px;
  }

  .wizard-footer {
    border-top: 1px solid var(--primary-low-mid);
    background-color: var(--primary-low);
    padding: 0.5em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .wizard-progress {
    border: 1px solid var(--tertiary-high);
    width: 200px;
    height: 1.4em;

    div {
      position: absolute;
      height: 1.4em;
    }

    .white {
      background: var(--secondary);
      width: 200px;
      z-index: 11;
    }

    .black {
      background: var(--primary);
      transition: width 0.3s;
      z-index: 12;
    }

    span {
      position: absolute;
      font-size: $font-0;
      mix-blend-mode: difference;
      color: var(--secondary-or-primary);
      z-index: 13;
      left: 1.5em;
    }

    .screen {
      background-color: var(--tertiary-high);
      mix-blend-mode: screen;
      width: 200px;
      z-index: 14;
    }
  }

  .action-link {
    margin-right: 1em;
    text-decoration: none;
    color: var(--tertiary);
  }

  .wizard-btn {
    border-radius: 2px;
    font-size: $font-0;
    border: 0;
    padding: 0.5em;
    transition: background-color 0.3s;
    margin-right: 0.5em;
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--primary-very-high);
    box-shadow: 0 1px 4px rgba(var(--always-black-rgb), 0.4);

    &.small {
      padding: 0.25em 0.5em;
      font-size: $font-down-1;
    }

    &:hover,
    &:focus {
      background-color: var(--primary-low);
    }

    &:active {
      background-color: var(--primary-low-mid);
    }

    &:disabled,
    &.disabled {
      background-color: var(--primary-medium);
    }

    .d-icon-chevron-right {
      margin-left: 0.25em;
      font-size: 0.8em;
    }
    .d-icon-chevron-left {
      margin-right: 0.25em;
      font-size: 0.8em;
    }
  }

  .wizard-btn.primary {
    background-color: var(--tertiary);
    color: var(--secondary);
    box-shadow: 0 1px 4px rgba(var(--always-black-rgb), 0.6);

    &:hover,
    &:focus {
      background-color: var(--tertiary-hover);
    }

    &:active {
      background-color: var(--tertiary-high);
    }

    &:disabled {
      background-color: var(--tertiary-low);
    }
  }

  .wizard-btn.danger {
    background-color: var(--danger);
    color: var(--secondary);

    &:hover,
    &:focus {
      background-color: var(--danger-hover);
    }

    &:active {
      background-color: var(--danger-medium);
    }

    &:disabled {
      background-color: var(--danger-low);
    }
  }

  .wizard-btn-upload {
    clear: both;
    display: inline-block;
    .fa {
      margin-left: 0.5em;
    }
  }

  .wizard-hidden-upload-field {
    visibility: hidden;
    position: absolute;
  }

  .wizard-step-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .wizard-btn.next {
      min-width: 70px;

      .d-icon-chevron-right {
        margin-left: 0.25em;
        font-size: 0.8em;
      }
    }

    button.wizard-btn:last-child {
      margin-right: 0;
    }

    button.wizard-btn.done,
    button.wizard-btn.finish {
      color: var(--secondary);
      background-color: var(--success);

      &:hover,
      &:focus {
        background-color: var(--success-hover);
      }

      &:active {
        background-color: var(--success-medium);
      }

      &:disabled {
        background-color: var(--success-low);
      }
    }
  }

  .wizard-image-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .wizard-image-preview {
    img.field-logo-url {
      max-height: 40px;
    }
    img.field-logo-small-url {
      max-height: 40px;
      max-width: 80px;
    }
    img.field-favicon-url {
      max-height: 16px;
      max-width: 16px;
    }
    img.field-apple-touch-icon-url {
      max-height: 40px;
      max-width: 40px;
    }

    padding: 0.1em;
  }

  .wizard-field {
    label .label-value {
      font-weight: bold;
    }

    .input-area {
      margin-top: 0.5em;
    }

    .field-error-description {
      color: var(--danger);
      font-weight: bold;
    }

    .field-description {
      margin-top: 0.5em;
    }

    margin-bottom: 2em;
  }
}

.wizard-step-themes-further-reading {
  .wizard-field .input-area {
    margin-top: 0;
  }

  .popular-themes {
    display: flex;
    a.popular-theme-item {
      background: var(--secondary-very-high);
      padding: 8px;
      margin: 0px 4px;
      width: 25%;
    }
  }
}

.textarea-field {
  textarea {
    width: 100%;
    height: 10em;
    background: var(--secondary);
  }

  &.invalid {
    textarea {
      padding: 3px;
      border: 4px solid var(--danger);
    }
  }
}

.text-field {
  input {
    width: 100%;
    font-size: $font-up-1;
    padding: 6px;
    background-color: var(--secondary);
    border: 1px solid var(--primary-low-mid);
    transition: border-color 0.5s;
  }

  &.invalid {
    input {
      padding: 3px;
      border: 4px solid var(--danger);
    }
  }
}

.radio-field-choice {
  margin-bottom: 1.25em;

  input {
    /* TODO: Custom :focus style */
    /* outline: 0;*/
  }

  .radio-label {
    font-weight: bold;
    margin-left: 0.5em;
  }
  .radio-description {
    margin-top: 0.25em;
    margin-left: 1.75em;
    color: #777;
    color: var(--primary-low-mid);
  }
}

.invite-list {
  .users-list {
    margin-bottom: 1em;

    .invite-list-user {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1em;

      .email {
        width: 330px;
      }

      .role {
        width: 200px;
      }
    }
  }

  .new-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    .invite-email {
      width: 350px;
    }
  }

  button.add-user {
    .fa {
      margin-right: 0.5em;
    }
  }
}

/* fix wizard for mobile -- iPhone 5 default width */
@media only screen and (max-device-width: 568px) {
  h1 {
    font-size: $font-up-2 !important;
  }
  .wizard-column {
    margin: auto !important;
  }
  .wizard-step-form {
    max-height: none;
  }
  .wizard-step-contents {
    height: auto !important;
  }
  .wizard-step-banner {
    width: 100% !important;
    margin-bottom: 1em !important;
  }
  .wizard-step-footer {
    display: block !important;
  }
  .wizard-progress {
    margin-bottom: 10px !important;
  }
  .wizard-buttons {
    text-align: right !important;
  }
  .wizard-footer {
    display: none !important;
  }
  .wizard-step-description {
    margin-bottom: 1em !important;
  }
  .wizard-column-contents {
    padding: 1em !important;
  }
  .wizard-step-themes-further-reading {
    .popular-themes {
      a.popular-theme-item {
        width: 33.3%;
        &:nth-child(4),
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
  .emoji-preview img {
    width: 16px !important;
    height: 16px !important;
  }
  .invite-list .new-user {
    flex-direction: column !important;
    align-items: inherit !important;
  }
  .invite-list .new-user .invite-email {
    width: 100% !important;
    margin-bottom: 5px !important;
  }
  .invite-list .add-user {
    margin-top: 5px !important;
  }

  canvas {
    max-width: 365px;
  }

  .wizard-step-logos,
  .wizard-step-icons {
    canvas {
      max-width: 225px;
    }
  }
}
