<!DOCTYPE html>
<html>
  <head>
    <title>QUnit Test Runner</title>
    <%= stylesheet_link_tag "test_helper" %>
    <%= javascript_include_tag "test_helper" %>
    <%= csrf_meta_tags %>
    <script src="<%= ExtraLocalesController.url('admin') %>"></script>
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
  </body>
</html>
