{{#if displayField}}
  {{#if field.placeholders}}
    <div class="placeholders-list">
      <p class="placeholder-description">
        <span>{{i18n "discourse_automation.placeholders.description"}}</span>
        {{#each field.placeholders as |placeholder|}}
          <a href class="placeholder-item" {{on "click" (action "copyPlaceholder" placeholder)}}>
            {{placeholder}}
          </a>
        {{/each}}
      </p>
    </div>
  {{/if}}

  {{component (concat "fields/da-" field.component "-field")
    field=field
    forcedValue=forcedValue
    onChangeField=onChangeField
    label=(i18n (concat "discourse_automation" target "fields." field.name ".label"))
    description=description
  }}
{{/if}}
