<h3 class="field-title">
  {{i18n (concat "discourse_automation.scriptables." automation.script.id ".fields." field.name ".label")}}
</h3>

{{#if field.placeholders}}
  <div class="placeholders-list">
    {{#each field.placeholders as |placeholder|}}
      <span class="placeholder-item">{{placeholder}}</span>
    {{/each}}
  </div>
{{/if}}

{{component (concat "da-" field.component "-field")
  field=field
  onChangeField=onChangeField
}}
