<section class="text-field">
  <div class="control-group">
    <label class="control-label">
      {{i18n "discourse_automation.fields.text.label"}}
    </label>

    <div class="controls">
      {{input
        value=field.metadata.text
        input=(action (mut field.metadata.text) value="target.value")
      }}
    </div>
  </div>
</section>
