<div class="placeholders-list">
  {{#each placeholders as |placeholder|}}
    <DButton
      @translatedLabel={{placeholder}}
      class="placeholder-item"
      @action={{action "copyPlaceholder" placeholder}}
    />
  {{/each}}
</div>