<section class="pm-field">
  <div class="control-group">
    <label class="control-label">
      {{i18n "discourse_automation.fields.pm.title.label"}}
    </label>

    <div class="controls">
      {{input
        value=field.metadata.title
        class="pm-input"
        input=(action (mut field.metadata.title) value="target.value")
      }}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">
      {{i18n "discourse_automation.fields.pm.body.label"}}
    </label>

    <div class="controls">
      {{textarea
        value=field.metadata.body
        class="pm-textarea"
        input=(action (mut field.metadata.body) value="target.value")
      }}
    </div>
  </div>
</section>
