<div class="control-group">
  <label class="control-label">
    {{i18n "discourse_automation.triggerables.point_in_time.datetime.label"}}
  </label>

  <div class="controls">
    {{date-time-input
      date=date
      onChange=(action (mut metadata.execute_at))
    }}
  </div>
</div>
