{{!-- <div class="control-group">
  <div class="controls">
    <div class="alert alert-info">
      {{i18n "discourse_automation.triggers.point_in_time.help"}}
    </div>
  </div>
</div> --}}

<div class="control-group">
  <label class="control-label">
    {{i18n "discourse_automation.triggers.point_in_time.datetime.label"}}
  </label>

  <div class="controls">
    {{date-time-input
      date=date
      onChange=(action (mut metadata.execute_at))
    }}
  </div>
</div>
