{{#if fieldParams.useProvided}}
  {{combo-box
    content=workflow.trigger.providing
    valueAttribute="identifier"
    nameProperty="identifier"
  }}
{{else}}
  <div class="control">
    <span class="label">
      {{i18n (concat "discourse_automation." object.__type "." object.identifier ".fields." fieldName ".label")}}
    </span>
    <div class="input">
      {{component (concat "workflow-field-" fieldSpecification.type)
        value=(readonly fieldParams.value)
        onChange=(action "onChangeValue")
      }}
    </div>
  </div>
{{/if}}
