<section class="user-secondary-navigation">
  <MobileNav @class="activity-nav" @desktopClass="action-list activity-list nav-stacked">
    {{#if model.can_see_members}}
      <GroupActivityFilter @filter="posts" @categoryId={{category_id}} />
      <GroupActivityFilter @filter="topics" @categoryId={{category_id}} />
    {{/if}}
    {{#if siteSettings.enable_mentions}}
      <GroupActivityFilter @filter="mentions" @categoryId={{category_id}} />
    {{/if}}
    <PluginOutlet @name="group-activity-bottom" @connectorTagName="li" />
  </MobileNav>
</section>
<section class="user-content">
  {{outlet}}
</section>
