<section class="user-secondary-navigation">
  <MobileNav
    @class="activity-nav"
    @desktopClass="action-list activity-list nav-stacked"
  >
    {{#each this.tabs as |tab|}}
      <li>
        <LinkTo @route={{tab.route}} @model={{this.model.name}}>
          {{i18n tab.title}}
        </LinkTo>
      </li>
    {{/each}}
  </MobileNav>
</section>
<section class="user-content" id="user-content">
  {{outlet}}
</section>