<section class="user-secondary-navigation">
  <MobileNav @class="activity-nav" @desktopClass="action-list activity-list nav-stacked">
    {{#each tabs as |tab|}}
      <li>
        <LinkTo @route={{tab.route}} @model={{model.name}}>
          {{i18n tab.title}}
        </LinkTo>
      </li>
    {{/each}}
  </MobileNav>
</section>
<section class="user-content">
  {{outlet}}
</section>
