<Styleguide::ChatMessage />
<Styleguide::ChatComposer />
<Styleguide::ChatThreadListItem />
<Styleguide::ChatComposerMessageDetails />
<Styleguide::ChatHeaderIcon />
<Styleguide::ChatMessageMentionWarning />

<h2>Modals</h2>

<Styleguide::ChatModalArchiveChannel />
<Styleguide::ChatModalMoveMessageToChannel />
<Styleguide::ChatModalDeleteChannel />
<Styleguide::ChatModalEditChannelDescription />
<Styleguide::ChatModalEditChannelName />
<Styleguide::ChatModalThreadSettings />
<Styleguide::ChatModalCreateChannel />
<Styleguide::ChatModalToggleChannelStatus />
<Styleguide::ChatModalNewMessage />
<Styleguide::ChatModalChannelSummary />