{{#admin-nav}}
  {{nav-item route='adminApiKeys' label='admin.api.title'}}
  {{nav-item route='adminWebHooks' label='admin.web_hooks.title'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
