{{#d-section class="current-badge content-body"}}
  <p>{{i18n 'admin.badges.none_selected'}}</p>

  <div>
    {{#link-to 'adminBadges.show' 'new' class="btn"}}
      {{d-icon "plus"}} {{i18n 'admin.badges.new'}}
    {{/link-to}}
  </div>
{{/d-section}}
