<div class='span13'>
  <p>{{i18n admin.badges.none_selected}}</p>

  <div>
    {{#link-to 'adminBadges.show' 'new' class="btn"}}
      {{fa-icon "plus"}} {{i18n admin.badges.new}}
    {{/link-to}}
  </div>
</div>
