{{email-styles-editor styles=model fieldName=fieldName}}

<div class='admin-footer'>
  <div class='buttons'>
    {{#d-button action=(action "save") disabled=saveDisabled class='btn-primary'}}
      {{saveButtonText}}
    {{/d-button}}
  </div>
</div>
