{{#admin-nav}}
  {{nav-item route='adminFlags.list' routeParam='active' label='admin.flags.active'}}
  {{nav-item route='adminFlags.list' routeParam='old' label='admin.flags.old'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
