{{#admin-nav}}
  {{nav-item route='adminFlags.postsActive' label='admin.flags.active'}}
  {{nav-item route='adminFlags.postsOld' label='admin.flags.old'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
