{{#admin-nav}}
  {{nav-item route='adminGroupsType' routeParam='custom' label='admin.groups.custom'}}
  {{nav-item route='adminGroupsType' routeParam='automatic' label='admin.groups.automatic'}}
  {{nav-item route='adminGroups.bulk' label='admin.groups.bulk'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
