{{#admin-nav}}
  {{admin-nav-item route='adminGroupsType' routeParam='custom' label='admin.groups.custom.label'}}
  {{admin-nav-item route='adminGroupsType' routeParam='automatic' label='admin.groups.automatic.label'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
