<div class="groups-type-index">
  <p>{{i18n messageKey}}</p>

  <div>
    {{#link-to 'adminGroup' 'new' class="btn"}}
      {{d-icon "plus"}} {{i18n 'admin.groups.new'}}
    {{/link-to}}
  </div>
</div>
