<div class="admin-controls">
  <div class="span15">
    <ul class="nav nav-pills">
      <li>{{#link-to "adminGroupsType" "custom"}}{{i18n 'admin.groups.custom'}}{{/link-to}}</li>
      <li>{{#link-to "adminGroupsType" "automatic"}}{{i18n 'admin.groups.automatic'}}{{/link-to}}</li>
    </ul>
  </div>
</div>
<div class="admin-container">
  {{outlet}}
</div>
