<div class="admin-nav pull-left">
  <ul class="nav nav-stacked">
    {{nav-item route='adminPlugins.index' label="admin.plugins.title"}}

    {{#each route in adminRoutes}}
      {{nav-item route=route.full_location label=route.label}}
    {{/each}}
  </ul>
</div>

<div class="admin-detail pull-left">
  {{outlet}}
</div>
