<div class="report-container">
  <div class="visualization">
    {{admin-report
      showAllReportsLink=true
      dataSourceName=model.type
      categoryId=category_id
      groupId=group_id
      reportOptions=reportOptions
      startDate=start_date
      endDate=end_date
      showFilteringUI=true
      onSelectCategory=(action "onSelectCategory")
      onSelectStartDate=(action "onSelectStartDate")
      onSelectEndDate=(action "onSelectEndDate")}}
  </div>
</div>
