<div class='admin-controls'>
  <div class='search controls'>
  <label>
    {{input type="checkbox" checked=onlyOverridden}}
    {{i18n admin.site_settings.show_overriden}}
  </label>
  </div>
  <div class='controls'>
    {{textField value=filter placeholderKey="type_to_filter"}}
  </div>

</div>

{{collection contentBinding="filteredContent" classNames="form-horizontal settings" itemViewClass="Discourse.SiteSettingView"}}

