<div class='row'>
  <div class='content-list span6'>
    <h3>{{i18n admin.site_content.edit}}</h3>
    <ul>
      {{#each model}}
        <li>
          {{#link-to 'adminSiteContents.edit' content_type}}{{title}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class='content-editor'>
    {{outlet}}
  </div>
</div>
