{{#if filteredContent}}
  <div class='form-horizontal settings'>
    {{#each filteredContent as |setting|}}
      {{site-setting setting=setting saveAction="saveSetting"}}
    {{/each}}
  </div>
{{else}}
  <br/>
  {{i18n 'admin.site_settings.no_results'}}
{{/if}}
