<div class="github-row" data-github-private-repo="{{is_private}}">
  <img width="695" height="347" src="{{thumbnail}}" class="thumbnail">

  <h3><a href="{{link}}" target="_blank" rel="noopener ugc noopener">{{title}}</a></h3>

  {{#description}}
    <p><span class="github-repo-description">{{description}}</span></p>
  {{/description}}
</div>
