<h4><a href="{{link}}" target="_blank" rel="noopener">{{link}}</a></h4>

{{#gist_files}}
  <h5>{{filename}}</h5>
  <pre><code class="{{language}}">{{content}}</code></pre>
  {{#truncated?}}
   {{i18n.truncated_file}} <a href="{{link}}" target="_blank" rel="noopener">{{i18n.show_original}}</a>
  {{/truncated?}}
{{/gist_files}}

<p>
  {{#truncated_files?}}
    {{i18n.more_than_three_files}} <a href="{{link}}" target="_blank" rel="noopener">{{i18n.show_original}}</a>
  {{/truncated_files?}}
</p>
