{{^image}}
  <a href="{{link}}" target="_blank" rel="noopener"><span class="googledocs-onebox-logo g-drive-logo"></span></a>
{{/image}}

{{#image}}<img src="{{image}}" class="thumbnail">{{/image}}

<h3><a href="{{link}}" target="_blank" rel="noopener">{{title}}</a></h3>

<p>{{description}}</p>
