<h3><a href="{{link}}" target="_blank" rel="noopener">{{title}}</a></h3>

{{#description}}
  <p>{{description}}</p>
{{/description}}


<p>
  {{#data_1}}
  <span class="label1">{{data_1}} points</span> —
  {{/data_1}}
  {{#data_2}}
  <span class="label2">{{data_2}} comments</span> —
  {{/data_2}}
  <a href="https://news.ycombinator.com/user?id={{author}}" class="author" target="_blank" rel="noopener">{{author}}</a> —
  <a href="{{link}}" class="timestamp" target="_blank" rel="noopener">{{timestamp}}</a>
</p>

