<h3><a href="{{{link}}}" target="_blank" rel="noopener">{{title}}</a></h3>

{{#image}}
  <div class="instagram-images">
    <a href="{{{link}}}" target="_blank" rel="noopener">
      <img class="instagram-image" src="{{{image}}}">
    </a>
  </div>
{{/image}}

{{#description}}
  <div class="instagram-description">{{description}}</div>
{{/description}}
