<h4><a href="{{link}}" target="_blank" rel="noopener">{{link}}</a></h4>

<pre><code class="lang-auto">{{content}}</code></pre>

{{#truncated?}}
  This paste has been truncated. <a href="{{link}}" target="_blank" rel="noopener">show original</a>
{{/truncated?}}
