<a href="{{link}}" target="_blank" rel="noopener"><span class="pdf-onebox-logo"></span></a>

<h3><a href="{{link}}" target="_blank" rel="noopener">{{title}}</a></h3>

{{#filesize}}
  <p class="filesize">{{filesize}}</p>
{{/filesize}}
