<aside class="onebox preview-error">
  {{#favicon}}
    <img src="{{favicon}}" class="site-icon"/>
  {{/favicon}}
  <a href="{{link}}" target='_blank' rel='noopener noreferrer'>{{title}}</a>
  <article class="onebox-warning-message">
    {{{error_message}}}
  </article>
  <div class="clearfix"></div>
</aside>
