{{#if this.showUnreadIndicator}}
  <div class="chat-thread-list-item-unread-indicator">
    <div class="chat-thread-list-item-unread-indicator__number">
      {{this.unreadCountLabel}}
    </div>
  </div>
{{/if}}