<div class="sidebar-footer-wrapper">
  <div class="sidebar-footer-container">
    <div class="sidebar-footer-actions">
      <DButton
        @action={{route-action "showKeyboardShortcutsHelp"}}
        @title="keyboard_shortcuts_help.title"
        @icon="keyboard"
        @class="sidebar-footer-actions-button sidebar-footer-actions-keyboard-shortcuts" />
    </div>
  </div>
</div>
