<div class="sidebar-footer-wrapper">
  <div class="sidebar-footer-container">
    {{#if this.site.desktopView}}
      <DButton
        @action={{@toggleSidebar}}
        @icon="thumbtack"
        @class="sidebar-footer-button sidebar-footer-button-dock-toggle"/>
    {{/if}}
  </div>
</div>
