<div class="sidebar-footer-wrapper">
  <div class="sidebar-footer-container">
    <DButton
      @action={{@toggleSidebar}}
      @icon="thumbtack"
      @class="sidebar-footer-button sidebar-footer-button-dock-toggle"/>
  </div>
</div>
