<div class="hamburger-panel">
  <div class="hamburger-menu revamped menu-panel drop-down" data-max-width="320">
    <div class="panel-body">
      <div class="panel-body-content">
        <div class="sidebar-hamburger-dropdown">
          <Sidebar::Sections @collapsableSections={{false}}/>
          <Sidebar::Footer @toggleSidebar={{route-action "toggleSidebar"}} @tagName="" />
        </div>
      </div>
    </div>
  </div>
</div>
