<div class="ac-message">
  <ActivationEmailForm @email={{this.newEmail}} />
</div>

<div class="activation-controls">
  <DButton
    @action={{action "changeEmail"}}
    @label="login.submit_new_email"
    @disabled={{this.submitDisabled}}
    @class="btn-primary"
  />
  <DButton @action={{action "cancel"}} @label="cancel" @class="edit-cancel" />
</div>