<div class="ac-message">
  {{html-safe accountCreated.message}}
</div>
{{#if accountCreated.show_controls}}
  <ActivationControls @sendActivationEmail={{action "sendActivationEmail"}} @editActivationEmail={{action "editActivationEmail"}} />
{{/if}}
