<div class="ac-message">
  {{#if this.email}}
    {{html-safe
      (i18n "login.sent_activation_email_again" currentEmail=this.email)
    }}
  {{else}}
    {{i18n "login.sent_activation_email_again_generic"}}
  {{/if}}
</div>