.select-kit {
  &.combo-box {
    &.topic-footer-mobile-dropdown {
      .select-kit-row {
        padding: 0.75em 0.5em;
        border-bottom: 1px solid rgba(var(--primary-low-rgb), 0.5);

        .name {
          line-height: var(--line-height-medium);
        }

        &:last-child {
          border: none;
        }

        .d-icon {
          color: var(--primary-medium);
        }

        &.is-highlighted {
          background: var(--tertiary-low);

          .name {
            color: var(--primary);
          }
        }

        &.bookmarked {
          .d-icon {
            color: var(--tertiary);
          }
        }
      }

      .select-kit-collection {
        max-height: 100%;
      }
    }
  }
}
