<form class="groups-form form-vertical">
  <GroupsFormProfileFields @model={{this.model}} @disableSave={{this.saving}} />
  <GroupManageSaveButton @model={{this.model}} @saving={{this.saving}} />
</form>