<ul class="collection">
  {{#each filteredContent as |content|}}
    {{component selectBoxRowComponent
      content=content
      templateForRow=templateForRow
      titleForRow=titleForRow
      shouldHighlightRow=shouldHighlightRow
      lastHovered=lastHovered
      onSelect=onSelectRow
      onHover=onHoverRow
      value=value
    }}
  {{else}}
    {{#if noContentText}}
      <li class="select-box-row no-content">
        {{noContentText}}
      </li>
    {{/if}}
  {{/each}}
</ul>
