<div class="wrapper">
  {{#if icon}}
    <div class="icon">
      {{d-icon icon}}
    </div>
  {{/if}}

  <span class="current-selection">
    {{text}}
  </span>

  <div class="caret-icon">
    {{d-icon caretIcon}}
  </div>
</div>
