{{#if none}}
  {{#if selectedContent}}
    {{select-box-kit/select-box-kit-none-row
      content=none
      templateForRow=templateForNoneRow
      titleForRow=titleForRow
      iconForRow=iconForRow
      shouldHighlightRow=shouldHighlightRow
      shouldSelectRow=shouldSelectRow
      highlightedValue=highlightedValue
      onClearSelection=onClearSelection
      onHover=onHoverRow
      value=computedValue
    }}
  {{/if}}
{{/if}}

{{#each filteredContent as |content|}}
  {{component rowComponent
    content=content
    templateForRow=templateForRow
    titleForRow=titleForRow
    iconForRow=iconForRow
    shouldHighlightRow=shouldHighlightRow
    shouldSelectRow=shouldSelectRow
    highlightedValue=highlightedValue
    onSelect=onSelect
    onHover=onHoverRow
    value=computedValue
  }}
{{else}}
  {{#if noContentLabel}}
    <li class="select-box-kit-row no-content">
      {{i18n noContentLabel}}
    </li>
  {{/if}}
{{/each}}
