{{#if none}}
  {{#if selectedContents}}
    {{select-box-kit/select-box-kit-none-row
      content=none
      templateForRow=templateForNoneRow
      titleForRow=titleForRow
      shouldHighlightRow=shouldHighlightRow
      shouldSelectRow=shouldSelectRow
      highlightedValue=highlightedValue
      onSelectNone=onSelectNone
      onHover=onHoverRow
      value=value
    }}
  {{/if}}
{{/if}}

{{#each filteredContent as |content|}}
  {{component rowComponent
    content=content
    templateForRow=templateForRow
    titleForRow=titleForRow
    shouldHighlightRow=shouldHighlightRow
    shouldSelectRow=shouldSelectRow
    highlightedValue=highlightedValue
    onSelect=onSelect
    onHover=onHoverRow
    value=value
  }}
{{else}}
  {{#if noContentLabel}}
    <li class="select-box-kit-row no-content">
      {{noContentLabel}}
    </li>
  {{/if}}
{{/each}}
