{{#if appendReason}}
  <p class="reason">
    {{topic-notifications-options
      value=notificationLevel
      topic=topic
      onChange=(action "changeTopicNotificationLevel")
      options=(hash
        icon=icon
        showFullTitle=showFullTitle
        placement=placement
        preventsClickPropagation=true
        showCaret=showCaret
      )
    }}
    <span class="text">{{html-safe topic.details.notificationReasonText}}</span>
  </p>
{{else}}
  {{topic-notifications-options
    value=notificationLevel
    topic=topic
    onChange=(action "changeTopicNotificationLevel")
    options=(hash
      icon=icon
      showFullTitle=showFullTitle
      placement=placement
      preventsClickPropagation=true
      showCaret=showCaret
    )
  }}
{{/if}}
