<ul
  class="ai-summary__list"
  {{did-insert this.startAnimation}}
  {{will-destroy this.stopAnimation}}
>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
</ul>
<span>
  <div class="placeholder-generating-summary-text">
    {{i18n "summary.in_progress"}}
  </div>
  <span class="ai-summarizing-indicator__wave">
    <span class="ai-summarizing-indicator__dot">.</span>
    <span class="ai-summarizing-indicator__dot">.</span>
    <span class="ai-summarizing-indicator__dot">.</span>
  </span>
</span>