<ul
  class="ai-summary__list"
  {{did-insert this.startAnimation}}
  {{will-destroy this.stopAnimation}}
>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
  <li class="ai-summary__list-item"></li>
</ul>
<span>
  <div class="ai-summary__generating-text">
    {{i18n "summary.in_progress"}}
  </div>
  <span class="ai-summary__indicator-wave">
    <span class="ai-summary__indicator-dot">.</span>
    <span class="ai-summary__indicator-dot">.</span>
    <span class="ai-summary__indicator-dot">.</span>
  </span>
</span>