<div class="d-toggle-switch">
  <label class="d-toggle-switch--label">
    {{! template-lint-disable no-redundant-role }}
    <button
      class="d-toggle-switch__checkbox"
      type="button"
      role="switch"
      aria-checked={{this.checked}}
      ...attributes
    ></button>
    {{! template-lint-enable no-redundant-role }}

    <span class="d-toggle-switch__checkbox-slider">
      {{#if @state}}
        {{d-icon "check"}}
      {{/if}}
    </span>
  </label>

  <span class="d-toggle-switch__checkbox-label">
    {{this.computedLabel}}
  </span>
</div>