{{#unless this.expanded}}
  <DButton @action={{this.expand}} @label={{this.label}} class="btn-link" />
{{/unless}}
{{#if this.expanded}}
  <span class="description" aria-live="assertive">{{this.details}}</span>
{{/if}}