<div
  class={{concat-class "search-menu-panel menu-panel" @animationClass}}
  data-max-width="500"
>
  <div class="panel-body">
    <div class="panel-body-contents">
      {{yield}}
    </div>
  </div>
</div>