<a
  href="https://musicbrainz.org/{{@entityType}}/{{@entityMBID}}"
  aria-label="Open in MusicBrainz"
  title="Open in MusicBrainz"
  class="btn btn-outline"
  target="_blank"
  rel="noopener noreferrer"
>
  <img
    src="/images/MusicBrainz.svg"
    width="18"
    height="18"
    alt="MusicBrainz"
    style="vertical-align: bottom;"
  />
  Open in MusicBrainz
</a>
