<DSection @pageClass="has-sidebar" @class="sidebar-container" @scrollTop={{false}}>
  <div class="sidebar-scroll-wrap">
    {{#if this.currentUser}}
      <Sidebar::Sections @collapsableSections={{true}}/>
      <Sidebar::Footer />
    {{else}}
      <Sidebar::AnonymousSections />
      <Sidebar::Footer />
    {{/if}}
  </div>
</DSection>
