<label
  class="btn btn-small btn-primary admin-backups-upload"
  disabled={{this.uploading}}
  title={{i18n "admin.backups.upload.title"}}
  ...attributes
>
  {{this.uploadButtonText}}
  <input
    class="hidden-upload-field"
    disabled={{this.uploading}}
    type="file"
    accept=".gz"
  />
</label>