{{#if this.showPercentage}}
  <div title={{this.percentage.title}} class="user-flag-percentage">
    <span
      class="percentage-label {{this.percentage.className}}"
    >{{this.percentage.label}}</span>
    {{d-icon this.percentage.icon}}
  </div>
{{/if}}