<div class="chat-channel-threads-list">
  <div class="chat-channel-threads-list__inner-container">
    <div class="chat-channel-threads-list__original-messages">
      <ChatThreadOriginalMessage @message={{this.message}} />
    </div>
  </div>
</div>