<div id="chat-progress-bar-container"></div>

<div
  class={{concat-class
    "full-page-chat"
    (if this.shouldUseCoreSidebar "full-page-chat-sidebar-enabled")
  }}
>
  {{#if this.shouldUseChatSidebar}}
    <ChannelsList />
  {{/if}}

  <div
    id="main-chat-outlet"
    class={{concat-class "main-chat-outlet" this.mainOutletModifierClasses}}
  >
    {{outlet}}
    {{#if this.shouldUseChatFooter}}
      <ChatFooter />
    {{/if}}
  </div>
</div>