.search-container {
  .search-advanced .search-info {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .second-search-button {
    margin-top: 1em;
    display: flex;
    .btn {
      width: 100%;
    }
  }

  .search-advanced .search-results {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.fps-result {
  padding-left: 0;
  padding-right: 0;
  .search-link .topic-statuses {
    font-size: 1.1em;
  }
}
