{{#d-modal-body class="change-ownership"}}
  <span>
    {{html-safe (i18n (if selectedPostsUsername "topic.change_owner.instructions" "topic.change_owner.instructions_without_old_user")
        count=selectedPostsCount
        old_user=selectedPostsUsername
      )
    }}
  </span>

  <form>
    <label></label>
    {{email-group-user-chooser
      value=newOwner
      autofocus=true
      onChange=(action "updateNewOwner")
      options=(hash
        maximum=1
        filterPlaceholder="topic.change_owner.placeholder"
      )
    }}
  </form>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-primary"
    action=(action "changeOwnershipOfPosts")
    disabled=buttonDisabled
    label=(if saving "saving" "topic.change_owner.action")}}
</div>
