{{#d-modal-body}}
  <p>{{i18n "post.controls.delete_topic_confirm_modal" count=siteSettings.min_topic_views_for_delete_confirm}}</p>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action=(action "deleteTopic")
             disabled=deletingTopic
             translatedLabel=buttonTitle
             class="btn-danger"}}
  {{d-button action=(route-action "closeModal")
             label="post.controls.delete_topic_confirm_modal_no"
             class="btn-primary"}}
</div>
