{{#d-modal-body}}
  <p>{{html-safe (i18n "post.controls.delete_topic_confirm_modal" minViews=minViews)}}</p>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action=(action "deleteTopic")
             disabled=buttonDisabled
             label="post.controls.delete_topic_confirm_modal_yes"
             class="btn-danger"}}
  {{d-button action=(route-action "closeModal")
             label="post.controls.delete_topic_confirm_modal_no"
             class="btn-primary"}}
</div>
