{{#d-modal-body headerClass="hidden"}}
  <div class="instructions">
    {{i18n "post.cancel_composer.confirm"}}
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button icon="far-trash-alt" label="post.cancel_composer.discard" class="btn-danger discard-draft" action=(action "destroyDraft")}}
  {{#if model.canSaveDraft}}
    {{d-button label="post.cancel_composer.save_draft" class="save-draft" action=(action "saveDraftAndClose")}}
  {{/if}}
  {{d-button label="post.cancel_composer.keep_editing" class="keep-editing" action=(action "dismissModal")}}
</div>
