<DModalBody>
  <p>
    <PreferenceCheckbox
      @labelKey="topics.bulk.also_dismiss_topics"
      @checked={{this.dismissTopics}}
    />
  </p>
</DModalBody>

<div class="modal-footer">
  <DButton
    @class="btn-primary"
    @action={{route-action "dismissReadTopics" this.dismissTopics}}
    @icon="check"
    @id="dismiss-read-confirm"
    @label="topics.bulk.dismiss"
  />
</div>