<DModalBody @headerClass="hidden" @class="dismiss-notification-confirmation">
  {{i18n "notifications.dismiss_confirmation.body" count=count}}
</DModalBody>

<div class="modal-footer">
  <DButton @icon="check" @class="btn-primary" @action={{action "dismiss"}} @label="notifications.dismiss_confirmation.dismiss" />
  <DButton @action={{route-action "closeModal"}} @label="notifications.dismiss_confirmation.cancel" @class="btn-default" />
</div>
