<DModalBody>
  {{html-safe (i18n "login.not_activated" sentTo=this.sentTo)}}
</DModalBody>

<div class="modal-footer">
  <ActivationControls
    @sendActivationEmail={{action "sendActivationEmail"}}
    @editActivationEmail={{action "editActivationEmail"}}
  />
</div>