{{#d-modal-body title="tagging.rename_tag"}}
  <label class="control-label">
    {{i18n "tagging.rename_instructions"}}
  </label>
  <div class="controls">
    {{input value=buffered.id maxlength=siteSettings.max_tag_length}}
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button class="btn-primary"
             action=(action "performRename")
             label="tagging.rename_tag"
             disabled=renameDisabled}}
</div>
