{{#d-modal-body}}
  <form class="form-horizontal">
    <div class="input-group">
      <label for="authenticator-name">{{i18n "user.second_factor.edit_description"}}</label>
      {{input name="authenticator-name" type="text" value=model.name}}
    </div>
  </form>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    action=(action "editSecondFactor")
    class="btn-primary"
    label="user.second_factor.save"
  }}
  {{d-button
    action=(action "disableSecondFactor")
    class="btn-danger no-text"
    icon="trash-alt"
    aria-label="user.second_factor.disable"
    title="user.second_factor.disable"
  }}
</div>
