<DModalBody>
  <form class="form-horizontal">
    <div class="input-group">
      <label for="security-key-name">{{i18n
          "user.second_factor.security_key.edit_description"
        }}</label>
      <Input name="security-key-name" @type="text" @value={{this.model.name}} />
    </div>
  </form>
</DModalBody>

<div class="modal-footer">
  <DButton
    @action={{action "editSecurityKey"}}
    @class="btn-primary"
    @label="user.second_factor.security_key.save"
  />
</div>