<table class="topic-list">
  <%= content_tag_for(:tr, @list.topics) do |t| %>
    <td>
      <%= render_topic_title(t) %>
      <%= render_topic_posts_count(t) %>
    </td>
<% end %>
</table>

<%= render_list_next_page_link( @list, @list.topics.lenth) %>
