<section id="d-splash">
  <%= discourse_stylesheet_link_tag 'd-splash', theme_id: nil %>

  <img
    id="loader"
    src="/images/preloader.svg"
    alt="<%=SiteSetting.title%>"
  >

  <div class="loader__text">
    <span>
      <%= I18n.t("js.preloader_text") %>
    </span>
  </div>

</section>
