@mixin flexbox-column($gap) {
  --block-layout-gap: #{$gap};
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flexbox-row($gap) {
  --block-layout-gap: #{$gap};
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin grid($columns, $gap) {
  --block-layout-gap: #{$gap};
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}
