<DButton
  @label="admin.site_settings.uploaded_image_list.label"
  @action={{action "showUploadModal"}}
  @actionParam={{hash value=this.value setting=this.setting}}
/>
<div class="desc">{{html-safe this.setting.description}}</div>
<SettingValidationMessage @message={{this.validationMessage}} />