// base styles for every modal popup used in Discourse

@import "foundation/variables";
@import "foundation/mixins";

.add-picture .icon-plus {
  font-size: 10px;
  position: relative;
  left: -5px;
  bottom: -5px;
  text-shadow: -1px -1px 0 $btn-primary-background-color,
    1px 1px 0 $btn-primary-background-color,
    1px -1px 0 $btn-primary-background-color,
    -1px 1px 0 $btn-primary-background-color;
}

// we should refactor this into something more general
.image-selector {
  input[type="text"]{
    width: 520px;
  }
  input[type="file"] {
    font-size: 14px;
    line-height: 18px;
  }
  .description {
    color: #9a9ea0;
  }
}
