@media only screen
and (min-device-width : 320px)
and (max-device-width : 540px) {
  #reply-control {
    .toggle-preview { display:none; }
    #reply-title { width: 250px; }
    .wmd-controls {
      #wmd-input {
        width: 100%;
        border-top: 0;
      }
      .preview-wrapper {
        display: none;
      }
      .textarea-wrapper {
        width: 100%;
      }
      .wmd-button-bar {
        display: none;
      }
    }
  }
}
