@import "foundation/variables";
@import "foundation/mixins";

// --------------------------------------------------
// Topic lists
// --------------------------------------------------

// List controls
// --------------------------------------------------

#list-controls {
  .nav {
    float: left;
    margin-bottom: 15px;
  }
  .btn {
    float: right;
    margin-left: 8px;
  }
}

#category-filter {
  .has-icon span:before {
    margin-right: 4px;
    font: 15px/0.9 "FontAwesome";
  }
  .has-icon .favorited:before {
    content: "\f005";
  }
  .has-icon .unread:before {
    content: "\f02e";
  }
}

// Base list
// --------------------------------------------------

#topic-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid $topic-list-border-color;
  @include border-radius-all(4px 4px 0 0);
  @include box-shadow(0 1px 3px rgba($black, 0.22));
  tbody tr {
    background-color: $white;
    &:nth-child(even) {
      background-color: darken($white, 2%);
    }
    &.archived a {
      opacity: 0.6;
    }
  }
  th,
  td {
    padding: 7px 5px;
    line-height: 1.25;
    text-align: left;
    vertical-align: middle;
    &:first-of-type {
      padding-left: 10px;
    }
    &:last-of-type {
      padding-right: 10px;
    }
  }
  th {
    border-bottom: 1px solid $topic-list-th-border-color;
    color: $topic-list-th-color;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 0 1px 0 $white;
    background-color: $topic-list-th-background-color;
    @include box-shadow(inset 0 1px 0 $white);
    &:first-of-type {
      @include border-radius-all(4px 0 0 0);
    }
    &:last-of-type {
      @include border-radius-all(0 4px 0 0);
    }
  }
  td {
    //border-top: 1px solid $topic-list-td-border-color;
    color: $topic-list-td-color;
    font-size: 14px;
  }
  .star {
    width: 20px;
    padding-right: 0;
    .icon-star {
      position: relative;
      top: 1px;
    }
    + .main-link {
      padding-left: 0;
    }
  }
  .main-link {
    width: 515px;
    font-size: 16px;

    i.score {
      color: green;
      cursor: pointer;
    }
  }

  .topic-excerpt {
    font-size: 14px;
    margin-top: 8px;
    color: $dark_gray;
  }

  .rank-details {
    background-color: #eee;
    padding: 6px;
    margin-bottom: 5px;

    p {
      font-size: 12px;
      margin: 0;
      line-height: 14px;
    }
  }

  @include medium-width {
    .main-link {
      width: 400px;
    }
  }
  @include small-width {
    .main-link {
      width: 355px;
    }
  }
  .topic-statuses:empty {
    display: none;
  }
  .topic-status {
    margin-right: 4px;
    padding: 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
  .badge-notification {
    position: relative;
    top: -1px;
  }
  .category {
    width: 140px;
  }
  .posters {
    width: 142px;
    > a {
      float: left;
      margin-right: 4px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .avatar {
    &.latest {
      @include box-shadow(0 0 6px 1px desaturate(lighten($link_color, 18%), 35%));
    }
  }
  .num {
    text-align: center;
    a:not(.badge-posts) {
      color: inherit;
    }
  }
}

// Category list
// --------------------------------------------------

.category-column {
  float: left;
  width: 550px;
  &.first {
    margin-right: 10px;
  }
}

@include medium-width {
  .category-column {
    width: 493px;
    &.first {
      margin-right: 9px;
    }
  }
}

@include small-width {
  .category-column {
    width: 470px;
  }
}

.category-list-item {
  margin-bottom: 10px;
  #topic-list tbody tr:nth-child(even) {
    background-color: $white;
  }
  .badge-category {
    float: left;
    margin: 3px 4px 0 0;
  }
  .posters {
    float: left;
  }
  > footer {
    border: 1px solid $topic-list-border-color;
    border-top: 0;
    padding: 7px 10px;
    background-color: lighten($topic-list-th-background-color, 2%);
    @include border-radius-all(0 0 4px 4px);
    @include box-shadow(0 1px 3px rgba($black, 0.22));
    figure {
      float: left;
      margin: 3px 7px 0 0;
      color: lighten($topic-list-th-color, 5%);
      font-weight: bold;
      font-size: 12px;
      text-shadow: 0 1px 0 $white;
    }
    figcaption {
      display: inline;
      font-weight: normal;
    }
    .btn {
      float: right;
      margin-left: 7px;
    }
  }
}

// Loading
// --------------------------------------------------

// List

.loading #topic-list {
  border: 0;
  @include box-shadow(none);
  tr {
    background-color: transparent;
  }
}

// Topics

#topic-list-bottom {
  padding: 20px;
  .topics-loading {
    width: 200px;
    margin: 0 auto;
    padding: 10px 0 10px 43px;
    color: $white;
    font-size: 18px;
    line-height: 25px;
    background: {
      color: $black;
      image: image-url("spinner_96_w.gif");
      repeat: no-repeat;
      position: 10px 50%;
      size: 25px;
    };
    @include border-radius-all(12px);
  }
}

// Misc. stuff
// --------------------------------------------------

#main {
  #list-controls {
    .badge-category {
      display: inline-block;
      background-color: yellow;
      margin: 8px 0 0 8px;
      float: left;
    }
    clear: both;
  }
  #list-area {
    margin-bottom: 300px;
    .empty-topic-list {
      padding: 10px;
    }
    .unseen {
      background-color: transparent;
      padding: 0;
      border: 0;
      color: lighten($red, 10%);
      font-size: 13px;
      cursor: default;
    }
  }
  #topic-list {
    .alert {
      margin-bottom: 0;
      font-size: 14px;
    }
    .spinner {
      margin-top: 40px;
    }
  }
  span.posted {
    display: inline-block;
    text-indent: -9999em;
    width: 15px;
    height: 15px;
    background: {
      image: image-url("posted.png");
    };
  }
}